#peroidic-visit {
    h5 {
        color: var(--ion-color-primary);
    }
    .row-selected {
        opacity: 0.7;
    }
    .add-visit-block {
        ion-grid {
            margin-bottom: 15px;
        }
    }
}
