<ion-content id="peroidic-visit">
  <mat-accordion multi>
    <mat-expansion-panel #peroidicVisit hideToggle expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Peroidic Visit
        </mat-panel-title>
        <mat-panel-description class="ion-justify-content-end no-margin">
          <div>
            <span *ngIf="!peroidicVisit.expanded" class="accordian-icon" title="Expand">
              <ion-icon style="pointer-events:none" name="add-circle"></ion-icon>
            </span>
            <span *ngIf="peroidicVisit.expanded" class="accordian-icon" title="Collapse">
              <ion-icon style="pointer-events:none" name="remove-circle"></ion-icon>
            </span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="add-visit-block">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col>
              <ion-button class="postcode-find-btn" color="success" (click)="openVisitModal()">Add</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="overlay-container" style="position: relative">
        <table datatable [dtOptions]="dtOptions" class="row-border hover" width="100%" id="peroidic-visit-table" style="position: relative">
          <thead>
            <tr>
              <th>Type</th>
              <th>Status</th>
              <th>Index</th>
              <th>Due Date</th>
              <th>Description</th>
              <th style="width:36px"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of visitList" class="table-row" (click)="onClickRow(data); $event.stopPropagation();"
              [ngClass]="{'row-selected' : data.isSelected}">
              <td>{{getLookupValue(data?.visitType, propertyVisitTypes) || notAvailable}}</td>
              <td>{{getLookupValue(data?.status, inspectionStatuses) || notAvailable}}</td>
              <td>{{data?.index || notAvailable}}</td>
              <td>{{data?.visitDate | date: 'dd-MM-yyyy' || notAvailable}}</td>
              <td>{{data.description || notAvailable}}</td>
              <td class="resp-action-icon">
                <i (click)="showMenu($event,'divOverlay', data, 'table-row')"
                  class="propcoicon propcoicon-actions-on action-btn"></i>
              </td>
            </tr>
            <tr *ngIf="visitList?.length == 0">
              <td colspan="7" class="no-data-available ion-text-center"><b>{{DEFAULT_MESSAGES.NO_RECORD_FOUND}}</b>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="divOverlay">
          <ion-button>Add Note</ion-button>
          <ion-button>Edit</ion-button>
          <i (click)="hideMenu($event,'divOverlay')" class="propcoicon propcoicon-actions-on"></i>
        </div>
      </div>

      <div>
        <h5>Periodic Visit Requirements :</h5>
        <ion-grid id="periodic-visit-req-block">
          <form [formGroup]="requirementForm">
          <ion-row>
            <ion-col size="33.3">
              <ion-item>
                <ion-label position="floating">No. Of Visits Per Annum (TOB)</ion-label>
                <ion-input formControlName="visitsPerAnnum"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="33.3">
              <ion-item>
                <ion-label position="floating">No. Of Visits Per Annum (HMO Licence)</ion-label>
                <ion-input formControlName="visitsPerAnnumHMO"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="33.3" style="padding-top: 8px;">
              <mat-form-field appearance="fill">
                <mat-label>Visit Sequence Start Date </mat-label>
                <input matInput [matDatepicker]="picker" formControlName="visitSequenceStartDate" readonly>
                <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </ion-col>
            <ion-col size="33.3">
              <ion-item>
                <ion-label position="floating">Visit Interval In Months(TOB)</ion-label>
                <ion-input formControlName="visitIntervalInMonths"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="33.3">
              <ion-item>
                <ion-label position="floating">Visit Interval In Months(HMO Licence)</ion-label>
                <ion-input formControlName="visitIntervalInMonthsHMO"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          </form>
        </ion-grid>
      </div>

      <h5>Periodic Visit Notes :</h5>
      <div class="overlay-container" style="position: relative">
        <table datatable [dtOptions]="notesDtOption" [dtTrigger]="notesDtTrigger" class="row-border hover"
          style="width: 100%; position: relative" #faultNotesTable>
          <thead>
            <tr>
              <th style="width:15%">Date</th>
              <th style="width:15%">Time</th>
              <th style="width:15%">Type</th>
              <th style="width:15%">Complaint</th>
              <th style="width:15%">Category</th>
              <th>User</th>
              <th style="width:40px">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let notes of visitNotes?.data" class="table-row">
              <td>{{notes.postedAt | date: 'dd/MM/yyyy' || '-'}}</td>
              <td>{{notes.postedAt | date: 'HH:mm' || '-'}}</td>
              <td>{{getLookupValue(notes.type, notesTypes) || '-'}}</td>
              <td>{{getLookupValue(notes.complaint, notesComplaints) || '-'}}</td>
              <td>{{getLookupValue(notes.category, notesCategories) || '-'}}</td>
              <td>{{notes.userName || '-'}}</td>
              <td><i (click)="showNoteDescription(notes.notes);" class="propcoicon propcoicon-property-description"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>