<ion-content id="periodic-visit">
  <mat-accordion multi class="form-table-view-accordian">
    <mat-expansion-panel #periodicVisit hideToggle expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Periodic Visit
        </mat-panel-title>
        <mat-panel-description class="ion-justify-content-end no-margin">
          <div>
            <span *ngIf="!periodicVisit.expanded" class="accordian-icon" title="Expand">
              <ion-icon style="pointer-events:none" name="add-circle"></ion-icon>
            </span>
            <span *ngIf="periodicVisit.expanded" class="accordian-icon" title="Collapse">
              <ion-icon style="pointer-events:none" name="remove-circle"></ion-icon>
            </span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="add-visit-block">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-align-self-center">
              <ion-button color="success" (click)="openVisitModal()">Add</ion-button>
            </ion-col>
            <ion-col>
              <ion-item lines="none" class="ion-float-right">
                <ion-checkbox class="ma-checkbox" color="medium" slot="start"
                  name="repairCheckbox" [formControl]="isDisableAutoManagementInspection">
                </ion-checkbox>
                <ion-label>Disable automated Management Inspection for this property</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="overlay-container" style="position: relative">
        <table datatable [dtOptions]="dtOptions" class="row-border hover table-width" id="periodic-visit-table"
          style="position: relative" aria-describedby="periodicVisit">
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Status</th>
              <th scope="col">Index</th>
              <th scope="col">Due Date</th>
              <th scope="col">Description</th>
              <th scope="col" style="width:36px"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of visitList" class="table-row pointer" (click)="onClickRow(data); $event.stopPropagation();"
              [ngClass]="{'row-selected' : data.isSelected}">
              <td>{{(data?.visitType| lookup: propertyVisitTypes) || notAvailable}}</td>
              <td>{{(data?.status | lookup: inspectionStatuses) || notAvailable}}</td>
              <td>{{data?.visitNumber || notAvailable}}</td>
              <td>{{(data?.visitDate | date: DATE_FORMAT.DATE) || notAvailable}}</td>
              <td>{{data.description || notAvailable}}</td>
              <td class="resp-action-icon">
                <i (click)="showMenu($event,'periodic-overlay', data, 'table-row')"
                  class="propcoicon propcoicon-actions-on action-btn"></i>
              </td>
            </tr>
            <tr *ngIf="visitList?.length === 0">
              <td colspan="6" class="no-data-available ion-text-center"><strong>{{DEFAULT_MESSAGES.NO_DATA_FOUND}}</strong>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="periodic-overlay" class="overlay-class">
          <ion-button (click)="addNotes()">Add Note</ion-button>
          <ion-button>Edit</ion-button>
          <i (click)="hideMenu($event,'periodic-overlay')" class="propcoicon propcoicon-actions-on"></i>
        </div>
      </div>

      <div class="form-block">
        <form [formGroup]="requirementForm">
          <ion-grid id="periodic-visit-req-block">
            <ion-row>
              <ion-col size="100">
                <h5>Periodic Visit Requirements :</h5>
              </ion-col>
              <ion-col size="33.3">
                <ion-item>
                  <ion-label position="floating">No. Of Visits Per Annum (TOB)</ion-label>
                  <ion-input formControlName="visitsPerAnnum"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="33.3">
                <ion-item>
                  <ion-label position="floating">No. Of Visits Per Annum (HMO Licence)</ion-label>
                  <ion-input formControlName="visitsPerAnnumHMO"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="33.3">
                <mat-form-field appearance="fill" style="margin-top: 6px;">
                  <mat-label>Visit Sequence Start Date </mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="visitSequenceStartDate" readonly>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </ion-col>
              <ion-col size="33.3">
                <ion-item>
                  <ion-label position="floating">Visit Interval In Months (TOB)</ion-label>
                  <ion-input formControlName="visitIntervalInMonths"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="33.3">
                <ion-item>
                  <ion-label position="floating">Visit Interval In Months (HMO Licence)</ion-label>
                  <ion-input formControlName="visitIntervalInMonthsHMO"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </div>

      <div class="overlay-container" style="position: relative">
        <h5>Periodic Visit Notes :</h5>
        <table datatable [dtOptions]="notesDtOption" [dtTrigger]="notesDtTrigger" class="row-border hover table-width"
          style="position: relative" aria-describedby="periodicNotes" id="periodic-visit-notes-table">
          <thead>
            <tr>
              <th scope="col" style="width:15%">Date</th>
              <th scope="col" style="width:15%">Time</th>
              <th scope="col" style="width:15%">Type</th>
              <th scope="col" style="width:15%">Complaint</th>
              <th scope="col" style="width:15%">Category</th>
              <th scope="col">User</th>
              <th scope="col" style="width:40px">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let notes of visitNotes" class="table-row">
              <td>{{(notes.postedAt | date: DATE_FORMAT.DATE) || notAvailable}}</td>
              <td>{{(notes.postedAt | date: DATE_FORMAT.TIME) || notAvailable}}</td>
              <td>{{(notes.type | lookup:notesTypes) || notAvailable}}</td>
              <td>{{(notes.complaint | lookup:notesComplaints) || notAvailable}}</td>
              <td>{{(notes.category | lookup:notesCategories) || notAvailable}}</td>
              <td>{{notes.userName || notAvailable}}</td>
              <td><i (click)="showNoteDescription(notes.notes);" class="propcoicon propcoicon-property-description"></i>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="visitNotes?.length === 0">
            <tr>
              <td colspan="7" class="no-data-available ion-text-center"><strong>{{DEFAULT_MESSAGES.NO_DATA_FOUND}}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>