<!-- <p>outside content</p> -->
<div class="property-center-card">
  <ion-grid class="amenity-content">
    <ion-row class="amenity-row">
      <ion-col>
        <div class="amenity-wrapper">
          <i class="propcoicon propcoicon-beds no-background"></i> {{propertyData?.propertyDetails?.numberOfBedroom || '0'}}
        </div>
      </ion-col>
      <ion-col>
        <div class="amenity-wrapper">
          <i class="propcoicon propcoicon-bathrooms no-background"></i>{{propertyData?.propertyDetails?.numberOfBathroom || '0'}}
        </div>
      </ion-col>
      <ion-col>
        <div class="amenity-wrapper">
          <i class="propcoicon propcoicon-lounge no-background"></i>{{propertyData?.propertyDetails?.numberOfReception || '0'}}
        </div>
      </ion-col>
      <ion-col>
        <div class="amenity-wrapper">
          <i class="propcoicon propcoicon-garage no-background"></i>4
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="property-info">
      <ion-col>
        <ion-text class="rent">RENT</ion-text>
      </ion-col>
      <ion-col>
        <ion-text class="rent-frequency">{{propertyData?.propertyDetails?.advertisementRent || '0'}} </ion-text>
        <ion-text class="frequency">PER WEEK</ion-text>
      </ion-col>
      <ion-col class="furnishing">
        <ion-text> 
          {{propertyData?.propertyDetails?.furnishingType || '0'}}
          <!-- PART FURNISHED -->

        </ion-text><br>
        <ion-text>MANAGED</ion-text>
      </ion-col>
      <ion-col>

      </ion-col>

      <ion-col class="booking-office">
        <ion-text>{{propertyData?.propertyInfo?.officeCode || '-'}}</ion-text>
      </ion-col>

      <ion-col class="agent">
        <ion-text class="query">Other Agents?</ion-text>
        <ion-text>&nbsp; {{propertyData?.propertyInfo?.isOnWithOtherAgent || '-'}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>


  </ion-grid>
</div>