.property-center-card {
    .amenity-content {
        padding: 0;
        .amenity-row > ion-col {
            border: solid 1px var(--ion-property-details-bg);
        }

        .amenity-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            color: var(--ion-color-text-color);

            i {
                font-size: 25px;
                text-align: left;
                width: auto;
                padding-right: 7px;
                background-color: inherit;
                line-height: 35px;
                color: var(--ion-color-amenity-icon);
            }
        }
    }

    .property-info {
        display: inline-grid;
        margin-top: 2px;     
        margin-left: 10px;
        .rent {
            color: var(--ion-color-property-status-bg);
            font-size: 20px;
        }

        .rent-frequency {
            color: var(--ion-color-property-status-bg);
            font-size: 35px;
        }

        .frequency{
            color: var(--ion-color-text-color);
        }

        .furnishing {
            color: var(--ion-color-furnishing-text);
            font-size: 13px;
        }

        .booking-office {
            color: var(--ion-color-service-type-text);
            font-size: 13px;
        }

        .agent {
            font-size: 15px;
            .query {
                color: var(--ion-color-block-label-color);
                font-size: 10px;
            }
            :last-child{
                color: var(--ion-color-text-color);
            }
        }
    }
}
