<ion-header>
  <ion-title></ion-title>
</ion-header>

<ion-content>
  <ng-container>
    <div class="property-details">
      <ion-grid>
        <ion-row class="address">
          <ion-col class="ion-no-padding" size="80">
            <h1 *ngIf="propertyDetails?.publishedAddress" class="ion-no-margin">{{ propertyDetails?.publishedAddress }}
            </h1>
            <h1 *ngIf="!propertyDetails?.publishedAddress" class="ion-no-margin">
              {{ propertyDetails?.address | address }}
            </h1>
          </ion-col>
          <ion-col class="ion-no-padding ion-text-end" size="20">
            <ion-button class="ion-no-margin" (click)="makeAnOffer()" [disabled]="!accessRight?.hasAccessToAddOffer || !propertyDetails?.isAvailable">Make an Offer
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="filters">
          <ion-col size-xl="20">
            <ion-item class="sort-offer">
              <ion-label position="floating">Sort Offers By
              </ion-label>
              <ion-select [(ngModel)]="sortKey" (ionChange)="sortResult()" interface="popover" class="reason-dropdown"
                [interfaceOptions]="{'cssClass': 'ion-select-popover-content'}">
                <ion-select-option [value]="item?.key" *ngFor="let item of sortingFields">
                  {{ item?.value }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col class="ion-no-padding" size-xl="19" size-sm="25">
            <ion-item lines="none">
              <ion-label class="ion-text-end">Offers made between</ion-label>
            </ion-item>
          </ion-col>

          <ion-col class="ion-text-end" size-xl="13" size-sm="15">
            <mat-form-field appearance="fill">
              <mat-label>Date From
              </mat-label>
              <input matInput [matDatepicker]="picker1" [formControl]="fromDate" [max]="maxDate">
              <mat-datepicker-toggle matPrefix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </ion-col>

          <ion-col class="ion-text-end" size-xl="13" size-sm="15">
            <mat-form-field appearance="fill">
              <mat-label>Date To
              </mat-label>
              <input matInput [matDatepicker]="picker2" [formControl]="toDate" [min]="fromDate" [max]="maxDate">
              <mat-datepicker-toggle matPrefix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </ion-col>

          <ion-col class="ion-text-end no-padding-right" size-xl="15" size-sm="25">
            <ion-button class="btn-filter" color="success" [disabled]="fromDate.value && toDate.value ? false : true"
              (click)="filterByDate()" expand="block">Filter</ion-button>
            <ion-button class="btn-filter" color="danger" (click)="resetFilters()" expand="block">Reset</ion-button>
          </ion-col>

          <ion-col class="ion-no-padding ion-text-end" size-xl="20">
            <ion-button (click)="hideRecords()"> {{ isHideRejected ? "Show Rejected Offers" : "Hide Rejected Offers"}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>

  <ng-container>
    <div style="position: relative;" class="overlay-container">
      <ion-card *ngFor="let item of obsOfferList | async; let i = index;" (click)="onOfferClick(item)">
        <ion-card-content>
          <ion-grid>
            <ion-row class="main-row">
              <ion-col class="" size-xl="15" size="20">
                <div (click)="viewDetails(item.offerId)">
                  <img [src]=" item.numberOfCoApplicants > 0 ? 'assets/images/tob/multi-user.svg' : 'assets/images/tob/single-user.svg' ">
                </div>
              </ion-col>
              <ion-col class="" size-xl="85" size="80" style="position: static;">
                <ion-grid style="height:100%;" class="no-padding-top">
                  <ion-row class="offer-title-row fs-18">
                    <ion-col class="no-padding-top col1" size="60">
                      <ion-text class="fs-20">Applicant made an offer of <strong> {{item?.amount || 0 | currency : "GBP"
                          }}
                        </strong>
                      </ion-text> <br />
                      <span class="text-color-line-height">
                        <ion-text color="danger" *ngIf="propertyDetails?.advertisementRent > item.amount">
                          {{ (propertyDetails?.advertisementRent - item.amount) | currency: 'GBP' }} or
                          {{ ((propertyDetails?.advertisementRent - item.amount)/propertyDetails?.advertisementRent)*100
                          |
                          number:'1.1-1'
                          }}% less than asking price
                        </ion-text>
                        <ion-text color="success" *ngIf="propertyDetails?.advertisementRent < item.amount">
                          {{ (item.amount - propertyDetails?.advertisementRent) | currency: 'GBP' }} or
                          {{ ((item.amount - propertyDetails?.advertisementRent)/propertyDetails?.advertisementRent)*100
                          |
                          number:'1.1-1'
                          }}% more than asking price
                        </ion-text>
                        <ion-text color="tertiary" *ngIf="propertyDetails?.advertisementRent == item.amount">
                          Same as
                          the asking price </ion-text>
                      </span>
                    </ion-col>
                    <ion-col class="no-padding-top col2 ion-text-end" size="40">
                      <ion-text>{{ propertyDetails?.advertisementRent || 0 | currency : "GBP" }} {{ (propertyDetails?.advertisementRentFrequency | lookup: rentFrequencyTypes) || '' }}
                      </ion-text><br />
                      <ion-text class="offer-status" [color]="getStatusColor(item?.status)">
                        {{ (item?.status | lookup: offerStatuses) || '-' }}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row class="offer-details-row">
                    <ion-col class="no-padding-top col1" size="75">
                      <ion-grid class="no-padding-left">
                        <ion-row>
                          <ion-col class="no-padding-left col1" size="33">
                            <ion-text color="medium">Offer Date and Time</ion-text><br />
                            <ion-text>{{ item?.offerAt | date: 'dd/MM/yyyy HH:mm' }}</ion-text><br />
                          </ion-col>
                          <ion-col class="no-padding-left col2" size="33">
                            <ion-text color="medium">Applicant Name</ion-text><br />
                            <ion-text>{{ item?.forename }} {{ item?.surname }}</ion-text><br />
                          </ion-col>
                          <ion-col class="no-padding-left col3" size="33">
                            <ion-text color="medium">No. of Co-applicant(s)</ion-text><br />
                            <ion-text>{{ item?.numberOfCoApplicants ? item?.numberOfCoApplicants : 0 }}</ion-text><br />
                          </ion-col>
                        </ion-row>
                        <ion-row class="row-details">
                          <ion-col class="no-padding-left col1" size="33">
                            <ion-text color="medium">Confirmed by Applicant</ion-text><br />
                            <ion-text>{{ item?.isApplicantConfirmed ? 'Yes' : 'No' }}</ion-text><br />
                          </ion-col>
                          <ion-col class="no-padding-left col2" size="33">
                            <ion-text color="medium">Confirmed by Landlord</ion-text><br />
                            <ion-text>{{ item?.isLandlordConfirmed ? 'Yes' : 'No' }}</ion-text><br />
                          </ion-col>
                          <ion-col class="no-padding-left col3" size="33">
                            <ion-text color="medium">Negotiator</ion-text><br />
                            <ion-text>{{ item.negotiator ? item.negotiator : 'Not Assigned' }}</ion-text><br />
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                    <ion-col class="no-padding-top col2 ion-text-end action-icon" size="25">
                      <div>
                        <i (click)="showMenu($event, 'divOverlay', item, 'offer-details-row', false, true)"
                          class="propcoicon propcoicon-actions-on action-btn"></i>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="isRecordsAvailable && filteredOfferList.data.length === 0">
        <ion-card-content>
          <div class="ion-padding ion-text-center">
            <h1>No offers found.</h1>
          </div>
        </ion-card-content>
      </ion-card>
      <div id="divOverlay">
        <ion-button (click)="addNote()">Add Note</ion-button>
        <ion-button (click)="viewDetails()">View Details</ion-button>
        <i (click)="hideMenu($event,'divOverlay')" class="propcoicon propcoicon-actions-on"></i>
      </div>
    </div>
    <mat-paginator [hidden]="!filteredOfferList.data.length" class="table-pagination" #paginator
      [pageIndex]="paginatorConfig.pageIndex" [pageSize]="paginatorConfig.pageSize"
      [length]="filteredOfferList.data.length" [pageSizeOptions]="paginatorConfig.pageSizeOptions"
      [showFirstLastButtons]="paginatorConfig.showFirstLastButtons" (page)="onPaginateChange(false)">
    </mat-paginator>
  </ng-container>

  <ng-container *ngIf="filteredOfferList.data.length > 0">
    <ion-grid>
      <ion-row class="offer-notes">
        <ion-col size="100">
          <h4>Offer Notes:</h4>
          <div style="position: relative;" class="overlay-container">
            <table class="fs-14" >
              <thead>
                <tr>
                  <th style="width:10%">Date</th>
                  <th style="width:10%">Time</th>
                  <th style="width:10%">Type</th>
                  <th style="width:10%">Complaint</th>
                  <th style="width:20%">Category</th>
                  <th style="width:10%">User</th>
                  <th style="width:20%">Notes</th>
                  <th style="width:10%"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let notes of obsOfferNotesList | async" class="table-row">
                  <td>{{ notes.postedAt | date: 'dd/MM/yyyy' || '-' }}</td>
                  <td>{{ notes.postedAt | date: 'HH:mm:ss' || '-' }}</td>
                  <td>{{ (notes.type | lookup: notesTypes) || '-' }}</td>
                  <td>{{ (notes.complaint | lookup: notesComplaints) || '-' }}</td>
                  <td>{{ (notes.category | lookup: notesCategories) || '-' }}</td>
                  <td>{{ notes.userName || '-' }}</td>
                  <td>{{ notes.notes || '-' }}</td>
                  <td>
                    <div>
                      <i (click)="showMenu($event, 'divOverlayChild', notes, 'table-row', false, false)"
                        class="propcoicon propcoicon-actions-on action-btn"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div id="divOverlayChild">
              <ion-button (click)="editNote()"> Edit </ion-button>
              <ion-button color="danger" (click)="removeNote()"> Remove </ion-button>
              <i (click)="hideMenu($event,'divOverlayChild')" class="propcoicon propcoicon-actions-on"></i>
            </div>

            <div *ngIf="filteredNotesList && !filteredNotesList.data.length">
              <div class="ion-no-padding ion-text-center">
                <h6 *ngIf="isOfferSelected">No record found.</h6>
                <h6 *ngIf="!isOfferSelected">Please select the offer to view notes.</h6>
              </div>
            </div>

            <mat-paginator [hidden]="!filteredNotesList.data.length" class="table-pagination" #notesPaginator
              [pageIndex]="paginatorConfig.pageIndex" [pageSize]="paginatorConfig.pageSize"
              [length]="filteredNotesList.data.length" [pageSizeOptions]="paginatorConfig.pageSizeOptions"
              [showFirstLastButtons]="paginatorConfig.showFirstLastButtons" (page)="onPaginateChange(true)">
            </mat-paginator>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

</ion-content>