ion-card {
    --background: var(--ion-color-step-1750);
    position: static;
    ion-card-content {
        position: static;
        background-color: var(--ion-color-step-1750);
        padding: 0px;
        cursor: pointer;
    }
}

.action-icon {
    display: inline-flex;
    align-items: center !important;
    justify-content: flex-end;
    margin: 0px 0px -6px -5px;
}

.property-details {
    margin: 10px;

    .address {
        align-items: center;
        margin: 20px 0px;
        color: var(--ion-color-step-800);
    }

    .filters {
        margin-bottom: 20px;
        align-items: center;
        .sort-offer {
            margin-top: -20px;
        }
    }
}

.row-details {
    padding-top: 10px;
    margin-bottom: -10px;
}

.btn-filter {
    display: inline-block;
    width: 80px;
}

:host ::ng-deep .mat-form-field-wrapper {
    margin-bottom: -20px;
}

:host ::ng-deep .mat-datepicker-toggle .mat-icon-button {
    color: var(--ion-color-tertiary-tint);
}

.text-color-line-height {
    line-height: 40px;
}

.margin-left {
    margin-left: 10px;
}

table {
    width: 100%;
    border: 1px solid var(--ion-color-step-1750);
    margin: 15px 0px;
    th {
        background: var(--ion-color-step-800);
        color: var(--ion-color-step-2000);
    }
    th {
        text-align: left;
        padding: 15px 5px;
    }
    tr {
        border: 1px solid var(--ion-color-step-1750);
        td {
            padding: 5px 5px;
        }
    }
}

.offer-notes {
    color: var(--ion-color-step-800);
}

.offer-status {
    margin: 5px 0px !important;
    display: inline-block;
    border: 2px solid;
    padding: 3px 12px;
    border-radius: 20px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}
