#maintenance-table {
    h5 {
        color: var(--ion-color-primary);
    }

    .expenditure-limit-block {
        margin-bottom: 20px;
    }

    .currency-input {
        border: 0;
        outline: 0;
        padding: 5px 0;
        background: transparent;
    }
}