#maintenance-table {
    h5 {
        color: var(--ion-color-primary);
    }

    .data-selected {
        background-color: var(--ion-color-four);  
    }

    .expenditure-limit-block {
        margin-bottom: 20px;
    }
}