<ion-header>
  <ion-toolbar>
    <ion-title>Select Contractor</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin-bottom">
        <div>
          Choose an contractor
        </div>
      </ion-col>
    </ion-row>

    <div class="table-container" [formGroup]="selectionForm">
      <table>
        <tr>
          <th>Select</th>
          <th>Company</th>
          <th>Contact Tel.</th>
          <th>Trade</th>
        </tr>
      <tbody formArrayName="contractorList" >
        <tr  *ngFor="let item of selectionForm.get('contractorList')['controls']; let i = index;" class="table-row" [formGroupName]="i">
          <td>
            <ion-checkbox (click)="updateSelection(item.value, i)" color="primary"
            formControlName="checked"
            [name]="item"></ion-checkbox>
          </td>
          <td>{{item.get('company').value || '-'}}</td>
          <td>{{item.get('mobile').value || '-'}}</td>
          <td>{{item.get('reference').value || '-'}}</td>
        </tr></tbody>
      </table>
    </div>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col class="ion-text-end">
      <ion-button (click)="dismiss()" color="danger">NO</ion-button>
      <ion-button color="success" (click)="proceed()" [disabled]="showLoader">YES
        <ion-icon *ngIf="showLoader" name="refresh" class="rotating submit-loader"></ion-icon>
      </ion-button>
    </ion-col>

  </ion-row>
</ion-footer>