#maPropertyAddress {
    .heading {
        color: var(--ion-color-one);
    }

    .register-address-row {
        margin-top: 24px;
    }
}

#maLettings {
    .mat-date-picker-row {
        margin-top: 24px;
    }

    .lettingsDetailsDuration {
        background-color: var(--ion-color-two);
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;

        .totalDuration {
            color: var(--ion-color-success);
            text-align: center;
        }

        .duration {
            text-align: center;

            .countDuration {
                color: var(--ion-color-four);
                font-size: 20px;
                padding-right: 3%;
            }

            .durationHeading {
                color: var(--ion-color-three);
                padding-right: 5%;
            }

        }
    }
}

.currency-input {
    border: 0;
    outline: 0;
    padding: 5px 0;
    background: transparent;
}