.dashboard {
    background-color: var(--ion-color-amenity-bg);
    color: var(--ion-color-text-color);
    .header {
        display: flex;
        align-items: center;
        height: 60px;
        ion-text {
            font-size: 22px;
        }
    }
    .homescreen-content {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
}
// display: list-item;
ion-slide{
    div{
     display: list-item;
   
    }
}

.no-slider-img {
    img {
        height: 260px;
        width: 100%;
    }
}
