<ion-content id="property-dashboard">
  <div class="dashboard">
    <div class="homescreen-content">
      <ion-row>
        <ion-col size="100" class="ion-no-padding">
          <ion-row>
            <ion-col size="33.3" class="ion-no-padding">
              <ion-slides pager *ngIf="propertyDetails?.media">
                <ion-slide *ngFor="let data of propertyDetails?.media; let index = index">
                  <div class="swiper-zoom-container">
                    <img [src]="options + data?.fileName" [title]="data?.label" tappable (click)="openPreview(index)" alt="data?.label">
                  </div>
                  <button type="submit" ion-button color="light" class="swiper-button-prev swiper-button-black"
                    (click)="prev()" *ngIf="propertyDetails?.media.length > 1">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                  </button>
                  <button type="submit" ion-button color="light" class="swiper-button-next swiper-button-black"
                    (click)="next()" *ngIf="propertyDetails?.media.length > 1">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </button>
                </ion-slide>
              </ion-slides>
              <div class="no-slider-img" *ngIf="!propertyDetails?.media">
                <img src="assets/images/upload-image.jpg" alt="default">
              </div>
            </ion-col>
            <ion-col size="33.3" class="ion-no-padding">
              <app-property-details-card [propertyData]="propertyDetails"></app-property-details-card>
            </ion-col>
            <ion-col size="33.3" class="right-panel-block ion-no-padding">
              <app-property-right-panel [propertyData]="propertyDetails"></app-property-right-panel>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="33.3" class="ion-no-padding">
              <app-property-landlord-tenant [type]="'landlord'" [propertyLandlords]="propertyLandlords">
              </app-property-landlord-tenant>
            </ion-col>
            <ion-col size="66.6" class="ion-no-padding">
              <app-property-landlord-tenant [type]="'tenant'" [propertyTenants]="propertyTenants">
              </app-property-landlord-tenant>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="propertyData">
      <ion-segment [(ngModel)]="type" class="segment-card" id="propertyDashboardTabs">
        <ion-segment-button value="compliance" checked>
          <div class="compliance-segment">
            <i class="propcoicon propcoicon-property-tasks no-background"></i>
            <ion-label>Compliance</ion-label>
          </div>
        </ion-segment-button>
        <ion-segment-button value="viewings">
          <div class="viewings-segment">
            <span>{{viewingCount}}</span>
            <ion-label>Viewings</ion-label>
          </div>
        </ion-segment-button>
        <ion-segment-button value="map" (click)="onMapTabClick()">
          <div class="map-segment">
             <i class="propcoicon propcoicon-location no-background"></i>
            <ion-label>Map</ion-label>
          </div>
        </ion-segment-button>
        <ion-segment-button value="notes">
          <div class="notes-segment">
            <i class="propcoicon propcoicon-property-notes no-background"></i>
            <ion-label>Notes</ion-label>
          </div>
        </ion-segment-button>
       
      </ion-segment>
      <div [hidden]="type != 'compliance'">
        <app-compliance-records [propertyData]="propertyDetails"></app-compliance-records>
      </div>
      <div [hidden]="type != 'viewings'" class="ion-text-center">
        <app-viewings [viewingInstructions]="propertyDetails?.viewingInstruction"></app-viewings>
      </div>
      <div [hidden]="type != 'map'">
        <app-open-street-map *ngIf="isMapLoad" [propertyData]="propertyData"></app-open-street-map>
      </div>
      <div [hidden]="type != 'notes'">
        <div class="table-block">
          <ion-row>
            <ion-col size="100">
              <div class="overlay-container">
                <table datatable [dtOptions]="dtOptions" class="row-border hover table-width" id="propertyNotesTable" aria-describedby="notes">
                  <thead>
                    <tr>
                      <th scope="col" style="width:15%">Date</th>
                      <th scope="col" style="width:15%">Time</th>
                      <th scope="col" style="width:15%">Type</th>
                      <th scope="col" style="width:15%">Complaint</th>
                      <th scope="col" style="width:15%">Category</th>
                      <th scope="col">User</th>
                      <th scope="col" style="width:40px">Notes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of notes" class="table-row">
                      <td>{{data.postedAt | date: DATE_FORMAT.DATE || notAvailable}}</td>
                      <td>{{data.postedAt | date: DATE_FORMAT.TIME || notAvailable}}</td>
                      <td>{{(data.type | lookup: notesTypes) || notAvailable}}</td>
                      <td>{{(data.complaint | lookup: notesComplaints) || notAvailable}}</td>
                      <td>{{(data.category | lookup: notesCategories) || notAvailable}}</td>
                      <td>{{data.userName || notAvailable}}</td>
                      <td><i (click)="showNoteDescription(data.notes);"
                          class="propcoicon propcoicon-property-description"></i></td>
                    </tr>
                    <tr *ngIf="notes?.length == 0">
                      <td colspan="7" class="no-data-available ion-text-center"><strong>{{DEFAULT_MESSAGES.NO_DATA_FOUND}}</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
</ion-content>