.dashboard {
    --ion-background-color: var(--ion-color-body);
    color: var(--ion-color-text-color);
    
    .header {
        display: flex;
        align-items: center;
        height: 60px;
        ion-text {
            font-size: 22px;
        }
    }
    .homescreen-content {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
}

.preview-slides {
    margin-top: 20%;
    background: #e6e6e6;

    img {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.map-headeing{
    height: 60px;
    background-color: #fab03b;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.map-title{
    margin: auto;
    position: absolute;
    top: 20px;
}
.map-icon{
    width: 40px;
    position: absolute;
    display: inline-block;
    color: #e6e6e6;
    margin-left: -5%;
    margin-top: 11px;
}
.no-slider-img {
    img {
        height: 260px;
        width: 100%;
    }
}
