<ion-content>

  <div class="dashboard">
    <!-- <ion-content padding> -->

    <!-- </ion-content> -->
    <div class="header">
      <ion-icon name="menu-outline" size="large"></ion-icon>
      <ion-text> Dashboard </ion-text>
    </div>
    <div class="homescreen-content">
      <div style="width: 33.33% !important;">
        <ion-slides pager style="height: 260px;" *ngIf="propertyDetails?.media">
          <ion-slide *ngFor="let data of propertyDetails?.media; let index = index" (click)="openPreview(index)">
            <div class="swiper-zoom-container">
              <img [src]="options + data?.fileName" [title]="data?.label" tappable>
            </div>
          </ion-slide>
        </ion-slides>

        <div class="no-slider-img" *ngIf="!propertyDetails?.media">
          <img src="assets/images/solr/placeholder.png" >
        </div>

        <app-property-landlord-tenant [type]="'landlord'" [propertyLandlords]="propertyLandlords"></app-property-landlord-tenant>
      </div>
      <div style="width: 33.33% !important;">
        <app-property-details-card [propertyData]="propertyData"></app-property-details-card>
        <app-property-landlord-tenant [type]="'tenant'" [propertyTenants]="propertyTenants"></app-property-landlord-tenant>
      </div>
      <div style="width: 33.33% !important;" class="right-panel-block">
        <app-property-right-panel [propertyData]="propertyDetails"></app-property-right-panel>
      </div>
    </div>
    <div *ngIf="propertyData">
      <div class="map-headeing" >
        <img class="map-icon" src="assets/images/agent/map.png" alt="">  
       <span class="map-title">         MAP
        </span>
      </div>
      <app-google-map  [propertyData]="propertyData" ></app-google-map>
    </div>
  </div>
</ion-content>