<div id="agent-header">
  <header color="'primary'">
      <nav class="navbar navbar-default">
          <div class="nav-sub">
            <div class="collapse navbar-collapse menu left-menu" id="propco-navbar-collapse">
              <a class="pull-left">
                  <img (click)="goToHome()" alt="PropCo Enterprise" title="PropCo Enterprise" src="assets/images/agent/propco-button.png" />
              </a>
              <a class="pull-left" title="Go to the workspace" (click)="goToWorkSpace()">
                  <i class="propcoicon propcoicon-folder workspace-icon"></i>
              </a>
              &nbsp;
              <span (mouseover)="createPlanmenuTrigger.openMenu()">
                <button mat-button #createPlanmenuTrigger="matMenuTrigger" [matMenuTriggerFor]="marketing" class="text-color">Marketing</button>
              <mat-menu #marketing="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="property">Property</button>
                <button mat-menu-item [matMenuTriggerFor]="applicant">Applicant</button>
                <button mat-menu-item [matMenuTriggerFor]="landlord">Landlord/Vendor</button>
                <button mat-menu-item [matMenuTriggerFor]="tenancies">Tenancies</button>
              </mat-menu>

              <mat-menu #property="matMenu">
                <button mat-menu-item>Property Matching</button>
                <button mat-menu-item>Market Appraisal</button>
              </mat-menu>
              <mat-menu #applicant="matMenu">
                <button mat-menu-item>Register An Applicant</button>
                <button mat-menu-item>Applicant Matching</button>
              </mat-menu>
              <mat-menu #landlord="matMenu">
                <button mat-menu-item>Register New Enquiry (MA Form)</button>
              </mat-menu>
              <mat-menu #tenancies="matMenu">
                <button mat-menu-item>Propose Tenancy</button>
                <button mat-menu-item>Review Proposal</button>
                <button mat-menu-item>Cancel Proposal</button>
                <button mat-menu-item>Confirm Tenancy</button>
              </mat-menu>
              </span>
              <span (mouseover)="maintTrigger.openMenu()" (mouseout)="maintTrigger.openMenu()">
                <button mat-button #maintTrigger="matMenuTrigger" [matMenuTriggerFor]="maintenance" class="text-color">Maintenance</button>
              <mat-menu #maintenance="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="contractor">Contractor</button>
              </mat-menu>
              <mat-menu #contractor="matMenu">
                <button mat-menu-item>Add New Contractor</button>
              </mat-menu>
              </span>
              <span (mouseover)="reportingTrigger.openMenu()" (mouseout)="reportingTrigger.openMenu()">
                <button mat-button #reportingTrigger="matMenuTrigger" [matMenuTriggerFor]="reporting" class="text-color">Reporting</button>
              <mat-menu #reporting="matMenu">
                <button mat-menu-item (click)="goTo('self-assessment-form')">HMRC Self-Assessment Form</button>
              </mat-menu>
              </span>
            </div>
          <div class="right-menu">
            <div class="ion-no-padding" class="result-search-grid">
              <app-search-suggestion [pageType]="'agent-header'" [entityControl]="entityControl" [searchTerm]="''"></app-search-suggestion>  
          </div>
            <div id="userInfo" layout="row">
              <span class="circle name" [matMenuTriggerFor]="userMenu">SR
              </span>
              <mat-menu #userMenu="matMenu" >
                <span mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()" style="display: flex;align-items: center;">
                  <ion-icon name="sunny-sharp"></ion-icon>&nbsp;
                  <ion-label>Light</ion-label>
                  <ion-toggle color="primary" [(ngModel)]="enableDarkMode" (ionChange)="switchToDarkMode()"></ion-toggle>
                  <ion-icon name="contrast-sharp"></ion-icon>&nbsp;
                  <ion-label>Dark</ion-label>
                </span>
              </mat-menu>
              <span class="flex"></span>
              <a class="pull-left">
                <img alt="Logout" class="logout-img" (click)="logout()" title="Logout" src="assets/images/agent/menu-icon-logout.svg" />
               </a>
            </div>
          </div>
          </div>
      </nav>
  </header>
</div>