<ion-header>
  <ion-toolbar>
    <ion-title>Registered Address</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="addressDetailsForm">
    <ion-grid>
      <ion-row>
        <ion-col size="70">
          <ion-item>
            <ion-label position="floating">PostCode</ion-label>
            <ion-input formControlName="postcode"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="30">
          <ion-button (click)="getAddressList()" style="float: right;">Lookup</ion-button>
        </ion-col>
        <ion-col size="100" *ngIf="addressList">
          <ion-item>
            <ion-label position="floating">Select Address</ion-label>
            <ion-select interface="popover" [disabled]="!addressList" formControlName="addressdetails" (ionChange)="getAddressDetails(selectedAddress.value)" #selectedAddress>
              <ion-select-option [value]="address?.id" *ngFor="let address of addressList">
                {{ address?.text }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Building Number</ion-label>
            <ion-input formControlName="buildingNumber"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Building Name</ion-label>
            <ion-input formControlName="buildingName"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Street</ion-label>
            <ion-input formControlName="street"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Address Line 1</ion-label>
            <ion-input formControlName="addressLine1"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Address Line 2</ion-label>
            <ion-input formControlName="addressLine2"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Address Line 3</ion-label>
            <ion-input formControlName="addressLine3"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Locality</ion-label>
            <ion-input formControlName="locality"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Town</ion-label>
            <ion-input formControlName="town"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">County</ion-label>
            <ion-input formControlName="county"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Country</ion-label>
            <ion-input formControlName="country"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">PafReference</ion-label>
            <ion-input formControlName="pafReference"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">latitude</ion-label>
            <ion-input formControlName="latitude"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">longitude</ion-label>
            <ion-input formControlName="longitude"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-end">
        <ion-button (click)="saveAddress()">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>