#fee-charge {
    color: var(--ion-color-one);
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid var(--ion-color-four);
    }

    th {
        background-color: var(--ion-color-three);
        color: var(--ion-color-success-contrast);
    }

    td,
    th {
        text-align: left;
        padding: 8px;
        font-size: 14px;
        font-weight: 500;
    }

    tr:nth-child(even) {
        background-color: var(--ion-color-six);
    }

    tr:nth-child(odd) {
        background-color: var(--ion-color-four);
    }

    td {
        color: var(--ion-color-one);
    }
}