<ng-template #tenancyDetailsTemp>
  <form [formGroup]="tenancyDetailsForm">
    <ion-grid>
      <ion-row>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Product Type <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-select interface="popover" formControlName="productId">
              <ion-select-option [value]="item.productId" *ngFor="let item of referencingProductList">
                {{ item.productName }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="tenancyDetailsForm.controls.productId"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">No. of Occupants <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-input formControlName="noOfTenantToBeReferenced"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenancyDetailsForm.controls.noOfTenantToBeReferenced"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Tenancy Start Date </ion-label>
            <ion-datetime
            [min]="currentDate"
            [max]="futureDate"
              formControlName="tenancyStartDate"
              displayFormat="DD/MM/YYYY"
              interface="popover"
            ></ion-datetime>
          </ion-item>
          <app-validation-message [control]="tenancyDetailsForm.controls.tenancyStartDate"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Term(in months) <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-input formControlName="tenancyTerm"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenancyDetailsForm.controls.tenancyTerm"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Reference Paid By Tenant?</ion-label>
            <ion-input formControlName="paidBy"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenancyDetailsForm.controls.paidBy"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item lines="none" style="margin-top: 6px;">
            <ion-label>Do you want to offer NDS?</ion-label>
            <ion-toggle slot="start" formControlName="offerNds"></ion-toggle>
          </ion-item>
          <app-validation-message [control]="tenancyDetailsForm.controls.offerNds"></app-validation-message>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
</ng-template>

<ng-template #propertyDetailsTemp>
  <form [formGroup]="propertyDetailsForm">
    <ion-grid>
      <ion-row>
        <ion-col size="33.3">
          <ion-row>
            <ion-col class="ion-no-padding" size="75">
              <h5 class="no-margin-top">Registered Address</h5>
              <div>
                <span *ngIf="address?.addressLine1"> {{ address?.addressLine1 + ','}} <br/></span>
              	<span *ngIf="address?.addressLine2">  {{ address?.addressLine2 + ','}}<br/></span>
              	<span *ngIf="address?.locality">  {{ address?.locality + ','}}<br/></span>
              	<span *ngIf="address?.town"> {{ address?.town + ','}}<br/></span>
                <span *ngIf="address?.postcode"> {{ address?.postcode }}<br/></span>
              </div>
            </ion-col>
            <ion-col size="25" class="ion-text-center">
              <ion-button (click)="editAddress()">Edit</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Management Type <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-select interface="popover" formControlName="managementStatus">
              <ion-select-option [value]="item.index" *ngFor="let item of managementStatusTypes">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="propertyDetailsForm.controls.managementStatus"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="stacked">Property Rent <ion-text class="mandatory">*</ion-text></ion-label>
            <input currencyMask formControlName="monthlyRent" (blur)="onBlurCurrency(propertyDetailsForm.controls.monthlyRent.value, propertyDetailsForm)"/>
          </ion-item>
          <app-validation-message [control]="propertyDetailsForm.controls.monthlyRent"></app-validation-message>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ng-template>

<ng-template #tenantDetailsTemp>
  <form [formGroup]="tenantDetailsForm">
    <ion-grid>
      <ion-row>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Completion Method</ion-label>
            <ion-select interface="popover" formControlName="completeMethod">
              <ion-select-option [value]="item.index" *ngFor="let item of completionMethods">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Product Type  <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-select interface="popover" formControlName="productId">
              <ion-select-option [value]="item.productId" *ngFor="let item of referencingProductList">
                {{ item.productName }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.productId"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Tenant Type <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-select interface="popover" formControlName="tenantTypeId" (ionChange)="setValidatorsForForms()">
              <ion-select-option [value]="item.index" *ngFor="let item of tenantTypes">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.tenantTypeId"></app-validation-message>
        </ion-col>
        <ion-col size="33.3" *ngIf="getLookupValue(tenantDetailsForm.controls.tenantTypeId.value, tenantTypes) == 'Company'">
          <ion-item>
            <ion-label position="floating">Company Name <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-input formControlName="companyName"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.companyName"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Title <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-select interface="popover" formControlName="title">
              <ion-select-option [value]="item.index" *ngFor="let item of titleTypes">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.title"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Other Title</ion-label>
            <ion-input formControlName="otherTitle"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.otherTitle"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">First Name <ion-text class="mandatory" *ngIf="tenantDetailsForm.controls.tenantTypeId.value == 1">*</ion-text></ion-label>
            <ion-input formControlName="forename"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.forename"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Middle Name</ion-label>
            <ion-input formControlName="middlename"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.middlename"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input formControlName="surname"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.surname"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Email <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.email"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Date of Birth <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-datetime formControlName="dateOfBirth" displayFormat="DD/MM/YYYY" interface="popover" [max]="adultDate"></ion-datetime>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.dateOfBirth"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Marital Status <ion-text class="mandatory" *ngIf="tenantDetailsForm.controls.tenantTypeId.value == 1">*</ion-text></ion-label>
            <ion-select interface="popover" formControlName="maritalStatus">
              <ion-select-option [value]="item.index" *ngFor="let item of maritalStatusTypes">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.maritalStatus"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Nationality</ion-label>
            <ion-select interface="popover" formControlName="nationality">
              <ion-select-option [value]="item.index" *ngFor="let item of nationList">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.nationality"></app-validation-message>
        </ion-col>
        <ion-col size="33.3" *ngIf="getLookupValue(tenantDetailsForm.controls.tenantTypeId.value, tenantTypes) == 'Company'">
          <ion-item>
            <ion-label position="floating">Registration Number <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-input formControlName="registrationNumber"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.registrationNumber"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="stacked">Rent Share <ion-text class="mandatory">*</ion-text></ion-label>
            <input currencyMask formControlName="rentShare" (blur)="onBlurCurrency(tenantDetailsForm.controls.rentShare.value, tenantDetailsForm)"/>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.rentShare"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item lines="none" style="margin-top: 10px;">
            <ion-label style="white-space: normal;">Had tenant been known by any other name?</ion-label>
            <ion-toggle slot="start" formControlName="hasTenantOtherName" (ionChange)="setValidatorsForForms()"></ion-toggle>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.hasTenantOtherName"></app-validation-message>
        </ion-col>
        <ng-container formGroupName="otherNames">
          <ion-col size="33.3" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
            <ion-item>
              <ion-label position="floating">Title</ion-label>
              <ion-select interface="popover" formControlName="title">
                <ion-select-option [value]="item.index" *ngFor="let item of titleTypes">
                  {{ item.value }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <app-validation-message [control]="tenantDetailsForm.controls.otherNames['controls'].title"></app-validation-message>
          </ion-col>
          <ion-col size="33.3" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
            <ion-item>
              <ion-label position="floating">First Name <ion-text class="mandatory">*</ion-text></ion-label>
              <ion-input formControlName="forename"></ion-input>
            </ion-item>
            <app-validation-message [control]="tenantDetailsForm.controls.otherNames['controls'].forename"></app-validation-message>
          </ion-col>
          <ion-col size="33.3" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
            <ion-item>
              <ion-label position="floating">Middle Name</ion-label>
              <ion-input formControlName="middlename"></ion-input>
            </ion-item>
            <app-validation-message [control]="tenantDetailsForm.controls.otherNames['controls'].middlename"></app-validation-message>
          </ion-col>
          <ion-col size="33.3" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
            <ion-item>
              <ion-label position="floating">Last Name <ion-text class="mandatory">*</ion-text></ion-label>
              <ion-input formControlName="surname"></ion-input>
            </ion-item>
            <app-validation-message [control]="tenantDetailsForm.controls.otherNames['controls'].surname"></app-validation-message>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
  </form>
</ng-template>

<ng-template #finalView>
  <ion-grid class="view-details">
    <ion-row class="ion-justify-content-between">
      <ion-col size="100">
        <div class="title">Please review the application details.</div>
      </ion-col>
      <ion-col size="100">
        <div class="sub-heading">Tenancy Details</div>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Product</ion-text><br />
        <ion-text class="content">{{getProductType(tenancyDetailsForm.controls.productId.value) || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">No. of Occupants</ion-text><br />
        <ion-text class="content">{{tenancyDetailsForm.controls.noOfTenantToBeReferenced.value  || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Tenancy Start Date</ion-text><br />
        <ion-text class="content">{{tenancyDetailsForm.controls.tenancyStartDate.value | date: 'dd/MM/yyyy' || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Term(in months)</ion-text><br />
        <ion-text class="content">{{tenancyDetailsForm.controls.tenancyTerm.value || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Reference Paid By Tenant?</ion-text><br />
        <ion-text class="content">{{tenancyDetailsForm.controls.paidBy.value || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Do you want to offer NDS?</ion-text><br />
        <ion-text class="content">{{tenancyDetailsForm.controls.offerNds.value ? 'Yes' : 'No'}}</ion-text>
      </ion-col>
      <ion-col size="100" class="border-bottom"></ion-col>
      <ion-col size="100">
        <div class="sub-heading">Property Details</div>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Management Type</ion-text><br />
        <ion-text class="content">{{getLookupValue(propertyDetailsForm.controls.managementStatus.value, managementStatusTypes) || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Property Rent</ion-text><br />
        <ion-text class="content">{{propertyDetailsForm.controls.monthlyRent.value ? '£' + propertyDetailsForm.controls.monthlyRent.value : 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size="100" class="border-bottom"></ion-col>
      <ion-col size="100">
        <div class="sub-heading">Tenant Details</div>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Completion Method</ion-text><br />
        <ion-text class="content">{{getLookupValue(tenantDetailsForm.controls.completeMethod.value, completionMethods) || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Product</ion-text><br />
        <ion-text class="content">{{getProductType(tenantDetailsForm.controls.productId.value) || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Tenant Type</ion-text><br />
        <ion-text class="content">{{getLookupValue(tenantDetailsForm.controls.tenantTypeId.value, tenantTypes) || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Title</ion-text><br />
        <ion-text class="content">{{getLookupValue(tenantDetailsForm.controls.title.value, titleTypes) || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Other Title</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.otherTitle.value || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">First Name</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.forename.value || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content" *ngIf="getLookupValue(tenantDetailsForm.controls.tenantTypeId.value, tenantTypes) == 'Company'">
        <ion-text class="header">Company Name</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.companyName.value || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Middle Name</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.middlename.value || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Last Name</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.surname.value || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Email</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.email.value || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Date of Birth</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.dateOfBirth.value | date: 'dd/MM/yyyy'  || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Marital Status</ion-text><br />
        <ion-text class="content">{{getLookupValue(tenantDetailsForm.controls.maritalStatus.value, maritalStatusTypes) || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Nationality</ion-text><br />
        <ion-text class="content">{{getLookupValue(tenantDetailsForm.controls.nationality.value, nationList) || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content" *ngIf="getLookupValue(tenantDetailsForm.controls.tenantTypeId.value, tenantTypes) == 'Company'">
        <ion-text class="header">Registration Number</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.registrationNumber.value || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Rent Share</ion-text><br />
        <ion-text class="content">{{ tenantDetailsForm.controls.rentShare?.value ? '£' +  tenantDetailsForm.controls.rentShare?.value : 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Had tenant been known by any other name?</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.hasTenantOtherName.value ? 'Yes' : 'No'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
        <ion-text class="header">Title</ion-text><br />
        <ion-text class="content">{{getLookupValue(tenantDetailsForm.controls.otherNames['controls'].title.value, titleTypes) || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
        <ion-text class="header">First Name</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.otherNames['controls'].forename.value || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
        <ion-text class="header">Middle Name</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.otherNames['controls'].middlename.value || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
        <ion-text class="header">Last Name</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.otherNames['controls'].surname.value || 'N/A'}}</ion-text>
      </ion-col>
      <ion-col size="100" class="border-bottom"></ion-col>
    </ion-row>
  </ion-grid>
</ng-template>


<ion-content id="la-application-details" *ngIf="propertyId && tenantId">
  <ion-grid>
    <ion-row>
      <ion-col size="50" class="heading">
        <div>
          <ion-icon name="arrow-back-outline" style="vertical-align: bottom;cursor: pointer;" (click)="goBack()"></ion-icon>
           &nbsp;New Application</div>
      </ion-col>
      <ion-col size="50" class="la-logo">
        <img src="assets/images/referencing/la-logo.svg"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="tab-container">
          <mat-tab-group mat-stretch-tabs mat-align-tabs="start" #applicationTabs (selectedIndexChange)="currentSelectedTab($event)">
            <mat-tab>
              <ng-template mat-tab-label>
                <div class="label-text" [class.success-border]='isPropertyTabDetailSubmit && propertyDetailsForm.valid && tenancyDetailsForm.valid'
                [class.error-border]='(isPropertyTabDetailSubmit) && (!propertyDetailsForm.valid || !tenancyDetailsForm.valid)'>Property/ Rental Details</div>
              </ng-template>
              <div class="accordion-container">
                <div class="accordion-header" (click)="tenancyDetailsAccordion.expanded = !tenancyDetailsAccordion.expanded">
                  <ion-grid class="ion-no-padding">
                    <ion-row class="ion-justify-content-between">
                      <ion-col>
                        Tenancy Details
                      </ion-col>
                      <ion-col class="ion-text-end">
                        <ion-icon name="add" *ngIf="!tenancyDetailsAccordion.expanded"></ion-icon>
                        <ion-icon name="remove" *ngIf="tenancyDetailsAccordion.expanded"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <app-accordion-list [expanded]="tenancyDetailsAccordion.expanded">
                    <ng-container *ngTemplateOutlet="tenancyDetailsTemp"></ng-container>
                </app-accordion-list>
              </div>
              <div class="space-break"></div>
              <div class="accordion-container">
                <div class="accordion-header" (click)="propertyDetailsAccordion.expanded = !propertyDetailsAccordion.expanded">
                  <ion-grid class="ion-no-padding">
                    <ion-row class="ion-justify-content-between">
                      <ion-col>
                        Property Details
                      </ion-col>
                      <ion-col class="ion-text-end">
                        <ion-icon name="add" *ngIf="!propertyDetailsAccordion.expanded"></ion-icon>
                        <ion-icon name="remove" *ngIf="propertyDetailsAccordion.expanded"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <app-accordion-list [expanded]="propertyDetailsAccordion.expanded">
                    <ng-container *ngTemplateOutlet="propertyDetailsTemp"></ng-container>
                  </app-accordion-list>
              </div>
              <div class="action-btn-group">
                <ion-button class="cancel-button" (click)="cancelApplication()">Cancel</ion-button>
                <ion-button (click)="applicationTabs.selectedIndex = 1" class="next-button">Next</ion-button>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <div class="label-text" [class.success-border]='isTenantTabDetailSubmit && tenantDetailsForm.valid'
                [class.error-border]='isTenantTabDetailSubmit && !tenantDetailsForm.valid'>Tenant Details</div>
              </ng-template>
              <div class="accordion-container">
                <div class="accordion-header" (click)="tenantDetailsAccordion.expanded = !tenantDetailsAccordion.expanded">
                  <ion-grid class="ion-no-padding">
                    <ion-row class="ion-justify-content-between">
                      <ion-col>
                        Tenant Details
                      </ion-col>
                      <ion-col class="ion-text-end">
                        <ion-icon name="add" *ngIf="!tenantDetailsAccordion.expanded"></ion-icon>
                        <ion-icon name="remove" *ngIf="tenantDetailsAccordion.expanded"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <app-accordion-list [expanded]="tenantDetailsAccordion.expanded">
                    <ng-container *ngTemplateOutlet="tenantDetailsTemp"></ng-container>
                  </app-accordion-list>
              </div>
              <div class="action-btn-group">
                <ion-button class="cancel-button" (click)="cancelApplication()">Cancel</ion-button>
                <ion-button (click)="applicationTabs.selectedIndex = 0" class="next-button">Back</ion-button>
                <ion-button (click)="applicationTabs.selectedIndex = 2" class="next-button">Next</ion-button>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <div class="label-text">Review</div>
              </ng-template>
              <div class="accordion-container">
                <app-accordion-list [expanded]="true">
                    <ng-container *ngTemplateOutlet="finalView"></ng-container>
                  </app-accordion-list>
              </div>
              <div class="action-btn-group">
                <ion-button class="cancel-button" (click)="cancelApplication()">Cancel</ion-button>
                <ion-button (click)="applicationTabs.selectedIndex = 1" class="next-button">Back</ion-button>
                <ion-button class="submit-button" (click)=createApplication()>Submit</ion-button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>

