<ng-template #tenancyDetailsTemp>
  <form [formGroup]="tenancyDetailsForm">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">Property Product Type</ion-label>
            <ion-select interface="popover" formControlName="productId" [interfaceOptions]="popoverOptions">
              <ion-select-option [value]="item.productId" *ngFor="let item of referencingCaseProductList">
                {{ item.productName }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="tenancyDetailsForm.controls.productId"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">No. of Occupants <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-input formControlName="noOfTenantToBeReferenced"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenancyDetailsForm.controls.noOfTenantToBeReferenced"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3" style="padding-top:13px">
          <mat-form-field appearance="fill">
            <mat-label>Tenancy Start Date</mat-label>
            <input matInput [matDatepicker]="picker" [min]="currentDate" [max]="futureDate" formControlName="tenancyStartDate" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div style="margin-top: -20px !important;">
            <app-validation-message [control]="tenancyDetailsForm.controls.tenancyStartDate"></app-validation-message>
          </div>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">Term (in months) <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-input formControlName="tenancyTerm"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenancyDetailsForm.controls.tenancyTerm"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item lines="none" style="margin-top: 6px;">
            <ion-label>Reference Paid By Tenant?</ion-label>
            <ion-toggle slot="start" formControlName="paidBy"></ion-toggle>
          </ion-item>
          <app-validation-message [control]="tenancyDetailsForm.controls.paidBy"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item lines="none" style="margin-top: 6px;">
            <ion-label>Do you want to offer NDS?</ion-label>
            <ion-toggle slot="start" formControlName="offerNds"></ion-toggle>
          </ion-item>
          <app-validation-message [control]="tenancyDetailsForm.controls.offerNds"></app-validation-message>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
</ng-template>

<ng-template #propertyDetailsTemp>
  <form [formGroup]="propertyDetailsForm">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="100" size-sm="100" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-row>
            <ion-col class="ion-no-padding" size="75">
              <h5 class="no-margin-top">Registered Address</h5>
              <div>
                <span *ngIf="address?.addressLine1">{{ address?.addressLine1 + ','}} <br/></span>
              	<span *ngIf="address?.addressLine2">{{ address?.addressLine2 + ','}}<br/></span>
              	<span *ngIf="address?.locality">{{ address?.locality + ','}}<br/></span>
              	<span *ngIf="address?.town">{{ address?.town + ','}}<br/></span>
                <span *ngIf="address?.postcode">{{ address?.postcode }}<br/></span>
              </div>
            </ion-col>
            <ion-col size="25" class="ion-text-center">
              <ion-button (click)="editAddress()">Edit</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">Management Type <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-select interface="popover" formControlName="managementStatus" [interfaceOptions]="popoverOptions">
              <ion-select-option [value]="item.index" *ngFor="let item of managementStatusTypes">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="propertyDetailsForm.controls.managementStatus"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="stacked">Property Rent <ion-text class="mandatory">*</ion-text></ion-label>
            <input currencyMask formControlName="monthlyRent" (blur)="onBlurCurrency(propertyDetailsForm.controls.monthlyRent.value, propertyDetailsForm)"/>
          </ion-item>
          <app-validation-message [control]="propertyDetailsForm.controls.monthlyRent"></app-validation-message>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ng-template>

<ng-template #tenantDetailsTemp>
  <form [formGroup]="tenantDetailsForm">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">Completion Method</ion-label>
            <ion-select interface="popover" formControlName="completeMethod" [interfaceOptions]="popoverOptions">
              <ion-select-option [value]="item.index" *ngFor="let item of completionMethods">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">Product Type  <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-select interface="popover" formControlName="productId" [interfaceOptions]="popoverOptions">
              <ion-select-option [value]="item.productId" *ngFor="let item of referencingApplicationProductList">
                {{ item.productName }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.productId"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">Tenant Type <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-select interface="popover" formControlName="tenantTypeId" (ionChange)="setValidatorsForForms()" [interfaceOptions]="popoverOptions">
              <ion-select-option [value]="item.index" *ngFor="let item of tenantTypes">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.tenantTypeId"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3" *ngIf="(tenantDetailsForm.controls.tenantTypeId.value | lookup: tenantTypes) == 'Company'">
          <ion-item>
            <ion-label position="floating">Company Name <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-input formControlName="companyName"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.companyName"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">Title <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-select interface="popover" (ionChange)='resetOtherTitle()' formControlName="title" [interfaceOptions]="popoverOptions">
              <ion-select-option [value]="item.index" *ngFor="let item of titleTypes">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.title"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">Other Title</ion-label>
            <ion-input [disabled]='tenantDetailsForm.controls.title.value && tenantDetailsForm.controls.title.value != otherTitleIndex' formControlName="otherTitle"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.otherTitle"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">First Name <ion-text class="mandatory" *ngIf="tenantDetailsForm.controls.tenantTypeId.value == 1">*</ion-text></ion-label>
            <ion-input formControlName="forename"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.forename"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">Middle Name</ion-label>
            <ion-input formControlName="middlename"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.middlename"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input formControlName="surname"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.surname"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">Email <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.email"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3" style="padding-top:13px">
          <mat-form-field appearance="fill">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker1" [max]="adultDate" formControlName="dateOfBirth" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">Marital Status</ion-label>
            <ion-select interface="popover" formControlName="maritalStatus" [interfaceOptions]="popoverOptions">
              <ion-select-option [value]="item.index" *ngFor="let item of maritalStatusTypes">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="floating">Nationality</ion-label>
            <ion-select interface="popover" formControlName="nationality" [interfaceOptions]="popoverOptions">
              <ion-select-option [value]="item.index" *ngFor="let item of referencingNationalities">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.nationality"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3" *ngIf="(tenantDetailsForm.controls.tenantTypeId.value | lookup: tenantTypes) == 'Company'">
          <ion-item>
            <ion-label position="floating">Registration Number <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-input formControlName="registrationNumber"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.registrationNumber"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item>
            <ion-label position="stacked">Rent Share <ion-text class="mandatory">*</ion-text></ion-label>
            <input currencyMask formControlName="rentShare" (blur)="onBlurCurrency(tenantDetailsForm.controls.rentShare.value, tenantDetailsForm)"/>
          </ion-item>
          <div *ngIf="tenantDetailsForm.controls.rentShare.errors" class="error-message">
            <div *ngIf="tenantDetailsForm.controls.rentShare.errors.required">Rent share is required</div>
            <div *ngIf="tenantDetailsForm.controls.rentShare.errors.max">Rent share should be less than and equal to property rent (£ {{propertyDetailsForm.controls.monthlyRent.value}})</div>
          </div>
        </ion-col>
        <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3">
          <ion-item lines="none" style="margin-top: 10px;">
            <ion-label style="white-space: normal;">Has the tenant been known by any other name?</ion-label>
            <ion-toggle slot="start" formControlName="hasTenantOtherName" (ionChange)="setValidatorsForForms()"></ion-toggle>
          </ion-item>
          <app-validation-message [control]="tenantDetailsForm.controls.hasTenantOtherName"></app-validation-message>
        </ion-col>
        <ng-container formGroupName="otherNames">
          <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
            <ion-item>
              <ion-label position="floating">Title</ion-label>
              <ion-select interface="popover" formControlName="title" [interfaceOptions]="popoverOptions">
                <ion-select-option [value]="item.index" *ngFor="let item of titleTypes">
                  {{ item.value }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <app-validation-message [control]="tenantDetailsForm.controls.otherNames['controls'].title"></app-validation-message>
          </ion-col>
          <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
            <ion-item>
              <ion-label position="floating">First Name <ion-text class="mandatory">*</ion-text></ion-label>
              <ion-input formControlName="forename"></ion-input>
            </ion-item>
            <app-validation-message [control]="tenantDetailsForm.controls.otherNames['controls'].forename"></app-validation-message>
          </ion-col>
          <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
            <ion-item>
              <ion-label position="floating">Middle Name</ion-label>
              <ion-input formControlName="middlename"></ion-input>
            </ion-item>
            <app-validation-message [control]="tenantDetailsForm.controls.otherNames['controls'].middlename"></app-validation-message>
          </ion-col>
          <ion-col size-xs="100" size-sm="50" size-md="50" size-lg="33.3" size-xl="33.3" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
            <ion-item>
              <ion-label position="floating">Last Name <ion-text class="mandatory">*</ion-text></ion-label>
              <ion-input formControlName="surname"></ion-input>
            </ion-item>
            <app-validation-message [control]="tenantDetailsForm.controls.otherNames['controls'].surname"></app-validation-message>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
  </form>
</ng-template>

<ng-template #finalView>
  <ion-grid class="view-details">
    <ion-row class="ion-justify-content-between">
      <ion-col size="100">
        <div class="title">Please review the application details.</div>
      </ion-col>
      <ion-col size="100">
        <div class="sub-heading">Tenancy Details</div>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Property Product Type</ion-text><br />
        <ion-text class="content">{{getProductType(tenancyDetailsForm.controls.productId.value, 'case') || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">No. of Occupants</ion-text><br />
        <ion-text class="content">{{tenancyDetailsForm.controls.noOfTenantToBeReferenced.value  || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Tenancy Start Date</ion-text><br />
        <ion-text class="content">{{(tenancyDetailsForm.controls.tenancyStartDate.value | date: DATE_FORMAT.DATE) || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Term(in months)</ion-text><br />
        <ion-text class="content">{{tenancyDetailsForm.controls.tenancyTerm.value || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Reference Paid By Tenant?</ion-text><br />
        <ion-text class="content">{{tenancyDetailsForm.controls.paidBy.value ? 'Yes' : 'No'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Do you want to offer NDS?</ion-text><br />
        <ion-text class="content">{{tenancyDetailsForm.controls.offerNds.value ? 'Yes' : 'No'}}</ion-text>
      </ion-col>
      <ion-col size="100"><br/></ion-col>
      <ion-col size="100">
        <div class="sub-heading">Property Details</div>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Management Type</ion-text><br />
        <ion-text class="content">{{(propertyDetailsForm.controls.managementStatus.value | lookup: managementStatusTypes) || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Property Rent</ion-text><br />
        <ion-text class="content">{{propertyDetailsForm.controls.monthlyRent.value ? '£' + propertyDetailsForm.controls.monthlyRent.value : DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size="100"><br/></ion-col>
      <ion-col size="100">
        <div class="sub-heading">Tenant Details</div>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Completion Method</ion-text><br />
        <ion-text class="content">{{(tenantDetailsForm.controls.completeMethod.value | lookup: completionMethods) || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Product Type</ion-text><br />
        <ion-text class="content">{{getProductType(tenantDetailsForm.controls.productId.value, 'application') || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Tenant Type</ion-text><br />
        <ion-text class="content">{{(tenantDetailsForm.controls.tenantTypeId.value | lookup: tenantTypes) || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Title</ion-text><br />
        <ion-text class="content">{{(tenantDetailsForm.controls.title.value | lookup: titleTypes) || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Other Title</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.otherTitle.value || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">First Name</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.forename.value || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content" *ngIf="(tenantDetailsForm.controls.tenantTypeId.value | lookup: tenantTypes) == 'Company'">
        <ion-text class="header">Company Name</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.companyName.value || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Middle Name</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.middlename.value || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Last Name</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.surname.value || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Email</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.email.value || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Date of Birth</ion-text><br />
        <ion-text class="content">{{(tenantDetailsForm.controls.dateOfBirth.value | date: DATE_FORMAT.DATE)  || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Marital Status</ion-text><br />
        <ion-text class="content">{{(tenantDetailsForm.controls.maritalStatus.value | lookup: maritalStatusTypes) || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Nationality</ion-text><br />
        <ion-text class="content">{{(tenantDetailsForm.controls.nationality.value | lookup: referencingNationalities) || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content" *ngIf="(tenantDetailsForm.controls.tenantTypeId.value | lookup: tenantTypes) == 'Company'">
        <ion-text class="header">Registration Number</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.registrationNumber.value || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Rent Share</ion-text><br />
        <ion-text class="content">{{ tenantDetailsForm.controls.rentShare?.value ? '£' +  tenantDetailsForm.controls.rentShare?.value : DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content">
        <ion-text class="header">Has the tenant been known by any other name?</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.hasTenantOtherName.value ? 'Yes' : 'No'}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
        <ion-text class="header">Title</ion-text><br />
        <ion-text class="content">{{(tenantDetailsForm.controls.otherNames['controls'].title.value | lookup: titleTypes) || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
        <ion-text class="header">First Name</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.otherNames['controls'].forename.value || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
        <ion-text class="header">Middle Name</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.otherNames['controls'].middlename.value || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size-xs="100" size-sm="50" class="header-content" *ngIf="tenantDetailsForm.controls.hasTenantOtherName.value">
        <ion-text class="header">Last Name</ion-text><br />
        <ion-text class="content">{{tenantDetailsForm.controls.otherNames['controls'].surname.value || DEFAULTS.NOT_AVAILABLE}}</ion-text>
      </ion-col>
      <ion-col size="100"></ion-col>
    </ion-row>
  </ion-grid>
</ng-template>


<ion-content id="la-application-details" *ngIf="propertyId && tenantId">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="100" size-sm="63" size="50" class="heading">
        <div>
            <ion-icon name="arrow-back-outline" *ngIf='isPidTid'  style="vertical-align: bottom;cursor: pointer;" (click)="goBack()">
            </ion-icon>
           &nbsp;New Application</div>
      </ion-col>
      <ion-col size-xs="100" size-sm="37" size="50" class="la-logo">
        <img src="assets/images/referencing/la-logo.svg"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="tab-container">
          <mat-tab-group mat-stretch-tabs mat-align-tabs="start" #applicationTabs (selectedIndexChange)="currentSelectedTab($event)">
            <mat-tab>
              <ng-template mat-tab-label>
                <div class="label-text" [class.success-border]='isPropertyTabDetailSubmit && propertyDetailsForm.valid && tenancyDetailsForm.valid'
                [class.error-border]='(isPropertyTabDetailSubmit) && (!propertyDetailsForm.valid || !tenancyDetailsForm.valid)'>Property/ Rental Details</div>
              </ng-template>
              <div class="space-break"></div>
              <div class="accordion-container">
                <div class="accordion-header" (click)="tenancyDetailsAccordion.expanded = !tenancyDetailsAccordion.expanded">
                  <ion-grid class="ion-no-padding">
                    <ion-row class="ion-justify-content-between">
                      <ion-col>
                        Tenancy Details
                      </ion-col>
                      <ion-col class="ion-text-end">
                        <ion-icon name="add" *ngIf="!tenancyDetailsAccordion.expanded"></ion-icon>
                        <ion-icon name="remove" *ngIf="tenancyDetailsAccordion.expanded"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <app-accordion-list [expanded]="tenancyDetailsAccordion.expanded">
                    <ng-container *ngTemplateOutlet="tenancyDetailsTemp"></ng-container>
                </app-accordion-list>
              </div>
              <div class="space-break"></div>
              <div class="accordion-container">
                <div class="accordion-header" (click)="propertyDetailsAccordion.expanded = !propertyDetailsAccordion.expanded">
                  <ion-grid class="ion-no-padding">
                    <ion-row class="ion-justify-content-between">
                      <ion-col>
                        Property Details
                      </ion-col>
                      <ion-col class="ion-text-end">
                        <ion-icon name="add" *ngIf="!propertyDetailsAccordion.expanded"></ion-icon>
                        <ion-icon name="remove" *ngIf="propertyDetailsAccordion.expanded"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <app-accordion-list [expanded]="propertyDetailsAccordion.expanded">
                    <ng-container *ngTemplateOutlet="propertyDetailsTemp"></ng-container>
                  </app-accordion-list>
              </div>
              <div class="action-btn-group">
                <ion-button class="cancel-button" (click)="cancelApplication()">Cancel</ion-button>
                <ion-button (click)="applicationTabs.selectedIndex = 1" class="next-button">Next</ion-button>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <div class="label-text" [class.success-border]='isTenantTabDetailSubmit && tenantDetailsForm.valid'
                [class.error-border]='isTenantTabDetailSubmit && !tenantDetailsForm.valid'>Tenant Details</div>
              </ng-template>
              <div class="space-break"></div>
              <div class="accordion-container">
                <div class="accordion-header" (click)="tenantDetailsAccordion.expanded = !tenantDetailsAccordion.expanded">
                  <ion-grid class="ion-no-padding">
                    <ion-row class="ion-justify-content-between">
                      <ion-col>
                        Tenant Details
                      </ion-col>
                      <ion-col class="ion-text-end">
                        <ion-icon name="add" *ngIf="!tenantDetailsAccordion.expanded"></ion-icon>
                        <ion-icon name="remove" *ngIf="tenantDetailsAccordion.expanded"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <app-accordion-list [expanded]="tenantDetailsAccordion.expanded">
                    <ng-container *ngTemplateOutlet="tenantDetailsTemp"></ng-container>
                  </app-accordion-list>
              </div>
              <div class="action-btn-group">
                <ion-button class="cancel-button" (click)="cancelApplication()">Cancel</ion-button>
                <ion-button (click)="applicationTabs.selectedIndex = 0" class="next-button">Back</ion-button>
                <ion-button (click)="applicationTabs.selectedIndex = 2" class="next-button">Next</ion-button>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <div class="label-text">Review</div>
              </ng-template>
              <div class="space-break"></div>
              <div class="accordion-container">
                <app-accordion-list [expanded]="true">
                    <ng-container *ngTemplateOutlet="finalView"></ng-container>
                  </app-accordion-list>
              </div>
              <div class="action-btn-group">
                <ion-button class="cancel-button" (click)="cancelApplication()">Cancel</ion-button>
                <ion-button (click)="applicationTabs.selectedIndex = 1" class="next-button">Back</ion-button>
                <ion-button class="submit-button" (click)=createApplication()>Submit</ion-button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>

