@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

#la-application-details {
  --padding-top: var(--ion-padding-top);
  --padding-end: var(--ion-padding-end);
  --padding-bottom: var(--ion-padding-bottom);
  --padding-start: var(--ion-padding-start);
  --ion-background-color: var(--ion-color-step-1750);

  .heading {
    @include set-text-style(30px, 35px);
    align-self: center;
  }

  .la-logo {
    text-align: right;
    img {
      width: 210px;
      background: var(--ion-color-step-2000);
      padding: 10px;
      border-radius: 5px;
    }
  }

  .tab-container {
    background-color: var(--ion-color-step-2000);
    .accordion-container {
      background: var(--ion-color-step-2000);

      .accordion-header {
        @include set-text-style(18px, 22px);
        padding: 10px 30px;
        cursor: pointer;
      }
    }

    .accordion-container:first-child {
      margin-top: 0;
    }

    .space-break {
      height: 10px;
      background-color: var(--ion-color-step-1750);
    }

    .action-btn-group {
      background-color: var(--ion-color-step-1750);
      margin: 0;
      padding: 25px 0;

      ion-button:last-child {
        margin-right: 0;
      }
    }

    .view-details {
      width: 60%;
      margin: 0 auto;

      .title {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 40px;
        font-weight: 700;
        @include set-text-style(24px, 30px);
      }

      .sub-heading {
        margin-top: 15px;
        margin-bottom: 5px;
        @include set-text-style(20px, 26px);
      }

      .header-content {
        .header {
          color: var(--ion-color-step-800);
          @include set-text-style(14px, 19px);
        }

        .content {
          @include set-text-style(16px, 20px);
        }
      }

      .border-bottom {
        padding-left: 0;
        outline-offset: -6px;
        outline: 1px solid var(--ion-color-step-1050);
      }
    }
  }

  input {
    border: 0;
    outline: 0;
    padding: 5px 0;
    font-family: auto;
  }

  div.error-message {
    color: var(--ion-color-danger);
    padding-top: 2px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  #la-application-details {
    .heading,
    .la-logo {
      text-align: center;
    }
    .heading {
      padding-bottom: 15px;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 992px) {
  #la-application-details {
    .tab-container {
      .view-details {
        width: 100%;
      }
    }
  }
}
