<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="rejectionForm">
    <ion-grid class="">
      <ion-row class="">
        <ion-col size="100">
          <h6>You have selected 'Quote not accepted.'</h6>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Please select a reason for rejecting this quote.<ion-text class="mandatory">*
              </ion-text>
            </ion-label>
            <ion-select interface="popover" formControlName="rejectionReason" class="ion-select-options" [interfaceOptions]="{'cssClass': 'ion-select-popover-content'}">
              <ion-select-option [value]="item.value" *ngFor="let item of faultMaintRejectionReasons">
                {{ item.index === 'Other'? item.value +' (Please specify in the box)':item.value}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="rejectionForm.controls.rejectionReason"></app-validation-message>
        </ion-col>
        <ion-col size="100" *ngIf="rejectionForm.get('rejectionReason').value === 'Other'">
          <ion-item>
            <ion-textarea formControlName="other" placeholder="Comment..."></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="60" class="checkbox-wrapper" *ngIf="userType =='landlord'" >
      <form [formGroup]="rejectionForm" *ngIf="!disableAnotherQuote">
        <div>
          <ion-checkbox slot="start" color="success" class="check-box" formControlName="doesWantAnotherQuote">
          </ion-checkbox>
          <span>Landlord wants another Quote</span>
        </div>
      </form>
    </ion-col>
    <ion-col [size]="userType == 'contractor'?100:40" class="ion-text-end">
      <ion-button (click)="dismiss()">NO</ion-button>
      <ion-button (click)="saveFaultLLAuth()">YES</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>