<ion-header>
  <ion-toolbar>
    <ion-title>{{heading}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="notesForm">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-padding-end">
        <ion-col size="100">
          <ion-item lines="inset">
            <ion-label position="floating">Write your comments here...</ion-label>
            <ion-input formControlName="comment"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-button fill="outline" color="danger" (click)="dismiss()">Close</ion-button>&nbsp;&nbsp;
          <ion-button fill="outline" color="success" (click)="createNote()" [disabled]="!notesForm.controls['comment'].value" style="margin-right:0">Send</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>