@mixin set-text-style($size, $lheight, $family) {
  font-size: $size;
  line-height: $lheight;
  font-family: $family;
}

#notes-modal {
  ion-card-content {
    padding: 5px 10px;
  }
  .name {
    margin-bottom: 2px;
    @include set-text-style(12px, 16px, 'Inter-Regular');
  }

  .comment {
    color: var(--ion-color-primary);
    @include set-text-style(14px, 20px, 'Inter-Regular');
  }

  .date {
    @include set-text-style(11px, 15px, 'Inter-Regular');
  }
}

ion-toolbar {
  --ion-toolbar-background: rgba(var(--ion-color-medium-rgb), 0.1);
}