@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
ion-content {
  --background: var(--ion-color-step-1650);
}

.readonly-input {
  pointer-events: none;
}

.input-close {
  position: absolute;
  top: 20px;
  right: 5px;
  cursor: pointer;
  font-size: 26px;
  z-index: 2;
}

.action-btn-section {
  display: flex;
  justify-content: end;
  padding: 20px 5px;
}

.restriction-section,
.clause-section {
  ion-card-content {
    .res-clause-title {
      font-weight: 500;
      @include set-text-style(16px, 24px);
    }
    padding: 5px;
    background: var(--ion-color-step-1650);
  }
  .no-data {
    color: var(--ion-color-dark);
    text-align: center;
    background: var(--ion-color-step-1650);
    padding: 15px;
    font-weight: 600;
    // margin: 0 20px 15px;
    @include border-radius(5px);
    @include set-text-style(16px, 26px);
  }
}

#final-view {
  .title {
    color: var(--ion-color-dark);
    text-align: center;
    margin-bottom: 15px;
    margin-top: 40px;
    @include set-text-style(28px, 37px);
  }

  .offer {
    color: var(--ion-color-dark);
    margin-bottom: 10px;
    @include set-text-style(28px, 37px);

    ion-text {
      @include set-text-style(28px, 37px);
    }
  }
  .sub-heading {
    color: rgba(var(--ion-color-medium), 0.85);
    margin-top: 15px;
    margin-bottom: 5px;
    @include set-text-style(20px, 26px);
  }

  .header-content {
    .header {
      color: var(--ion-color-medium);
      @include set-text-style(14px, 19px);
    }

    .content {
      color: var(--ion-color-dark);
      @include set-text-style(20px, 26px);
    }
  }

  .border-radius {
    border: 1px solid var(--ion-color-secondary);
    @include border-radius(5px);
  }

  .border-bottom {
    border-bottom: 1px solid var(--ion-color-primary-contrast);
    padding-left: 0;
    // outline-offset: -6px;
  }

  .restriction,
  .clause {
    ion-card {
      box-shadow: unset;
      ion-card-content {
        background-color: rgba(var(--ion-color-medium-rgb), 0.1);
        padding: 0;
        min-height: 64px;

        .res-clause-title {
          @include set-text-style(16px, 24px);
        }
      }
    }
  }

  .res-clause-view {
    display: flex;
    color: var(--ion-color-dark);
    padding: 4px 0;
    @include set-text-style(20px, 26px);
  }

  .res-clause-view.clause-view {
    display: block;
    @include set-text-style(16px, 22px);

    .clause-text {
      @include set-text-style(16px, 22px);
    }
  }
  .tandc-text {
    color: var(--ion-color-danger);
    font-weight: 500;
    margin-left: 5px;
  }
}

.mt-7 {
  margin-top: 7px;
}

.offer-details {
  margin: 15px;
  background-color: var(--ion-color-step-1850);
  .applicant-detail {
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th {
      background-color: var(--ion-color-step-800);
      text-align: left;
      color: var(--ion-color-step-2000);
      padding: 20px 10px;
      font-weight: 100;
      border: 1px solid var(--ion-color-step-800);
    }

    tbody {
      border: 1px solid var(--ion-color-step-1650);
    }

    td {
      background-color: var(--ion-color-step-1850);
      padding: 12px 10px;
    }

    ion-checkbox {
      opacity: inherit !important;
    }

    ion-icon {
      font-size: 28px;
      cursor: pointer;
    }

    .search-row {
      background: var(--ion-color-step-1650);
      margin: 5px;
      margin-top: 0;
      padding: 0px 20px 20px 0;
    }
  }
  .stepper-section {
    background-color: var(--ion-color-step-1850);
    // padding: 10px 20px;
  }
}

.applicant-list {
  ion-item {
    font-size: 13px;
  }
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute !important;
  z-index: 5 !important;
  cursor: pointer;
}

.currency-input {
  border: 0;
  outline: 0;
  padding: 5px 0;
  background: transparent;
}
