.property-right-card {
    .property-details {
        padding: 0;
        .property-status {
            background: var(--ion-color-property-status-bg);
            color: var(--ion-color-property-status-text);
            padding-left: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            text-transform: uppercase;
            ion-col {
                min-height: 47px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
        .property-info {
            padding-left: 10px;
            ion-col {
                .label {
                    color: var(--ion-color-block-label-color);
                    font-size: 12px;
                }
                .value {
                    color: var(--ion-color-property-info-value);
                }
            }
        }
       
        .sucess {
            color: var(--ion-color-success);
        }
        .danger {
            color: var(--ion-color-danger);
        }
        .property-certificates {
            color: var(--ion-color-text-color);
            display: flex;
            align-items: center;
            // padding: 7px;
            // padding-left: 13px;
        }
    }
}
