<ion-header>
  <ion-toolbar>
    <ion-title>Snooze Repair</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="snoozeFaultForm">
    <ion-grid>
      <ion-row>
        <ion-col size="100">
          <h6>Please select the date you want to hide this Repair from the dashboard till</h6>
          <h6>You can search the snoozed repairs via the search filters available on the dashboard.</h6>
        </ion-col>
        <ion-col size="100">
          <ion-item id="snoozeUntil">
            <ion-label position="floating">Select Date<ion-text class="mandatory"> * </ion-text></ion-label>
            <ion-input value="{{ snoozeFaultForm.controls.snoozeUntil.value | date: DATE_FORMAT.DATE }}"></ion-input>
            <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
            <ion-popover class="ion-datepicker-popover" trigger="snoozeUntil" show-backdrop="false">
              <ng-template>
                <ion-datetime [showDefaultButtons]="true" presentation="date" formControlName="snoozeUntil" [min]="minDate" [max]="futureDate">
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
          <app-validation-message [control]="snoozeFaultForm.controls.snoozeUntil"></app-validation-message>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Notes <ion-text class="mandatory"> * </ion-text>
            </ion-label>
            <ion-textarea formControlName="snoozeReason" rows="1" auto-grow="true" class="snooze-reason"></ion-textarea>
          </ion-item>
          <app-validation-message [control]="snoozeFaultForm.controls.snoozeReason"></app-validation-message>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
<ion-footer class="ion-text-right">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-right">
        <ion-button color="danger" (click)="dismiss()">Cancel</ion-button>
        <ion-button color="success" (click)="submit()" [disabled]="showLoader || snoozeFaultForm.invalid">Submit
          <ion-icon *ngIf="showLoader" name="refresh" class="rotating submit-loader"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>