<ng-template #faultDetails>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Fault description</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <!-- <app-validation-message [control]=""></app-validation-message> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ng-template>

<ng-template #additionalInfo>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col size="50">
          <ion-grid class="additional-info-container">
            <ion-row>
              <ion-col size="30">
                <ion-item>
                  <ion-label position="floating">Type</ion-label>
                  <ion-select interface="popover">
                    <ion-select-option [value]="item.index" *ngFor="let item of catList"
                      >{{ item.value }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="60">
                <ion-item>
                  <ion-label position="floating">Additional Info</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="10">
                <ion-button>Add</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <form>
    <ion-grid>
      <ion-row>
        <ion-col size="15">
          <ion-item>
            <ion-label position="floating">Type</ion-label>
            <ion-select interface="popover">
              <ion-select-option [value]="item.index" *ngFor="let item of catList"
                >{{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="30">
          <ion-item>
            <ion-label position="floating">Additional Info</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-button>Add</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ng-template>

<ng-template #reportedBy>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col size="33">
          <ion-item>
            <ion-label position="floating">Who reported the fault?</ion-label>
            <ion-select interface="popover">
              <ion-select-option [value]="item.index" *ngFor="let item of catList"
                >{{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <!-- <app-validation-message [control]=""></app-validation-message> -->
        </ion-col>
        <ion-col size="67">
          <ion-item>
            <ion-label position="floating">Select agreement</ion-label>
            <ion-select interface="popover">
              <ion-select-option [value]="item.index" *ngFor="let item of catList"
                >{{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <!-- <app-validation-message [control]=""></app-validation-message> -->
        </ion-col>
        <ion-col size="33">
          <ion-item>
            <ion-label position="floating">Select tenant</ion-label>
            <ion-select interface="popover">
              <ion-select-option [value]="item.index" *ngFor="let item of catList"
                >{{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <!-- <app-validation-message [control]=""></app-validation-message> -->
        </ion-col>
        <ion-col size="33">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <!-- <app-validation-message [control]=""></app-validation-message> -->
        </ion-col>
        <ion-col size="33">
          <ion-item>
            <ion-label position="floating">Forename</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <!-- <app-validation-message [control]=""></app-validation-message> -->
        </ion-col>
        <ion-col size="33">
          <ion-item>
            <ion-label position="floating">Surname</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <!-- <app-validation-message [control]=""></app-validation-message> -->
        </ion-col>
        <ion-col size="33">
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <!-- <app-validation-message [control]=""></app-validation-message> -->
        </ion-col>
        <ion-col size="33">
          <ion-item>
            <ion-label position="floating">Mobile</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <!-- <app-validation-message [control]=""></app-validation-message> -->
        </ion-col>
        <ion-col size="33">
          <ion-item>
            <ion-label position="floating">Telephone</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <!-- <app-validation-message [control]=""></app-validation-message> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ng-template>

<ng-template #accessInformation>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col size="33">
          <ion-item>
            <ion-label position="floating">Access information</ion-label>
            <ion-select interface="popover">
              <ion-select-option [value]="item.index" *ngFor="let item of catList"
                >{{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <!-- <app-validation-message [control]=""></app-validation-message> -->
        </ion-col>
        <ion-col size="65">
          <ion-item lines="none" style="margin-top: 6px;">
            <ion-label>Is there a vulnerable occupier at this property?</ion-label>
            <ion-toggle slot="start"></ion-toggle>
          </ion-item>
          <!-- <app-validation-message [control]=""></app-validation-message> -->
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Useful instructions</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <!-- <app-validation-message [control]=""></app-validation-message> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ng-template>

<ng-template #media>
  <form>
    <ion-grid>
      <ion-row> </ion-row>
    </ion-grid>
  </form>
</ng-template>

<ng-template #SubmitCancel>
  <ion-grid class="action-buttons-block ion-text-center">
    <ion-row>
      <ion-col>
        <ion-button color="danger" style="margin-left: 5px">Cancel</ion-button
        >&nbsp;&nbsp;
        <ion-button color="success"
          >Submit
          <ion-icon name="refresh" class="rotating submit-loader"></ion-icon>
        </ion-button>
        <ion-button color="success"
          >Update
          <ion-icon
            name="refresh"
            class="rotating submit-loader"
          ></ion-icon> </ion-button
        >&nbsp;&nbsp;
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>

<ion-content id="fault-details">
  <ion-grid *ngIf="pageNo===1">
    <ion-row>
      <ion-col>
        <h2 class="heading">Log a fault</h2>
        <h2>
          What do you want to report in
          <b>
            {{ propertyData?.address?.addressLine1 ?
            propertyData?.address?.addressLine1 + ',' : ''}} {{
            propertyData?.address?.addressLine2 ?
            propertyData?.address?.addressLine2 + ',' : ''}} {{
            propertyData?.address?.locality ? propertyData?.address?.locality +
            ',' : ''}} {{ propertyData?.address?.postcode }} ?
          </b>
        </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="20" *ngFor="let item of catList">
        <div class="block" (click)="goToPriorityPage(2)">
          <img [src]="item.imgPath" />
          <h4>{{item.value}}</h4>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="pageNo===2">
    <ion-row>
      <ion-col>
        <h2 class="heading">Log a fault</h2>
        <h2>
          Describe the issue with <b>Alarms and Smoke Detectors</b> in
          <b>
            {{ propertyData?.address?.addressLine1 ?
            propertyData?.address?.addressLine1 + ',' : ''}} {{
            propertyData?.address?.addressLine2 ?
            propertyData?.address?.addressLine2 + ',' : ''}} {{
            propertyData?.address?.locality ? propertyData?.address?.locality +
            ',' : ''}} {{ propertyData?.address?.postcode }} ?
          </b>
        </h2>
        <div class="priority-heading">Select the priority</div>
        <ion-button (click)="faultDetails.urgencyStatus = 1" [class]="faultDetails?.urgencyStatus===1 ? 'urgency-selected non-urgent-btn' : 'non-urgent-btn'">Non urgent</ion-button>
        <ion-button (click)="faultDetails.urgencyStatus = 2" [class]="faultDetails?.urgencyStatus===2 ? 'urgency-selected urgent-btn' : 'urgent-btn'">Urgent</ion-button>
        <ion-button (click)="faultDetails.urgencyStatus = 3" [class]="faultDetails?.urgencyStatus===3 ? 'urgency-selected emergency-btn' : 'emergency-btn'">Emergency</ion-button>
        <!-- <ion-button>Non urgent</ion-button>
        <ion-button>Urgent</ion-button>
        <ion-button>Emergency</ion-button> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="panel-block-normal propco-form" *ngIf="pageNo===2">
    <ion-grid>
      <ion-row class="main-row">
        <ion-col size="100" class="col1">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text"> </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100" class="col2">
          <ion-button>Cancel</ion-button>
          <ion-button (click)="goToPriorityPage(1)">Back</ion-button>
          <ion-button (click)="goToPriorityPage(3)">Next</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ng-container *ngIf="pageNo===3">
    <ion-card class="ion-no-margin" id="property-details-card">
      <app-property-details
        [propertyDetails]="propertyData"
      ></app-property-details>
    </ion-card>
    <mat-horizontal-stepper
      #stepper
      labelPosition="bottom"
      labelPosition="bottom"
    >
      <mat-step>
        <ng-container *ngTemplateOutlet="faultDetails"></ng-container>
        <ng-container *ngTemplateOutlet="additionalInfo"></ng-container>
        <ng-template matStepLabel>Fault details</ng-template>
        
        <!-- <button mat-button matStepperNext mat-icon-button class="stepper-next"><img
              src="assets/images/right-arrow-active.svg" /></button>
          <div class="blank-div">&nbsp;</div> -->
      </mat-step>
      <mat-step>
        <ng-container *ngTemplateOutlet="reportedBy"></ng-container>
        <ng-template matStepLabel>Reported By</ng-template>
        <!-- <button mat-button matStepperPrevious mat-icon-button class="stepper-back"><img
              src="assets/images/left-arrow.svg" /></button>
          <button mat-button matStepperNext mat-icon-button class="stepper-next"><img
              src="assets/images/right-arrow-active.svg" /></button>
          <div class="blank-div">&nbsp;</div> -->
      </mat-step>
      <mat-step>
        <ng-container *ngTemplateOutlet="accessInformation"></ng-container>
        <ng-template matStepLabel>Access Information</ng-template>
        <!-- <button mat-button matStepperPrevious mat-icon-button class="stepper-back"><img
              src="assets/images/left-arrow.svg" /></button>
          <button mat-button matStepperNext mat-icon-button class="stepper-next"><img
              src="assets/images/right-arrow-active.svg" /></button>
          <div class="blank-div">&nbsp;</div> -->
      </mat-step>
      <mat-step>
        <ng-container *ngTemplateOutlet="media"></ng-container>
        <ng-template matStepLabel>Media and Documents</ng-template>
        <!-- <button mat-button matStepperPrevious mat-icon-button class="stepper-back"><img
              src="assets/images/left-arrow.svg" /></button>
          <button mat-button matStepperNext mat-icon-button class="stepper-next"><img
              src="assets/images/right-arrow-active.svg" /></button>
          <div class="blank-div">&nbsp;</div> -->
      </mat-step>
    </mat-horizontal-stepper>
  </ng-container>

  <!-- <ion-grid *ngIf="pageNo===3">
    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin" id="property-details-card">
          <app-property-details [propertyDetails]="propertyData"></app-property-details>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
