@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

#fault-details {
  --padding-top: var(--ion-padding-top);
  --padding-end: var(--ion-padding-end);
  --padding-bottom: var(--ion-padding-bottom);
  --padding-start: var(--ion-padding-start);

  h2.heading {
    color: var(--ion-color-danger);
    @include set-text-style(22px, 26px);
  }

  h2.heading-initial {
    text-align: right;
    img {
      vertical-align: text-bottom;
      width: 24px;
    }
  }

  .block {
    @include border-radius(5px);
    background-color: var(--ion-color-step-1900);
    text-align: center;
    // min-height: 225px;
    // height: 225px;
    min-height: 130px;
    height: 130px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
    margin: 4px;

    img {
      width: 75%;
      max-width: 168px;
    }

    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .block:hover {
    transform: scale(1.02);
    background-color: var(--ion-color-danger-shade);
    color: var(--ion-color-step-2000);
  }

  .block.active {
    background-color: var(--ion-color-danger-shade);
    transform: scale(1.02);
    color: var(--ion-color-step-2000);
  }

  .priority-heading {
    @include set-text-style(14px, 17px);
    margin-top: 25px;
  }

  .non-urgent-btn,
  .urgent-btn,
  .emergency-btn {
    --color: var(--ion-color-step-2000);
    @include set-text-style(16px, 20px);
    width: 200px;
    height: 40px;
    margin: 0;
  }

  .non-urgent-btn {
    --background: rgba(var(--ion-color-primary-rgb), 0.35);
    &.urgency-selected {
      --background: var(--ion-color-primary);
    }
  }

  .urgent-btn {
    --background: rgba(var(--ion-color-warning-rgb), 0.35);
    margin: 10px;
    &.urgency-selected {
      --background: var(--ion-color-warning);
    }
  }

  .emergency-btn {
    --background: rgba(var(--ion-color-danger-rgb), 0.35);
    &.urgency-selected {
      --background: var(--ion-color-danger);
    }
  }

  .panel-block-normal {
    background-color: var(--ion-color-step-2000);
    @include border-radius(5px);
    width: calc(100% - 16px);
    position: relative;
    padding: 10px 20px;
    min-height: 200px;
    height: 400px;
    margin: 0 10px 10px;

    ion-grid {
      height: 100%;

      .main-row {
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 100%;

        .col2 {
          align-self: end;
          text-align: right;

          ion-button {
            margin: 0 5px;
          }

          ion-button:last-child {
            margin-right: 0;
          }

          .cancel-button {
            --background: var(--ion-color-danger);
          }
        }
      }
    }

    ion-item {
      --background: transparent;
    }
  }

  .additional-info-container {
    @include border-radius(5px);
    background-color: var(--ion-color-step-1650);
    margin: 20px 0 0;
    padding: 20px;
  }

  .close-circle {
    font-size: 40px;
    color: var(--ion-color-danger);
    margin-top: 12px;
    cursor: pointer;
  }

  .edit-title {
    ion-input {
      --padding-bottom: 0px;
    }
  }

  .view-details {
    width: 60%;
    margin: 0 auto;

    .title {
      text-align: center;
      margin-bottom: 15px;
      margin-top: 40px;
      font-weight: 700;
      @include set-text-style(24px, 30px);
    }

    .sub-heading {
      margin-top: 15px;
      margin-bottom: 5px;
      @include set-text-style(20px, 26px);
    }

    .header-content {
      .header {
        color: var(--ion-color-step-800);
        @include set-text-style(14px, 19px);
      }

      .content {
        @include set-text-style(16px, 20px);
      }
    }

    .border-bottom {
      padding-left: 0;
      outline-offset: -6px;
      outline: 1px solid var(--ion-color-step-1050);
    }
  }
}

.landlord-instructions,
.arranging-contractor,
.fault-qualification {
  .action-btn {
    margin-right: 20px;
  }
  .banner {
    text-align: center;
    background: var(--ion-background-color);
    border-radius: 8px;
    padding: 30px 30px;
    margin-bottom: 20px;
    .icon-button {
      @include set-text-style(16px, 20px);
      height: 40px;
      ion-icon {
        padding-left: 16px;
        @include set-text-style(30px, 20px);
      }
    }
    ion-button {
      background-color: white;
      border-radius: 4px;
    }
    .check-icon {
      padding-left: 16px;
    }
  }
  .ownRepair {
    color: var(--ion-color-danger);
    font-size: 14px;
    margin-top: 1px;
  }
  .question-answer {
    text-align: center;
    ion-button.option {
      text-transform: none;
    }
    .border-bottom {
      border: 1px solid var(--ion-color-step-1400);
      margin: 20px 0px;
    }
  }
  .preferred-supplier {
    margin-top: 30px;
    table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid var(--ion-color-step-1600);
    }

    th {
      background-color: var(--ion-color-step-1400);
    }
    td,
    th {
      text-align: left;
      padding: 15px;
    }
    tr:nth-child(even) {
      background-color: var(--ion-color-step-1800);
    }
    tr:nth-child(odd) {
      background-color: var(--ion-color-step-1600);
    }
  }
}
:host ::ng-deep .mat-form-field-wrapper {
  position: absolute !important;
  width: 100%;
}

.contractor-list {
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute !important;
  z-index: 5 !important;
  cursor: pointer;
}

.back-button {
  cursor: pointer;
  font-size: 20px;
  margin-top: 3px;
}

.display-none {
  display: none;
}

.folder-wrapper {
  text-align: center;
  height: 180px;
  padding-top: 45px;
  cursor: pointer;
}

.folder-icon {
  font-size: 100px;
  color: #939393bf;
}

.folder-icon:hover {
  color: #939393;
}

.fault-description{
  --padding-bottom: 0px !important;
}

.response-recived{
  color: var(--ion-color-primary);
}

.awaiting-response{
  color: var(--ion-color-warning);
}

.response-circle{
  font-size: 13px;
}

.fault-title{
  .material-icons{
    font-size: 21px;
    margin-top: 10px;
  }
  padding: 0px 20px 0px 20px;
}

.edit-title-icon{
  margin-left: 0px !important;
}

.contractor-error-message{
  color: var(--ion-color-danger);
  padding-top:2px;
  font-size: 14px;
}

.tab-skeleton {
  padding-left: 5px;
  padding-right: 10px;
  ion-col{
    padding-right: 0px;
  }
  ion-skeleton-text{
    height: 50px;
  }
}

.input-skeleton{
  padding-left: 5px;
  padding-right: 10px;
  ion-skeleton-text{
    height: 25px;
  }
  ion-thumbnail > ion-skeleton-text{
    height: 160px;
    width: 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .landlord-instructions,
  .arranging-contractor,
  .fault-qualification {
    padding: 0px 20px 0px 20px;
  }
}
