@mixin set-text-style($size, $lheight, $family) {
  font-size: $size;
  line-height: $lheight;
  font-family: $family;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

#fault-details {
  --padding-top: var(--ion-padding-top);
  --padding-end: var(--ion-padding-end);
  --padding-bottom: var(--ion-padding-bottom);
  --padding-start: var(--ion-padding-start);

  h2.heading {
    color: var(--ion-color-danger);
    //margin-left:5px;
  }

  .block {
    background-color: var(--ion-color-step-1900);
    text-align: center;
    @include border-radius(5px);
    min-height: 225px;
    height: 225px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
    margin: 4px;

    img {
      width: 75%;
      max-width: 168px;
    }
  }

  .block:hover {
    transform: scale(1.04);
    background: var(--ion-color-step-2000);
  }

  .block.active {
    background-color: var(--ion-color-step-2000);
    transform: scale(1.04);
  }

  .priority-heading{
    font-size: 14px;
    margin-top: 25px;
  }

  .non-urgent-btn,
  .urgent-btn,
  .emergency-btn {
    width: 200px;
    --color: var(--ion-color-step-2000);
    height: 40px;
    opacity: 0.5;
    font-size: 16px;
    margin: 0;
  }

  .non-urgent-btn.urgency-selected,
  .urgent-btn.urgency-selected,
  .emergency-btn.urgency-selected {
    opacity: 1;
  }

  .non-urgent-btn {
    --background: var(--ion-color-primary);
  }

  .urgent-btn {
    --background: var(--ion-color-warning);
    margin: 10px;
  }

  .emergency-btn {
    --background: var(--ion-color-danger);
  }

  .non-urgent {
    --color: var(--ion-color-primary);
  }

  .urgent {
    --color: var(--ion-color-warning);
  }

  .emergency {
    --color: $var(--ion-color-danger);
  }

  .panel-block-normal {
    background-color: var(--ion-color-step-2000);
    border-radius: 5px;
    width: calc(100% - 16px);
    position: relative;
    padding: 10px 20px;
    min-height: 200px;
    height: 400px;
    margin: 0 10px 10px;

    ion-grid{
      height: 100%;

      .main-row{
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 100%;

        .col2{
          align-self: end;
          text-align: right;
        }
      }
    }

    ion-item{
      --background: transparent;
    }
  }

  .additional-info-container{
    @include border-radius(5px);
    background-color: var(--ion-color-step-1650);
    margin: 20px 0;
    padding: 20px;
  }
}
