<ion-header>
  <ion-toolbar>
    <ion-title>{{heading}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="escalateForm">
    <ion-grid class="">
      <ion-row class="">
        <ion-col size="100">
          <h5>This fault will be escalated to the Property Manager and a notification will be sent.<br/> Are you sure?</h5>
        </ion-col>
        <!-- <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Escalated By</ion-label>
            <ion-select interface="popover">
              <ion-select-option [value]="item.index" *ngFor="let item of catList"
                >{{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col> -->
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Escalation Reason</ion-label>
            <ion-textarea formControlName="escalationReason" spellcheck="true" rows="1"></ion-textarea>
          </ion-item>
          <app-validation-message [control]="escalateForm.controls.escalationReason"></app-validation-message>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-grid [class.unsaved-data-error]="unSavedData">
    <ion-row>
      <ng-container *ngIf="unSavedData">
        <ion-col size="70">
          <div class="ion-padding-top">Are you sure you want to cancel the process?</div>
        </ion-col>
        <ion-col size="30" class="ion-text-end">
          <ion-button color="danger" (click)="continue()">No</ion-button>&nbsp;
          <ion-button color="success" (click)="dismiss()">Yes</ion-button>
        </ion-col>
      </ng-container>
      <ng-container *ngIf="!unSavedData">
        <ion-col size="100" class="ion-text-end">
          <ion-button class="cancel-button" (click)="onCancel()">No </ion-button>
          <ion-button class="save-button" (click)="escalateFault()" [disabled]="showLoader">Yes 
            <ion-icon *ngIf="showLoader" name="refresh" class="rotating submit-loader"></ion-icon>
          </ion-button>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>


  <!-- <ion-grid>
    <ion-row>
      <ion-col class="ion-text-end">
        <ion-button (click)="dismiss()">No</ion-button>
        <ion-button (click)="escalateFault()">Yes</ion-button>
      </ion-col>
    </ion-row> -->
  <!-- </ion-grid> -->
</ion-footer>