<mat-accordion class="list-view-accordian" multi>
  <mat-expansion-panel #historyDetails hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        History
      </mat-panel-title>
      <mat-panel-description class="ion-justify-content-end no-margin">
        <div>
          <span *ngIf="!historyDetails.expanded"  class="accordian-icon" title="Expand">
            <ion-icon style="pointer-events:none"  name="add-circle"></ion-icon>
          </span>
          <span *ngIf="historyDetails.expanded" class="accordian-icon" title="Collapse">
            <ion-icon style="pointer-events:none"   name="remove-circle"></ion-icon>
            </span>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ion-card-content id="details">
      <form [formGroup]="group">
        <ion-grid class="no-padding" id="property-history-details">
          <ion-row>
            <ion-col size="16.66" class="no-padding-top-bottom">
              <ion-item>
                <ion-label position="floating"> Created On </ion-label>
                <ion-input formControlName="createdAt" [readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="16.66" class="no-padding-top-bottom">
              <ion-item>
                <ion-label position="floating"> Created By </ion-label>
                <ion-input formControlName="createdBy" [readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="16.66" class="no-padding-top-bottom">
              <ion-item>
                <ion-label position="floating"> Last Status Changed On </ion-label>
                <ion-input formControlName="statusChangedOn" [readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="16.66" class="no-padding-top-bottom">
              <ion-item>
                <ion-label position="floating"> Last Status Changed By </ion-label>
                <ion-input formControlName="statusChangedBy" [readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="16.66" class="no-padding-top-bottom">
              <ion-item>
                <ion-label position="floating"> Marketing Status Changed On </ion-label>
                <ion-input formControlName="maStatusChangedOn" [readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="16.66" class="no-padding-top-bottom">
              <ion-item>
                <ion-label position="floating"> Marketing Status Changed By </ion-label>
                <ion-input formControlName="maStatusChangedBy" [readonly]="true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </mat-expansion-panel>
</mat-accordion>