<ion-grid>
  <ion-row>
    <ion-col size="100" class="select-landlord-text">
      <h4>Step 3: Send</h4>
      <ion-text>
        Please click on the preview button to check the final form if required, or else click on send to proceed.
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="100" class="warning-text">
      <ion-text>
        <strong>Note:</strong> All the records highlighted in red have the wrong email address and/or template so we
        might not be able to process them for email but print if the preference is 'Email & Print'. Please update the
        correction to process in future.
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="100" style="margin-top: 10px;">
      <div class="overlay-container" style="position: relative">
        <table datatable [dtOptions]="dtOption" class="row-border hover table-width" style="position: relative"
          id="hmrc-preview-and-send-table" aria-describedby="previewAndSend">
          <thead>
            <tr>
              <th scope="col" style="width: 5%;">Select </th>
              <th scope="col" style="width: 12%;">Property Ref</th>
              <th scope="col" style="width: 20%;">Property Address</th>
              <th scope="col" style="width: 20%;">Landlord Name</th>
              <th scope="col" style="width: 20%;">Email Address</th>
              <th scope="col">Statement Preference</th>
              <th scope="col" style="width:36px"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of landlordList; let i=index" class="table-row">
              <td>
                <ion-checkbox color="success" style="margin-bottom: 0;" [checked]="data?.checked"
                  [value]="data.propertyLinkId" (ionChange)="onCheckboxChange($event)"
                  id="checkbox_{{data.propertyLinkId}}" [disabled]="data.isDisabled">
                </ion-checkbox>
              </td>
              <td>{{ data.propertyReference || DEFAULTS.NOT_AVAILABLE}}</td>
              <td>
                <span matTooltip="{{ (data.propertyAddress | address) }}" matTooltipPosition="above">
                  {{data.propertyAddress | address:'partial'
                  || DEFAULTS.NOT_AVAILABLE}}
                </span>
              </td>
              <td>{{data.landlordFullName || DEFAULTS.NOT_AVAILABLE}} </td>
              <td><span [class.data-highlighted]="data.invalid">{{data.landlordEmail || DEFAULTS.NOT_AVAILABLE}}</span>
              </td>
              <td>{{(data.statementPreference | lookup: statementPreferences) || DEFAULTS.NOT_AVAILABLE}}</td>
              <td class="resp-action-icon">
                <i class="propcoicon propcoicon-viewings action-btn" (click)="onRowClick(data)"></i>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="landlordList?.length === 0">
            <tr>
              <td colspan="7" class="no-data-available" style="text-align: center;">
                <strong>{{DEFAULT_MESSAGES.NO_DATA_FOUND}}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>