.select-landlord-text {
    h4 {
        color: var(--ion-color-primary);
        margin-bottom: 15px;
    }
    ion-text {
        color: var(--ion-color-three);
    }
}
.ion-color-warning {
    --ion-color-contrast: unset !important;
}

.propcoicon.action-btn {
    background-color: transparent !important;
}
.propcoicon.action-btn:hover {
    color: var(--ion-color-warning-shade);
}

.warning-text {
    ion-text {
        color: var(--ion-color-warning);
        font-style: italic;
        font-size: 15px;
    }
}

.data-highlighted {
    color: var(--ion-color-primary);
}

.propcoicon.action-btn.action-button {
    background-color: var(--ion-color-five) !important;
}