<ion-grid>
  <ion-row>
    <ion-col size="100" class="select-landlord-text">
      <h4>Step 3: Preview & Send</h4>
      <ion-text>
        Please click on preview button to check the final form if required else click on send to share per
        preferred mode of communication.
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="100" class="warning-text">
      <ion-text>
        <strong>Note:</strong> All the records highlighted in red have the wrong email address and/or temion-textlate so
        we might not be able to process them for email but print if the preference is 'Email & Print'. Please update the
        correction to process in future.
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="20">
      <!-- <form [formGroup]="group">
        <ion-item>
          <ion-label position="floating">Statement Preference by</ion-label>
          <ion-select formControlName="statementPreference" interface="popover" (ionChange)="onPreferenceChange()">
            <ion-select-option [value]="option.index" *ngFor="let option of statementPreferences" checked="true">
              {{option.value}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </form> -->
    </ion-col>
    <ion-col size="80" class="ion-text-right align-self-center ion-align-self-center" style="margin-top: 10px;">
      <ion-text>{{(selectedHmrcLandlordCount || 0) | number:'1.0'}} record(s) selected</ion-text>
    </ion-col>
    <ion-col size="100" style="margin-top: 10px;">
      <div class="overlay-container" style="position: relative">
        <table datatable [dtOptions]="dtOption" class="row-border hover" style="width: 100%; position: relative"
          id="hmrc-preview-and-send-table">
          <thead>
            <tr>
              <th style="width: 5%;">Select </th>
              <th style="width: 12%;">Property Reference</th>
              <th style="width: 20%;">Property Address</th>
              <th style="width: 20%;">Landlord/Owner Full Name</th>
              <th style="width: 20%;">Email Address</th>
              <th>Statement Preference</th>
              <th style="width:36px"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of landlordList; let i=index" class="table-row">
              <td>
                <ion-checkbox color="success" style="margin-bottom: 0;" [checked]="data?.checked"
                  [value]="data.propertyLinkId" (ionChange)="onCheckboxChange($event)"
                  id="checkbox_{{data.propertyLinkId}}" [disabled]="data.isDisabled">
                </ion-checkbox>
              </td>
              <td>{{ data.propertyReference || DEFAULTS.NOT_AVAILABLE}}</td>
              <td>
                <span matTooltip="{{ (data.propertyAddress | address) }}" matTooltipPosition="above">
                  {{data.propertyAddress | address:'partial'
                  || DEFAULTS.NOT_AVAILABLE}}
                </span>
              </td>
              <td>{{data.landlordFullName || DEFAULTS.NOT_AVAILABLE}} </td>
              <td><span [class.data-highlited]="data.invalid">{{data.landlordEmail || DEFAULTS.NOT_AVAILABLE}}</span>
              </td>
              <td>{{(data.statementPreference | lookup: statementPreferences) || DEFAULTS.NOT_AVAILABLE}}</td>
              <td class="resp-action-icon">
                <i class="propcoicon propcoicon-viewings action-btn"></i>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="landlordList?.length === 0">
            <tr>
              <td colspan="7" class="no-data-available" style="text-align: center;">
                <b>{{DEFAULT_MESSAGES.NO_DATA_FOUND}}</b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>