<ion-content id="market-appraisal">
  <ion-segment [(ngModel)]="type" class="segment-card" id="marketAppraisalTabs">
    <ion-segment-button value="contact" checked>
      <ion-label>MA Contact</ion-label>
    </ion-segment-button>
    <ion-segment-button value="property">
      <ion-label>Property</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-landlord-search [type]="type"></app-landlord-search>

  <div [hidden]="type != 'contact'">
    <app-ma-contact [group]="maForm.controls['contactForm']"></app-ma-contact>
  </div>

  <div [hidden]="type != 'property'">
    <app-ma-property [group]="maForm.controls['propertyForm']" [contactGroup]="maForm.controls['contactForm']"></app-ma-property>
  </div>

  <div class="button-block">
    <ion-row>
      <ion-col class="ion-text-end">
        <ion-button color="danger" (click)="cancel()">Cancel</ion-button>
        <ion-button color="success" (click)="changeSegment()">{{type==='contact'? 'Go To Property' : 'Go To Contact'}}</ion-button>
        <ion-button color="success" (click)="saveWithoutBooking()">Save
          Without Booking</ion-button>
        <ion-button color="success" (click)="bookMa()" [disabled]="maForm.get('contactForm').invalid || maForm.get('propertyForm').invalid">Book MA</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>