<ion-content id="la-guarantor-application-list">
  <ion-grid>
    <ion-row>
      <ion-col size="50" class="heading">
        <div>
          <ion-icon name="arrow-back-outline" style="vertical-align: bottom;cursor: pointer;" (click)="goBack()"></ion-icon>
           &nbsp;Guarantor list for {{referenceNumber}}
        </div>
      </ion-col>
      <ion-col size="50" class="la-logo">
        <img src="assets/images/referencing/la-logo.svg"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="applicationFilterForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button class="no-margin-left" (click)="goToGuarantorDetails()">Add</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <ion-grid>
      <ion-row>
        <ion-col size="100">
          <div class="overlay-container" style="position: relative">
            <table datatable [dtOptions]="dtOptions[0]" class="row-border hover"
              style="width: 100%; position: relative">
              <thead>
                <tr>
                  <th style="width:9%; min-width: 80px;">Reference No.</th>
                  <th style="width:16%">Guarantor Name</th>
                  <th style="width:12%">Branch</th>
                  <th style="width:10%; min-width: 80px;">Tenancy Start</th>
                  <th style="width:9%; min-width: 80px;">Rent Share</th>
                  <th style="width:9%; min-width: 80px;">Submission Date</th>
                  <th>Product Type</th>
                  <th style="width:17%">Application Status</th> 
                  <th style="width:36px"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let application of applicationList" class="table-row">
                  <td>{{application.referenceNumber || '-'}}</td>
                  <td>{{application.applicantDetail.displayAs ? application.applicantDetail.displayAs : 
                    (application.applicantDetail.addressee ? application.applicantDetail.addressee : application.applicantDetail.forename
                    + ' ' + application.applicantDetail.surname) || '-'}}</td>
                  <td>{{application.office || '-'}}</td>
                  <td>{{application.tenancyStartDate|| '-' | date : 'dd/MM/yyyy' }}</td>
                  <td>{{application.rentShare || '0' | currency: '£'}}</td>
                  <td>{{application.dateOfSubmission || '-' | date : 'dd/MM/yyyy' }}</td>
                  <td>{{getProductType(application.product, 'application') || '-'}}</td>
                  <td>{{getLookupValue(application.applicationStatus, referencingApplicantStatusTypes) || '-'}}</td>
                  <td class="resp-action-icon">
                    <i (click)="showMenu($event, 'divOverlay', application, 'table-row')"
                      class="propcoicon propcoicon-actions-on"></i>
                  </td>
                </tr>
                <tr *ngIf="applicationList?.length == 0">
                  <td colspan="11" class="no-data-available" style="text-align: center;"><b>No data found!</b></td>
              </tr>
              </tbody>
            </table>
            <div id="divOverlay">
              <ion-button (click)="openApplicationStatus()">Check Status</ion-button>
              <ion-button (click)="resendLink()" *ngIf="selectedData?.applicationStatus == 0">Resend Link</ion-button>
              <i (click)="hideMenu($event,'divOverlay')" class="propcoicon propcoicon-actions-on"></i>
            </div>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>