<ion-content>
  <ion-grid class="offer-details">
    <app-tob-property-details [propertyDetails]="propertyDetails" [rentFrequencyTypes]="rentFrequencyTypes">
    </app-tob-property-details>
    <ion-grid>
      <ion-row>
        <ion-col size="100">
          <mat-horizontal-stepper class="stepper-section" id="application-stepper" #stepper labelPosition="bottom"
            [selectedIndex]="currentStepperIndex">
            <mat-step>
              <ng-container *ngTemplateOutlet="occupants"></ng-container>
              <ng-template matStepLabel>Occupants</ng-template>
              <div class="action-btn-section">
                <ion-button color="danger" (click)=onCancel()>Cancel</ion-button>&nbsp;
                <button mat-button matStepperNext class="stepper-next">Next</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-container *ngTemplateOutlet="applicantDetails"></ng-container>
              <ng-template matStepLabel>Applicant Details</ng-template>
              <div class="action-btn-section">
                <ion-button color="danger" (click)=onCancel()>Cancel</ion-button>&nbsp;
                <button mat-button matStepperPrevious class="stepper-back">Back</button>&nbsp;
                <button mat-button matStepperNext class="stepper-next">Next</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-container *ngTemplateOutlet="applicantAddress"></ng-container>
              <ng-template matStepLabel>Address</ng-template>
              <div class="action-btn-section">
                <ion-button color="danger" (click)=onCancel()>Cancel</ion-button>&nbsp;
                <button mat-button matStepperPrevious class="stepper-back">Back</button>&nbsp;
                <button mat-button matStepperNext class="stepper-next">Next</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-container *ngTemplateOutlet="bankDetails"></ng-container>
              <ng-template matStepLabel>Bank Details</ng-template>
              <div class="action-btn-section">
                <ion-button color="danger" (click)=onCancel()>Cancel</ion-button>&nbsp;
                <button mat-button matStepperPrevious class="stepper-back">Back</button>&nbsp;
                <button mat-button matStepperNext class="stepper-next">Next</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-container *ngTemplateOutlet="applicationQuestion"></ng-container>
              <ng-template matStepLabel>Application Questions</ng-template>
              <div class="action-btn-section">
                <ion-button color="danger" (click)=onCancel()>Cancel</ion-button>&nbsp;
                <button mat-button matStepperPrevious class="stepper-back">Back</button>&nbsp;
                <button mat-button matStepperNext class="stepper-next">Next</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-container *ngTemplateOutlet="tenancyDetails"></ng-container>
              <ng-template matStepLabel>Tenancy Details</ng-template>
              <div class="action-btn-section">
                <ion-button color="danger" (click)=onCancel()>Cancel</ion-button>&nbsp;
                <button mat-button matStepperPrevious class="stepper-back">Back</button>&nbsp;
                <button mat-button matStepperNext class="stepper-next">Next</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-container *ngTemplateOutlet="restriction"></ng-container>
              <ng-template matStepLabel>Restrictions</ng-template>
              <div class="action-btn-section">
                <ion-button color="danger" (click)=onCancel()>Cancel</ion-button>&nbsp;
                <button mat-button matStepperPrevious class="stepper-back">Back</button>&nbsp;
                <button mat-button matStepperNext class="stepper-next">Next</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-container *ngTemplateOutlet="clauses"></ng-container>
              <ng-template matStepLabel>Clauses </ng-template>
              <div class="action-btn-section">
                <ion-button color="danger" (click)=onCancel()>Cancel</ion-button>&nbsp;
                <button mat-button matStepperPrevious class="stepper-back">Back</button>&nbsp;
                <button mat-button matStepperNext class="stepper-next">Next</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-container *ngTemplateOutlet="guarantorDetails"></ng-container>
              <ng-template matStepLabel>Guarantor Details</ng-template>
              <div class="action-btn-section">
                <ion-button color="danger" (click)=onCancel()>Cancel</ion-button>&nbsp;
                <button mat-button matStepperPrevious class="stepper-back">Back</button>&nbsp;
                <button mat-button matStepperNext class="stepper-next">Next</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-container *ngTemplateOutlet="FinalView"></ng-container>
              <ng-template matStepLabel>Review</ng-template>
              <div class="action-btn-section">
                <ion-button color="danger" (click)=onCancel()>Cancel</ion-button>&nbsp;
                <ion-button color="success">Submit</ion-button>
                <button class="next-back-button" mat-button matStepperPrevious class="stepper-back">Back</button>&nbsp;
              </div>
            </mat-step>
            <mat-step>
              <ng-container *ngTemplateOutlet="payment"></ng-container>
              <ng-template matStepLabel>Holding Deposit</ng-template>
              <div class="action-btn-section">
                <ion-button color="danger" (click)=onCancel()>Cancel</ion-button>&nbsp;
                <button mat-button matStepperPrevious class="stepper-back">Back</button>&nbsp;
                <button mat-button matStepperNext class="stepper-next">Next</button>
              </div>
            </mat-step>

          </mat-horizontal-stepper>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>

<ng-template #occupants>
  <ion-grid id="occupant-details">
    <ion-row>
      <ion-col size="100" class="list-section">
        <ion-grid class="header">
          <ion-row class="">
            <ion-col size="15">
              <ion-text>Forename</ion-text>
            </ion-col>
            <ion-col size="15">
              <ion-text>Surname</ion-text>
            </ion-col>
            <ion-col size="30">
             <ion-text>Email Address</ion-text>
            </ion-col>
            <ion-col size="20">
              <ion-text>Mobile</ion-text>
            </ion-col>
            <ion-col size="10">
              <ion-text>Lead</ion-text>
            </ion-col>
            <ion-col size="10">
              <ion-text>Remove</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <form [formGroup]="occupantForm">
          <ion-grid class="content">
            <ng-container formArrayName="coApplicants">
              <ion-row *ngFor="let item of occupantForm.get('coApplicants')['controls']; let i=index">
                <ng-container [formGroupName]="i">
                  <ng-container *ngIf="item.controls['isAdded'].value && !item.controls['isDeleted'].value">
                    <ion-grid class="list-content">
                      <ion-row>
                        <ion-col size="15">
                          <ion-text>
                            {{item.controls['forename'].value}}
                          </ion-text>
                        </ion-col>
                        <ion-col size="15">
                          <ion-text>
                            {{ item.controls['surname'].value}}
                          </ion-text>
                        </ion-col>
                        <ion-col size="30">
                          <ion-text>
                            {{item.controls['email'].value}}
                          </ion-text>
                        </ion-col>
                        <ion-col size="20">
                          <ion-text>
                            {{item.controls['mobile'].value || 'N/A'}}
                          </ion-text>
                        </ion-col>
                        <ion-col size="10">
                          <ion-checkbox class="ml-15" style="opacity: unset;" formControlName="isLead" (ionChange)="onLeadSelection(item)" [checked]="item.controls['isLead'].value"
                          [disabled]="item.controls['isLead'].value"
                            color="success"></ion-checkbox>
                        </ion-col>
                        <ion-col size="10">
                          <ion-icon (click)="removeCoApplicant(item)" color="danger" class="remove-btn"
                          *ngIf="!item.controls['isLead'].value"
                            name="close-circle">
                          </ion-icon>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ng-container>
                  <ng-container *ngIf="!item.controls['isAdded'].value">
                    <ion-col size="15">
                      <ion-item>
                        <ion-label position="floating">Forename <ion-text class="mandatory">*</ion-text>
                        </ion-label>
                        <ion-input type="text" formControlName="forename"></ion-input>
                      </ion-item>
                      <app-validation-message [control]="item.controls.forename"></app-validation-message>
                    </ion-col>
                    <ion-col size="15">
                      <ion-item>
                        <ion-label position="floating">Surname <ion-text class="mandatory">*</ion-text>
                        </ion-label>
                        <ion-input type="text" formControlName="surname"></ion-input>
                      </ion-item>
                      <app-validation-message [control]="item.controls.surname"></app-validation-message>
                    </ion-col>
                    <ion-col size="30">
                      <ion-item>
                        <ion-label position="floating">Email address <ion-text class="mandatory">*</ion-text>
                        </ion-label>
                        <ion-input type="email" formControlName="email"></ion-input>
                      </ion-item>
                      <app-validation-message [control]="item.controls.email"></app-validation-message>
                    </ion-col>
                    <ion-col size="20">
                      <ion-item>
                        <ion-label position="floating">Phone <ion-text class="mandatory">*</ion-text>
                        </ion-label>
                        <ion-input type="text" formControlName="mobile"></ion-input>
                      </ion-item>
                      <app-validation-message [control]="item.controls.mobile"></app-validation-message>
                    </ion-col>
                    <ion-col style="padding-top: 5px" size="20">
                      <ion-button color="success" [disabled]="!occupantForm.valid" (click)="addApplicant(item,i)">Add
                        New</ion-button>
                    </ion-col>
                  </ng-container>
                  <ng-container *ngIf="!item.controls['isAdded'].value">
                    <ion-grid>
                      <ion-row class="ion-justify-content-end search-row" [formGroup]="searchApplicantForm">
                        <ion-col size-sm="50" size-xl="35" id="tob-applicant-search">
                          <ion-item>
                            <ion-label position="floating">Start Typing to Search Applicants</ion-label>
                            <ion-input type="text" debounce="300" (ionInput)="onSearch($event)"
                              formControlName='searchApplicant'>
                            </ion-input>
                            <ion-icon class="input-close" (click)="resetSearch()"
                              *ngIf="searchApplicantForm.controls.searchApplicant.value.length > 2 && !applicantDetail"
                              color="medium" name="close-circle"></ion-icon>
                          </ion-item>
  
                          <ion-list class="applicant-list" *ngIf="resultsAvailable">
                            <ion-item *ngFor="let result of (applicantList | async)?.data" button
                              (click)="getApplicantDetails(result?.entityId, i)" button>
                              <span>
                                <i class="propcoicon no-background propcoicon-contractor"></i>
                              </span>&nbsp;
                              <label color="dark">{{result.fullName}}&nbsp;
                                <ion-text color="medium">{{result.address}}</ion-text>&nbsp;
                                <ion-text color="medium">{{result.reference}}</ion-text>&nbsp;
                                <ion-text color="success">{{result.status}}</ion-text>&nbsp;
                              </label>
                            </ion-item>
                          </ion-list>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ng-container>
                </ng-container>
              </ion-row>
            </ng-container>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-button (click)="saveApplicantsToApplication()">Submit</ion-button> -->
</ng-template>

<ng-template #applicantDetails>
  <form id="applicantDetailsForm" [formGroup]="applicantDetailsForm">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating"> Title </ion-label>
            <ion-select interface="popover" formControlName="title">
              <ion-select-option class="wider-popover" [value]="item?.value" *ngFor="let item of titleList">
                {{ item?.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="applicantDetailsForm.controls.title"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating"> Forename </ion-label>
            <ion-input type="text" formControlName="forename"></ion-input>
          </ion-item>
          <app-validation-message [control]="applicantDetailsForm.controls.forename"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating"> Surname </ion-label>
            <ion-input type="text" formControlName="surname"></ion-input>
          </ion-item>
          <app-validation-message [control]="applicantDetailsForm.controls.surname"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating"> Mobile </ion-label>
            <ion-input type="text" formControlName="mobile"></ion-input>
          </ion-item>
          <app-validation-message [control]="applicantDetailsForm.controls.mobile"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating"> Email </ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
          <app-validation-message [control]="applicantDetailsForm.controls.email"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3" style="padding-top: 21px;">
          <mat-form-field appearance="fill">
            <mat-label> Date of birth *</mat-label>
            <input matInput [matDatepicker]="picker3" [max]="currentDate" formControlName="dateOfBirth" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
          <div style="margin-top: -20px !important;">
            <app-validation-message [control]="applicantDetailsForm.controls.dateOfBirth"></app-validation-message>
          </div>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating"> Current Position </ion-label>
            <ion-select interface="popover" formControlName="currentPosition">
              <ion-select-option [value]="item?.index" *ngFor="let item of tenantCurrentPositionTypes">
                {{ item?.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating"> Occupation </ion-label>
            <ion-input type="text" formControlName="occupation"></ion-input>
          </ion-item>
          <app-validation-message [control]="applicantDetailsForm.controls.occupation"></app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item lines="full" class="margin-top-7">
            <ion-label>Do you have a guarantor?</ion-label>
            <ion-toggle (ionChange)="isGurantorEnable()" formControlName="guarantor" color="tertiary">
            </ion-toggle>
          </ion-item>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating"> Guarantor Type <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-select interface="popover" formControlName="guarantorType"  [disabled]="!applicantDetailsForm.controls['guarantor'].value">
              <ion-select-option [value]="item?.index" *ngFor="let item of applicantGuarantorTypes">
                {{ item?.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="applicantDetailsForm.controls.guarantorType">
          </app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item lines="full" class="margin-top-7">
            <ion-label>Any Pets?</ion-label>
            <ion-toggle formControlName="hasPets" color="tertiary"></ion-toggle>
          </ion-item>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating">Pets description</ion-label>
            <ion-input type="text" formControlName="petsInfo"
              [disabled]="!applicantDetailsForm.controls['hasPets'].value"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ng-template>

<ng-template #applicantAddress>
  <form [formGroup]="addressDetailsForm" id="addressDetailsForm">
    <ion-grid>
      <ion-row class="ion-justify-content-center" formGroupName="address">
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating"> Postcode <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-input type="text" formControlName="postcode"></ion-input>
            <ion-button color="success" [disabled]="showPostcodeLoader" class="postcode-search"
              (click)="getAddressList('personal')">Lookup
              <ion-icon *ngIf="showPostcodeLoader" name="refresh" class="rotating submit-loader"></ion-icon>
            </ion-button>
          </ion-item>
          <app-validation-message [control]="addressDetailsForm.controls.address['controls'].postcode">
          </app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating"> Address 1 <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-input type="text" formControlName="addressLine1"></ion-input>
          </ion-item>
          <app-validation-message [control]="addressDetailsForm.controls.address['controls'].addressLine1">
          </app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="16.5">
          <ion-item>
            <ion-label position="floating">Locality</ion-label>
            <ion-input type="text" formControlName="locality"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="100" size-sm="16.5">
          <ion-item>
            <ion-label position="floating">Town <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-input type="email" formControlName="town"></ion-input>
          </ion-item>
          <app-validation-message [control]="addressDetailsForm.controls.address['controls'].town">
          </app-validation-message>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating">Select address</ion-label>
            <ion-select interface="popover" formControlName="addressdetails"
              (ionChange)="getAddressDetails(selectedGuarantorAddress.value, 'personal')" [disabled]="!addressList"
              #selectedGuarantorAddress>
              <ion-select-option [value]="address?.id" *ngFor="let address of addressList">{{ address?.text }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating">Address 2</ion-label>
            <ion-input type="text" formControlName="addressLine2"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="100" size-sm="16.5">
          <ion-item>
            <ion-label position="floating">County</ion-label>
            <ion-input type="text" formControlName="county"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="100" size-sm="16.5">
          <ion-item>
            <ion-label position="floating">Country</ion-label>
            <ion-input type="text" formControlName="country"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ng-container *ngIf="propertyType == 'Student'">
        <ion-row formGroupName="correspondenceAddress">
          <ion-col size="100">
            <div class="page-heading" [ngClass]="{'term-time':(propertyType == 'Student')}">Term Time Address</div>
          </ion-col>
          <ion-col size-xs="100" size-sm="33.3">
            <ion-item>
              <ion-label position="floating">Postcode <ion-text class="mandatory">*</ion-text>
              </ion-label>
              <ion-input type="text" formControlName="postcode"></ion-input>
              <ion-button class="postcode-search" [disabled]="showAddressLoader" color="success"
                (click)="getAddressList('correspondence-address')"> Lookup
                <ion-icon *ngIf="showAddressLoader" name="refresh" class="rotating submit-loader"></ion-icon>
              </ion-button>
            </ion-item>
            <app-validation-message [control]="addressDetailsForm.controls.correspondenceAddress['controls'].postcode">
            </app-validation-message>
          </ion-col>
          <ion-col size-xs="100" size-sm="33.3">
            <ion-item>
              <ion-label position="floating">Address 1 <ion-text class="mandatory">*</ion-text>
              </ion-label>
              <ion-input type="text" formControlName="addressLine1"></ion-input>
            </ion-item>
            <app-validation-message
              [control]="addressDetailsForm.controls.correspondenceAddress['controls'].addressLine1">
            </app-validation-message>
          </ion-col>          
          <ion-col size-xs="100" size-sm="16.5">
            <ion-item>
              <ion-label position="floating">Locality</ion-label>
              <ion-input type="text" formControlName="locality"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="100" size-sm="16.5">
            <ion-item>
              <ion-label position="floating">Town <ion-text class="mandatory">*</ion-text>
              </ion-label>
              <ion-input type="email" formControlName="town"></ion-input>
            </ion-item>
            <app-validation-message [control]="addressDetailsForm.controls.correspondenceAddress['controls'].town">
            </app-validation-message>
          </ion-col>
          <ion-col size-xs="100" size-sm="33.3">
            <ion-item>
              <ion-label position="floating">Select address</ion-label>
              <ion-select interface="popover" formControlName="addressdetails"
                (ionChange)="getAddressDetails(correspondenceAddress.value, 'correspondence-address')"
                [disabled]="!correspondenceAddressList" #correspondenceAddress>
                <ion-select-option [value]="address?.id" *ngFor="let address of correspondenceAddressList">
                  {{ address?.text }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size-xs="100" size-sm="33.3">
            <ion-item>
              <ion-label position="floating">Address 2</ion-label>
              <ion-input type="text" formControlName="addressLine2"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="100" size-sm="16.5">
            <ion-item>
              <ion-label position="floating">County</ion-label>
              <ion-input type="text" formControlName="county"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="100" size-sm="16.5">
            <ion-item>
              <ion-label position="floating">Country</ion-label>
              <ion-input type="text" formControlName="country"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </form>
</ng-template>

<ng-template #bankDetails>
  <form id="bank-details" [formGroup]="bankDetailsForm">
    <ion-grid>
      <ion-row formGroupName="bankDetails">
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating">Bank Name</ion-label>
            <ion-input type="text" formControlName="bankName"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating">Sort code</ion-label>
            <ion-input type="text" formControlName="sortcode" maxlength="8"></ion-input>
          </ion-item>
          <app-validation-message [control]="bankDetailsForm.controls.bankDetails['controls'].sortcode">
          </app-validation-message>
        </ion-col>        
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating">Account name</ion-label>
            <ion-input type="email" formControlName="accountName"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating">Account number</ion-label>
            <ion-input type="text" maxlength="8" formControlName="accountNumber"></ion-input>
          </ion-item>
          <app-validation-message [control]="bankDetailsForm.controls.bankDetails['controls'].accountNumber">
          </app-validation-message>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ng-template>

<ng-template #applicationQuestion>
  <form [formGroup]="applicantQuestionForm" id="question-details">
    <ng-container formArrayName="questions">
      <ion-grid class="ion-no-padding">
        <ion-row *ngFor="let question of applicantQuestionForm.get('questions')['controls']; let in=index"
          class="ion-justify-content-between ion-align-items-center">
          <ng-container [formGroupName]="in">
            <ion-col size="100" class="ion-align-self-end no-padd-top-bottom">
              <ion-item lines="none" class="marg-top-16">
                <ion-label style="color:var(--ion-color-dark) !important" class="ion-text-wrap">
                  {{question.controls['question'].value}}
                </ion-label>
                <ion-toggle [checked]="" formControlName="toggle" color="tertiary"></ion-toggle>
              </ion-item>
            </ion-col>
            <ion-col size-xs="100" size-sm="33.3">
              <mat-form-field appearance="fill" *ngIf="question.controls['type'].value === 'DATE'">
                <mat-label> Date and time </mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="answer" [disabled]="!question.controls['toggle'].value" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>

              <ion-item *ngIf="question.controls['type'].value === 'TEXT'">
                <ion-label position="floating">Answer</ion-label>
                <ion-input formControlName="answer"></ion-input>
              </ion-item>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ng-container>
  </form>
</ng-template>

<ng-template #tenancyDetails>
  <form id="tenancy-details" [formGroup]="tenancyDetailForm">
    <ion-grid>
      <ion-row class="ion-justify-content-start">
        
        <ion-col size-xs="100" size-sm="33.3" class="header-content">
          <ion-text class="header">Rent</ion-text><br />
          <ion-text class="content">
            {{ applicationDetails?.rent ? (applicationDetails?.rent  | currency: "GBP" ) : (propertyDetails?.advertisementRent | currency: "GBP") }}            
          </ion-text>
        </ion-col>

        <ion-col size-xs="100" size-sm="33.3" class="header-content">
          <ion-text class="header">Deposit</ion-text><br />
          <ion-text class="content">
            {{ applicationDetails?.depositAmount ? (applicationDetails?.depositAmount  | currency: "GBP") : (propertyDetails?.holdingDeposit | currency: "GBP") }}
          </ion-text>
        </ion-col>

        <ion-col size-xs="100" size-sm="33.3" style="padding-top: 21px;">
          <mat-form-field appearance="fill">
            <mat-label>When would you like to move in? *</mat-label>
            <input matInput [matDatepicker]="picker" [max]="maxMoveInDate" [min]="currentDate" formControlName="moveInDate" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div style="margin-top: -20px !important;">
            <app-validation-message [control]="tenancyDetailForm.controls.moveInDate"></app-validation-message>
          </div>
        </ion-col>

        <ion-col size-xs="100" size-sm="33.3" style="padding-top: 21px;">
          <mat-form-field appearance="fill">
            <mat-label>Tenancy end *</mat-label>
            <input matInput [matDatepicker]="picker1" [min]="tenancyDetailForm.controls.moveInDate.value" formControlName="preferredTenancyEndDate" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <div *ngIf="tenancyDetailForm.hasError('invalidEndDate')" class="error-block">End Date can't before start date</div>
          <div style="margin-top: -20px !important;">
            <app-validation-message [control]="tenancyDetailForm.controls.preferredTenancyEndDate"></app-validation-message>
          </div>
        </ion-col>

        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating">No. of adult occupants <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-select interface="popover" formControlName="numberOfAdults"
              (ionChange)="setHouseHoldValue(numberOfAdults.value)" #numberOfAdults>
              <ion-select-option [value]="item" *ngFor="let item of itemList">{{item}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="tenancyDetailForm.controls.numberOfAdults">
          </app-validation-message>
        </ion-col>

        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating">No. of children <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-select interface="popover" formControlName="numberOfChildren">
              <ion-select-option [value]="item" *ngFor="let item of itemList">{{item}}</ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="tenancyDetailForm.controls.numberOfChildren">
          </app-validation-message>
        </ion-col>

        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating">Preferred rent due day <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-input formControlName="rentDueDay" type="text"></ion-input>
          </ion-item>
          <app-validation-message [control]="tenancyDetailForm.controls.rentDueDay"></app-validation-message>
        </ion-col>

        <ion-col size-xs="100" size-sm="33.3">
          <ion-item lines="full" class="margin-top-7">
            <ion-label>Are all occupants from the same household?</ion-label>
            <ion-toggle formControlName="hasSameHouseholdApplicants" color="tertiary"></ion-toggle>
          </ion-item>
          <app-validation-message [control]="tenancyDetailForm.controls.hasSameHouseholdApplicants">
          </app-validation-message>
        </ion-col>

        <ion-col size-xs="100" size-sm="33.3">
          <ion-item>
            <ion-label position="floating">No. of households <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-select #mySelect interface="popover"
              [disabled]="tenancyDetailForm.controls.hasSameHouseholdApplicants.value"
              formControlName="numberOfHouseHolds">
              <ion-select-option [value]="item"
                *ngFor="let item of itemList  | slice:1:(tenancyDetailForm.controls.numberOfAdults.value+1)">
                {{item}}</ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="tenancyDetailForm.controls.numberOfHouseHolds">
          </app-validation-message>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ng-template>

<ng-template #restriction>
  <!-- <ion-grid class="ion-no-padding restriction-section">
    <ion-row class="">
      <ion-col size="100" *ngIf="!propertyRestrictions?.length">
        <div class="no-data">No restrictions found!</div>
      </ion-col>
      <ion-col *ngFor="let res of propertyRestrictions" class="restriction" size-xs="100" size-md="33.3" size-xl="25">
        <ion-card class="no-marg-left-right">
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-align-items-center ion-justify-content-between">
                <ion-col class="ion-text-start" size="55">
                  <ion-text color="dark" class="res-clause-title">{{res.restrictionName}}</ion-text>
                </ion-col>
                <ion-col class="ion-text-end" size="45">
                  <ion-button class="negotiate" [disabled]="!res.isNegotiable"
                    [fill]="res.isNegotiable? 'solid': 'outline'" color="medium"
                    (click)="presentModal(res, 'RESTRICTION')">
                    Negotiate
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ng-template>

<ng-template #clauses>
  <!-- <ion-grid class="clause-section">
    <ion-row>
      <ion-col size="100" *ngIf="!propertyClauses?.length">
        <div class="no-data">No special conditions & clauses found!</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="100" *ngFor="let clause of propertyClauses" class="clause">
        <ion-card class="no-marg-left-right">
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-align-items-start ion-justify-content-between">
                <ion-col class="ion-text-start" [size]="clause.isNegotiable? 80 : 100">
                  <ion-text color="dark" class="res-clause-title">{{clause.clauseName}} </ion-text><br />
                  <ion-text color="medium" class="fs-16">{{clause.clauseText}}</ion-text>
                </ion-col>
                <ion-col class="ion-text-end" size-xs="100" size-sm="100" size-md="20" *ngIf="clause.isNegotiable">
                  <ion-button class="negotiate" [fill]="clause.isNegotiable? 'solid': 'outline'" color="medium"
                    (click)="presentModal(clause, 'CLAUSE')" [disabled]="!clause.isNegotiable">
                    Negotiate
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <form [formGroup]="makeAnOfferForm">
      <ion-row>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating" class="ion-text-wrap">Addition Comments?</ion-label>
            <ion-input formControlName="comments"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid> -->
</ng-template>

<ng-template #guarantorDetails></ng-template>

<ng-template #FinalView>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="100" size-md="60" offset-md="20">
        <ion-grid id="final-view">
          <ion-row class="ion-justify-content-between">
            <ion-col size="100">
              <div class="title">Please review your details:</div>
            </ion-col>
            <ion-col size="100">
              <div class="offer">Your Offer: <ion-text>{{makeAnOfferForm.controls.amount.value | currency: "GBP" ||
                  'N/A'}}
                </ion-text>
              </div>
            </ion-col>
            <ion-col size="100" class="border-bottom"></ion-col>
            <ion-col size="100">
              <div class="sub-heading">Your Tenancy</div>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">Offer Status</ion-text><br />
              <ion-text class="content">{{makeAnOfferForm.controls.status.value | lookup: offerStatuses || '-'}}
              </ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">When would you like to move in?</ion-text><br />
              <ion-text class="content">{{ makeAnOfferForm.controls.moveInDate.value ?
                (makeAnOfferForm.controls.moveInDate.value | date: 'dd/MM/yyyy') : '-'}}
              </ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">For how long?</ion-text><br />
              <ion-text class="content">
                {{ makeAnOfferForm.controls.rentingTime.value ? (makeAnOfferForm.controls.rentingTime.value | lookup :
                letDurations) : '-'}}
              </ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">No. of occupants</ion-text><br />
              <ion-text class="content">{{makeAnOfferForm.controls.numberOfAdults.value || '-'}}</ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">No. of children</ion-text><br />
              <ion-text class="content">{{makeAnOfferForm.controls.numberOfChildren.value || 0}}</ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">Your current position</ion-text><br />
              <ion-text class="content">
                {{ makeAnOfferForm.controls.currentPosition.value ? (makeAnOfferForm.controls.currentPosition.value |
                lookup : tenantCurrentPositionTypes) : '-'}}
              </ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">Your occupation</ion-text><br />
              <ion-text class="content">{{makeAnOfferForm.controls.occupation.value || '-'}}</ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">Do you have a guarantor?</ion-text><br />
              <ion-text class="content">{{makeAnOfferForm.controls.hasGuarantor.value ? 'Yes' : 'No'}}</ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">Relationship</ion-text><br />
              <ion-text class="content">
                {{ makeAnOfferForm.controls.guarantorType.value ? (makeAnOfferForm.controls.guarantorType.value | lookup
                : applicantGuarantorTypes) : '-'}}
              </ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">Any pets?</ion-text><br />
              <ion-text class="content">{{makeAnOfferForm.controls.hasPets.value ? 'Yes' : 'No'}}</ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">Pets description</ion-text><br />
              <ion-text class="content">
                {{makeAnOfferForm.controls.hasPets.value ? makeAnOfferForm.controls.petsInfo.value : '-'}}
              </ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header ion-text-wrap">Addition Comments</ion-text><br />
              <ion-text class="content">{{makeAnOfferForm.controls.comments.value || '-'}}</ion-text>
            </ion-col>
            <ion-col size="100" class="border-bottom"></ion-col>
            <ion-col size="100">
              <div class="sub-heading">Restrictions</div>
            </ion-col>
            <ng-container>
              <ion-col size-xs="100" size-sm="50" *ngIf="!propertyRestrictions?.length">
                <div class="fs-16"> No restrictions found!</div>
              </ion-col>
              <ion-col size-xs="100" size-sm="50" *ngFor="let res of propertyRestrictions">
                <div class="res-clause-view">
                  <img
                    [src]="res.isNegotiable? 'assets/images/tob/icon-not-negotiable.svg': 'assets/images/tob/close.svg'" />
                  <div style="padding-left:10px">{{res.restrictionName}}</div>
                </div>
              </ion-col>
            </ng-container>
            <ion-col size="100" class="border-bottom"></ion-col>
            <ion-col size="100">
              <div class="sub-heading">Conditions & Clauses</div>
            </ion-col>
            <ion-col size-xs="100" size-sm="100" *ngIf="!propertyClauses?.length">
              <div class="fs-16">No special conditions & clauses found!</div>
            </ion-col>
            <ng-container *ngIf="propertyClauses">
              <ion-col size="100" *ngFor="let res of propertyClauses">
                <div class="res-clause-view clause-view">{{res.clauseName}}<br /> <span
                    class="clause-text">{{res.clauseText}}</span></div>
              </ion-col>
            </ng-container>
            <ion-col size="100" class="border-bottom"></ion-col>
            <ion-col size="100">
              <div class="sub-heading">Confirmation</div>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">Confirmed by Applicant</ion-text><br />
              <ion-text class="content">{{confirmationForm.controls.isApplicantConfirmed.value ? 'Yes' : 'No'}}
              </ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">Confirmed On</ion-text><br />
              <ion-text class="content">{{confirmationForm.controls.applicantConfirmedDate.value ?
                (confirmationForm.controls.applicantConfirmedDate.value | date : 'dd/MM/yyyy') : '-'}}</ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">Confirmed by Landlord</ion-text><br />
              <ion-text class="content">{{confirmationForm.controls.isLandlordConfirmed.value ? 'Yes' : 'No'}}
              </ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">Confirmed On</ion-text><br />
              <ion-text class="content">{{confirmationForm.controls.landlordConfirmedDate.value ?
                (confirmationForm.controls.landlordConfirmedDate.value | date : 'dd/MM/yyyy') : '-'}}</ion-text>

            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">Email Applicant</ion-text><br />
              <ion-text class="content">{{confirmationForm.controls.sendEmailToApplicant.value ? 'Yes' : 'No'}}
              </ion-text>
            </ion-col>
            <ion-col size-xs="100" size-sm="50" class="header-content">
              <ion-text class="header">Email Landlord</ion-text><br />
              <ion-text class="content">{{confirmationForm.controls.sendEmailToLandlord.value ? 'Yes' : 'No'}}
              </ion-text>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ng-template>
<ng-template #payment></ng-template>