.postcode-search {
    position: absolute;
    top: 15px;
    font-size: 14px;
    color: var(--ion-color-tertiary);
    cursor: pointer;
    z-index: 2;
    height: 35px;
    right: 0;
}

.page-heading {
    text-align: center;
    font-size: 22px;
}

.margin-top-7 {
    margin-top: 7px;
}

.header {
    color: var(--ion-color-step-900);
}

.content {
    font-size: 20px;
    font-weight: 700;
    color: var(--ion-color-step-800);
}