@mixin set-text-style($size, $lheight) {
    font-size: $size;
    line-height: $lheight;
}

#occupant-details {
    padding: 0;
    .list-section {
        padding: 0;
    }
    ion-text {
        font-size: 14px;
    }
    .header {
        background-color: var(--ion-color-three) !important;
        text-align: left;
        color: var(--ion-color-step-2000);
        padding: 15px 10px;
        border-radius: 0px !important;
    }
    .content {
        border-radius: 0px !important;
        background: var(--ion-color-six) !important;
        padding: 0px;
        border: 1px solid var(--ion-color-four);
        color: var(--ion-color-two);
        .content-row {
            border-bottom: 1px solid var(--ion-color-four);
            padding: 5px 10px;
            .search-box-grid {
                background-color: var(--ion-color-four);
                margin: 10px -10px -5px -10px;
            }
        }
    }
    .remove-btn {
        font-size: 24px;
    }
    .list-content {
        padding: 0;
        background: var(--ion-color-six) !important;
    }
}
.postcode-search {
    position: absolute;
    top: 15px;
    font-size: 14px;
    color: var(--ion-color-tertiary);
    cursor: pointer;
    z-index: 2;
    height: 30px;
    right: 0;
}

.page-heading {
    text-align: center;
    font-size: 22px;
}

.margin-top-7 {
    margin-top: 7px;
}

.header {
    color: var(--ion-color-three);
}

.content {
    font-size: 20px;
    // font-weight: 700;
    color: var(--ion-color-one);
}

.term-time {
    text-align: left;
    padding-top: 18px;
}

.payment-heading {
    color: var(--ion-color-one);
    margin-bottom: 40px;
}

#barclaycard-iframe {
    border-radius: 6px;
    min-height: 700px;
    border: 0;
    width: 100%;
    background: var(--ion-color-six);
}
#worldpay-iframe {
    border-radius: 6px;
    min-height: 700px;
    border: 0;
    width: 100%;
    // padding-top: 75px;
    //margin: 0 20%;
}
.payment-form {
    text-align: center;
    margin-top: 20px;

    ion-button {
      width: 150px;
    }
}