ion-checkbox {
  --border-color: transparent;
  --background: var(--ion-color-step-1800);
  --checkmark-color: var(--ion-color-step-2000);
}

table.dataTable tbody tr{
  height: 48px;

  td{
    border: none;
  }
}