<ion-header>
  <ion-toolbar>
    <ion-title>Resend Application Link</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="margin-top: 10px;">
      <ion-col size="80">
        <h6 style="margin:0">
          {{ propertyAddress?.addressLine1 ? propertyAddress?.addressLine1 + ', ' : ''}}
          {{ propertyAddress?.addressLine2 ? propertyAddress?.addressLine2 + ', ' : ''}}
          {{ propertyAddress?.addressLine3 ? propertyAddress?.addressLine3 + ', ' : ''}}
          {{ propertyAddress?.postcode }}</h6>
      </ion-col>
      <ion-col size="20" class="ion-text-end">
        <div style="font-size: 14px;">
          {{ applicantDetails?.fullName ? applicantDetails?.fullName : 
            (applicantDetails?.name ? applicantDetails?.name : 
            (applicantDetails?.title ? applicantDetails?.title + ' ' + applicantDetails?.forename + ' ' + applicantDetails?.surname :
            applicantDetails?.forename + ' ' + applicantDetails?.surname))}}
        </div>
      </ion-col>
    </ion-row>

    <ion-row>   
      <ion-col size="100">
        <div class="overlay-container" style="position: relative">
          <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width: 100%; position: relative">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Type</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let item of emailList; let i=index'>
                <td>
                  <ion-checkbox [checked]='(item.selected && item?.emailAdress && i < 3) || (i == 3 && item.selected)' [disabled]='!item?.emailAdress && i < 3' (ionChange)='disableCheckbox(item.emailId, $event)' color="primary">
                  </ion-checkbox>
                </td>
                <td>{{item.label}}</td>
                <td *ngIf='i < 3'>{{item?.emailAdress}}</td>
                <td *ngIf='i == 3'>
                  <form [formGroup]='newEmailAddressForm'>
                    <ion-item>
                    <ion-input [disabled]='!item.selected' [required]='item.selected' formControlName="email">
                    </ion-input>
                  </ion-item>
                  <app-validation-message [control]="newEmailAddressForm.controls.email"></app-validation-message>
                </form> 
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>  
          <ion-grid class="ion-no-padding">
            <ion-row style="margin-top: 15px;">
              <ion-col class="ion-text-end">
                <ion-button [disabled]="!(selectedCheckbox)" (click)='resendLink()' class="no-margin">Resend</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>