ion-checkbox {
  --background: var(--ion-color-step-1800);
  --checkmark-color: var(--ion-color-step-2000);
}

table.dataTable tbody tr{
  height: 48px;

  td{
    border: none;
  }
}

table.dataTable.no-footer{
  border-bottom: none ;
}

.notesForm{
  background: var(--ion-color-step-2000);
  padding-bottom: 20px;
}