ion-checkbox {
  --background: var(--ion-color-five);
  --checkmark-color: var(--ion-color-six);
}

table.dataTable tbody tr{
  height: 48px;

  td{
    border: none;
  }
}

table.dataTable.no-footer{
  border-bottom: none ;
}

.notesForm{
  background: var(--ion-color-six);
  padding-bottom: 20px;
}