.wrapper {
  transition: max-height 0.75s ease-in-out;
  max-height: 0;
  height: 0;
  overflow: hidden;
}

.expanded {
  transition: max-height 0.75s ease-in-out;
  max-height: 2000px;
  height: auto;
}

.accordion-content {
  padding: 10px 20px 25px;
}
