<ion-content id="la-dashboard">
  <ion-grid style="height: 100%">
    <ion-row style="height: 100%" class="ion-align-items-center">
      <ion-col>
        <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size-xl="30" size-lg="35" size-md="45" size-sm="50" size-xs="100" class="heading">
                <div>Tenant Referencing &nbsp;
                  <!-- <ion-icon name="refresh" style="vertical-align: bottom;cursor: pointer;" (click)="refresh()"></ion-icon> -->
                  <i class="propcoicon propcoicon-refresh icon-primary" style="display: inline; background: transparent; cursor: pointer;" (click)="refresh()"></i>
                </div>
            </ion-col>
            <ion-col size-xl="20" size-lg="35" size-md="45" size-sm="50" size-xs="100" class="la-logo">
                <img src="assets/images/referencing/la-logo.svg"/>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xl="25" size-lg="35" size-md="45" size-sm="50" size-xs="100">
            <div class="block" (click)="startApplication()">
              <div class="header-ion">
                <i class="propcoicon propcoicon-add icon-primary"></i>
              </div>
              <div class="footer-text">Start Application</div>
            </div>
          </ion-col>
          <ion-col size-xl="25" size-lg="35" size-md="45" size-sm="50" size-xs="100">
            <div class="block" (click)="goToApplicationList()">
              <div class="header-ion">
                <div>{{applicationList?.count}}</div>
              </div>
              <div class="footer-text">View Application</div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size-xl="25" size-lg="35" size-md="45" size-sm="50" size-xs="100">
              <div class="block" (click)="goToQuickSearch()">
                <div class="header-ion">
                  <i class="propcoicon propcoicon-search icon-primary"></i>
                </div>
                <div class="footer-text">Quick Search</div>
              </div>
            </ion-col>
            <ion-col size-xl="25" size-lg="35" size-md="45" size-sm="50" size-xs="100">
              <div class="block">
                <div class="header-ion">
                  <i class="propcoicon propcoicon-print icon-primary"></i>
                </div>
                <div class="footer-text">Print Report</div>
              </div>
            </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
