@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

#la-dashboard {
  --padding-top: var(--ion-padding-top);
  --padding-end: var(--ion-padding-end);
  --padding-bottom: var(--ion-padding-bottom);
  --padding-start: var(--ion-padding-start);

  --ion-grid-column-padding: 10px;
  background-color: var(--ion-background-color);

  .heading {
    @include set-text-style(30px, 35px);
    align-self: center;
  }

  .la-logo {
    text-align: right;
    img {
      width: 210px;
      background: transparent;
      padding: 10px;
      border-radius: 5px;
    }
  }

  .block {
    @include border-radius(5px);
    background-color: var(--ion-color-five);
    color: var(--ion-color-one);
    @include set-text-style(20px, 24px);
    text-align: center;
    min-height: 170px;
    height: 170px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
    padding: 30px 10px 10px;

    .header-ion {
      color: var(--ion-color-one);
      height: 80px;
      div{
        @include set-text-style(60px, 68px);
      }

      .propcoicon {
        background-color: transparent;
        display: inline-block;
        width: 60px;
        height: 60px;
        font-size: 60px;
      }
    }
  }

  .block:hover {
    transform: scale(1.04);
    background: var(--ion-color-four);
  }

  .block.active {
    background-color: var(--ion-color-four);
    transform: scale(1.04);
  }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  #la-dashboard {
    .heading,
    .la-logo {
      text-align: center;
    }
  }
}
