p {
  font-family: Lato;
}

agm-map {
  height: 300px;
  position: relative;
}

.address {
  position: absolute;
  top: 0px;
  left: 0;
  background: var(--ion-color-medium);
  width: auto;
  font-size: 15px;
  line-height: 24px;
  opacity: 0.5;
  padding: 10px;
}

.span-block {
  display: block;
}

.msg {
  margin: auto;
  font-size: 20px;
}

.address:hover {
  opacity: 1.0;
}

.wrapper {
  position: relative;
  margin: auto;
  margin-top: -10px;
}

.map {
  position: relative;
}

.map-center-overlay {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.agm-map-container {
  height: 300px;
}

agm-map {
  height: 300px;
}

.msg-div {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 25px;
}