@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

#property-details {
  min-height: 96px;
  padding: 0;
  color: var(--ion-color-step-250);
  background-color: var(--ion-color-step-2000);
  height: 100%;
  padding: 15px;

  .heading {
    @include set-text-style(22px, 26px);
  }

  .fault-image img {
    height: 190px;
    width: 100%;
    object-fit: cover;
  }

  ion-row.property-details-row {
    margin-bottom: 10px;

    .non-urgent {
      color: var(--ion-color-primary);
      @include set-text-style(22px, 26px);
    }

    .urgent {
      color: var(--ion-color-warning);
      @include set-text-style(22px, 26px);
    }

    .emergency {
      color: var(--ion-color-danger);
      @include set-text-style(22px, 26px);
    }
  }

  ion-row.fault-data-row {
    ion-col {
      @include set-text-style(16px, 20px);
      margin: 0;

      .text {
        @include set-text-style(14px, 17px);
        color: grey;
        display: inline-block;
      }
    }
  }

  ion-row.fault-meter-row {
    margin-top: 12px;
    ion-col {
      @include set-text-style(16px, 20px);
      margin: 0;

      img {
        vertical-align: bottom;
        width: 20px;
      }
    }
  }
}
