@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

#property-details {
  min-height: 96px;
  padding: 0;
  color: var(--ion-color-one);
  background-color: var(--ion-color-six);
  height: 100%;
  padding: 15px;

  .property-details-grid{
    border-radius: 5px;
    border: solid 1px var(--ion-color-four);
  }
  .heading {
    @include set-text-style(22px, 26px);
  }

  .fault-image img {
    height: 190px;
    width: 100%;
    object-fit: cover;
  }


  ion-row.property-details-row {
    margin-bottom: 10px;
    ion-list{
      label{
        color: var(--ion-color-one);
        padding-right: 5px;
      }
    }
    .non-urgent {
      color: var(--ion-color-success);
      @include set-text-style(22px, 26px);
    }

    .urgent {
      color: var(--ion-color-warning);
      @include set-text-style(22px, 26px);
    }

    .emergency {
      color: var(--ion-color-danger);
      @include set-text-style(22px, 26px);
    }
  }

  ion-row.fault-data-row {
    ion-col {
      @include set-text-style(16px, 20px);
      margin: 0;

      .text {
        @include set-text-style(14px, 17px);
        color: grey;
        display: inline-block;
      }
    }
  }

  ion-row.fault-meter-row {
    margin-top: 12px;
    ion-col {
      @include set-text-style(16px, 20px);
      margin: 0;

      img {
        vertical-align: bottom;
        width: 20px;
      }
    }
  }
}

.override-communication {
  margin-top: 10px;
}

.status-list {
  width: 100%;
  max-height: 200px;
  position: absolute !important;
  z-index: 5 !important;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.status-pointer{
  cursor: pointer;
}

#property-details-skeleton {
  min-height: 96px;
  padding: 0;
  color: var(--ion-color-step-250);
  background-color: var(--ion-color-six);
  height: 100%;
  padding: 15px;

  ion-skeleton-text {
      margin-top: 10px;
  }

  ion-thumbnail {
      height: 190px;
      width: 100%;
      object-fit: cover;
  }
  ion-row.property-details-row {
      margin-bottom: 10px;
      margin-top: 5px;
  }

  ion-row.fault-meter-row {
      margin-top: 12px;
      .avatar-col > ion-avatar{
        height: 20px;
        width: 20px;
        display: inline-block;
        ion-skeleton-text{
          margin-top: 0px;
        }
      }
      .avatar-col > ion-skeleton-text{
        width: 70%;
        display: inline-block;
        margin-left: 5px;
        height: 18px;
      }
  }
}

.contact-btn{
  --ion-color-base: var(--ion-color-one) !important;
}