<ng-container *ngIf="isPropertyCardReady; then propDetails else propDetailsSkeleton"></ng-container>

<ng-template #propDetails>
  <ion-card-content id="property-details">
    <ion-grid class="property-details-grid">
      <ion-row class="main-row">
        <ion-col class="" size-xl="17" size="23">
          <form class="drop-zone" *ngIf="!files.length" [formGroup]="parentForm" file-drop (files)="submit($event)">
            <ion-icon class="icon" name="cloud-upload"></ion-icon>
            <input type="file" class="custom-file-input form-control" id="files" multiple
              (change)="submit($event.target.files)" accept=".png,.jpeg,.jpg,.pdf,.gif,.bmp,.text,.doc,.csv,.docx,.odt">
            <label for="files" class="browse-btn">Browse Files</label>
          </form>
          <div *ngIf="files.length" class="fault-image">
            <img [src]="getFilteredDocs(files)">
          </div>
        </ion-col>
        <ion-col class="" size-xl="83" size="77">
          <ion-grid style="height:100%;" class="no-padding-top">
            <ion-row class="property-details-row">

              <ion-col class="no-padding-top col1" size="75" style="display: flex;">
                <div style="display:inline-block;">
                  <h2 class="heading" *ngIf="propertyDetails?.publishedAddress">
                    {{propertyDetails?.reference ? propertyDetails?.reference + ',' : ''}}
                    {{propertyDetails.publishedAddress}}
                  </h2>
                  <h2 class="heading" *ngIf="!propertyDetails?.publishedAddress">
                    {{propertyDetails?.reference ? propertyDetails?.reference + ',' : ''}}
                    {{ propertyDetails?.address?.addressLine1 ? propertyDetails?.address?.addressLine1 + ',' : ''}}
                    {{ propertyDetails?.address?.addressLine2 ? propertyDetails?.address?.addressLine2 + ',' : ''}}
                    {{ propertyDetails?.address?.locality ? propertyDetails?.address?.locality + ',' : ''}}
                    {{ propertyDetails?.address?.postcode }}
                  </h2>
                </div>
                <!-- <ion-button color="dark" fill="outline" (click)="contactDetailModal()" size="small"><img src="assets/images/contact.png" style="height: 25px; margin-top: 0px;" alt="">Contact &nbsp;</ion-button> -->
              </ion-col>
              <ion-col class="no-padding-top col2 ion-text-end" size="25">
                <h2 [class]="urgencyStatus==1 ? 'emergency' : (urgencyStatus==2? 'urgent' : 'non-urgent')"
                  (click)="toggleStatusList()" [class.status-pointer]="faultId">
                  {{(getLookupValue(urgencyStatus, faultUrgencyStatuses)) | uppercase}}</h2>

                <ion-list class="status-list" *ngIf="showList && faultId">
                  <ion-item *ngFor="let status of faultUrgencyStatuses" button style="font-size: 13px !important;"
                    (click)="selectedStatus(status.index)">
                    <label>{{status.value}}</label>&nbsp;
                    <ion-icon *ngIf="urgencyStatus === status.index" name="checkmark-sharp"></ion-icon>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row class="fault-data-row">
              <ion-col size-xl="25" size-lg="22" size-md="22">
                <span class="text">Office</span>
                <br />
                {{getLookupValue(propertyDetails?.office, officeCodes) || DEFAULTS.NOT_AVAILABLE}}
              </ion-col>
              <ion-col size-xl="25" size-lg="22" size-md="22">
                <span class="text">Management Service</span>
                <br />
                {{propertyDetails?.managementTypeDescription || DEFAULTS.NOT_AVAILABLE}}
              </ion-col>
              <ion-col size-xl="25" size-lg="22" size-md="22">
                <span class="text">Property Manager</span>
                <br />
                {{propertyDetails?.propertyManager || DEFAULTS.NOT_AVAILABLE}}
              </ion-col>
              <ion-col size-xl="25" size-lg="34" size-md="34">
                <span class="text">Occupancy Status</span>
                <br />
                {{propertyDetails?.landlordOccupancy === 1 ? 'Landlord Occupied': propertyDetails?.isPropertyCheckedIn ?
                'Tenanted' : 'Vacant' }}
              </ion-col>
              <ion-col size-xl="25" size-lg="22" size-md="22">
                <span class="text">Licence Details</span>
                <br />
                {{ hmoDetails[0]?.isPropertyLicenced ? getLookupValue(hmoDetails[0]?.licenceSchemeLookup, hmoLicenceSchemes) : DEFAULTS.NOT_AVAILABLE }}
              </ion-col>
              <ion-col size-xl="25" size-lg="22" size-md="22">
                <span class="text">Communication</span>
                <br />
                {{getLookupValue(dppRepairDetails?.lookupId, faultCommunicationPreferences) || DEFAULTS.NOT_AVAILABLE}}
              </ion-col>

              <ion-col size-xl="25" size-lg="22" size-md="22" *ngIf="faultId">
                <span class="text">Reported On</span>
                <br />
                {{(createdAt | date: DATE_FORMAT.DATE_TIME) || DEFAULTS.NOT_AVAILABLE}}
              </ion-col>
              <ion-col size-xl="25" size-lg="34" size-md="34">
                <span class="text">Rent Arrears</span>
                <br />
                {{propertyDetails?.tenantArrears || 0 | currency : "£" }}
              </ion-col>
            </ion-row>
            <ion-row class="fault-meter-row">
              <ion-col size-xl="25" size-lg="22" size-md="22">
                <img src="assets/images/fault-categories/info.png"
                  matTooltip="{{propertyDetails?.electricMeterLocation || DEFAULTS.NOT_AVAILABLE}}" matTooltipPosition="above" />&nbsp;
                Electric Meter
              </ion-col>
              <ion-col size-xl="25" size-lg="22" size-md="22">
                <img src="assets/images/fault-categories/info.png"
                  matTooltip="{{propertyDetails?.waterMeterLocation || DEFAULTS.NOT_AVAILABLE}}" matTooltipPosition="above" />&nbsp; Water
                Meter
              </ion-col>
              <ion-col size-xl="25" size-lg="22" size-md="22">
                <img src="assets/images/fault-categories/info.png"
                  matTooltip="{{propertyDetails?.gasMeterLocation || DEFAULTS.NOT_AVAILABLE}}" matTooltipPosition="above" />&nbsp; Gas
                Meter
              </ion-col>
              <ion-col size-xl="25" size-lg="34" size-md="34">
                <img src="assets/images/fault-categories/info.png"
                  matTooltip="{{propertyDetails?.stopTapLocation || DEFAULTS.NOT_AVAILABLE}}" matTooltipPosition="above" style="float: left;"/>&nbsp; Stop Tap
                <ion-button class="contact-btn" color="dark" fill="outline" (click)="contactDetailModal()" size="small" style=" margin-top: 0px; float: right;" *ngIf="faultId">
                  <img src="assets/images/contact.png" style="height: 25px; margin-top: 0px;" alt="">Contact &nbsp;</ion-button>
              </ion-col>
            </ion-row>
            <ion-text class="ion-float-right override-communication"
              *ngIf="communicationPreference && communicationPreference === true" color="danger">
              <b>Override Landlord's Communication - Enabled</b>
            </ion-text>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ng-template>

<ng-template #propDetailsSkeleton>
  <ion-card-content id="property-details-skeleton">
    <ion-grid>
      <ion-row class="main-row">
        <ion-col class="" size-xl="17" size="23">
          <ion-thumbnail>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
        </ion-col>
        <ion-col class="" size-xl="83" size="77">
          <ion-grid style="height:100%;" class="no-padding-top">
            <ion-row class="property-details-row">
              <ion-col class="no-padding-top col1" size="70">
                <h2 class="heading">
                  <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
                </h2>
              </ion-col>
              <ion-col class="no-padding-top col2 ion-text-end" size="30">
                <h2>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </h2>
              </ion-col>
            </ion-row>
            <ion-row class="fault-data-row">
              <ion-col size-lg="25" size="33.3">
                <span class="text">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </span>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size-lg="25" size="33.3">
                <span class="text">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </span>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size-lg="25" size="33.3">
                <span class="text">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </span>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size-lg="25" size="33.3">
                <span class="text">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </span>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size-lg="25" size="33.3">
                <span class="text">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </span>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size-lg="25" size="33.3">
                <span class="text">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </span>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size-lg="25" size="33.3">
                <span class="text">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </span>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size-lg="25" size="33.3">
                <span class="text">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </span>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
            </ion-row>
            <ion-row class="fault-meter-row">
              <ion-col size="25" class="avatar-col">
                <ion-avatar>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size="25" class="avatar-col">
                <ion-avatar>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size="25" class="avatar-col">
                <ion-avatar>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size="25" class="avatar-col">
                <ion-avatar>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content>
</ng-template>