<ion-card-content id="property-details">
  <ion-grid class="">
    <ion-row class="main-row">
      <ion-col class="" size-xl="17" size="23">
        <form class="drop-zone" *ngIf="!files.length" [formGroup]="parentForm" file-drop (files)="submit($event)">
          <ion-icon class="icon" name="cloud-upload"></ion-icon>
          <input type="file" class="custom-file-input form-control" id="files" multiple (change)="submit($event.target.files)"
          accept="image/x-png,image/jpeg">
          <label for="files" class="browse-btn">Browse Files</label>
        </form>

        <!-- <form class="drop-zone" [formGroup]="uploadDocForm" file-drop (files)="submit($event)">
          <ion-icon class="icon" name="cloud-upload"></ion-icon>
          <input type="file" class="custom-file-input form-control" id="files" multiple (change)="submit($event.target.files)"
          accept="image/x-png,image/jpeg">
          <span class="drag-text">Drag files to upload here</span> <br>
          <label for="files" class="browse-btn">Browse Files</label>
        </form> -->
        <div *ngIf="files.length" class="fault-image">
          <img [src]="files[0].url">
        </div>
      </ion-col>
      <ion-col class="" size-xl="83" size="77">
        <ion-grid style="height:100%;" class="no-padding-top">
          <ion-row class="property-details-row">
            <ion-col class="no-padding-top col1" size="70">
              <h1 class="heading" *ngIf="propertyDetails?.publishedAddress">
                {{propertyDetails.publishedAddress}}
              </h1>
              <h1 class="heading" *ngIf="!propertyDetails?.publishedAddress">
                  {{ propertyDetails?.address?.addressLine1 ? propertyDetails?.address?.addressLine1 + ',' : ''}}
                  {{ propertyDetails?.address?.addressLine2 ? propertyDetails?.address?.addressLine2 + ',' : ''}}
                  {{ propertyDetails?.address?.locality ? propertyDetails?.address?.locality + ',' : ''}}
                  {{ propertyDetails?.address?.postcode }}
              </h1>
            </ion-col>
            <ion-col class="no-padding-top col2 ion-text-end" size="30">
              <h1>{{getLookupValue(urgencyStatus, faultUrgencyStatuses)}}</h1>              
            </ion-col>
          </ion-row>
          <ion-row class="fault-data-row">
            <ion-col size-xl="25" size="33.3">
              <span class="text">Office</span>
              <br />
              {{getLookupValue(propertyDetails.office, officeCodes) || 'N/A'}}
            </ion-col>
            <ion-col size-xl="25" size="33.3">
              <span class="text">Management Service</span>
              <br />
              {{propertyDetails.managementTypeDescription || 'N/A'}}
            </ion-col>
            <ion-col size-xl="25" size="33.3">
              <span class="text">Property Manager</span>
              <br />
              {{propertyDetails.propertyManager || 'N/A'}}
            </ion-col>
            <ion-col size-xl="25" size="33.3">
              <span class="text">Occupancy Status</span>
              <br />
              {{propertyDetails.isOwnerOccupied ? 'Landlord Occupied': propertyDetails.isPropertyCheckedIn ? 'Tenanted' : 'Vacant' }}
            </ion-col>
            <ion-col size-xl="25" size="33.3">
              <span class="text">Licence Details</span>
              <br />
              Has HMO License? {{ hmoDetails[0]?.isPropertyLicensed ? 'True' : 'N/A' }}
            </ion-col>
            <ion-col size-xl="25" size="33.3">
              <span class="text">Licence Scheme</span>
              <br />
              {{getLookupValue(hmoDetails[0]?.licenceSchemeLookup, hmoLicenceSchemes) || 'N/A'}}
            </ion-col>
            <ion-col size-xl="25" size="33.3">
              <span class="text">Rent Arrears</span>
              <br />
              {{propertyDetails?.tenantArrears || 0 | currency : "£" }}
            </ion-col>
          </ion-row>
          <ion-row class="fault-meter-row">
            <ion-col size="25">
              <img src="assets/images/fault-categories/info.png" matTooltip="{{propertyDetails.electricMeterLocation || 'N/A'}}" matTooltipPosition="above"/>&nbsp; Electric Meter
            </ion-col>
            <ion-col size="25">
              <img src="assets/images/fault-categories/info.png" matTooltip="{{propertyDetails.waterMeterLocation || 'N/A'}}" matTooltipPosition="above"/>&nbsp; Water Meter
            </ion-col>
            <ion-col size="25">
              <img src="assets/images/fault-categories/info.png" matTooltip="{{propertyDetails.gasMeterLocation || 'N/A'}}" matTooltipPosition="above"/>&nbsp; Gas Meter
            </ion-col>
            <ion-col size="25">
              <img src="assets/images/fault-categories/info.png" matTooltip="{{propertyDetails.stopTapLocation || 'N/A'}}" matTooltipPosition="above"/>&nbsp; Stop Tap
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>