<ion-grid *ngIf="type == 'landlord' && landlordList">
  <ion-row class="landlord-tenant-count">
    <ion-col>
      <ion-fab-button>
        <span>TT</span>
      </ion-fab-button>
      <ion-text> &nbsp;Current Landlords ({{landlordList.length}}) </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="landlord-tenant-dropdown">
    <ion-col>
      <ion-select interface="popover" class="more-filters" [formControl]="landlordListCtrl"
        (ionChange)="onLandlordChange();">
        <ion-select-option [value]="item.landlordId" *ngFor="let item of landlordList">
          {{item.name}}
          <span>({{item.rentPercentage}}%)</span>
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row class="landlord-tenant-details">
    <ion-col size="20">
      <ion-icon name="arrow-dropright"></ion-icon>
      <ion-text> view </ion-text>
    </ion-col>
    <ion-col size="25">
      <ion-icon name="arrow-dropright"></ion-icon>
      <ion-text> Email </ion-text>
    </ion-col>
    <ion-col size="55">
      <ion-icon name="arrow-dropright"></ion-icon>
      <ion-text> {{selectedLandlord?.mobile || selectedLandlord?.businessTelephoneNo ||
        selectedLandlord?.homeTelephoneNo || '-'}} </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="rent-history-block">
    <ion-col size="25">
      <ion-label>Last Paid</ion-label><br>
      <ion-text> - </ion-text>
    </ion-col>
    <ion-col size="25">
      <ion-label>Outstanding Fee</ion-label><br>
      <ion-text> - </ion-text>
    </ion-col>
    <ion-col size="50">
      <ion-label>Property Outstanding Fee</ion-label><br>
      <ion-text> - </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="rent-detail-block">
    <ion-col>
      <ion-label>Current Rent</ion-label><br>
      <ion-text> - </ion-text>
    </ion-col>
    <ion-col>
      <ion-label>Reserve</ion-label><br>
      <ion-text> - </ion-text>
    </ion-col>
    <ion-col>
      <ion-label>Tax</ion-label><br>
      <ion-text> - </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid *ngIf="type == 'tenant' && tenantList">
  <ion-row class="landlord-tenant-count">
    <ion-col>
      <ion-fab-button>
        <span>TT</span>
      </ion-fab-button>
      <ion-text> &nbsp;Current Tenants ({{tenantList.length}}) </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="landlord-tenant-dropdown">
    <ion-col>
      <ion-select interface="popover" class="more-filters" [formControl]="tenantListCtrl"
        (ionChange)="onTenantChange();">
        <ion-select-option [value]="item.tenantId" *ngFor="let item of tenantList">
          {{item.name || item.title + item.forename}}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row class="landlord-tenant-details">
    <ion-col size="20">
      <ion-icon name="arrow-dropright"></ion-icon>
      <ion-text> view </ion-text>
    </ion-col>
    <ion-col size="25">
      <ion-icon name="arrow-dropright"></ion-icon>
      <ion-text> Email </ion-text>
    </ion-col>
    <ion-col size="55">
      <ion-icon name="arrow-dropright"></ion-icon>
      <ion-text> {{selectedTenant?.mobile || selectedTenant?.businessTelephoneNo || selectedTenant?.homeTelephoneNo ||
        '-'}} </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="rent-history-block">
    <ion-col size="25">
      <ion-label>Tenancy Start</ion-label><br>
      <ion-text> - </ion-text>
    </ion-col>
    <ion-col size="25">
      <ion-label>Tenancy End</ion-label><br>
      <ion-text> - </ion-text>
    </ion-col>
    <ion-col size="50">
      <ion-label>Term</ion-label><br>
      <ion-text> - </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="rent-detail-block">
    <ion-col>
      <ion-label>Current Rent</ion-label><br>
      <ion-text> - </ion-text>
    </ion-col>
    <ion-col>
      <ion-label>Reserve</ion-label><br>
      <ion-text> - </ion-text>
    </ion-col>
    <ion-col>
      <ion-label>Deposit</ion-label><br>
      <ion-text> - </ion-text>
    </ion-col>
  </ion-row>


</ion-grid>