ion-grid {
    background: var(--ion-property-details-bg);
    padding: 0;
}
.landlord-block {
    border-right: solid 2px var(--ion-color-amenity-bg);
}
.landlord-tenant-count {
    ion-col {
        display: flex;
        align-items: center;
        font-size: 15px;
        & > ion-fab-button {
            --background: var(--ion-color-landlord-tenant-fab-btn);
            color: var(--ion-color-landlord-tenant-fab-text);
            width: 25px;
            height: 25px;
            --box-shadow: none;
            span {
                color: var(--ion-color-landlord-tenant-fab-text);
            }
        }
        ion-text {
            color: var(--ion-color-text-color);
        }
    }
}

.landlord-tenant-dropdown {
    ion-select {
        font-size: 13px;
        background: var(--ion-color-landlord-tenant-selection);
        padding-top: 5px;
        --padding-end: 0;
        --padding-bottom: 5px;
        --padding-start: 5px;
        border-radius: 3px;
    }
}

.landlord-tenant-details {
    ion-col {
        display: flex;
        align-items: center;
    }
    ion-icon {
        font-size: 13px;
    }
    a {
        color: var(--ion-color-text-color);
        text-decoration: none;
    }
    color: var(--ion-color-text-color);
}

.rent-history-block {
    margin-bottom: 5px;
    ion-label {
        color: var(--ion-color-block-label-color);
        font-size: 11px;
    }

    ion-text {
        color: var(--ion-color-text-color);
        font-size: 13px;
    }
}

.rent-detail-block {
    text-align: center;
    ion-label {
        color: var(--ion-color-block-label-color);
        font-size: 11px;
    }

    ion-text {
        color: var(--ion-color-text-color);
        font-size: 15px;
    }
    ion-col {
        height: 55px;
        background: var(--ion-propert-rent-block-bg);
        border-top: solid 1px var(--ion-color-body);
    }
    .middle-block {
        border-left: solid 1px var(--ion-color-body);
        border-right: solid 1px var(--ion-color-body);
    }
}

.no-data {
    justify-content: center;
    align-items: center;
    height: 176px;
    font-size: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .no-data {
        height: 195px;
    }
}