<ng-container *ngIf="type == 'landlord'">
  <ion-grid class="main-block landlord-block">
    <ion-row>
      <ion-col>
        <div class="landlord-tenant-header">
          <ion-fab-button>
            <span>LL</span>
          </ion-fab-button>
          <ion-text> &nbsp;Current Landlords ({{landlordList.length}}) </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="landlordList.length>0; then ifBlock else elseBlock"></ng-container>
    <ng-template #ifBlock>
      <ion-row>
        <ion-col>
          <ion-select interface="popover" class="landlord-tenant-dropdown" [formControl]="landlordListCtrl"
            (ionChange)="onLandlordChange();">
            <ion-select-option [value]="item.landlordId" *ngFor="let item of landlordList">
              {{item.name}}
              <span *ngIf="item?.rentPercentage">({{item?.rentPercentage + '%'}})</span>
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row class="landlord-tenant-details">
        <ion-col size="25">
          <ion-icon name="chevron-forward-circle-outline" color="primary"></ion-icon>&nbsp;
          <ion-text> View </ion-text>
        </ion-col>
        <ion-col size="25">
          <ion-icon name="chevron-forward-circle-outline" color="primary"></ion-icon>&nbsp;
          <ion-text><a href="mailto:{{selectedLandlord?.email || notAvailable}}"> Email </a> </ion-text>
        </ion-col>
        <ion-col size="25">
          <ion-icon name="chevron-forward-circle-outline" color="primary"></ion-icon>&nbsp;
          <ion-text (click)="openCallInfo(selectedLandlord, 'tel')"> Tel </ion-text>
        </ion-col>

        <ion-col size="25">
          <ion-icon name="chevron-forward-circle-outline" color="primary"></ion-icon>&nbsp;
          <ion-text (click)="openCallInfo(selectedLandlord, 'mobile')"> Mobile </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="rent-history-block">
        <ion-col size="25">
          <ion-label>Last Paid</ion-label><br>
          <ion-text>{{selectedLandlord?.lastPaid | date:'dd/MM/yyyy'|| notAvailable}}</ion-text>
        </ion-col>
        <ion-col size="25">
          <ion-label>Outstanding Fee</ion-label><br>
          <ion-text>{{selectedLandlord?.outstandingFee || notAvailable}} </ion-text>
        </ion-col>
        <ion-col size="50">
          <ion-label>Property Outstanding Fee</ion-label><br>
          <ion-text>{{selectedLandlord?.propertyOutstandingFee || notAvailable}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="rent-detail-block">
        <ion-col size="33.3">
          <ion-label>Current Rent</ion-label><br>
          <ion-text>{{selectedLandlord?.rent || notAvailable}}</ion-text>
        </ion-col>
        <ion-col size="33.3" class="middle-block">
          <ion-label>Reserve</ion-label><br>
          <ion-text>{{selectedLandlord?.reserve || notAvailable}}</ion-text>
        </ion-col>
        <ion-col size="33.3">
          <ion-label>Tax</ion-label><br>
          <ion-text>{{selectedLandlord?.tax || notAvailable}}</ion-text>
        </ion-col>
      </ion-row>
    </ng-template>
    <ng-template #elseBlock>
      <ion-row class="no-data">
        There is no data to be shown
      </ion-row>
    </ng-template>
  </ion-grid>
</ng-container>

<ng-container *ngIf="type == 'tenant'">
  <ion-grid class="main-block">
    <ion-row>
      <ion-col>
        <div class="landlord-tenant-header">
          <ion-fab-button>
            <span>TT</span>
          </ion-fab-button>
          <ion-text> &nbsp;Current Tenants ({{tenantList.length}}) </ion-text>
        </div>
      </ion-col>
      <ion-col class="ion-text-right ion-align-self-center">
        <span class="tenant-status">{{getLookupValue(selectedTenant?.status, tenantStatuses)}}</span>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="tenantList.length>0; then ifBlock else elseBlock"></ng-container>
    <ng-template #ifBlock>
      <ion-row>
        <ion-col size="100">
          <ion-select interface="popover" class="landlord-tenant-dropdown" [formControl]="tenantListCtrl"
            (ionChange)="onTenantChange();">
            <ion-select-option [value]="item.tenantId" *ngFor="let item of tenantList">
              {{item.name || item.title +' '+ item.forename}}
              <span *ngIf="item?.isLead"> - {{item?.isLead ? 'Primary' : 'Co-Tenant' }}</span>
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row class="landlord-tenant-details">
        <ion-col size="25">
          <ion-icon name="chevron-forward-circle-outline" color="primary"></ion-icon>&nbsp;
          <ion-text> View </ion-text>
        </ion-col>
        <ion-col size="25">
          <ion-icon name="chevron-forward-circle-outline" color="primary"></ion-icon>&nbsp;
          <ion-text><a href="mailto:{{selectedTenant?.email || notAvailable}}"> Email </a> </ion-text>
        </ion-col>
        <ion-col size="25">
          <ion-icon name="chevron-forward-circle-outline" color="primary"></ion-icon>&nbsp;
          <ion-text (click)="openCallInfo(selectedTenant, 'tel')"> Tel </ion-text>
        </ion-col>
        <ion-col size="25">
          <ion-icon name="chevron-forward-circle-outline" color="primary"></ion-icon>&nbsp;
          <ion-text (click)="openCallInfo(selectedTenant, 'mobile')"> Mobile </ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="rent-history-block">
        <ion-col size="25">
          <ion-label>Tenancy Start</ion-label><br>
          <ion-text> - </ion-text>
        </ion-col>
        <ion-col size="25">
          <ion-label>Tenancy End</ion-label><br>
          <ion-text> - </ion-text>
        </ion-col>
        <ion-col size="50">
          <ion-label>Term</ion-label><br>
          <ion-text> - </ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="rent-detail-block">
        <ion-col size="33.3">
          <ion-label>Current Rent</ion-label><br>
          <ion-text> - </ion-text>
        </ion-col>
        <ion-col size="33.3" class="middle-block">
          <ion-label>Outstanding</ion-label><br>
          <ion-text> - </ion-text>
        </ion-col>
        <ion-col size="33.3">
          <ion-label>Deposit</ion-label><br>
          <ion-text> - </ion-text>
        </ion-col>
      </ion-row>
    </ng-template>
    <ng-template #elseBlock>
      <ion-row class="no-data">
        There is no data to be shown
      </ion-row>
    </ng-template>
  </ion-grid>
</ng-container>