<ion-header>
  <ion-toolbar>
    <ion-title>Office Filter</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="office-filter-modal">
  <ion-grid class="ion-no-padding header-section">
    <ion-row>
      <ion-col size-xl="48" size-lg="48" size-md="40" size-sm="40" size-xs="40" class="ion-text-left">
        <ion-button size="small" color="medium" fill="outline" style="margin-right: 10px;" (click)="onExpandAll()">
          Expand All
        </ion-button>
        <ion-button size="small" color="medium" fill="outline" (click)="onCollapseAll()">Collapse All</ion-button>
      </ion-col>
      <ion-col size-xl="26" size-lg="22" size-md="30" size-sm="30" size-xs="30">
        <ion-item class="margin-20-search-box" *ngIf="officesList.length > 0">
          <ion-label position="floating">Search</ion-label>
          <ion-input [formControl]="searchText"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xl="26" size-lg="30" size-md="30" size-sm="30" size-xs="30" class="ion-text-right">
        <ion-button size="small" color="medium" fill="outline" style="margin-right: 10px;" (click)="onselectAll()"
          [disabled]="this.officesList?.length === 0">Select All</ion-button>
        <ion-button size="small" color="medium" fill="outline" (click)="unselectAll()"
          [disabled]="this.officesList?.length === 0">Unselect All</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="filter-container" style="display: flex;">
    <div class="filter-left" style="width: 48%">
      <div class="right-left-panel-overflow" style="border-left: 1px solid var(--ion-color-four);">
        <ion-grid>
          <ion-row class="filter-list">
            <ion-col size="60">
              <ion-label class="fw-700">Name</ion-label>
            </ion-col>
            <ion-col size="20">
              <ion-label class="fw-700">Code</ion-label>
            </ion-col>
            <ion-col size="20">
              <ion-label class="fw-700">Type</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                <ion-col size="10">
                  <button mat-icon-button disabled></button>
                </ion-col>
                <ion-col size="45">
                  <mat-checkbox color="primary"
                    title="{{node.item}}" 
                    [checked]="checklistSelection.isSelected(node)"
                    (change)="todoLeafItemSelectionToggle(node);onCheckBoxClick();">
                    <div class="checklist-leaf-node-label">{{node.item}}</div>
                  </mat-checkbox>
                </ion-col>
                <ion-col size="25">
                  {{node.groupOfficeCode}}
                </ion-col>
                <ion-col size="20">
                  {{node.groupDefinitionType}}
                </ion-col>
              </mat-tree-node>
              <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                <ion-col size="10">
                  <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                    <ion-icon *ngIf="treeControl.isExpanded(node)" name="chevron-down-sharp"></ion-icon>
                    <ion-icon *ngIf="!treeControl.isExpanded(node)" name="chevron-forward-sharp"></ion-icon>
                  </button>
                </ion-col>
                <ion-col size="50">
                  <mat-checkbox color="primary" [checked]="descendantsAllSelected(node)"
                    [indeterminate]="descendantsPartiallySelected(node)"
                    (change)="todoItemSelectionToggle(node);onCheckBoxClick();">{{node.item}}
                  </mat-checkbox>
                </ion-col>
                <ion-col size="20">
                  {{node.groupOfficeCode}}
                </ion-col>
                <ion-col size="20">
                  {{node.groupDefinitionType}}
                </ion-col>
              </mat-tree-node>
            </mat-tree>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="filter-right" style="width: 52%">
      <div class="right-left-panel-overflow">
        <ion-grid class="no-padding-top">
          <ion-row class="filter-list" *ngIf="officesList.length > 0">
            <ion-col>
              <ion-label class="fw-700">Office Name</ion-label>
            </ion-col>
            <ion-col>
              <ion-label class="fw-700">Office Code</ion-label>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let item of filteredOfficesList; let i=index;" style="padding: 5px 10px;">
            <ion-col style="font-size: 14px;">
              <mat-checkbox color="primary" [checked]="item?.isChecked" (change)="selectOffice(item, $event)"
                style="width: 70%;">
                {{item?.officeName}}
              </mat-checkbox>
              <mat-label style="width: 30%;">{{item?.officeCode}}</mat-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="100" class="ion-text-end">
        <ion-button (click)="dismiss()" color="danger" fill="outline">Cancel</ion-button>
        <ion-button (click)="onSave()" color="success">Finish</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>