<ion-content class="property-details">
  <app-property-address [group]="this.propertyDetailsForm.controls['propertyAddressForm']" [isPropertyAddressAvailable]="isPropertyAddressAvailable"></app-property-address>
  <app-lettings-details [group]="propertyDetailsForm.controls['lettingsDetailsForm']"></app-lettings-details>
  <app-let-board [group]="propertyDetailsForm.controls['letBoardForm']"></app-let-board>
  <app-history [group]="propertyDetailsForm.controls['history']"></app-history>
  <app-property-checks [group]="propertyDetailsForm.controls['propertyChecksForm']"></app-property-checks>
  <app-compliance-records [propertyData]="propertyDetails" [type]="'accordian'"></app-compliance-records>
</ion-content>