<ion-content class="property-details">
  <div class="header">
    <ion-icon (click)="toggleMenu()"  name="menu-outline" size="large"></ion-icon>
    <ion-text> Property Details </ion-text>
  </div>
  <app-property-address [group]="this.propertyDetailsForm.controls['propertyAddressForm']"></app-property-address>
  <app-lettings-details [group]="propertyDetailsForm.controls['lettingsDetailsForm']"></app-lettings-details>
  <app-let-board [group]="propertyDetailsForm.controls['letBoardForm']"></app-let-board>
  <app-history [group]="propertyDetailsForm.controls['history']"></app-history>
  <app-property-checks [group]="propertyDetailsForm.controls['propertyChecksForm']"></app-property-checks>

</ion-content>