<ion-content>
  <form class="login-form propco-form" [formGroup]="loginForm" (submit)="onLoginSubmit()">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-justify-content-center">
        <ion-col class="login-container" size-xl="30" size-lg="45" size-md="55" size-sm="75" size-xs="100">
          <ion-row class="card-width">
            <ion-col size="100" class="login-header">
              <div style="margin-bottom: 20px;">
                <img class="logo" src="assets/images/propco-logo-white.svg" alt="PropCo" title="PropCo">
              </div>
              <ion-text>Market leading, scalable property software</ion-text>
            </ion-col>
          </ion-row>
          <ion-card>
            <ion-card-content>
              <ion-grid>
                <ion-row class="align-items-flex-end">
                  <ion-col size="100">
                    <ion-item>
                      <ion-label position="floating"> USERNAME <ion-text class="mandatory">*</ion-text>
                      </ion-label>
                      <ion-input formControlName="username"></ion-input>
                    </ion-item>
                    <app-validation-message [control]="loginForm.controls.username"></app-validation-message>
                  </ion-col>
                  <ion-col size="100">
                    <ion-item>
                      <ion-label position="floating"> PASSWORD <ion-text class="mandatory">*</ion-text>
                      </ion-label>
                      <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>
                    <app-validation-message [control]="loginForm.controls.password"></app-validation-message>
                  </ion-col>
                  <ion-col size="100">&nbsp;</ion-col>
                  <ion-col size="50" class="forgot-password">
                    <ion-text class="pointer" (click)="forgotPassword()">Forgot Password?</ion-text>
                  </ion-col>
                  <ion-col size="50" class="ion-text-end">
                    <ion-button class="no-marg-right" color="success" type="submit"
                      [disabled]="!loginForm.valid || showLoader">
                      Login
                      <ion-icon *ngIf="showLoader" name="refresh" class="rotating submit-loader"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
          <ion-row class="card-width">
            <ion-col size="100">
              <div class="speaker-logo">
                <img class="logo" style="margin-left: -20pt;" src="assets/images/news.png" alt="PropCo" title="PropCo">
                <ion-text style="padding-left: 10px;">Support</ion-text>
              </div>
            </ion-col>
            <ion-col size="100" class="contact-details">
              <ion-text>Call: <strong>0845 0047 142</strong> entering option 1 and then 2 Email: <strong>support@propco.co.uk</strong></ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>