@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.drop-zone {
  @include border-radius(4px);
  background-color: var(--ion-color-step-2000);
  padding: 26px 5px;
  text-align: center;
  border: 2px solid var(--ion-color-step-1150);
  

  .dragndrop,
  .icon {
    width: 100%;
    height: 80px;
    fill: #92949c;
    display: block;
    margin-bottom: 15px;
  }

  &.has-drag-n-drop {
    border: 2px solid var(--ion-color-step-1150);
    @include border-radius(4px);

    .icon {
      width: 100%;
      height: 80px;
      fill: var(--ion-color-step-1150);
      display: block;
      margin-bottom: 15px;
    }
    .drag-text {
      @include set-text-style(16px, 20px);
      color: var(--ion-color-step-1150);
      margin-bottom: 15px;
      display: inline-block;
    }

    .dragndrop {
      display: inline;
    }

    &.is-over {
      outline-offset: -10px;
      outline-color: var(--ion-color-step-1400);
      background-color: var(--ion-color-step-2000);
    }
  }

  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
      max-width: 100%;
      // text-overflow: elli

      cursor: pointer;
      display: inline-block;
      // overflow: hidden;
    }

    &:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }

    &:focus + label strong,
    & + label:hover strong {
      color: var(--ion-color-step-1400);
    }
  }

  .browse-btn {
    @include set-text-style(14px, 17px);
    background: var(--ion-color-step-1150);
    color: var(--ion-color-step-2000);
    padding: 8px 15px;
    @include border-radius(4px);
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
  }
  .browse-btn:hover {
    background: var(--ion-color-step-1050);
  }
}

.delete-icon-wrapper {
  @include border-radius(4px);
  border: 2px solid var(--ion-color-step-1150);

  img {
    height: 165px;
    object-fit: cover;
    width: 100%;
    cursor: pointer;
  }

  .file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .folder-name {
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
  }

  .delete-icon {
    @include set-text-style(30px, 36px);
    color: var(--ion-color-danger);
    cursor: pointer;
    text-align: right;
  }

  .download-icon {
    @include set-text-style(30px, 36px);
    color: var(--ion-color-medium);
    cursor: pointer;
    text-align: right;
  }
}
