<ion-header>
  <ion-toolbar>
    <ion-title>Contact Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-tab-group>
    <mat-tab label="Landlord">
      <form>
        <ion-row>
          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Name
              </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Email
              </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Alternate Email
              </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Emergency No
              </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>


          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Daytime
              </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Mobile </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Evening </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Telephone </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>




        </ion-row>
      </form>
    </mat-tab>
    <mat-tab label="Tenant">
      <form>
        <ion-row>
          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Name
              </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Email
              </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Alternate Email
              </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Emergency No
              </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>


          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Daytime
              </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Mobile </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Evening </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="50">
            <ion-item>
              <ion-label position="floating">Telephone </ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
    </mat-tab>
  </mat-tab-group>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-end">
        <ion-button (click)="dismiss()" color="danger">close</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>