<ion-content style="position: absolute; top: 25%;">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="30" class="ion-text-center">
        <img src="assets/images/solr/propcoLogo.svg" alt="propcoImg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h1>Oops! Something went wrong.</h1>
        <h5>Apologies, we are currently experiencing some problem, please click on <strong>Retry</strong> button.</h5>
        <ion-button class="ion-padding" color="success" fill="solid" (click)="onRetry()">Retry</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>