.lable {
    font-size: 20px;
    color: var(--ion-color-text-color);
}
.info {
    font-size: 27px;
    color: var(--ion-color-text-color);
}

.close-btn {
    padding-right: 10px;
    font-size: 20px;
    cursor: pointer;
}
