<ion-grid>
  <ion-row *ngIf="!showSkeleton">
    <ion-col offset-xl="15" size-xl="70" offset="0" size="100">
      <div class="landlord-instructions">
        <app-close-fault *ngIf="faultDetails?.isClosed" [notificationData]="cliNotification" [faultDetails]="faultDetails" [action]="getLookupValue(cliNotification?.faultStageAction, landlordInstructionTypes)? getLookupValue(cliNotification?.faultStageAction, landlordInstructionTypes):'Landlord Instructions'"></app-close-fault>

        <div class="banner" *ngIf="!cliNotification && !faultDetails?.isClosed">
          <h2 class="banner-heading">Based on your preferences, we suggest:</h2>
          <ion-button color="{{(suggestedAction == 'AGENT_OF_NECESSITY') ? 'danger' : 'success'}}"
            class="icon-button" (click)="setUserAction(suggestedAction)"
            fill="{{(userSelectedActionControl.value == suggestedAction) ? 'solid' :'outline'}}">
            {{getLookupValue(suggestedAction, landlordInstructionTypes)}}
            <ion-icon name="checkmark-circle-outline" *ngIf="(userSelectedActionControl.value == suggestedAction)">
            </ion-icon>
          </ion-button>
          <h6 class="ownRepair" *ngIf="(isMatch === false && suggestedAction == 'DOES_OWN_REPAIRS')">
            Landlord owned Repair Category does not match the Fault Category</h6>

          <h6 class="banner-title">Want to proceed in a different way? Choose one of the following instead:</h6>
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ng-container *ngFor="let instruction of landlordInstructionTypes">
                <div *ngIf="suggestedAction!= instruction.index">
                  <ion-button color="{{instruction.index != 'AGENT_OF_NECESSITY' ? 'success' : 'danger'}}"
                    class="action-btn" expand="block"
                    fill="{{userSelectedActionControl.value == instruction.index ? 'solid' :'outline'}}"
                    (click)="setUserAction(instruction.index)">
                    {{instruction.value}}
                    <ion-icon name="checkmark-circle-outline" class="check-icon"
                      *ngIf="(userSelectedActionControl.value == instruction.index)"></ion-icon>
                  </ion-button>
                  <h6 class="ownRepair" *ngIf="(instruction.index == 'DOES_OWN_REPAIRS' && isMatch === false )">
                    Landlord owned Repair Category does not match the Fault Category</h6>
                </div>
              </ng-container>
            </ion-row>
          </ion-grid>
        </div>

        <div *ngIf="cliNotification && !faultDetails?.isClosed">
          <div class="banner">
            <div class="ion-text-left">
              <b>{{cliNotification?.chaseTemplateCode}} {{cliNotification?.firstEmailSentAt | date: 'dd/MM/yyyy HH:mm' }}</b>
            </div>
            <h2 class="banner-heading" >
              {{cliNotification && cliNotification?.responseReceived ? 'Response Received': 
              (cliNotification?.responseReceived === null && cliNotification?.allowedNumberOfChases === cliNotification?.numberOfChasesDone && !cliNotification?.hoursLeft?'No response':'Awaiting response')}}
            </h2>
            <h6 class="banner-title">Here’s the action you chose:</h6>
            <ion-button color="success" class="icon-button">
              {{getLookupValue(cliNotification?.faultStageAction, landlordInstructionTypes)}}
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
            
            <ng-container *ngIf="cliNotification && cliNotification?.responseReceived && cliNotification?.recipientType === 8 ">
              <h6 class="banner-title response-recived"><ion-icon name="ellipse" class="response-circle"></ion-icon> Response received from Landlord {{cliNotification?.chaseTemplateCode}} {{cliNotification?.firstEmailSentAt | date: 'dd/MM/yyyy HH:mm' }} </h6>
            </ng-container>

            <ng-container *ngIf="cliNotification && !cliNotification?.responseReceived">
              <h6 class="banner-title"
                [ngClass]="cliNotification?.responseReceived === null && cliNotification?.allowedNumberOfChases === cliNotification?.numberOfChasesDone && !cliNotification?.hoursLeft?'no-response':'awaiting-response'"
              >
                <ion-icon name="ellipse" class="response-circle"></ion-icon> {{cliNotification?.responseReceived === null && cliNotification?.allowedNumberOfChases === cliNotification?.numberOfChasesDone && !cliNotification?.hoursLeft?'No response':'Awaiting response'}} received from Landlord</h6>
              <h6 class="banner-title" *ngIf="!faultDetails?.isEscalated" >{{cliNotification.allowedNumberOfChases === cliNotification.numberOfChasesDone?'Escalation due': cliNotification.chase === cliNotification.allowedNumberOfChases ? 'Last chase due('+cliNotification.chase+')' : 'Next chase due('+cliNotification.chase+')'}}:
                {{cliNotification ? (cliNotification.nextChaseDueAt | date: 'dd MMM yyyy - HH:mm') : ''}}
              </h6>
            </ng-container>
          </div>
          <div class="question-answer" *ngFor="let question of cliNotification?.questions">
            <ng-container *ngIf="question?.entityType == fileIds.FIX_A_FAULT">
              <h6>{{question?.qtext}}</h6>
              <ion-grid>
                <ion-row class="ion-justify-content-center">
                  <ng-container *ngFor="let data of question?.options">
                    <ion-button color="success" class="action-btn option"
                    fill="{{data?.value == cliNotification?.responseReceived?.isAccepted ? 'solid' :'outline'}}"
                    (click)="questionAction(data)">{{data.text}}</ion-button>
                  </ng-container>
                  <ng-container *ngIf="cliNotification?.templateCode === 'LR-L-E' && faultDetails?.isClosed">
                    <ion-button color="success" class="action-btn option"
                    fill="solid">Close Fault</ion-button>
                  </ng-container>
                </ion-row>
              </ion-grid>
              <h6 *ngIf="cliNotification?.faultStageAction === 'DOES_OWN_REPAIRS' && cliNotification?.responseReceived?.isAccepted === false">
                <ion-text color="danger">Please select an appropriate action.</ion-text>
              </h6>
              <div class="border-bottom"></div>
            </ng-container>
          </div>
          <div class="question-answer" *ngIf="cliNotification && cliNotification?.responseReceived == null && (cliNotification.allowedNumberOfChases === cliNotification.numberOfChasesDone) 
          && cliNotification?.notificationStatus !== 7 && !faultDetails?.isEscalated && faultDetails?.status !== 10 && faultDetails?.status !== 12">
            <h6>
              <ion-text color="danger">Please note:</ion-text>
              The fault will be <i>escalated</i> automatically if the Landlord doesn't respond within {{cliNotification?.hoursLeft}}.
            </h6>
            <div class="border-bottom"></div>
          </div>
          <div class="question-answer"
            *ngIf="cliNotification && cliNotification?.responseReceived?.isAccepted === true && (cliNotification?.templateCode === 'LR-L-E' || cliNotification?.templateCode === 'LC-L-E')">
            <h4 claas="ion-text-center">Next Step:</h4>
            <ion-button color="success" class="action-btn" fill="{{faultDetails.estimatedVisitAt != null ? 'solid' : 'outline'}}" (click)="llContractor(); $event.stopPropagation();">
              {{faultDetails?.landlordOwnContractor?.landlordOwnContractorId!==null?"View/Edit Contractor details":"Add Contractor Details"}}</ion-button>
            <h6 *ngIf="faultDetails?.landlordOwnContractor?.landlordOwnContractorId === null && !faultDetails?.isEscalated">
              <ion-text color="danger">Please note: </ion-text>
              <span>
                The fault will be <i>escalated</i> if the contractor's details including the scheduled date & time of the repair have not been added in the next 6/24 hours
              </span>
            </h6>
            <h6 *ngIf="faultDetails?.isEscalated" >
              <ion-text color="danger">Please note: </ion-text>Fault Escalated - PM to decide the next steps
            </h6>
            <div class="border-bottom"></div>
          </div>

          <div class="question-answer ion-text-center" 
            *ngIf="(cliNotification?.responseReceived?.isAccepted === false || faultDetails?.isEscalated) && cliNotification?.notificationStatus !== 7 && cliNotification?.responseReceived?.isAccepted != true">
            <h4 claas="ion-text-center">Next Step:</h4>
            <h6 *ngIf="faultDetails.urgencyStatus == 3 || cliNotification?.responseReceived">
              <ion-text color="danger">Please note: </ion-text>Fault Escalated - PM to decide the next steps
            </h6>
            <h6 *ngIf="faultDetails.urgencyStatus != 3 && cliNotification?.responseReceived == null">
              <ion-text color="danger">Please note: </ion-text>Fault Escalated - Please proceed with the following action:
              <ion-grid>
                <ion-row class="ion-justify-content-center">                    
                  <ion-button color="danger" expand="block" class="action-btn"
                    fill="{{userSelectedActionControl.value == 'AGENT_OF_NECESSITY' ? 'solid' :'outline'}}" (click)="setUserAction('AGENT_OF_NECESSITY')">
                    {{getLookupValue('AGENT_OF_NECESSITY', landlordInstructionTypes)}}
                    <ion-icon name="checkmark-circle-outline" class="check-icon" *ngIf="(userSelectedActionControl.value == 'AGENT_OF_NECESSITY')"></ion-icon>
                  </ion-button>
                </ion-row>
              </ion-grid>
            </h6>
            <div class="border-bottom"></div>
          </div>

          <div class="question-answer"
            *ngIf="cliNotification?.recipientType === 8 && faultDetails?.isOverrideCommunicationPreference === true
            && cliNotification?.notificationStatus === 7 && cliNotification?.responseReceived === null">
            <h4 claas="ion-text-center">Next Step:</h4>  
            <h6>
              <ion-text color="danger">Please note: </ion-text>
              <span>This Fault is <i>escalated</i> as Landlord Override communication option is activated. 
                Please respond yourself or forward to Landlord for them to take an action by clicking here</span>
            </h6>
            <ion-button color="success" class="action-btn" fill="solid" (click)="viewNotification(); $event.stopPropagation();">
              View Notification</ion-button>
            <div class="border-bottom"></div>
          </div>
          
          <div class="question-answer">
            <h6 class="banner-title">Want to proceed in a different way? Choose one of the following instead:</h6>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ng-container *ngFor="let instruction of landlordInstructionTypes">
                  <div [hidden]="faultDetails?.isEscalated && cliNotification?.notificationStatus !== 7 && !cliNotification?.responseReceived &&
                    faultDetails.urgencyStatus != 3 && instruction.index == 'AGENT_OF_NECESSITY'">
                    <div *ngIf="oldUserSelectedAction != instruction.index">
                      <ion-button color="{{instruction.index != 'AGENT_OF_NECESSITY' ? 'success' : 'danger'}}"
                      expand="block" class="action-btn"
                      fill="{{userSelectedActionControl.value == instruction.index ? 'solid' :'outline'}}"
                      (click)="setUserAction(instruction.index)">
                      {{instruction.value}}
                      <ion-icon name="checkmark-circle-outline" class="check-icon"
                      *ngIf="(userSelectedActionControl.value == instruction.index)"></ion-icon>
                    </ion-button>
                    <h6 class="ownRepair" *ngIf="(isMatch === false && instruction.index == 'DOES_OWN_REPAIRS')">
                      Landlord owned Repair Category does not match the Fault Category</h6>
                    </div>
                  </div>
                </ng-container>
                <ion-button *ngIf="faultDetails?.isEscalated" color="success" expand="block" class="action-btn" fill="outline" (click)="snoozeFault()">
                  Snooze Fault</ion-button>
              </ion-row>
            </ion-grid>
          </div>
        </div>

        <div class="contractor-selection">
          <form [formGroup]="landlordInstFrom">
            <ion-grid>
              <ion-row>
                <ion-col size="50">
                  <ion-item>
                    <ion-label position="floating">Select Contractor</ion-label>
                    <ion-input type="text" debounce="1000" (ionInput)="onSearchChange($event)"
                      formControlName='contractor'
                      [disabled]="!(userSelectedActionControl.value == 'GET_AN_ESTIMATE' 
                      || userSelectedActionControl.value == 'OBTAIN_AUTHORISATION'
                      || userSelectedActionControl.value == 'AGENT_OF_NECESSITY'
                      || userSelectedActionControl.value == 'PROCEED_WITH_WORKSORDER')"
                     >
                    </ion-input>
                  </ion-item>
                  <ion-list class="contractor-list" *ngIf="resultsAvailable">
                    <ion-item *ngFor="let result of (selectedContractor | async)?.data" (click)="contractorSelected(result)" button
                      style="font-size: 13px !important; ">
                      <span>
                        <i class="propcoicon no-background propcoicon-contractor"
                          style="background: transparent;"></i>
                      </span>&nbsp;
                      <label style="color: var(--ion-color-step-200);padding-right: 5px;">{{result.fullName}}&nbsp;
                        <span style="color: var(--ion-color-step-1000);padding-right: 5px;">{{result.reference}}</span>&nbsp;
                        <span class="text-color-lightgreen" style="color: var(--ion-color-primary);padding-right: 5px;">{{result.status}}</span>&nbsp;  
                      </label>                        
                    </ion-item>
                  </ion-list>
                  <app-validation-message [control]="landlordInstFrom.controls.contractor"></app-validation-message>
                  <div *ngIf="landlordInstFrom.get('contractor').hasError('invalidContractor') && landlordInstFrom.get('contractor').touched" class="contractor-error-message">
                    {{landlordInstFrom.get('contractor').errors.message}}</div>
                </ion-col>
                <ion-col size="50">
                  <ion-item>
                    <ion-label position="stacked">Confirmed Estimate</ion-label>
                    <input currencyMask formControlName="confirmedEstimate"
                      [disabled]="!(userSelectedActionControl.value == 'GET_AN_ESTIMATE' 
                      || userSelectedActionControl.value == 'OBTAIN_AUTHORISATION'
                      || userSelectedActionControl.value == 'AGENT_OF_NECESSITY'
                      || userSelectedActionControl.value == 'PROCEED_WITH_WORKSORDER')"
                      #estimate (blur)="onBlurCurrency(landlordInstFrom.controls.confirmedEstimate.value, landlordInstFrom)"/>
                  </ion-item>
                  <app-validation-message [control]="landlordInstFrom.controls.confirmedEstimate"></app-validation-message>
                </ion-col>

                <ion-col size="50" *ngIf="isAuthorizationfields">              
                  <ion-item class="select-block">
                    <ion-label position="floating">Nominal Code <ion-text class="mandatory">*</ion-text>
                    </ion-label>
                    <ionic-selectable item-content itemValueField="nominalCode" itemTextField="concat" [items]="codes"
                      [canSearch]="true" [canClear]="true" clearButtonText="Clear" closeButtonSlot="end" confirmButtonText="Apply"
                      searchPlaceholder="Search Nominal Code" #nominalCodeType formControlName="nominalCode"
                      [shouldStoreItemValue]="false" class="selectable-height" (click)="startLoading()" (onOpen)="endLoading()"
                      [shouldBackdropClose]="false">
          
                      <ng-template ionicSelectableHeaderTemplate>
                        <ion-toolbar>
                          <ion-buttons end>
                          </ion-buttons>
                          <ion-title>
                            {{nominalCodeType.label}}
                          </ion-title>
                        </ion-toolbar>
                      </ng-template>
          
                      <ng-template ionicSelectableFooterTemplate>
                        <ion-toolbar>                             
                          <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                            (click)="nominalCodeType.close()">
                            Cancel
                          </ion-button>
                          <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                            (click)="nominalCodeType.clear();nominalCodeType.close();"
                            [disabled]="!nominalCodeType.itemsToConfirm.length">
                            Clear
                          </ion-button>
                          <ion-button color="success" class="action-btn" fill="outline" class="selectable-btn"
                            (click)="nominalCodeType.confirm();nominalCodeType.close();"
                            [disabled]="!nominalCodeType.itemsToConfirm.length">
                            Apply
                          </ion-button>
                        </ion-toolbar>
                      </ng-template>
                    </ionic-selectable>
                  </ion-item>
                  <app-validation-message [control]="landlordInstFrom.controls.nominalCode"></app-validation-message>
                </ion-col>

                <ion-col size="50" *ngIf="isAuthorizationfields">
                  <ion-item>
                    <ion-label position="floating">Required Start Date <ion-text class="mandatory">*</ion-text></ion-label>
                    <ion-datetime dateFormat="MM/DD/YYYY" displayFormat="DD MMM YYYY" class="datetime-padding"
                      formControlName="requiredStartDate" [min]="currentDate">
                    </ion-datetime>
                  </ion-item>
                  <app-validation-message [control]="landlordInstFrom.controls.requiredStartDate"></app-validation-message>
                </ion-col>

                <ion-col size="50" *ngIf="isAuthorizationfields">
                  <ion-item>
                    <ion-label position="floating">Required Completion Date <ion-text class="mandatory">*</ion-text></ion-label>
                    <ion-datetime dateFormat="MM/DD/YYYY" displayFormat="DD MMM YYYY" class="datetime-padding"
                      formControlName="requiredCompletionDate" [min]="currentDate">
                    </ion-datetime>
                  </ion-item>
                  <app-validation-message [control]="landlordInstFrom.controls.requiredCompletionDate"></app-validation-message>
                </ion-col>

                <ion-col size="50" *ngIf="isAuthorizationfields">
                  <ion-item>
                    <ion-label position="floating">Ordered By </ion-label>
                    <ion-input formControlName="orderedBy"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="100">
                  <ion-item>
                    <ion-label position="stacked">Notes</ion-label>
                    <ion-textarea placeholder="Enter more information here..." formControlName="estimationNotes"
                      [disabled]="!(userSelectedActionControl.value == 'GET_AN_ESTIMATE' 
                      || userSelectedActionControl.value == 'OBTAIN_AUTHORISATION'
                      || userSelectedActionControl.value == 'AGENT_OF_NECESSITY'
                      || userSelectedActionControl.value == 'PROCEED_WITH_WORKSORDER')"
                      rows=1 auto-grow="true"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </div>

        <div class="landlord-preferences">
          <ion-grid class="view-details" style="width: 100%;">
            <ion-row class="ion-justify-content-between">
              <h2 class="banner-heading">Landlord preferences and other information </h2>

              <ion-col size-xs="100" class="header-content">
                <ion-text class="header">Contractor Instructions</ion-text><br />
                <ion-text class="content">
                  {{landlordDetails?.doesOwnRepairs ? "Landlord does their own repairs" : "Agent's own contractor"}}
                </ion-text>
                <ion-button color="success" fill="outline" (click)="presentRepairCategories($event)"
                  *ngIf="landlordDetails?.doesOwnRepairs">Repair Categories</ion-button>
              </ion-col>
              <ion-col size-xs="100" size-sm="50" class="header-content">
                <ion-text class="header">Branch holds management keys?</ion-text><br />
                <ion-text class="content">{{faultDetails?.doesBranchHoldKeys ? 'Yes' : 'No'}}</ion-text>
              </ion-col>
              <ion-col size-xs="100" size-sm="50" class="header-content">
                <ion-text class="header">Expenditure Limit</ion-text><br />
                <ion-text class="content">{{propertyDetails?.expenditureLimit | currency: '£'}}</ion-text>
              </ion-col>
              <ion-col size-xs="100" size-sm="50" class="header-content">
                <ion-text class="header">Vulnerable Tenant</ion-text><br />
                <ion-text class="content">{{accessInfoForm?.controls?.areOccupiersVulnerable?.value ? 'Yes' : 'No'}}
                </ion-text>
              </ion-col>
              <ion-col size-xs="100" size-sm="50" class="header-content">
                <ion-text class="header">Tenant allows access</ion-text><br />
                <ion-text class="content">{{accessInfoForm?.controls?.isTenantPresenceRequired?.value ? 'Yes' : 'No'}}
                </ion-text>
              </ion-col>
              <ion-col size="100" class="border-bottom"></ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="preferred-supplier">
          <h2>Preferred Suppliers</h2>
          <table>
            <tr>
              <th>REF</th>
              <th>SUPPLIER / CONTRACTOR</th>
              <th>TRADE</th>
            </tr>
            <tr *ngFor="let supplier of preferredSuppliers">
              <td>{{supplier.reference}}</td>
              <td>{{supplier.company}}</td>
              <td>{{supplier.occupation}}</td>
            </tr>
            <tr *ngIf="!preferredSuppliers?.length">
              <td colspan="12" class="ion-text-center">No data to display</td>
            </tr>
          </table>
        </div>
      </div>
    </ion-col>
  </ion-row>
  
  <div *ngIf="showSkeleton">
    <ng-container *ngTemplateOutlet="landlordInstructionsSkeleton"></ng-container>
  </div> 
</ion-grid>
<div class="action-btn-group">
  <ion-button (click)="_btnHandler('cancel')" class="cancel-button" [disabled]="saving || proceeding">Cancel</ion-button>
  <ion-button (click)="_btnHandler('back')" [disabled]="saving || proceeding">Back</ion-button>
  <ion-button (click)="_btnHandler('next')" *ngIf="faultDetails?.stage !== FAULT_STAGES.LANDLORD_INSTRUCTION" [disabled]="saving || proceeding">Next</ion-button>
  <ion-button class="save-button" (click)="_btnHandler('save')" [disabled]="proceeding || faultDetails?.isClosed">Save for later<ion-icon *ngIf="saving" name="refresh" class="rotating submit-loader"></ion-icon></ion-button>
  <ion-button class="submit-button" (click)="_btnHandler('proceed')" *ngIf="faultDetails?.faultId" [disabled]="saving || faultDetails?.isClosed">Proceed<ion-icon *ngIf="proceeding" name="refresh" class="rotating submit-loader"></ion-icon></ion-button>
</div>
<ng-template #landlordInstructionsSkeleton>
  <ion-grid class="landlord-instructions">
    <ion-row class="ll-skeleton input-skeleton">
      <ion-col>
        <div class="contractor-selection">
            <ion-grid>
              <ion-row>
                <ion-col size="50">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-col>
                <ion-col size="50">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-col>
                <ion-col size="100">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-col>
              </ion-row>
            </ion-grid>
        </div>
        <div class="landlord-preferences">
          <ion-grid class="view-details" style="width: 100%;">
            <ion-row>
              <ion-col size="70">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size-xs="100" class="header-content">
                <ion-skeleton-text animated></ion-skeleton-text><br />
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size-xs="100" size-sm="50" class="header-content">
                <ion-skeleton-text animated></ion-skeleton-text><br />
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size-xs="100" size-sm="50" class="header-content">
                <ion-skeleton-text animated></ion-skeleton-text><br />
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size-xs="100" size-sm="50" class="header-content">
                <ion-skeleton-text animated></ion-skeleton-text><br />
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size-xs="100" size-sm="50" class="header-content">
                <ion-skeleton-text animated></ion-skeleton-text><br />
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
              <ion-col size="100" class="border-bottom"></ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="preferred-supplier">
          <ion-row>
            <ion-col size="70">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <table>
            <tr>
              <th><ion-skeleton-text animated></ion-skeleton-text></th>
              <th><ion-skeleton-text animated></ion-skeleton-text></th>
              <th><ion-skeleton-text animated></ion-skeleton-text></th>
            </tr>
            <tr>
              <td><ion-skeleton-text animated></ion-skeleton-text></td>
              <td><ion-skeleton-text animated></ion-skeleton-text></td>
              <td><ion-skeleton-text animated></ion-skeleton-text></td>
            </tr>
          </table>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>