@mixin set-text-style($size, $lheight) {
    font-size: $size;
    line-height: $lheight;
  }
  
  @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }
  
  
  .landlord-instructions {
    .action-btn {
      margin-right: 20px;
    }
    .banner {
      text-align: center;
      // background: var(--ion-background-color);
      border-radius: 8px;
      padding: 30px 30px;
      margin-bottom: 20px;
      .icon-button {
        @include set-text-style(16px, 20px);
        height: 40px;
        ion-icon {
          padding-left: 16px;
          @include set-text-style(30px, 20px);
        }
      }
      ion-button {
        background-color: white;
        border-radius: 4px;
      }
      .check-icon {
        padding-left: 16px;
      }
    }
    .ownRepair {
      color: var(--ion-color-danger);
      font-size: 14px;
      margin-top: 1px;
    }
    .question-answer {
      text-align: center;
      ion-button.option {
        text-transform: none;
      }
      .border-bottom {
        border: 1px solid var(--ion-color-step-1400);
        margin: 20px 0px;
      }
    }
    .preferred-supplier {
      margin-top: 30px;
      table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid var(--ion-color-four);
      }
  
      th {
        background-color: var(--ion-color-three);
      }
      td,
      th {
        text-align: left;
        padding: 15px;
      }
      tr:nth-child(even) {
        background-color: var(--ion-color-five);
      }
      tr:nth-child(odd) {
        background-color: var(--ion-color-four);
      }
      td {
        color: var(--ion-color-one);
      }
    }
  }

  .view-details {
    width: 60%;
    margin: 0 auto;

    .title {
      text-align: center;
      margin-bottom: 15px;
      margin-top: 40px;
      font-weight: 700;
      @include set-text-style(24px, 30px);
    }

    .sub-heading {
      margin-top: 15px;
      margin-bottom: 5px;
      @include set-text-style(20px, 26px);
    }

    .header-content {
      .header {
        color: var(--ion-color-step-800);
        @include set-text-style(14px, 19px);
      }

      .content {
        color: var(--ion-color-step-200);
        @include set-text-style(16px, 20px);
      }
    }

    .border-bottom {
      padding-left: 0;
      outline-offset: -6px;
      outline: 1px solid var(--ion-color-step-1050);
    }
  }

  :host ::ng-deep .mat-form-field-wrapper {
    position: absolute !important;
    width: 100%;
  }

  .back-button {
    cursor: pointer;
    font-size: 20px;
    margin-top: 3px;
  }
  
  .display-none {
    display: none;
  }
  
  .folder-wrapper {
    text-align: center;
    height: 180px;
    padding-top: 45px;
    cursor: pointer;
  }
  
  .folder-icon {
    font-size: 100px;
    color: #939393bf;
  }
  
  .folder-icon:hover {
    color: #939393;
  }
  
  .fault-description{
    --padding-bottom: 0px !important;
  }
  
  .response-recived{
    color: var(--ion-color-primary);
  }
  
  .awaiting-response{
    color: var(--ion-color-warning);
  }
  .no-response{
    color: var(--ion-color-danger);
  }
  
  .response-circle{
    font-size: 13px;
  }
  
  .fault-title{
    .material-icons{
      font-size: 21px;
      margin-top: 10px;
    }
    .edit-title{
      font-size: 25px;
      margin-top: 10px;
    }
    padding: 0px 20px 0px 20px;
  }
  
  .edit-title-icon{
    margin-left: 0px !important;
    span:hover{
      cursor: pointer;
    }
  }
  
  .contractor-error-message{
    color: var(--ion-color-danger);
    padding-top:2px;
    font-size: 14px;
  }
  
  .tab-skeleton {
    padding-left: 5px;
    padding-right: 10px;
    ion-col{
      padding-right: 0px;
    }
    ion-skeleton-text{
      height: 50px;
    }
  }
  
  .input-skeleton{
    padding-left: 5px;
    padding-right: 10px;
    ion-skeleton-text{
      height: 25px;
    }
    ion-thumbnail > ion-skeleton-text{
      height: 160px;
      width: 200px;
    }
  }
  
  .action-btn-group > ion-skeleton-text{
      width: 8%;
      float: right;
      margin-left: 10px;
      height: 40px;
  }
  
  input {
    border: 0;
    outline: 0;
    padding: 5px 0;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .landlord-instructions,
    .arranging-contractor,
    .fault-qualification {
      padding: 0px 20px 0px 20px;
    }
  }
  