<ion-header>
  <ion-toolbar>
    <ion-title>Select Tenant</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="cancel()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="tenant-list-modal">
  <h4 style="padding: 0 10px;">{{paramMessage}}</h4>
  <div class="table-container" *ngIf="isTableReady && laTenantList.length > 0">
    <table datatable [dtOptions]="dtOptions" class="row-border hover table-span" aria-describedby="tenant">
      <thead>
        <tr>
          <th style="width:7%">Select</th>
          <th style="width:16%;min-width:80px;">Ref</th>
          <th style="width:20%">Name</th>
          <th style="width:15%">Type</th>
          <th style="width:15%">Referencing Required</th>
          <th>Application Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tenant of laTenantList; let i=index;"  class="table-row">
          <td><ion-checkbox [checked]="tenant?.isRowChecked" [disabled]="!tenant?.isReferencingRequired"
            (ionChange)="selectTenant(tenant, $event)" 
            color="primary"></ion-checkbox>
          </td>
          <td>{{tenant?.reference ? tenant?.reference : DEFAULTS.NOT_AVAILABLE}}</td>
          <td>{{tenant?.addressee ? tenant?.addressee : ((tenant?.title ? tenant?.title + ' ' : '')  + tenant?.name)}}
          </td>  
          <td>{{tenant?.isLead ? 'Lead Tenant' : 'Co-Tenant' }}</td>
          <td>
            <ion-toggle (ionChange)="toggleReferencing(tenant, $event)" slot="start" [checked]="tenant.isReferencingRequired"></ion-toggle>
          </td>
          <td>{{(tenant?.referencingApplicationStatus | lookup: referencingApplicantStatusTypes) ? (tenant?.referencingApplicationStatus | lookup: referencingApplicantStatusTypes) : DEFAULTS.NOT_AVAILABLE}}</td>
        </tr>
      </tbody>
    </table>
    <!-- <ion-grid class="ion-no-padding" style="margin-top:15px;">
      <ion-row>
        <ion-col class="ion-text-end">
          <ion-button [disabled]="!isSelected" (click)="dismiss()">OK</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </div>
  <div *ngIf="isTableReady && laTenantList.length === 0" style="padding-top: 20px;"> No Record Found</div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-end">
        <ion-button class="cancel-button" (click)="cancel()">Cancel</ion-button>
        <ion-button class="submit-button" [disabled]="!isSelected" (click)="dismiss()">OK</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
