<ion-header>
  <ion-toolbar>
    <ion-title>Select Tenant</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="tenant-list-modal">
  <div class="table-container">
    <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width: 100%;">
      <thead>
        <tr>
          <th style="width:8%">Select</th>
          <th style="width:23%">Ref</th>
          <th style="width:23%">Name</th>
          <th style="width:23%">Type</th>
          <th style="width:23%">Referencing Required</th>
          <!-- <th style="width:8%">Application Status</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tenant of laTenantList; let i=index;"  class="table-row">
          <td><ion-checkbox [checked]="tenant?.isRowChecked" [disabled]="!tenant?.isReferencingRequired"
            (ionChange)="selectTenant(tenant, $event)" 
            color="primary" style="height: 25px;width: 25px; bottom: -5px;" ></ion-checkbox>
          </td>
          <td>{{tenant?.reference ? tenant?.reference : '-'}}</td>
          <td>{{tenant?.addressee ? tenant?.addressee : (tenant?.title + ' ' + tenant?.name)}}
          </td>  
          <td>{{tenant?.isLead ? 'Lead Tenant' : 'Co Tenant' }}</td>
          <td>
            <ion-toggle (ionChange)="toggleReferencing(tenant, $event)" slot="start"></ion-toggle>
          </td>
          <!-- <td></td> -->
        </tr>
      </tbody>
    </table>
    <ion-grid class="ion-no-padding" style="margin-top:15px;">
      <ion-row>
        <ion-col class="ion-text-end">
          <ion-button [disabled]="!isSelected" (click)="dismiss()">OK</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
