@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.dataTables_wrapper {
  .dataTables_length,
  .dataTables_filter,
  .dataTables_info,
  .dataTables_processing,
  .dataTables_paginate {
    color: var(--ion-color-step-200);
  }

  .dataTables_processing {
    margin-top: 20px;
    font-size: 14px;
  }

  .dataTables_length {
    margin-bottom: 10px;
    select {
      @include border-radius(4px);
      background: transparent;
    }
  }

  .dataTables_filter {
    @include border-radius(4px);
    position: relative;
    border: 1px solid var(--ion-color-step-1200);
    padding: 5px 10px;
    margin-bottom: 10px;

    label::before {
      font-family: "Ionicons";
      content: "";
      margin-right: 10px;
    }

    input {
      border: none;
      background: transparent;
    }

    input:focus {
      outline: none !important;
    }
  }

  .dataTables_paginate {
    margin-top: 10px;

    .paginate_button,
    .paginate_button.disabled {
      @include border-radius(4px);
      border: 1px solid var(--ion-color-step-1200);
      padding: 6px 15px;
      margin-left: 10px;
      color: var(--ion-color-step-400);

      &.disabled,
      &.disabled:hover {
        color: var(--ion-color-step-1000) !important;
        background: transparent;
      }

      &.current,
      &:hover,
      &.current:hover {
        background: var(--ion-color-step-1000);
        color: var(--ion-color-step-2000) !important;
        border: 1px solid var(--ion-color-step-1200);
      }
    }
  }

  table.dataTable {
    @include set-text-style(14px, 16px);

    &.no-footer {
      border-bottom: none;
    }

    thead {
      background: var(--ion-color-step-750);
      color: var(--ion-color-step-2000);

      .sorting:after,
      .sorting:before,
      .sorting_asc:after,
      .sorting_desc:after {
        opacity: 0.4;
      }

      & > tr > th.sorting_asc:before,
      & > tr > th.sorting_desc:after,
      & > tr > td.sorting_asc:before,
      & > tr > td.sorting_desc:after {
        opacity: 1;
      }

      tr {
        th {
          border: none;
          text-align: left;
          padding: 15px 8px;
          font-weight: 500;
        }

        th:last-child {
          padding-right: 10px;
        }
      }
    }

    tbody {
      background-color: var(--ion-color-step-1900);
      color: var(--ion-color-step-400);

      tr {
        td {
          padding: 6px 8px;
          word-break: break-word;
          text-align: left;
        }

        td:last-child {
          padding-right: 10px;
        }

        td.dataTables_empty {
          text-align: center;
        }
      }
    }
  }
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
  background-color: var(--ion-color-step-1000);
}

.resp-action-icon {
  min-width: 36px;
  width: 36px;
  max-width: 36px;
  cursor: pointer;
  color: initial;
}

#divOverlay,
#divOverlayChild,
#divOverlay2,
#divOverlay3,
#matchingOverlay,
.card-divoverlay {
  display: none;
  background-color: rgba(var(--ion-color-step-800-rgb), 0.5);
  text-align: right;
  position: absolute;
  z-index: 10;
  padding-right: 10px;
  color: var(--ion-color-step-2000);

  ion-button {
    --background: var(--ion-color-step-900);
    --color: var(--ion-color-step-2000);
    @include set-text-style(14px, 17px);
    margin: 0 5px 6px;
    height: 36px;
  }

  .propcoicon {
    display: inline-block;
    padding: 5px;
  }

  .propcoicon-actions-on {
    background-color: var(--ion-color-step-900);
    margin: 6px 0 5px 6px;
    color: var(--ion-color-step-2000);
    cursor: pointer;
  }
}

#agent-portal {
  .dataTables_wrapper {
    .dataTables_length,
    .dataTables_filter,
    .dataTables_info,
    .dataTables_processing,
    .dataTables_paginate {
      color: var(--ion-color-one);
    }

    .dataTables_length {
      select {
        option {
          color: var(--ion-color-one);
          background-color: var(--ion-color-six);
        }
      }
    }
    .dataTables_paginate {
      .paginate_button,
      .paginate_button.disabled {
        border: 1px solid var(--ion-color-three);
        color: var(--ion-color-one) !important;

        &.disabled,
        &.disabled:hover {
          color: var(--ion-color-three) !important;
          background: transparent;
        }

        &.current,
        &:hover,
        &.current:hover {
          background-color: var(--ion-color-two);
          color: var(--ion-color-six) !important;
          border: 1px solid var(--ion-color-three);
        }
      }
    }

    table.dataTable {
      border: 1px solid var(--ion-color-four);
      thead {
        background-color: var(--ion-color-three);
        color: var(--ion-color-step-2000);
      }

      tbody {
        color: var(--ion-color-two);
        tr:hover {
          box-shadow: inset 0 0 0 9999px var(--ion-color-five);
        }
        tr {
          background-color: var(--ion-color-six);
        }

        td,
        th .row-border {
          border-top: 1px solid var(--ion-color-four);

          tbody {
            color: var(--ion-color-two);
            tr:hover {
              box-shadow: inset 0 0 0 9999px var(--ion-color-five);
            }
            tr {
              background-color: var(--ion-color-six);
            }

            td,
            th .row-border {
              border-top: 1px solid var(--ion-color-four);
            }
          }
        }
      }
    }    
    .dataTables_processing {
      background: var(--ion-color-five);
      color: var(--ion-color-one);
    }
    .propcoicon.action-btn {
      background-color: var(--ion-color-five);
    }
    .action-btn {
      color: var(--ion-color-warning, #ffc409);
    }
  }
  #marketing-activity {
    .dataTables_wrapper {
      table.dataTable {
        tbody {
          tr.total-row {
            background: var(--ion-color-four) !important;
          }
          tr {
            td {
              padding: 10px 10px;
            }
          }
        }
      }
    }
  }
}
