@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.mat-option {
  @include set-text-style(15px, 19px);
}

.mat-form-field,
.mat-form-field-label mat-label,
.mat-list-item,
.mat-form-field .mat-form-field-label,
.mat-select-value {
  font-family: var(--ion-font-family);
  color: var(--ion-text-color);

}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(var(--ion-text-color-rgb), 0.5);
}

.mat-select-arrow {
  color: rgba(var(--ion-text-color-rgb), 0.5);
}

.mat-tab-group {
  font-family: var(--ion-font-family);

  .mat-tab-header {
    margin: 0 10px;

    .mat-tab-label-container {
      .mat-ink-bar {
        display: none;
      }

      .mat-tab-label {
        background-color: var(--ion-color-step-1900);
        color: var(--ion-color-step-200);
        padding: 0;
        height: 55px;
        font-size: 16px;
        opacity: 1;
        margin: 0 2px !important;
        font-family: var(--ion-font-family);

        .mat-tab-label-content {
          width: 100%;
          height: 100%;

          .label-text {
            width: 100%;
            height: 100%;
            padding-top: 20px;
          }

          .success-border {
            border-bottom: 3px solid var(--ion-color-success);
          }

          .error-border {
            border-bottom: 3px solid var(--ion-color-danger);
          }
        }
      }

      .mat-tab-label:first-child {
        margin-left: 0 !important;
      }

      .mat-tab-label:last-child {
        margin-right: 0 !important;
      }

      .mat-tab-label-active {
        background-color: var(--ion-color-success);
        opacity: 1;
        color: var(--ion-color-step-2000);
      }
    }
  }

  .mat-tab-body-wrapper {
    margin-top: 20px;
  }
}

// .mat-tab-body {
.action-btn-group {
  text-align: right;
  margin: 25px 10px 10px;

  ion-button {
    margin: 0 5px;
  }

  .cancel-button {
    --background: var(--ion-color-danger);
  }

  .save-button {
    --background: var(--ion-color-success);
  }

  .submit-button {
    --background: var(--ion-color-success);
  }
}

// }
// }

.mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: none;
}

.mat-autocomplete-panel {
  background-color: var(--ion-color-step-1900);
  color: var(--ion-color-step-200);

  .mat-option {
    padding: 0 5px;
  }
}

.mat-autocomplete-panel.referencing-autocomplete {
  .mat-option {
    white-space: pre-wrap;
    text-overflow: initial;
    min-height: 50px;
    line-height: 22px;
    height: auto;
  }
}

#la-application-details,
#la-guarantor-details {
  .mat-tab-group {
    .mat-tab-header {
      margin: 0;
    }

    .mat-tab-body-wrapper {
      margin: 0;
    }
  }
}

.mat-button,
.mat-menu-item,
.mat-select,
.mat-option-text,
.mat-checkbox {
  font-family: var(--ion-font-family) !important;
}

.mat-menu-panel {
  background-color: var(--ion-color-mat-menu-panel-bg) !important;

  .mat-menu-item {
    color: var(--ion-color-button-mat-menu-item) !important;
    height: 36px;
    line-height: 36px;
  }

  .mat-menu-item:hover {
    background-color: var(--ion-color-solr-ex-panal-border-color) !important;
  }

  .mat-menu-item .mat-icon-no-color,
  .mat-menu-item-submenu-trigger::after {
    color: var(--ion-color-mat-menu-item-submenu-trigger) !important;
  }
}

#agent-portal {
  .mat-accordion {
    margin-bottom: 11px;
    .mat-expansion-panel {
      color: var(--ion-color-step-250);
      background-color: var(--ion-color-five);
      box-shadow: none;
      margin-bottom: 10px;

      .mat-expansion-panel-header {

        .mat-expansion-panel-header-title,
        .mat-expansion-panel-header-description {
          display: flex;
          align-items: center;
          font-family: var(--ion-font-family);
          color: var(--ion-color-primary);
          @include set-text-style(18px, 20px);
        }
      }

    }
    .mat-expansion-panel:is(.mat-expanded):not([aria-disabled=true]) {
      background-color: var(--ion-color-five);
    }
  }

  #propertyLettingDetails, #propertyLetBoardDetails, #la-application-list {
    // material date picker css - dark / light theme
  
    .mat-form-field-wrapper {
      margin-bottom: 0;
      padding-bottom: 27px;
    }
  
    .mat-form-field-underline::before {
      background-color: var(--ion-color-one) !important;
    }

    .mat-datepicker-toggle .mat-icon-button {
      color: var(--ion-color-primary);
    }
  
    .mat-form-field-appearance-fill .mat-form-field-flex {
      color: var(--ion-color-one) !important;
    }
  
    .mat-form-field-label {
      padding-top: 5px;
      font-size: 16px;
      mat-label {
        color: var(--ion-color-three) !important;
      }
    }
  
    .mat-form-field-infix{
      input{
        padding-top: 12px;
      }
    }
  }

  #la-application-details, #la-guarantor-details {
    .mat-form-field-underline::before {
      background-color: var(--ion-color-one) !important;
    }

    .mat-datepicker-toggle .mat-icon-button {
      color: var(--ion-color-primary);
    }
  
    .mat-form-field-appearance-fill .mat-form-field-flex {
      color: var(--ion-color-one) !important;
    }
  
    .mat-form-field-label {
      font-size: 16px;
      mat-label {
        color: var(--ion-color-three) !important;
      }
    }

    .mat-tab-label {
      background-color: var(--ion-color-five);
      color: var(--ion-color-one);
    }
    .mat-tab-label-active {
      background-color: var(--ion-color-success);
      opacity: 1;
      color: var(--ion-color-step-2000);
    }
  }
}