@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.mat-stepper-horizontal {
  font-family: var(--ion-font-family);
  .mat-horizontal-stepper-header-container {
    margin: 0 20px;

    .mat-step-header[aria-labelledby="disabled_stepper_step"] {
      pointer-events: none !important;
      cursor: not-allowed;
    }
    
    .mat-stepper-horizontal-line {
      border-top-width: 2px;
      top: 30px;
      border-color: var(--ion-color-medium);
    }

    .mat-horizontal-stepper-header {
      padding: 24px 10px;
      //pointer-events: none !important;

      .mat-step-icon {
        background-color: var(--ion-color-medium);
        //border: 2px solid var(--ion-color-medium);
        height: 14px;
        width: 14px;

        .mat-step-icon-content {
          display: none;
        }

        &.mat-step-icon-state-done {
          background-color: var(--ion-color-success);
          //border: 2px solid var(--ion-color-success);

          .mat-step-icon-content {
            display: none;
          }
        }

        &.mat-step-icon-selected,
        &.mat-step-icon-state-edit {
          background-color: var(--ion-color-primary);
          //border: 2px solid var(--ion-color-primary);

          .mat-step-icon-content {
            display: none;
          }
        }

        &.mat-step-icon-state-error {
          background-color: var(--ion-color-danger);
          //border: 2px solid var(--ion-color-danger);

          .mat-step-icon-content {
            display: none;
          }
        }
      }

      .mat-step-label {
        @include set-text-style(16px, 20px);
        padding: 10px 0 0 0;

        &.mat-step-label-error {
          color: var(--ion-color-danger);
        }
      }
    }

    .mat-horizontal-stepper-header:hover,
    .mat-step-header.cdk-program-focused {
      background: none;
    }
  }

  .mat-horizontal-content-container {
    padding: 0;
    ion-item{
      --background: transparent;
    }
  }
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before{
  border-top-width: 2px !important;
  border-color: var(--ion-color-medium) !important;
  top: 30px !important;
  width: calc(50% - 7px) !important;
}


.reg-form ion-card-content{
  .mat-stepper-horizontal{
    .mat-horizontal-stepper-header-container{
      margin: 0;

      @media screen and (min-width: 0px) and (max-width: 600px) {
        padding: 0;
      }
    }
  }
  button.mat-button.stepper-btn, button.mat-button.stepper-btn-green {
    border: 2px solid var(--ion-color-tertiary);
    @include set-text-style(14px, 32px);
    font-weight: 400;
    height: 36px;
    margin: 4px 2px;
    color: var(--ion-color-tertiary);
  }
  
  button.mat-button.stepper-btn-green {
    border: none;
    background-color: var(--ion-color-success);
    color: var(--ion-color-step-2000);
  }
  
  button.stepper-btn-green.mat-button[disabled][disabled] {
    color: var(--ion-color-step-2000);
    opacity: 0.5;
  }
  
  button.stepper-btn.mat-button[disabled][disabled] {
    color: var(--ion-color-tertiary);
    opacity: 0.5;
  }
}

#fault-details {
  .mat-stepper-horizontal {
    @include border-radius(4px);
    width: 100%;
    margin: 0px 15px 30px 0;
    display: inline-block;
    padding-top: 10px;
    // background: var(--ion-color-step-2000);
    background: none !important;

    .mat-horizontal-content-container {
      background: var(--ion-color-five);
      @include border-radius(5px);
      position: relative;
      // margin: 20px;
    }

    .stepper-next, .stepper-back, .stepper-submit, .stepper-cancle, .stepper-save {
      color: var(--ion-color-step-2000);
      margin: 5px;
    }

    .stepper-next, .stepper-back, .stepper-submit {
      background-color: var(--ion-color-step-900);
    }

    .stepper-cancle {
      background-color: var(--ion-color-danger);
      margin-left: 20px;
    }

    .stepper-save {
      background-color: var(--ion-color-success);
    }

    .mat-icon-button[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }

    .mat-icon-button {
      width: 55px;
      height: 55px;
    }

    ion-item{
      --background: transparent;
    }
  }

  .mat-stepper-vertical {
    font-family: var(--ion-font-family);
    margin-left: 15%;
    width: 80%;
    background: var(--ion-color-step-2000);
    margin-top: 50px;
    @include border-radius(10px);
    position: relative;
    min-height: 665px;
    margin-bottom: 25px;

    .mat-step{
      .mat-vertical-stepper-header {

      }
    }

    ion-item{
      --background: transparent;
    }
  }
}

#la-application-details {
  .mat-stepper-horizontal {
    .mat-horizontal-content-container {
      background: var(--ion-color-step-1750);
      margin: 0;
      border-radius: 0;
    }
  }
}

/* Vertical stepper */

.mat-stepper-vertical {
  .mat-step{
    .mat-vertical-stepper-header {
      padding: 11px;
      //pointer-events: none !important;

      .mat-step-icon {
        background-color: var(--ion-color-medium);
        //border: 2px solid var(--ion-color-medium);
        height: 14px;
        width: 14px;

        .mat-step-icon-content {
          display: none;
        }

        &.mat-step-icon-state-done {
          background-color: var(--ion-color-success);
         // border: 2px solid var(--ion-color-success);

          .mat-step-icon-content {
            display: none;
          }
        }

        &.mat-step-icon-selected,
        &.mat-step-icon-state-edit {
          background-color: var(--ion-color-primary);
          //border: 2px solid var(--ion-color-primary);

          .mat-step-icon-content {
            display: none;
          }
        }

        &.mat-step-icon-state-error {
          background-color: var(--ion-color-danger);
          //border: 2px solid var(--ion-color-danger);

          .mat-step-icon-content {
            display: none;
          }
        }
      }

      .mat-step-label {
        color: var(--ion-color-dark);
        @include set-text-style(20px, 26px);

        &.mat-step-label-error {
          color: var(--ion-color-danger);
        }
      }
    }

    .mat-vertical-content-container{
      &.mat-stepper-vertical-line{
        padding: 0;
        margin-left: 17px;
      }

      &.mat-stepper-vertical-line:before{
        border-left-width: 2px;
        border-color: var(--ion-color-medium);
      }

      .mat-vertical-stepper-content {
        .mat-vertical-content{
          padding: 0 15px 100px;
          .stepper-next, .stepper-back {
            position: absolute;
            transform: rotate(90deg);
            bottom: 5px;
          }
          
          .stepper-next{
            right: 15px;
          }
      
          .stepper-back {
            left: 15px;
          }
        }
      }
    }
  }
}

#application-stepper {
  .mat-stepper-horizontal .mat-horizontal-stepper-header-container {
    margin: 0px;
  }
  .mat-stepper-horizontal .mat-horizontal-stepper-header-container .mat-horizontal-stepper-header {
    padding: 24px 3px;
  }
  .mat-stepper-horizontal .mat-horizontal-stepper-header-container .mat-horizontal-stepper-header .mat-step-label {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 0px) and (max-width: 960px) {
  
  #fault-details {
    .mat-stepper-vertical {
      margin: 15px 15px 15px 0;
      width: calc(100% - 25px);

      .mat-horizontal-content-container {
        max-height: none;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 961px) and (max-width: 1280px) {

  #make-an-offer,
  #application-details {
    .mat-stepper-horizontal {
      margin: 15px 15px 15px 0;
      width: calc(100% - 25px);

      .mat-horizontal-content-container {
        max-height: none;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 961px) and (max-width: 1500px) {

}

#agent-portal{
  .mat-stepper-horizontal {
    .mat-horizontal-stepper-header-container {
      .mat-horizontal-stepper-header {
        .mat-step-icon {
          &.mat-step-icon-selected,
          &.mat-step-icon-state-edit {
            background-color: var(--ion-color-success);         
          }       
        }
        .mat-step-label {
          color: var(--ion-color-one) !important;
        }
      }
    }
  }

  #offer-stepper, #tob-application-stepper {
    .stepper-next, .stepper-back{
      color: var(--ion-color-primary-contrast);
      background-color: var(--ion-color-success);
    }
  }
}

