<ion-header>
  <ion-title></ion-title>
</ion-header>

<ion-content id="tob-application-list">
  <ng-container>
    <form [formGroup]="filterForm">
      <div class="property-details">
        <ion-grid class="ion-padding">
          <ion-row class="address">
            <ion-col class="ion-no-padding" *ngIf="isPropertyDetailsAvailable">
              <h1 *ngIf="propertyDetails?.publishedAddress" class="ion-no-margin">{{ propertyDetails?.publishedAddress }}
              </h1>
              <h1 *ngIf="!propertyDetails?.publishedAddress" class="ion-no-margin">
                {{ propertyDetails?.address | address }}
              </h1>
            </ion-col>
            <ion-col class="ion-no-padding" *ngIf="!isPropertyDetailsAvailable">
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row class="filters">
            <ion-col size-xl="10" class="ion-no-padding">
              <ion-button color="danger" (click)="rejectAllApplications()"> Reject All </ion-button>
            </ion-col>

            <ion-col class="ion-no-padding" size-xl="19" size-sm="25">
              <ion-item lines="none">
                <ion-label class="ion-text-end">Applications made between</ion-label>
              </ion-item>
            </ion-col>

            <ion-col class="ion-text-end" size-xl="13" size-sm="15">
              <ion-item id="fromDate">
                <ion-label position="floating">Date From</ion-label>
                <ion-input value="{{ filterForm.controls.fromDate.value | date: DATE_FORMAT.DATE }}"></ion-input>
                <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
                <ion-popover class="ion-datepicker-popover" trigger="fromDate" show-backdrop="false">
                  <ng-template>
                    <ion-datetime [showDefaultButtons]="true" presentation="date" formControlName="fromDate" [max]="maxDate">
                    </ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
            </ion-col>

            <ion-col class="ion-text-end" size-xl="13" size-sm="15">
              <ion-item id="toDate">
                <ion-label position="floating">Date To</ion-label>
                <ion-input value="{{ filterForm.controls.toDate.value | date: DATE_FORMAT.DATE }}"></ion-input>
                <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
                <ion-popover class="ion-datepicker-popover" trigger="toDate" show-backdrop="false">
                  <ng-template>
                    <ion-datetime [showDefaultButtons]="true" presentation="date" formControlName="toDate" [min]="filterForm.controls.fromDate.value ? filterForm.controls.fromDate.value : 2000" [max]="maxDate">
                    </ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
            </ion-col>

            <ion-col class="ion-text-end no-padding-right" size-xl="20" size-sm="25">
              <ion-button class="btn-filter" color="success" [disabled]="filterForm.controls.fromDate.value && filterForm.controls.toDate.value ? false : true"
                (click)="filterByDate()" expand="block">Filter</ion-button>
              <ion-button class="btn-filter" color="danger" (click)="resetFilters()" expand="block">Reset</ion-button>
            </ion-col>

          <ion-col class="ion-no-padding ion-text-end btn-top-space" size-xl="25">
            <!-- <ion-button (click)="createApplication()" [disabled]="!propertyDetails?.isAvailable"> Create Application </ion-button> -->
            <ion-button (click)="hideRecords()"> {{ isHideRejected ? "Show Rejected" : "Hide Rejected"}} </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    </form>
  </ng-container>

  <ng-container>
    <div *ngIf="!isApplicationListAvailable">
      <ion-card *ngFor="let number of [0,1,2,3,4]" class="ion-padding no-padding-top-bottom">
        <ion-card-content>
          <ion-grid class="ion-padding">
            <ion-row class="main-row">
              <ion-col size-xl="15" size="20" class="no-padding">
                <div>
                  <ion-skeleton-text animated style="width: 90%; height: 132px;"></ion-skeleton-text>
                </div>
              </ion-col>
              <ion-col size-xl="85" size="80" style="position: static;" class="no-padding">
                <ion-grid style="height:100%;" class="no-padding-top">
                  <ion-row class="application-title fs-18">
                    <ion-col class="no-padding-top no-padding-bottom col1" size="60">
                      <ion-text class="fs-20">    
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                      </ion-text> <br />
                    </ion-col>
                    <ion-col class="no-padding-top no-padding-bottom col2 ion-text-end" size="40">
                      <ion-text class="" >
                        <ion-skeleton-text animated style="width: 25%; float: right;"></ion-skeleton-text>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row class="application-details">
                    <ion-col class="no-padding-top col1" size="75">
                      <ion-grid class="no-padding-left">
                        <ion-row>
                          <ion-col class="no-padding-left no-padding-bottom no-padding-top col2" size="33">
                          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                          </ion-col>
                          <ion-col class="no-padding-left no-padding-bottom no-padding-top col3" size="33">
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                          </ion-col>
                          <ion-col class="no-padding-left no-padding-bottom no-padding-top col1" size="33">
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-top: 20px; margin-bottom: -10px;">
                          <ion-col class="no-padding-left no-padding-bottom no-padding-top col1" size="33">
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                          </ion-col>
                          <ion-col class="no-padding-left no-padding-bottom no-padding-top col2" size="33">
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                          </ion-col>
                          <ion-col class="no-padding-left no-padding-bottom no-padding-top col3" size="33">
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                    <ion-col class="no-padding-top col2 ion-text-end action-icon" size="25">
                      <ion-skeleton-text animated style="width: 15%"></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
    <div style="position: relative;" class="overlay-container" *ngIf="isApplicationListAvailable">
      <ion-card *ngFor="let item of obsApplicationList | async;" class="ion-padding no-padding-top-bottom">
        <ion-card-content>
          <ion-grid class="ion-padding">
            <ion-row class="main-row">
              <ion-col size-xl="15" size="20" class="no-padding">
                <div>
                  <img class="applicant-img" [src]="item.numberOfCoApplicants > 0 ? 'assets/images/tob/multi-user.svg' : 'assets/images/tob/single-user.svg'" alt="applicantImage">
                </div>
              </ion-col>
              <ion-col size-xl="85" size="80" style="position: static;" class="no-padding">
                <ion-grid style="height:100%;" class="no-padding">
                  <ion-row class="application-title fs-18">
                    <ion-col class="no-padding-top no-padding-bottom col1" size="60">
                      <ion-text class="fs-20"> {{ item?.rent | currency: 'GBP' }} {{ (applicationsDetails?.frequencyType | lookup: rentFrequencyTypes) || DEFAULTS.NOT_AVAILABLE }}
                      </ion-text> <br />
                    </ion-col>
                    <ion-col class="no-padding-top no-padding-bottom col2 ion-text-end" size="40">
                      <ion-text class="application-status" [color]="getStatusColor(item?.status)">
                        {{ (item?.status | lookup: applicationStatusTypes) || DEFAULTS.NOT_AVAILABLE }}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row class="application-details">
                    <ion-col class="no-padding-top col1" size="75">
                      <ion-grid class="no-padding-left">
                        <ion-row>
                          <ion-col class="no-padding-left no-padding-bottom no-padding-top col2" size="33">
                            <ion-text color="medium">Applicant Name</ion-text><br />
                            <ion-text>{{ item?.forename }} {{ item?.surname }}</ion-text><br />
                          </ion-col>
                          <ion-col class="no-padding-left no-padding-bottom no-padding-top col3" size="33">
                            <ion-text color="medium">No. of Co-applicant(s)</ion-text><br />
                            <ion-text>{{ item?.numberOfCoApplicants ? item?.numberOfCoApplicants : 0 }}</ion-text><br />
                          </ion-col>
                          <ion-col class="no-padding-left no-padding-bottom no-padding-top col1" size="33">
                            <ion-text color="medium">Holding Deposit</ion-text><br />
                            <ion-text>{{ item?.holdingDeposit | currency: 'GBP' }}</ion-text><br />
                          </ion-col>
                        </ion-row>
                        <ion-row class="details">
                          <ion-col class="no-padding-left no-padding-bottom no-padding-top col1" size="33">
                            <ion-text color="medium">Security Deposit</ion-text><br />
                            <ion-text>{{ applicationsDetails?.securityDeposit | currency: 'GBP' }}</ion-text><br />
                          </ion-col>
                          <ion-col class="no-padding-left no-padding-bottom no-padding-top col2" size="33">
                            <ion-text color="medium">Tenancy Start</ion-text><br />
                            <ion-text>{{ item?.moveInDate ? (item?.moveInDate | date: DATE_FORMAT.DATE) : DEFAULTS.NOT_AVAILABLE}}</ion-text><br />
                          </ion-col>
                          <ion-col class="no-padding-left no-padding-bottom no-padding-top col3" size="33">
                            <ion-text color="medium">Tenancy End</ion-text><br />
                            <ion-text>{{ item?.preferredTenancyEndDate ? (item?.preferredTenancyEndDate | date: DATE_FORMAT.DATE) : DEFAULTS.NOT_AVAILABLE }}</ion-text><br />
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                    <ion-col class="no-padding-top col2 ion-text-end action-icon" size="25">
                      <div>
                        <i (click)="showMenu($event, 'tob-application-overlay', item, 'application-details', false)"
                          class="propcoicon propcoicon-actions-on action-btn pointer"></i>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="!isRecordsAvailable && filteredApplicationList.data.length === 0">
        <ion-card-content>
          <div class="ion-padding ion-text-center">
            <h1>No applications found.</h1>
          </div>
        </ion-card-content>
      </ion-card>
      <div id="tob-application-overlay" class="overlay-class">
        <ion-button color="success" *ngIf="selectedApplicationRow?.isSubmitted && (selectedApplicationRow?.status != 1 && selectedApplicationRow?.status != 2)" (click)="acceptApplication()">Accept</ion-button>
        <ion-button color="danger" *ngIf="selectedApplicationRow?.isSubmitted && selectedApplicationRow?.status != 1 && selectedApplicationRow?.status != 3" (click)="rejectApplication()">Reject</ion-button>
        <ion-button *ngIf="selectedApplicationRow?.isSubmitted && selectedApplicationRow?.status == 2" (click)="holdApplication()">Hold</ion-button>
        <ion-button *ngIf="selectedApplicationRow?.isSubmitted && (selectedApplicationRow?.status == 2 && !selectedApplicationRow?.isHoldingDepositPaid)" (click)="markHoldingDepositPaid()">Holding Deposit Paid</ion-button>
        <ion-button *ngIf="selectedApplicationRow?.isSubmitted && (selectedApplicationRow?.status == 2 && selectedApplicationRow?.isHoldingDepositPaid)" (click)="startReferencing()">Start Referencing</ion-button>
        <ion-button (click)="viewDetails(selectedApplicationRow?.applicationId)">View Details</ion-button>
        <i (click)="hideMenu($event,'tob-application-overlay')" class="propcoicon propcoicon-actions-on"></i>
      </div>
    </div>
    <div class="tob-pagination ion-padding">
      <mat-paginator [hidden]="!filteredApplicationList.data.length" class="paginator" #paginator
        [pageIndex]="paginatorConfig.pageIndex" [pageSize]="paginatorConfig.pageSize"
        [length]="filteredApplicationList.data.length" [pageSizeOptions]="paginatorConfig.pageSizeOptions"
        [showFirstLastButtons]="paginatorConfig.showFirstLastButtons" (page)="onPaginateChange()">
      </mat-paginator>
    </div>
  </ng-container>
  
</ion-content>