<ion-header>
  <ion-title></ion-title>
</ion-header>

<ion-content>
  <ng-container>
    <div class="property-details">
      <ion-grid>
        <ion-row class="address">
          <ion-col class="ion-no-padding">
            <h1 *ngIf="propertyDetails?.publishedAddress" class="ion-no-margin">{{ propertyDetails?.publishedAddress }}
            </h1>
            <h1 *ngIf="!propertyDetails?.publishedAddress" class="ion-no-margin">
              {{ propertyDetails?.address | address }}
            </h1>
          </ion-col>
        </ion-row>
        <ion-row class="filters">
          <ion-col size-xl="10">
            <ion-button color="danger" (click)="rejectAllApplications()"> Reject All </ion-button>
          </ion-col>

          <ion-col class="ion-no-padding" size-xl="19" size-sm="25">
            <ion-item lines="none">
              <ion-label class="ion-text-end">Applications made between</ion-label>
            </ion-item>
          </ion-col>

          <ion-col class="ion-text-end" size-xl="13" size-sm="15">
            <mat-form-field appearance="fill">
              <mat-label>Date From</mat-label>
              <input matInput [matDatepicker]="picker1" [formControl]="fromDate" [max]="maxDate">
              <mat-datepicker-toggle matPrefix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </ion-col>

          <ion-col class="ion-text-end" size-xl="13" size-sm="15">
            <mat-form-field appearance="fill">
              <mat-label>Date To</mat-label>
              <input matInput [matDatepicker]="picker2" [formControl]="toDate" [min]="fromDate" [max]="maxDate">
              <mat-datepicker-toggle matPrefix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </ion-col>

          <ion-col class="ion-text-end" size-xl="15" size-sm="25">
            <ion-button class="btn-filter" color="success" [disabled]="fromDate.value && toDate.value ? false : true"
              (click)="filterByDate()" expand="block">Filter</ion-button>
            <ion-button class="btn-filter" color="danger" (click)="resetFilters()" expand="block">Reset</ion-button>
          </ion-col>

          <ion-col class="ion-no-padding ion-text-end btn-top-space" size-xl="30">
            <ion-button (click)="createApplication()" [disabled]="!propertyDetails?.isAvailable"> Create Application </ion-button>
            <ion-button (click)="hideRecords()"> {{ isHideRejected ? "Show Rejected" : "Hide Rejected"}} </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>

  <ng-container>
    <div style="position: relative;" class="overlay-container">
      <ion-card *ngFor="let item of obsApplicationList | async;">
        <ion-card-content>
          <ion-grid>
            <ion-row class="main-row">
              <ion-col size-xl="15" size="20">
                <div>
                  <img class="applicant-img" [src]="item.numberOfCoApplicants > 0 ? 'assets/images/tob/multi-user.svg' : 'assets/images/tob/single-user.svg'">
                </div>
              </ion-col>
              <ion-col size-xl="85" size="80" style="position: static;">
                <ion-grid style="height:100%;" class="no-padding">
                  <ion-row class="application-title fs-18">
                    <ion-col class="no-padding-top col1" size="60">
                      <ion-text class="fs-20"> {{ item?.rent | currency: 'GBP' }} {{ (applicationsDetails?.frequencyType | lookup: rentFrequencyTypes) || '-' }}
                      </ion-text> <br />
                    </ion-col>
                    <ion-col class="no-padding-top col2 ion-text-end" size="40">
                      <ion-text class="application-status" [color]="getStatusColor(item?.status)">
                        {{ (item?.status | lookup: applicationStatusTypes) || '-' }}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row class="application-details">
                    <ion-col class="no-padding-top col1" size="75">
                      <ion-grid class="no-padding-left">
                        <ion-row>
                          <ion-col class="no-padding-left col2" size="33">
                            <ion-text color="medium">Applicant Name</ion-text><br />
                            <ion-text>{{ item?.forename }} {{ item?.surname }}</ion-text><br />
                          </ion-col>
                          <ion-col class="no-padding-left col3" size="33">
                            <ion-text color="medium">No. of Co-applicant(s)</ion-text><br />
                            <ion-text>{{ item?.numberOfCoApplicants ? item?.numberOfCoApplicants : 0 }}</ion-text><br />
                          </ion-col>
                          <ion-col class="no-padding-left col1" size="33">
                            <ion-text color="medium">Holding Deposit</ion-text><br />
                            <ion-text>{{ item?.holdingDeposit | currency: 'GBP' }}</ion-text><br />
                          </ion-col>
                        </ion-row>
                        <ion-row class="details">
                          <ion-col class="no-padding-left col1" size="33">
                            <ion-text color="medium">Security Deposit</ion-text><br />
                            <ion-text>{{ applicationsDetails?.securityDeposit | currency: 'GBP' }}</ion-text><br />
                          </ion-col>
                          <ion-col class="no-padding-left col2" size="33">
                            <ion-text color="medium">Tenancy Start</ion-text><br />
                            <ion-text>{{ item?.moveInDate ? (item?.moveInDate | date: 'dd/MM/yyyy') : 'N/A'}}</ion-text><br />
                          </ion-col>
                          <ion-col class="no-padding-left col3" size="33">
                            <ion-text color="medium">Tenancy End</ion-text><br />
                            <ion-text>{{ item?.preferredTenancyEndDate ? (item?.preferredTenancyEndDate | date: 'dd/MM/yyyy') : 'N/A' }}</ion-text><br />
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                    <ion-col class="no-padding-top col2 ion-text-end action-icon" size="25">
                      <div>
                        <i (click)="showMenu($event, 'divOverlay', item, 'application-details', false)"
                          class="propcoicon propcoicon-actions-on action-btn pointer"></i>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="isRecordsAvailable && filteredApplicationList.data.length === 0">
        <ion-card-content>
          <div class="ion-padding ion-text-center">
            <h1>No applications found.</h1>
          </div>
        </ion-card-content>
      </ion-card>
      <div id="divOverlay">
        <ion-button color="success" *ngIf="selectedApplicationRow?.isSubmitted && (selectedApplicationRow?.status != 1 && selectedApplicationRow?.status != 2)" (click)="acceptApplication()">Accept</ion-button>
        <ion-button color="danger" *ngIf="selectedApplicationRow?.isSubmitted && selectedApplicationRow?.status != 1 && selectedApplicationRow?.status != 3" (click)="rejectApplication()">Reject</ion-button>
        <ion-button *ngIf="selectedApplicationRow?.isSubmitted && selectedApplicationRow?.status == 2" (click)="holdApplication()">Hold</ion-button>
        <ion-button *ngIf="selectedApplicationRow?.isSubmitted && (selectedApplicationRow?.status == 2 && !selectedApplicationRow?.isHoldingDepositPaid)" (click)="markHoldingDepositPaid()">Holding Deposit Paid</ion-button>
        <ion-button *ngIf="selectedApplicationRow?.isSubmitted && (selectedApplicationRow?.status == 2 && selectedApplicationRow?.isHoldingDepositPaid)" (click)="startReferencing()">Start Referencing</ion-button>
        <ion-button (click)="viewDetails(selectedApplicationRow?.applicationId)">View Details</ion-button>
        <i (click)="hideMenu($event,'divOverlay')" class="propcoicon propcoicon-actions-on"></i>
      </div>
    </div>
    <mat-paginator [hidden]="!filteredApplicationList.data.length" class="table-pagination margin-left" #paginator
      [pageIndex]="paginatorConfig.pageIndex" [pageSize]="paginatorConfig.pageSize"
      [length]="filteredApplicationList.data.length" [pageSizeOptions]="paginatorConfig.pageSizeOptions"
      [showFirstLastButtons]="paginatorConfig.showFirstLastButtons" (page)="onPaginateChange()">
    </mat-paginator>
  </ng-container>
  
</ion-content>