ion-card {
    --background: var(--ion-color-step-1750);
  
    ion-card-content {
      background-color: var(--ion-color-step-1750);
      padding: 0px;
    }
}

.action-icon {
    display: inline-flex;
    align-items: center!important;
    justify-content: flex-end;
    margin: 0px 0px -6px -5px;
}

.property-details {
    margin: 10px;
    .address {
        align-items: center;
        margin: 20px 0px;
        color: var(--ion-color-step-800);
    }
    .filters {
        margin-bottom: 20px;
        align-items: center;
    }
}

.details {
    padding-top: 10px;
    margin-bottom: -10px;
}

.btn-filter {
    display: inline-block;
    width: 80px;
}

:host ::ng-deep .mat-form-field-wrapper {
    margin-bottom: -20px;
}

:host ::ng-deep .mat-datepicker-toggle .mat-icon-button {
    color: var(--ion-color-tertiary-tint);
}

.margin-left {
    margin-left: 10px;
}

.application-status {
    margin: 5px 0px !important;
    display: inline-block;
    border: 2px solid;
    padding: 3px 12px;
    border-radius: 20px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}