<ion-content id="progress-summary">
  <div class="ion-text-center element-margin">
    <h2>Progress Summary</h2>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="100" class="element-margin">
        <ion-progress-bar [value]="finalCount" [color]="progressBarColor" matTooltip="{{percentage+'%'}}">
        </ion-progress-bar>
        <ion-label class="ion-float-right">{{percentage}}%</ion-label>
      </ion-col>
      <ion-col class="no-padding-bottom" class="table-block" size="100">
        <table aria-label="progressSummary">
          <tr>
            <th scope="col" class="action-item">Action Items</th>
            <th scope="col">Number of Records</th>
            <th scope="col">Success</th>
            <th scope="col">Failure</th>
          </tr>
          <tr>
            <td>Total Records</td>
            <td>{{totalFinalRecords}}</td>
            <td>{{totalSuccessRecords}}</td>
            <td>{{totalFailureRecords}}</td>
          </tr>
          <tr *ngFor="let batch of batchList">
            <td>
              <ion-text class="mandatory" *ngIf="batch?.index === 6 || batch?.index === 1 || batch?.index === 0">*
              </ion-text> Records with preferance as "{{batch?.value}}" {{batch?.index}}
            </td>
            <td>{{batch?.totalRecords || 0}}</td>
            <td>{{batch?.totalSuccess || 0}}</td>
            <td>{{batch?.totalFailure || 0}}</td>
          </tr>
        </table>
      </ion-col>
      <ion-col size="100" class="note-text">
        <ion-text>
          <strong>Note:</strong> The action items marked (*) do not perform action of print or email per preferred mode
          of communication of landlords. The same records shall be recorded for audit & DMS marked as actioned.
        </ion-text>
      </ion-col>
      <ion-col size="100" class="action-panel">
        <span style="cursor: pointer;" [title]="HMRC_CONFIG.DOWNLOAD_PDF_INFO_TEXT">
          <ion-icon name="information-circle-outline" class="info-icon"></ion-icon>
        </span>
        <ion-button color="tertiary" fill="solid" style="margin-right: 9px;" (click)="previewPdf()" [disabled]="!batchDetails?.isCompleted">Download PDF
        </ion-button>
        <ion-button color="medium" fill="solid" (click)="redirectToHome()" [disabled]="!batchDetails?.isCompleted">Finish</ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>