<mat-accordion class="list-view-accordian" multi>
  <mat-expansion-panel #letBoardDetails hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Let Board
      </mat-panel-title>
      <mat-panel-description class="ion-justify-content-end no-margin">
        <div>
          <ion-icon class="accordian-icon" *ngIf="!letBoardDetails.expanded" name="add-circle"></ion-icon>
          <ion-icon class="accordian-icon" *ngIf="letBoardDetails.expanded" name="remove-circle"></ion-icon>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ion-card-content id="details">
      <form [formGroup]="group">
        <ion-grid class="no-padding">
          <ion-row>
            <ion-col size="20" class="no-padding-top no-padding-bottom">
              <ion-item lines="none" class="mt-7">
                <ion-toggle formControlName="isBoardAllowed" color="success">
                </ion-toggle>
                <ion-text>Board Allowed</ion-text>
              </ion-item>
            </ion-col>
            <ion-col size="20" class="no-padding-top no-padding-bottom">
              <mat-form-field appearance="fill">
                <mat-label> Board Ordered On </mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="boardOrderedOn" [disabled]="!group.get('isBoardAllowed').value"  readonly>
                <mat-datepicker-toggle matPrefix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </ion-col>
            <ion-col size="20" class="no-padding-top no-padding-bottom">
              <mat-form-field appearance="fill">
                <mat-label> Board Removed On </mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="boardRemovedOn" [disabled]="!group.get('isBoardAllowed').value" readonly>
                <mat-datepicker-toggle matPrefix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </ion-col>
            <ion-col size="20" class="no-padding-top no-padding-bottom">
              <mat-form-field appearance="fill">
                <mat-label> Let Agreed Slip Ordered On </mat-label>
                <input matInput [matDatepicker]="picker3" formControlName="slipOrderedOn" [disabled]="!group.get('isBoardAllowed').value" readonly>
                <mat-datepicker-toggle matPrefix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            </ion-col>
            <ion-col size="20" class="no-padding-top no-padding-bottom toggle-btn-top-spacing">
              <ion-item>
                <ion-label position="floating"> Board Ref </ion-label>
                <ion-input formControlName="boardRef" [disabled]="!group.get('isBoardAllowed').value"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </mat-expansion-panel>
</mat-accordion>