<mat-accordion class="form-view-accordian" multi>
  <mat-expansion-panel #letBoardDetails hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Let Board
      </mat-panel-title>
      <mat-panel-description class="ion-justify-content-end no-margin">
        <div>
          <span *ngIf="!letBoardDetails.expanded"  class="accordian-icon" title="Expand">
            <ion-icon style="pointer-events:none"  name="add-circle"></ion-icon>
          </span>
          <span *ngIf="letBoardDetails.expanded" class="accordian-icon" title="Collapse">
            <ion-icon style="pointer-events:none" name="remove-circle"></ion-icon>
            </span>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
      <form [formGroup]="group">
        <ion-grid class="no-padding" id="property-let-board-details">
          <ion-row>
            <ion-col size="20" class="ion-align-self-center">
              <ion-item lines="none">
                <ion-toggle formControlName="isBoardAllowed" color="primary">
                </ion-toggle>
                <ion-text>Board Allowed</ion-text>
              </ion-item>
            </ion-col>
            <ion-col size="20">
              <ion-item id="boardOrderedOn">
                <ion-label position="floating">Board Ordered On</ion-label>
                <ion-input value="{{ group.get('boardOrderedOn').value | date: DATE_FORMAT.DATE }}" [disabled]="!group.get('isBoardAllowed').value"></ion-input>
                <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
                <ion-popover class="ion-datepicker-popover" trigger="boardOrderedOn" show-backdrop="false">
                  <ng-template>
                    <ion-datetime showDefaultButtons="true" presentation="date" formControlName="boardOrderedOn">
                    </ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
            </ion-col>
            <ion-col size="20">
              <ion-item id="boardRemovedOn">
                <ion-label position="floating">Board Removed On</ion-label>
                <ion-input value="{{ group.get('boardRemovedOn').value | date: DATE_FORMAT.DATE }}" [disabled]="!group.get('isBoardAllowed').value"></ion-input>
                <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
                <ion-popover class="ion-datepicker-popover" trigger="boardRemovedOn" show-backdrop="false">
                  <ng-template>
                    <ion-datetime showDefaultButtons="true" presentation="date" formControlName="boardRemovedOn">
                    </ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
            </ion-col>
            <ion-col size="20">
              <ion-item id="slipOrderedOn">
                <ion-label position="floating">Let Agreed Slip Ordered On</ion-label>
                <ion-input value="{{ group.get('slipOrderedOn').value | date: DATE_FORMAT.DATE }}" [disabled]="!group.get('isBoardAllowed').value"></ion-input>
                <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
                <ion-popover class="ion-datepicker-popover" trigger="slipOrderedOn" show-backdrop="false">
                  <ng-template>
                    <ion-datetime showDefaultButtons="true" presentation="date" formControlName="slipOrderedOn">
                    </ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
            </ion-col>
            <ion-col size="20">
              <ion-item>
                <ion-label position="floating">Board Ref </ion-label>
                <ion-input formControlName="boardRef" [disabled]="!group.get('isBoardAllowed').value"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
  </mat-expansion-panel>
</mat-accordion>