.request-start-date {
    padding-bottom: 6px;
}

:host ::ng-deep .picker-wrapper {
    top: 73px !important;
}

.unsaved-data-error{
    background: #ea828247;
}

.error-message{
    display: inline-block;
    padding-top: 10px;
    font-size: 14px;
}