#appointment-modal {
    .request-start-date {
        padding-bottom: 6px;
    }    
    
    .error-message{
        display: inline-block;
        padding-top: 10px;
        font-size: 14px;
    }
    
    .session-label {
        margin-top: 15px;
    }
    
    .session-block-radio-btn {
        div {
            margin-bottom: -16px;
        }
    }
}