<!-- <ion-header>
  <ion-toolbar>
    <ion-title>appointment-modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="appointmentForm">
    <ion-grid class="">
      <ion-row class="">
        <ion-col size="100">
          <h6>{{heading_one}}</h6>
          <h6>{{heading_two}}</h6>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Visit Date/Time<ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-datetime formControlName="dateTime" displayFormat="DD/MM/YYYY HH:mm" interface="popover"
              class="request-start-date" [min]="minDate">
            </ion-datetime>
          </ion-item>
          <app-validation-message [control]="appointmentForm.controls.dateTime"></app-validation-message>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col class="ion-text-end">
      <ion-button (click)="dismiss()">NO</ion-button>
      <ion-button (click)="saveContractorVisit()">YES</ion-button>
    </ion-col>

  </ion-row>
</ion-footer>