<!-- <ion-header>
  <ion-toolbar>
    <ion-title>appointment-modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="appointmentForm">
    <ion-grid class="">
      <ion-row class="">
        <ion-col size="100">
          <h6>{{headingOne}}</h6>
          <h6>{{headingTwo}}</h6>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Visit Date/Time<ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-datetime formControlName="dateTime" displayFormat="DD/MM/YYYY HH:mm" interface="popover"
              class="request-start-date" >
            </ion-datetime>
          </ion-item>
          <app-validation-message [control]="appointmentForm.controls.dateTime"></app-validation-message>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-grid [class.unsaved-data-error]="unSavedData">
    <ion-row>
      <ng-container *ngIf="unSavedData">
        <ion-col size="70">
          <div class="ion-padding-top">Are you sure you want to cancel the process?</div>
        </ion-col>
        <ion-col size="30" class="ion-text-end">
          <ion-button color="danger" (click)="continue()">No</ion-button>&nbsp;
          <ion-button color="success" (click)="dismiss()">Yes</ion-button>
        </ion-col>
      </ng-container>
      <ng-container *ngIf="!unSavedData">
        <ion-col size="100" class="ion-text-end">
          <ion-button (click)="onCancel()" color="danger">NO</ion-button>
      <ion-button color="success" (click)="save()" [disabled]="showLoader">YES
        <ion-icon *ngIf="showLoader" name="refresh" class="rotating submit-loader"></ion-icon>
      </ion-button>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-footer>