<ng-template #selectGuarantorTemp>
  <form [formGroup]="selectGuarantorForm">
    <ion-grid>
      <ion-row>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Select Guarantor</ion-label>
            <ion-select interface="popover" formControlName="guarantor" (ionChange)="getGuarantorDetails(selectGuarantorForm.controls.guarantor.value)">
              <ion-select-option value="a1">New Guarantor</ion-select-option>
              <ion-select-option [value]="item.guarantorId" *ngFor="let item of guarantorList">
                {{ item.fullName ? item.fullName : item.forename + ' ' + item.surname }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="selectGuarantorForm.controls.guarantor"></app-validation-message>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ng-template>

<ng-template #guarantorDetailsTemp>
  <form [formGroup]="guarantorDetailsForm">
    <ion-grid>
      <ion-row>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Completion Method</ion-label>
            <ion-select interface="popover" formControlName="completeMethod">
              <ion-select-option [value]="item.index" *ngFor="let item of completionMethods">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Product Type  <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-select interface="popover" formControlName="productId">
              <ion-select-option [value]="item.productId" *ngFor="let item of referencingProductList">
                {{ item.productName }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.productId"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Tenant Type <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-select interface="popover" formControlName="tenantTypeId" (ionChange)="setValidatorsForForms()">
              <ion-select-option [value]="item.index" *ngFor="let item of tenantTypes">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.tenantTypeId"></app-validation-message>
        </ion-col>
        <ion-col size="33.3" *ngIf="getLookupValue(guarantorDetailsForm.controls.tenantTypeId.value, tenantTypes) == 'Company'">
          <ion-item>
            <ion-label position="floating">Company Name <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-input formControlName="companyName"></ion-input>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.companyName"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Title <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-select interface="popover" formControlName="title">
              <ion-select-option [value]="item.index" *ngFor="let item of titleTypes">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.title"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Other Title</ion-label>
            <ion-input formControlName="otherTitle"></ion-input>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.otherTitle"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">First Name <ion-text class="mandatory" *ngIf="guarantorDetailsForm.controls.tenantTypeId.value == 1">*</ion-text></ion-label>
            <ion-input formControlName="forename"></ion-input>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.forename"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Middle Name</ion-label>
            <ion-input formControlName="middlename"></ion-input>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.middlename"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Last Name <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-input formControlName="surname"></ion-input>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.surname"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Email <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.email"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Date of Birth <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-datetime formControlName="dateOfBirth" displayFormat="DD MMM YYYY" interface="popover" [max]="adultDate"></ion-datetime>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.dateOfBirth"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Marital Status <ion-text class="mandatory" *ngIf="guarantorDetailsForm.controls.tenantTypeId.value == 1">*</ion-text></ion-label>
            <ion-select interface="popover" formControlName="maritalStatus">
              <ion-select-option [value]="item.index" *ngFor="let item of maritalStatusTypes">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.maritalStatus"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="floating">Nationality</ion-label>
            <ion-select interface="popover" formControlName="nationality">
              <ion-select-option [value]="item.value" *ngFor="let item of nationList">
                {{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.nationality"></app-validation-message>
        </ion-col>
        <ion-col size="33.3" *ngIf="getLookupValue(guarantorDetailsForm.controls.tenantTypeId.value, tenantTypes) == 'Company'">
          <ion-item>
            <ion-label position="floating">Registration Number <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-input formControlName="registrationNumber"></ion-input>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.registrationNumber"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item>
            <ion-label position="stacked">Rent Share <ion-text class="mandatory">*</ion-text></ion-label>
            <input currencyMask formControlName="rentShare" (blur)="onBlurCurrency(guarantorDetailsForm.controls.rentShare.value, guarantorDetailsForm)"/>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.rentShare"></app-validation-message>
        </ion-col>
        <ion-col size="33.3">
          <ion-item lines="none" style="margin-top: 10px;">
            <ion-label style="white-space: normal;">Had tenant been known by any other name?</ion-label>
            <ion-toggle slot="start" formControlName="hasTenantOtherName" (ionChange)="setValidatorsForForms()"></ion-toggle>
          </ion-item>
          <app-validation-message [control]="guarantorDetailsForm.controls.hasTenantOtherName"></app-validation-message>
        </ion-col>
        <ng-container formGroupName="otherNames">
          <ion-col size="33.3" *ngIf="guarantorDetailsForm.controls.hasTenantOtherName.value">
            <ion-item>
              <ion-label position="floating">Title</ion-label>
              <ion-select interface="popover" formControlName="title">
                <ion-select-option [value]="item.index" *ngFor="let item of titleTypes">
                  {{ item.value }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <app-validation-message [control]="guarantorDetailsForm.controls.otherNames['controls'].title"></app-validation-message>
          </ion-col>
          <ion-col size="33.3" *ngIf="guarantorDetailsForm.controls.hasTenantOtherName.value">
            <ion-item>
              <ion-label position="floating">First Name <ion-text class="mandatory">*</ion-text></ion-label>
              <ion-input formControlName="forename"></ion-input>
            </ion-item>
            <app-validation-message [control]="guarantorDetailsForm.controls.otherNames['controls'].forename"></app-validation-message>
          </ion-col>
          <ion-col size="33.3" *ngIf="guarantorDetailsForm.controls.hasTenantOtherName.value">
            <ion-item>
              <ion-label position="floating">Middle Name</ion-label>
              <ion-input formControlName="middlename"></ion-input>
            </ion-item>
            <app-validation-message [control]="guarantorDetailsForm.controls.otherNames['controls'].middlename"></app-validation-message>
          </ion-col>
          <ion-col size="33.3" *ngIf="guarantorDetailsForm.controls.hasTenantOtherName.value">
            <ion-item>
              <ion-label position="floating">Last Name <ion-text class="mandatory">*</ion-text></ion-label>
              <ion-input formControlName="surname"></ion-input>
            </ion-item>
            <app-validation-message [control]="guarantorDetailsForm.controls.otherNames['controls'].surname"></app-validation-message>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
  </form>
</ng-template>


<ion-content id="la-guarantor-details">
  <ion-grid>
    <ion-row>
      <ion-col size="75" class="heading">
        <div *ngIf='!referenceNumber'>
          <ion-icon name="arrow-back-outline" style="vertical-align: bottom;cursor: pointer;" (click)="goBack()"></ion-icon>
           &nbsp;View Applications &nbsp;</div>
           <div *ngIf= 'referenceNumber'>
            <ion-icon name="arrow-back-outline" style="vertical-align: bottom;cursor: pointer;" (click)="goBack()"></ion-icon>
             &nbsp;{{"New Guarantor Application for " + referenceNumber }}&nbsp;</div>
      </ion-col>
      <ion-col size="25" class="la-logo">
        <img src="assets/images/referencing/la-logo.svg"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="tab-container">
          <mat-tab-group mat-stretch-tabs mat-align-tabs="start">
            <mat-tab>
              <ng-template mat-tab-label>
                <div class="label-text">Guarantor Details</div>
              </ng-template>
              <div class="accordion-container">
                <app-accordion-list [expanded]="true">
                    <ng-container *ngTemplateOutlet="selectGuarantorTemp"></ng-container>
                </app-accordion-list>
              </div>
              <div class="space-break"></div>
              <div class="accordion-container">
                <div class="accordion-header" (click)="guarantorDetailsAccordion.expanded = !guarantorDetailsAccordion.expanded">
                  <ion-grid class="ion-no-padding">
                    <ion-row class="ion-justify-content-between">
                      <ion-col>
                        Guarantor Details
                      </ion-col>
                      <ion-col class="ion-text-end">
                        <ion-icon name="add" *ngIf="!guarantorDetailsAccordion.expanded"></ion-icon>
                        <ion-icon name="remove" *ngIf="guarantorDetailsAccordion.expanded"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <app-accordion-list [expanded]="guarantorDetailsAccordion.expanded">
                    <ng-container *ngTemplateOutlet="guarantorDetailsTemp"></ng-container>
                  </app-accordion-list>
              </div>
              <div class="action-btn-group">
                <ion-button class="cancel-button" (click)=cancelApplication()>Cancel</ion-button>
                <ion-button class="submit-button" (click)="createApplication()">Submit</ion-button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
