// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #33cc00;
  --ion-color-primary-rgb: 51, 204, 0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #2db400;
  --ion-color-primary-tint: #47d11a;

  /** secondary **/
  --ion-color-secondary: #0070bd;
  --ion-color-secondary-rgb: 0, 112, 189;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0063a6;
  --ion-color-secondary-tint: #1a7ec4;

  /** tertiary **/
  --ion-color-tertiary: #0095ff;
  --ion-color-tertiary-rgb: 0, 149, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0083e0;
  --ion-color-tertiary-tint: #1aa0ff;

  /** success **/
  --ion-color-success: #7ac943;
  --ion-color-success-rgb: 122, 201, 67;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #6bb13b;
  --ion-color-success-tint: #87ce56;

  /** warning **/
  --ion-color-warning: #ffa500;
  --ion-color-warning-rgb: 255, 165, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e09100;
  --ion-color-warning-tint: #ffae1a;

  /** danger **/
  --ion-color-danger: #b81e1e;
  --ion-color-danger-rgb: 184, 30, 30;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #a21a1a;
  --ion-color-danger-tint: #bf3535;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-step-0: #000000;
  --ion-color-step-50: #060606;
  --ion-color-step-100: #0d0d0d;
  --ion-color-step-150: #131313;
  --ion-color-step-200: #1a1a1a;
  --ion-color-step-250: #202020;
  --ion-color-step-300: #262626;
  --ion-color-step-350: #2d2d2d;
  --ion-color-step-400: #333333;
  --ion-color-step-450: #3a3a3a;
  --ion-color-step-500: #404040;
  --ion-color-step-550: #464646;
  --ion-color-step-600: #4d4d4d;
  --ion-color-step-650: #535353;
  --ion-color-step-700: #5a5a5a;
  --ion-color-step-750: #606060;
  --ion-color-step-800: #666666;
  --ion-color-step-850: #6d6d6d;
  --ion-color-step-900: #737373;
  --ion-color-step-950: #7a7a7a;
  --ion-color-step-1000: #808080;
  --ion-color-step-1050: #868686;
  --ion-color-step-1100: #8d8d8d;
  --ion-color-step-1150: #939393;
  --ion-color-step-1200: #999999;
  --ion-color-step-1250: #a0a0a0;
  --ion-color-step-1300: #a6a6a6;
  --ion-color-step-1350: #acacac;
  --ion-color-step-1400: #b3b3b3;
  --ion-color-step-1450: #b9b9b9;
  --ion-color-step-1500: #c0c0c0;
  --ion-color-step-1550: #c6c6c6;
  --ion-color-step-1600: #cccccc;
  --ion-color-step-1650: #d3d3d3;
  --ion-color-step-1700: #d9d9d9;
  --ion-color-step-1750: #dfdfdf;
  --ion-color-step-1800: #e6e6e6;
  --ion-color-step-1850: #ececec;
  --ion-color-step-1900: #f2f2f2;
  --ion-color-step-1950: #f9f9f9;
  --ion-color-step-2000: #ffffff;

  --ion-background-color: var(--ion-color-step-1750);
  --ion-background-color-rgb: 255, 255, 255;
  --ion-text-color: var(--ion-color-step-200);
  --ion-text-color-rgb: 26, 26, 26;

  --ion-font-family: "Lato", san-serif, verdana;
  --ion-grid-columns: 100;

  --ion-padding: 15px;
  --ion-padding-start: 15px;
  --ion-padding-top: 15px;
  --ion-padding-end: 15px;
  --ion-padding-bottom: 15px;

  --ion-margin: 15px;
  --ion-margin-start: 15px;
  --ion-margin-top: 15px;
  --ion-margin-end: 15px;
  --ion-margin-bottom: 15px;

  --ion-font-size: 16px;
}

/* @media (prefers-color-scheme: dark) { */
/*
   * Dark Colors
   * -------------------------------------------
   */

body[color-theme="dark"] {
  --ion-color-primary: #33cc00;
  --ion-color-primary-rgb: 51, 204, 0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #2db400;
  --ion-color-primary-tint: #47d11a;
  --ion-color-secondary: #0070bd;
  --ion-color-secondary-rgb: 0, 112, 189;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0063a6;
  --ion-color-secondary-tint: #1a7ec4;
  --ion-color-tertiary: #0095ff;
  --ion-color-tertiary-rgb: 0, 149, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0083e0;
  --ion-color-tertiary-tint: #1aa0ff;
  --ion-color-success: #7ac943;
  --ion-color-success-rgb: 122, 201, 67;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #6bb13b;
  --ion-color-success-tint: #87ce56;
  --ion-color-warning: #ffa500;
  --ion-color-warning-rgb: 255, 165, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e09100;
  --ion-color-warning-tint: #ffae1a;
  --ion-color-danger: #b81e1e;
  --ion-color-danger-rgb: 184, 30, 30;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #a21a1a;
  --ion-color-danger-tint: #bf3535;
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-step-0: #ffffff;
  --ion-color-step-50: #f9f9f9;
  --ion-color-step-100: #f2f2f2;
  --ion-color-step-150: #ececec;
  --ion-color-step-200: #e6e6e6;
  --ion-color-step-250: #dfdfdf;
  --ion-color-step-300: #d9d9d9;
  --ion-color-step-350: #d3d3d3;
  --ion-color-step-400: #cccccc;
  --ion-color-step-450: #c6c6c6;
  --ion-color-step-500: #c0c0c0;
  --ion-color-step-550: #b9b9b9;
  --ion-color-step-600: #b3b3b3;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #a6a6a6;
  --ion-color-step-750: #a0a0a0;
  --ion-color-step-800: #999999;
  --ion-color-step-850: #939393;
  --ion-color-step-900: #8d8d8d;
  --ion-color-step-950: #868686;
  --ion-color-step-1000: #808080;
  --ion-color-step-1050: #7a7a7a;
  --ion-color-step-1100: #737373;
  --ion-color-step-1150: #6d6d6d;
  --ion-color-step-1200: #666666;
  --ion-color-step-1250: #606060;
  --ion-color-step-1300: #5a5a5a;
  --ion-color-step-1350: #535353;
  --ion-color-step-1400: #4d4d4d;
  --ion-color-step-1450: #464646;
  --ion-color-step-1500: #404040;
  --ion-color-step-1550: #3a3a3a;
  --ion-color-step-1600: #333333;
  --ion-color-step-1650: #2d2d2d;
  --ion-color-step-1700: #262626;
  --ion-color-step-1750: #202020;
  --ion-color-step-1800: #1a1a1a;
  --ion-color-step-1850: #131313;
  --ion-color-step-1900: #0d0d0d;
  --ion-color-step-1950: #060606;
  --ion-color-step-2000: #000000;

  --ion-background-color: var(--ion-color-step-2000);
  --ion-text-color: var(--ion-color-step-200);
}

/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body[color-theme="dark"] {
  /* --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #000000;

  --ion-card-background: #1c1c1d; */
}

/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

.md body[color-theme="dark"] {
  /* --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #1e1e1e; */
}
/* } */

/* $bg-color-transparent: transparent;
$bg-color-twentyfour: #82bc48;
$bg-color-fourty: #71b045;
$bg-color-secondary: #7ac943;
$bg-color-nineteenth: #7ac942;
$bg-color-fiftyseven: #33cc00;
$bg-color-fiftysix: #33ccff;
$text-color-ninth: #21b573;
$bg-color-fiftyfour: #009900;
$text-color-eighth: #3fa4f0;
$text-color-twentyfive: green;
$bg-color-thirtysix: rgba(64, 196, 255, 0.32);
$border-color-fifth: #337ab7;
$text-color-seventh: #0070bd;
$bg-color-third: #0095ff;
$text-color-twentysix: #34a4f0;
$text-color-twentyseven: #00add9;
$bg-color-twentytwo: #f7e843;
$bg-color-fiftytwo: #ffcccc;
$bg-color-twentythree: #ffa500;
$bg-color-twentyseven: orange;
$bg-color-thirtythree: #e36b0a;
$bg-color-thirtyfour: #ee7a0e;
$bg-color-fourtyfour: #ff6427;
$bg-color-fifty: #ff9335;
$text-color-twentyfour: #ffbf00;
$border-color-eleven: #d87525;
$border-color-twentythree: #c65a23;
$text-color-sixth: #ff0000;
$border-color-sixth: red;
$text-color-fourth: #c7281f;
$bg-color-fiftyfive: #b81e1e;
$bg-color-fourth: #aa0114;
$bg-color-thirtyone: #960112;

$bg-color-primary: #fff;
$bg-color-seventh: #f0f0f0;
$bg-color-fourtysix: #e0e0e0;
$bg-color-eighth: #ededed;
$text-color-thirteenth: #e6e6e6;
$bg-color-fiftythree: #dff0d8;
$bg-color-fiftyone: #d7d7d7;
$bg-color-sixth: #d0d0d0;
$bg-color-thirtynine: #dfdfdf;
$bg-color-tenth: #d1d1d1;
$bg-color-eleventh: #b2b2b2;
$bg-color-twelfth: #b0b0b0;
$bg-color-fourtytwo: #a8a8a8;
$bg-color-thirtyeight: #949494;
$bg-color-fourtyfive: #9f9f9f;
$bg-color-thirteenth: #808080;
$border-color-fourth: gray;
$bg-color-twentyfive: #737373;
$bg-color-fourtythree: #7a7a7a;
$text-color-twentynine: #767575;
$bg-color-fourteenth: #666;
$bg-color-fifteenth: #4d4d4d;
$border-color-eighteenth: #4e4e4e;
$bg-color-twentyone: #404040;
$bg-color-fourtynine: #444;
$bg-color-fourtyseven: #3d3d3d;
$bg-color-twentieth: #3e3e3e;
$bg-color-twentyeight: rgba(102, 102, 102, 0.5);
$bg-color-sixteenth: #333;
$bg-color-seventeenth: #262626;
$bg-color-eighteenth: #1a1a1a;
$text-color-fifth: #000; */
