<ion-content id="whitegoods">
  <mat-accordion multi class="form-table-view-accordian">
    <mat-expansion-panel #whitegoods hideToggle expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Guarantee Certificates and Service Contracts
        </mat-panel-title>
        <mat-panel-description class="ion-justify-content-end no-margin">
          <div>
            <span *ngIf="!whitegoods.expanded" class="accordian-icon" title="Expand">
              <ion-icon style="pointer-events:none" name="add-circle"></ion-icon>
            </span>
            <span *ngIf="whitegoods.expanded" class="accordian-icon" title="Collapse">
              <ion-icon style="pointer-events:none" name="remove-circle"></ion-icon>
            </span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="add-block">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-align-self-center">
              <ion-button color="success">Add</ion-button>
            </ion-col>
            <ion-col>
              <ion-item lines="none" class="ion-float-right">
                <ion-checkbox class="ma-checkbox" color="medium" slot="start"
                  name="repairCheckbox" [formControl]="isArchived" (ionChange)="checkboxClick()" >
                </ion-checkbox>
                <ion-label>Show Archived</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="overlay-container" style="position: relative">
        <table datatable [dtOptions]="dtOptions" class="row-border hover" width="100%" id="whitegoods-table"
          style="position: relative">
          <thead>
            <tr>
              <th style="width: 15%;">Type</th>
              <th style="width: 10%;">Notes</th>
              <th>Certification Number</th>
              <th>Expires</th>
              <th>Appliance</th>
              <th>Serial Number</th>
              <th>Model</th>
              <th>Archived</th>
              <th style="width:36px"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of whitegoodsList" class="table-row">
              <td>{{data?.type| lookup: certificateTypes || notAvailable}}</td>
              <td>{{data?.notes || notAvailable}}</td>
              <td>{{data?.managementServiceNumber || notAvailable}}</td>
              <td>{{data?.expireDate | date: DATE_FORMAT.DATE || notAvailable}}</td>
              <td>{{data?.appliance || notAvailable}}</td>
              <td>{{data?.serialNumber || notAvailable}}</td>
              <td>{{data?.model || notAvailable}}</td>
              <td>
                <ion-checkbox class="ma-checkbox" color="medium" slot="start" name="repairCheckbox"
                  [checked]="data?.isArchived" disabled>
                </ion-checkbox>
              </td>
              <td class="resp-action-icon">
                <i (click)="showMenu($event,'whitegoods-divOverlay', data, 'table-row')"
                  class="propcoicon propcoicon-actions-on action-btn"></i>
              </td>
            </tr>
            <tr *ngIf="whitegoodsList?.length === 0">
              <td colspan="9" class="no-data-available ion-text-center"><b>{{DEFAULT_MESSAGES.NO_RECORD_FOUND}}</b>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="whitegoods-divOverlay" class="divOverlay-class">
          <ion-button>Edit</ion-button>
          <i (click)="hideMenu($event,'whitegoods-divOverlay')" class="propcoicon propcoicon-actions-on"></i>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>