<ion-grid>
  <ion-row *ngIf="iqfNotification && !showSkeleton">
    <!-- || (!iqfNotification?.responseReceived && iqfNotification?.templateCode === 'FI-T-E-1') -->
    <ion-col offset-xl="20" size-xl="60" offset="0" size="100">
      <div class="fault-qualification">
        <div class="banner">
          <ion-row>
            <ion-col width="50" class="ion-text-left">
              <b>{{iqfNotification?.chaseTemplateCode}} {{iqfNotification?.firstEmailSentAt | date: 'dd/MM/yyyy HH:mm' }}</b>
            </ion-col>
          </ion-row>
          <h2 class="banner-heading">
            {{iqfNotification && iqfNotification?.responseReceived ? 'Response Received': 
            (iqfNotification?.responseReceived === null && iqfNotification?.allowedNumberOfChases === iqfNotification?.numberOfChasesDone && !iqfNotification?.hoursLeft?'No response':'Awaiting response')}}
          </h2>
          <h6 class="banner-title">Here’s the action you chose:</h6>
          <ion-button color="success" class="icon-button">
            {{getLookupValue(iqfNotification?.faultStageAction, iqfStageActions)}}
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-button>
          <ng-container *ngIf="iqfNotification && iqfNotification?.responseReceived">
            <h6 class="banner-title response-recived">
              <ion-icon name="ellipse" class="response-circle"></ion-icon> Response received from 
              <span *ngIf="iqfNotification?.recipientType === 58 && iqfNotification?.faultStageAction === 'UNDER_WARRANTY'">Guarantee Management Company</span> 
              <span *ngIf="iqfNotification?.recipientType === 58 && iqfNotification?.faultStageAction === 'UNDER_SERVICE_CONTRACT'">Service Contract Company</span>
              <span *ngIf="iqfNotification?.recipientType === 148">Block Management/Factors Company</span>
              {{iqfNotification?.chaseTemplateCode}} {{iqfNotification?.firstEmailSentAt | date: 'dd/MM/yyyy HH:mm' }}
            </h6>
          </ng-container>

          <ng-container *ngIf="iqfNotification && !iqfNotification?.responseReceived">
            <h6 class="banner-title"
            [ngClass]="iqfNotification?.responseReceived === null && iqfNotification?.allowedNumberOfChases === iqfNotification?.numberOfChasesDone && !iqfNotification?.hoursLeft?'no-response':'awaiting-response'"
            >
              <ion-icon name="ellipse" class="response-circle"></ion-icon> 
              {{iqfNotification?.responseReceived === null && iqfNotification?.allowedNumberOfChases === iqfNotification?.numberOfChasesDone && !iqfNotification?.hoursLeft?'No response':'Awaiting response'}} from the 
              <span *ngIf="iqfNotification?.recipientType === 58 && iqfNotification?.faultStageAction === 'UNDER_WARRANTY'">Guarantee Management Company</span> 
              <span *ngIf="iqfNotification?.recipientType === 58 && iqfNotification?.faultStageAction === 'UNDER_SERVICE_CONTRACT'">Service Contract Company</span>
              <span *ngIf="iqfNotification?.recipientType === 148">Block Management/Factors Company</span>
              <span *ngIf="iqfNotification?.recipientType === 1">Tenant</span>
            </h6>
            <h6 class="banner-title" *ngIf="!faultDetails?.isEscalated">{{iqfNotification.allowedNumberOfChases === iqfNotification.numberOfChasesDone?'Escalation':'Next chase'}} due:
              {{iqfNotification ? (iqfNotification.nextChaseDueAt | date: 'dd MMM yyyy - HH:mm') : ''}}
            </h6>
          </ng-container>
        </div>
        <div class="question-answer" *ngFor="let question of iqfNotification?.questions">
          <ng-container *ngIf="question?.entityType == fileIds.FIX_A_FAULT">
            <h6>{{question?.qtext}}</h6>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ng-container *ngFor="let data of question?.options">
                  <ion-button color="success" class="action-btn option"
                  fill="{{data?.value ==  iqfNotification?.responseReceived?.isAccepted ? 'solid' :'outline'}}"
                  (click)="questionAction(data)" [class]="iqfNotification?.templateCode === 'FI-T-E-1'? 'more-info-response': ''">{{data.text}}</ion-button>
                </ng-container>
              </ion-row>
            </ion-grid>
            
            <h6 *ngIf="iqfNotification && iqfNotification?.responseReceived?.isAccepted === false">
              <ion-text color="danger">Please select an appropriate action.</ion-text>
            </h6>
            <div class="border-bottom"></div>
          </ng-container>
        </div>

        <div class="question-answer"
          *ngIf="iqfNotification 
          && (iqfNotification?.responseReceived == null) && (iqfNotification.allowedNumberOfChases === iqfNotification.numberOfChasesDone) && !faultDetails.isEscalated && faultDetails.status !== 10 && faultDetails.status !== 12">
          <h4 claas="ion-text-center">Next Step:</h4>
          <h6 *ngIf="iqfNotification?.templateCode !== 'FI-T-E-1'">
            <ion-text color="danger">Please note: </ion-text>
            <span>The Fault will be <i>escalated</i> automatically if  
              <span *ngIf="iqfNotification?.recipientType === 58 && iqfNotification?.faultStageAction === 'UNDER_WARRANTY'">Guarantee Management Company</span> 
              <span *ngIf="iqfNotification?.recipientType === 58 && iqfNotification?.faultStageAction === 'UNDER_SERVICE_CONTRACT'">Service Contract Company</span>
              <span *ngIf="iqfNotification?.recipientType === 148">Block Management/Factors Company</span> does not respond within {{iqfNotification?.hoursLeft}}.
            </span>
          </h6>
          <h6 *ngIf="iqfNotification?.templateCode === 'FI-T-E-1' && (faultDetails.urgencyStatus === 1 || faultDetails.urgencyStatus === 2)">
            <ion-text color="danger">Please note: </ion-text>
            <span>The Fault will be <i>escalated</i> automatically if  
              Tenant does not respond within {{iqfNotification?.hoursLeft}}.
            </span>
          </h6>
          <h6 *ngIf="iqfNotification?.templateCode === 'FI-T-E-1' && faultDetails.urgencyStatus === 3">
            <ion-text color="danger">Please note: </ion-text>
            <span>The Fault will be <i>closed</i> automatically if  
              Tenant does not respond within {{iqfNotification?.hoursLeft}}.
            </span>
          </h6>
          <div class="border-bottom"></div>
        </div>

        <div class="question-answer" *ngIf="iqfNotification 
          && (iqfNotification?.responseReceived?.isAccepted === false || faultDetails.isEscalated)">
          <h4 claas="ion-text-center">Next Step:</h4>

          <h6 *ngIf="iqfNotification?.templateCode !== 'FI-T-E-1'">
            <ion-text color="danger">Please note: </ion-text>Fault Escalated - PM to decide the next steps
          </h6>

          <h6 *ngIf="iqfNotification?.templateCode === 'FI-T-E-1' && (faultDetails.urgencyStatus === 1 || faultDetails.urgencyStatus === 2)">
            <ion-text color="danger">Please note: </ion-text>Fault Escalated - PM to decide the next steps
          </h6>

          <h6 *ngIf="iqfNotification?.templateCode === 'FI-T-E-1' && faultDetails.urgencyStatus === 3">
            <ion-text color="danger">Please note: </ion-text>Fault Closed
          </h6>
          <div class="border-bottom"></div>
        </div>
        <div class="question-answer">
          <h6 class="banner-title">Want to proceed in a different way? Choose one of the following instead:</h6>
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ng-container *ngFor="let instruction of otherStageActions">
                <div>
                  <ion-button color="success" expand="block" class="action-btn"
                    fill="{{userSelectedActionControl.value == instruction.index ? 'solid' :'outline'}}"
                    (click)="setUserAction(instruction.index)">
                    {{instruction.value}}
                    <ion-icon name="checkmark-circle-outline" class="check-icon"
                      *ngIf="(userSelectedActionControl.value == instruction.index)"></ion-icon>
                  </ion-button>
                </div>
              </ng-container>
            </ion-row>
          </ion-grid>
          <div class="border-bottom" *ngIf="iqfNotification?.templateCode === 'FI-T-E-1'"></div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid *ngIf="(!iqfNotification || iqfNotification?.templateCode === 'FI-T-E-1') && !showSkeleton">
  <form [formGroup]="faultQualificationForm">
    <ion-row>
      <ion-col class="card">
        <h3>Management Keys</h3>
        <h5>Does branch hold Management Keys?</h5>
        <ion-row>
          <ion-col size="70">
            <ion-radio-group formControlName="doesBranchHoldKeys">
              <ion-row class="radio-block">
                <ion-col>
                  <ion-item lines="none">
                    <ion-radio mode="md" class="fault-radio-btn" item-left [value]="true" slot="start" [disabled]="faultDetails.isTenantPresenceRequired === true"></ion-radio>
                    <ion-label>Yes</ion-label>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item lines="none">
                    <ion-radio mode="md" class="fault-radio-btn" item-left [value]="false" slot="start" [disabled]="faultDetails.isTenantPresenceRequired === true"></ion-radio>
                    <ion-label>No</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-col>
          <ion-col size="30">
            <ion-button color="success" class="action-btn popup-view-btn" fill="solid"
              (click)="viewBranchDetails()" [disabled]="faultDetails.isTenantPresenceRequired === true">View</ion-button>
          </ion-col>
        </ion-row>
        <ion-text color="danger" *ngIf="faultDetails.isTenantPresenceRequired === true">Tenant presence required</ion-text>
      </ion-col>

      <ion-col class="card">
        <h3>Tenancy Clause</h3>
        <h5>Are there any maintenance specific tenancy clauses?</h5>
        <ion-row>
          <ion-col size="70">
            <ion-radio-group formControlName="hasMaintTenancyClause">
              <ion-row class="radio-block">
                <ion-col>
                  <ion-item lines="none">
                    <ion-radio mode="md" class="fault-radio-btn" item-left [value]="true" slot="start"
                      [disabled]="!tenancyClauses"></ion-radio>
                    <ion-label>Yes</ion-label>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item lines="none">
                    <ion-radio mode="md" class="fault-radio-btn" item-left [value]="false" slot="start"
                      [disabled]="!tenancyClauses"></ion-radio>
                    <ion-label>No</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-col>
          <ion-col size="30">
            <ion-button color="success" class="action-btn popup-view-btn" fill="solid"
              [disabled]="!tenancyClauses"
              (click)="viewTenancyClause()">View</ion-button>
          </ion-col>
        </ion-row>
        <ion-text color="danger" *ngIf="!tenancyClauses">No details available</ion-text>
      </ion-col>

      <ion-col class="card">
        <h3>Block Management</h3>
        <h5>Is the fault Block Management Company's responsibility? </h5>
        <ion-row>
          <ion-col size="70">
            <ion-radio-group formControlName="isUnderBlockManagement">
              <ion-row class="radio-block">
                <ion-col>
                  <ion-item lines="none">
                    <ion-radio mode="md" class="fault-radio-btn" item-left [value]="true" slot="start" [disabled]="!blockManagement"></ion-radio>
                    <ion-label>Yes</ion-label>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item lines="none">
                    <ion-radio mode="md" class="fault-radio-btn" item-left [value]="false" slot="start" [disabled]="!blockManagement"></ion-radio>
                    <ion-label>No</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-col>
          <ion-col size="30">
            <ion-button color="success" class="action-btn popup-view-btn" fill="solid"
              [disabled]="!blockManagement"
              (click)="viewBlockManagement();  $event.stopPropagation();">View</ion-button>
          </ion-col>
        </ion-row>
        <ion-text color="danger" *ngIf="!blockManagement">No details available</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="card">
        <h3>Guarantee / Warranty</h3>
        <h5>Is the fault covered by a Guarantee / Warranty? </h5>
        <ion-row>
          <ion-col size="70">
            <ion-radio-group formControlName="isUnderWarranty">
              <ion-row class="radio-block">
                <ion-col>
                  <ion-item lines="none">
                    <ion-radio mode="md" class="fault-radio-btn" item-left [value]="true" slot="start"
                      [disabled]="!certificateCategoriesMap.get(CERTIFICATES_CATEGORY[0])?.length"></ion-radio>
                    <ion-label>Yes</ion-label>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item lines="none">
                    <ion-radio mode="md" class="fault-radio-btn" item-left [value]="false" slot="start"
                      [disabled]="!certificateCategoriesMap.get(CERTIFICATES_CATEGORY[0])?.length"></ion-radio>
                    <ion-label>No</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-col>
          <ion-col size="30">
            <ion-button color="success" class="action-btn popup-view-btn" fill="solid"
              [disabled]="!certificateCategoriesMap.get(CERTIFICATES_CATEGORY[0])?.length"
              (click)="viewPropertyCertificate(CERTIFICATES_CATEGORY[0]); $event.stopPropagation();">View</ion-button>
          </ion-col>
        </ion-row>
        <ion-text color="danger" *ngIf="!certificateCategoriesMap.get(CERTIFICATES_CATEGORY[0])?.length">No details available</ion-text>
      </ion-col>
      <ion-col class="card">
        <h3>Service Contract/ Appliance Cover</h3>
        <h5>Is the fault covered by a Service Contract/ Appliance Cover?</h5>
        <ion-row>
          <ion-col size="70">
            <ion-radio-group formControlName="isUnderServiceContract">
              <ion-row class="radio-block">
                <ion-col>
                  <ion-item lines="none">
                    <ion-radio mode="md" class="fault-radio-btn" item-left [value]="true" slot="start" [disabled]="!certificateCategoriesMap.get(CERTIFICATES_CATEGORY[1])?.length && !certificateCategoriesMap.get(CERTIFICATES_CATEGORY[2])?.length"></ion-radio>
                    <ion-label>Yes</ion-label>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item lines="none">
                    <ion-radio mode="md" class="fault-radio-btn" item-left [value]="false" slot="start" [disabled]="!certificateCategoriesMap.get(CERTIFICATES_CATEGORY[1])?.length && !certificateCategoriesMap.get(CERTIFICATES_CATEGORY[2])?.length"></ion-radio>
                    <ion-label>No</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-col>
          <ion-col size="30">
            <ion-button color="success" class="action-btn popup-view-btn" fill="solid"
              [disabled]="!certificateCategoriesMap.get(CERTIFICATES_CATEGORY[1])?.length && !certificateCategoriesMap.get(CERTIFICATES_CATEGORY[2])?.length"
              (click)="viewPropertyCertificate(CERTIFICATES_CATEGORY[1]); $event.stopPropagation();">View</ion-button>
          </ion-col>
        </ion-row>
        <ion-text color="danger" *ngIf="!certificateCategoriesMap.get(CERTIFICATES_CATEGORY[1])?.length && !certificateCategoriesMap.get(CERTIFICATES_CATEGORY[2])?.length">No details available</ion-text>
      </ion-col>
      <ion-col class="card-extra"></ion-col>
    </ion-row>
  </form>
</ion-grid>
<div *ngIf="showSkeleton" >
  <ng-container *ngTemplateOutlet="blocksSkeleton"></ng-container>
</div>
<div class="action-btn-group">
  <ion-button (click)="moreInfo();" class="save-button ion-float-left" [disabled]="faultDetails?.status === 10 || (iqfNotification && !iqfNotification?.responseReceived && iqfNotification?.templateCode === 'FI-T-E-1')">Request More Info</ion-button>
  <ion-button (click)="closeFault();" class="cancel-button ion-float-left" [disabled]="faultDetails?.status===10">Close
    Fault
  </ion-button>
  <ion-button (click)="_btnHandler('cancel')" class="cancel-button" [disabled]="saving || proceeding">Cancel</ion-button>
  <ion-button (click)="_btnHandler('back')" [disabled]="saving || proceeding">Back</ion-button>
  <ion-button (click)="_btnHandler('next')" *ngIf="faultDetails?.stage !== FAULT_STAGES.FAULT_QUALIFICATION"  [disabled]="saving || proceeding">Next</ion-button>
  <ion-button class="save-button" (click)="_btnHandler('save')" [disabled]="proceeding">Save for later<ion-icon *ngIf="saving" name="refresh" class="rotating submit-loader"></ion-icon></ion-button>
  <ion-button class="submit-button" (click)="_btnHandler('proceed')" [disabled]="faultDetails?.status===10 || saving">Proceed <ion-icon *ngIf="proceeding" name="refresh" class="rotating submit-loader"></ion-icon>
  </ion-button>
</div>

<ng-template #blocksSkeleton>
  <ion-grid class="iqf-block-skeleton">
    <ion-row>
      <ion-col class="card" *ngFor="let number of [0,1,2]">
        <h3>
          <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        </h3>
        <h5>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h5>
        <ion-row>
          <ion-col size="70">
            <ion-radio-group>
              <ion-row class="radio-block">
                <ion-col>
                  <ion-item lines="none">
                    <ion-avatar>
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar>
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-item>
                </ion-col>
  
                <ion-col>
                  <ion-item lines="none">
                    <ion-avatar>
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar>
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-col>
          <ion-col size="30">
            <ion-item lines="none" class="button-block">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="card" *ngFor="let number of [0,1]">
        <h3>
          <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        </h3>
        <h5>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h5>
        <ion-row>
          <ion-col size="70">
            <ion-radio-group>
              <ion-row class="radio-block">
                <ion-col>
                  <ion-item lines="none">
                    <ion-avatar>
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar>
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-item>
                </ion-col>
  
                <ion-col>
                  <ion-item lines="none">
                    <ion-avatar>
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar>
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-col>
          <ion-col size="30">
            <ion-item lines="none" class="button-block">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="card-extra"></ion-col>
    </ion-row>
  </ion-grid>
</ng-template>