<ion-header>
  <ion-toolbar>
    <ion-title>{{ heading }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-margin">
  <!-- <p class="modal-content">{{ data }}</p> -->
  <div class="modal-content" [innerHtml]="data">
  </div>
</ion-content>

<ion-footer>
  <div class="ion-text-end ion-padding" *ngIf="button">
    <ion-button fill="outline" color="success" class="" (click)="dismiss()">{{ button }}</ion-button>
  </div>
  <div class="ion-text-end ion-padding" *ngIf="sessionTimer">
    <ion-button color="danger" style="margin-right:0" (click)="logout();">Sign Out</ion-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ion-button color="success" (click)="refreshSession();"> Stay Logged In ({{counter}}s)</ion-button>
  </div>
</ion-footer>