ion-item::part(native) {
    --background: var(--ion-overlay-background-color, var(--ion-background-color, #fff));
}
.select-all-checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.search-input {
    margin-left: 20px;
}
