.tour-guide {
  .tour-title {
    font-size: 22px !important;
  }

  .next-button {
    background-color: var(--ion-color-primary) !important;
    padding: 5px 10px !important;
    font-size: 14px !important;
  }

  .back-button {
    display: none;
  }

  .tour-step.tour-right .tour-arrow::before {
    border-right-color: var(--ion-color-step-1750) !important;
  }

  .tour-step.tour-bottom .tour-arrow::before,
  ngx-guided-tour .tour-step.tour-bottom-right .tour-arrow::before,
  ngx-guided-tour .tour-step.tour-bottom-left .tour-arrow::before {
    border-bottom-color: var(--ion-color-step-1750) !important;
  }
  .tour-step.tour-top .tour-arrow::before, 
  ngx-guided-tour .tour-step.tour-top-right .tour-arrow::before, 
  ngx-guided-tour .tour-step.tour-top-left .tour-arrow::before{
    border-top-color: var(--ion-color-step-1750) !important;
  }

  .tour-block {
    background-color: var(--ion-color-step-1750) !important;
    padding: 8px 16px !important;
    border-radius: 7px;
  }

  .tour-step .tour-content {
    min-height: 48px !important;
  }
}



@import '../../../../node_modules/ngx-guided-tour/scss/guided-tour-base-theme.scss';


@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}


.cdk-overlay-container {
  .mat-option-text {
    color: var(--ion-color-step-50);
    @include set-text-style(14px, 18px);
  }

  .mat-pseudo-checkbox-checked {
    background: var(--ion-color-success);
  }
}

#solr-dashboard {
  ion-chip {
    margin-top: 10px;
    position: absolute;
  }

  .divider {
    margin-top: 7px;
  }

  i.search-icon:hover {
    cursor: pointer;
  }

  .welcome-skeleton {
    width: 19%;
    margin: 0 auto;
    height: 15px;
  }

  .searchbar-skeleton {
    width: 75%;
    margin: 0 auto;
    height: 31px;
    margin-top: 17px;
    margin-bottom: 28px;
  }

  .block {
    background-color: var(--ion-color-step-1750);
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    min-height: 125px;
    height: 125px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 10px;

    i.propcoicon {
      margin-bottom: 5px;
      padding: 10px 15px 5px;
      @include set-text-style(55px, 60px);
      background-color: transparent;
      display: inline-table;
    }

    p {
      text-align: center;
      margin-top: auto;
      @include set-text-style(14px, 18px);
    }

  }

  .block:hover {
    background-color: #FFF !important;
    transform: scale(1.04);
  }
}

.swap-icon {
  position: absolute;
    left: 7px;
    top: 7px;

  img {
      background-color: var(--ion-color-step-1700);
      border-radius: 5px;
      padding: 4px;
      cursor: pointer;
  }
}