@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

.cdk-overlay-container {
  .mat-option-text {
    color: var(--ion-solr-font-color);
    @include set-text-style(14px, 18px);
  }

  .mat-pseudo-checkbox {
    color: var(--ion-solr-font-color);
  }

  .mat-pseudo-checkbox-checked {
    background: var(--ion-solr-font-color);
  }

  .mat-select-panel {
    max-height: none;
  }
}

#solr-dashboard {
  --padding-top: var(--ion-padding-top);
  --padding-end: var(--ion-padding-end);
  --padding-bottom: var(--ion-padding-bottom);
  --padding-start: var(--ion-padding-start);

  i.search-icon {
    background-color: var(--ion-color-step-1750);
    @include set-text-style(19px, 40px);
    height: 38px;
    width: 36px;
  }

  i.search-icon:hover {
    cursor: pointer;
  }

  .block {
    background-color: var(--ion-color-step-1750);
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    min-height: 125px;
    height: 125px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 10px;

    i.propcoicon {
      margin-bottom: 5px;
      padding: 10px 15px 5px;
      @include set-text-style(55px, 60px);
      background-color: transparent;
      display: inline-table;
    }

    p {
      text-align: center;
      margin-top: auto;
      @include set-text-style(14px, 18px);
    }

  }

  .block:hover {
    background-color: #FFF !important;
    transform: scale(1.04);
  }

  .solrSuggestionList {
    position: absolute;
    z-index: 100;
    width: 100%;
    margin: 0;
    list-style: none;
    padding: 0;
    box-shadow: 0 2px 5px rgb(0 0 0 / 25%);

    .solrSuggestionListItem {
      cursor: pointer;
      @include set-text-style(11px, 48px);
      overflow: hidden;
      padding: 0 2px;
      height: 48px;
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      // background-color: #f7f7f7;
      border-bottom: 1px solid #666;

      i.propcoicon {
        display: inline-table;
        vertical-align: sub;
        background: var(--ion-color-step-1750);
      }

      .text-color-lightgreen {
        color: #21b573 !important;
      }
    }
  }
}