<div id="ma-search">
  <div class="search-box">
    <ion-searchbar [(ngModel)]="searchTerm" [placeholder]="type === 'contact' ? 'Start typing to search Contacts' : 'Start typing to search Properties'" class="searchbar-custom"
        debounce="500" (ionChange)="getItems($event)" [formControl]="searchTermControl" (ionBlur) = "hideSuggestion()"
        (ionFocus)="onFocus()">
      </ion-searchbar>
      <ion-progress-bar color="danger" [type]="'indeterminate'" *ngIf="showLoader" style="position: absolute;">
      </ion-progress-bar>
      <ion-list class="solr-suggestionList">
        <ng-container *ngIf="type === 'contact' && isItemAvailable">
          <ion-item *ngFor="let item of suggestions" class="solr-suggestion-list-item">
            <div (click)="selectLandlord(item)">
              <span>
                <i class="propcoicon no-background propcoicon-landlord red-icon"></i>
              </span>
              <span >{{item.office | lookup:officeLookup}}</span>&nbsp;
              <span>{{item.name}}</span>&nbsp;
              <span>{{item.reference}}</span>&nbsp;
              <span >{{item.address | slice:0:30}}, {{item.postcode}}</span>&nbsp;
              <span>{{item.daytime}}</span>&nbsp;
              <span>{{item.mobile}}</span>&nbsp;
              <span class="text-color-lightgreen">{{item.status}}</span>
            </div>
          </ion-item>
        </ng-container>

        <ng-container *ngIf="type === 'property' && isPropertyItemAvailable">
          <ion-item *ngFor="let item of propertySuggestion" class="solr-suggestion-list-item">
            <div (click)="SelectProperty(item)">
              <span>
                <i class="propcoicon no-background propcoicon-property red-icon"></i>
              </span>
              <span >{{item.office | lookup:officeLookup}}</span>&nbsp;
              <span >{{item.address | slice:0:30}}, {{item.postcode}}</span>&nbsp;
              <span >{{item.reference}}</span>&nbsp;
              <span class=" ng-scope">{{item.propertyRent || 0 | currency : "£"}}</span>&nbsp;
              <span class="text-color-lightgreen">{{item.status}}</span>
            </div>
          </ion-item>
        </ng-container>
      </ion-list>
    </div>
    <ion-buttons color="success" end (click)="serchItem()">
      <i class="propcoicon propcoicon-search no-background search-icon"></i>
    </ion-buttons>
    <ion-button color="success" (click)="reset()">Reset</ion-button>
</div>