<ion-grid>
  <form [formGroup]="group">
    <ion-row>
      <ion-col size="100" class="select-landlord-text">
        <h4>Step 1: Select Landlords</h4>
        <ion-text>Please filter & select the landlords per requirement.</ion-text>
      </ion-col>

      <!-- <ion-col size="15">
      <ion-item>
        <ion-label position="floating">Tax Handler</ion-label>
        <ion-select interface="popover">
          <ion-select-option>
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col> -->
      <ion-col size="15" *ngIf="isGroupOfficeFilter">
        <ion-item>
          <ion-label position="floating">Office</ion-label>
          <ion-input formControlName="propertyOffice" (click)="onOfficeClick()" readonly></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="15" *ngIf="!isGroupOfficeFilter">
        <ion-item selectSearchAllDirective>
          <ion-label position="floating">Office</ion-label>
          <ion-select multiple="true" formControlName="propertyOffice">
            <ion-select-option [value]="option.officeCode" *ngFor="let option of officesList" checked="true">
              {{option.officeName}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <!-- <ion-col size="15">
        <ion-item selectSearchAllDirective>
          <ion-label position="floating">Management</ion-label>
          <ion-select multiple="true" formControlName="managementType">
            <ion-select-option [value]="option.index" *ngFor="let option of managementTypes" checked="true">
              {{option.value}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col> -->
      <ion-col size=15>
        <ion-item>
          <ion-label position="floating">Management</ion-label>
          <ionic-selectable item-content itemValueField="index" itemTextField="value" [items]="managementTypes"
            [canSearch]="true" [isMultiple]="true" [canClear]="true" clearButtonText="Clear" closeButtonSlot="end"
            confirmButtonText="Apply" searchPlaceholder="Search Management" #ManagementTypeFilter
            formControlName="managementType" [shouldStoreItemValue]="false" class="selectable-height"
            (click)="beginLoading()" (onOpen)="endLoading()" [shouldBackdropClose]="false">
            <ng-template ionicSelectableHeaderTemplate>
              <ion-toolbar>
                <ion-buttons end>
                </ion-buttons>
                <ion-title>
                  {{ManagementTypeFilter.label}}
                </ion-title>
              </ion-toolbar>
            </ng-template>

            <ng-template ionicSelectableValueTemplate let-managementTypes="value">
              <div class="ionic-selectable-value-item" *ngFor="let option of managementTypes">
                {{option.value}}
              </div>
            </ng-template>
            <ng-template ionicSelectableFooterTemplate>
              <ion-toolbar>
                <ion-button color="success" class="action-btn" fill="outline" class="selectable-btn"
                  (click)="toggleItems()" [disabled]="!managementTypes.length">
                  {{ManagementTypeFilter.itemsToConfirm.length ? 'Deselect All' : 'Select All'}}
                </ion-button>
                <ion-button color="success" class="action-btn" fill="outline" class="selectable-btn"
                  (click)="ManagementTypeFilter.confirm();ManagementTypeFilter.close();onManagementChange();"
                  [disabled]="!ManagementTypeFilter.itemsToConfirm.length">
                  Ok
                </ion-button>
                <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                  (click)="ManagementTypeFilter.clear();ManagementTypeFilter.close();onManagementChange();"
                  [disabled]="!ManagementTypeFilter.itemsToConfirm.length">
                  Clear
                </ion-button>
                <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                  (click)="ManagementTypeFilter.close()">
                  Cancel
                </ion-button>
              </ion-toolbar>
            </ng-template>
          </ionic-selectable>
        </ion-item>
      </ion-col>
      <ion-col size="15">
        <ion-item>
          <ion-label position="floating">Search</ion-label>
          <ion-input formControlName="searchText"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="15">
        <ion-item>
          <ion-label position="floating">Column</ion-label>
          <ion-select interface="popover" formControlName="searchOnColumns" [interfaceOptions]="popoverOptions">
            <ion-select-option [value]="item?.index" *ngFor="let item of hmrcConfigs.SEARCH_ON_COLUMNS_KEYS">
              {{item?.value}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="40" class="ion-align-self-end ion-text-right">
        <ion-button color="success" fill="outline" style="margin-right: 16px;" (click)="applyFilters()">Apply Filters
        </ion-button>
        <ion-button color="danger" fill="outline" (click)="resetFilters()">Reset Filters</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col size="50" class="ion-text-left" style="margin-top: 10px;">
      <ion-button color="success" fill="solid" style="margin-right: 10px;" (click)="onselectAll()">Select All
      </ion-button>
      <ion-button color="warning" fill="solid" (click)="unselectAll()">Select None</ion-button>
    </ion-col>
    <ion-col size="50" class="ion-text-right align-self-center" style="margin-top: 10px;">
      <ion-text>{{(selectedPropertyLandlordCount || 0) | number:'1.0'}} record(s) selected</ion-text>
    </ion-col>
    <ion-col size="100" style="margin-top: 10px;">
      <div class="overlay-container" style="position: relative">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"
          style="width: 100%; position: relative" id="hmrc-landlord-table">
          <thead>
            <tr>
              <th style="width:1%;">Select </th>
              <th style="width:12%;">Property Reference</th>
              <th style="width:18%;">Property Address</th>
              <th style="width:15%;">Landlord/Owner Full Name</th>
              <th style="width:15%;">Landlord Address</th>
              <th style="width:10%;">Office</th>
              <th style="width:10%;">Management</th>
              <th>Last Generated On</th>
              <th style="width:36px"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of landlordList; let i=index" class="table-row"
              [class.data-selected]="data.isSelected">
              <td>
                <ion-checkbox color="success" style="margin-bottom: 0;" [checked]="data?.checked"
                  [value]="data.propertyLinkId" (click)="onCheckboxClick(data.propertyLinkId)"
                  id="checkbox_{{data.propertyLinkId}}">
                </ion-checkbox>
              </td>
              <td>{{ data.propertyReference || DEFAULTS.NOT_AVAILABLE}}</td>
              <td>
                <span matTooltip="{{ (data.propertyAddress | address) }}" matTooltipPosition="above">
                  {{data.propertyAddress | address:'partial' || DEFAULTS.NOT_AVAILABLE}}
                </span>
              </td>
              <td>{{data.landlordFullName || DEFAULTS.NOT_AVAILABLE}} </td>
              <td>
                <span matTooltip="{{ (data.landlordAddress | address) }}" matTooltipPosition="above">
                  {{data.landlordAddress | address:'partial' || DEFAULTS.NOT_AVAILABLE}}
                </span>
              </td>
              <td>{{(data.propertyOffice | lookup: officeCodes) || DEFAULTS.NOT_AVAILABLE}}</td>
              <td>{{(data.propertyManagementType.toString() | lookup: managementTypes) || DEFAULTS.NOT_AVAILABLE}}</td>
              <td>{{(data.lastGeneratedAt | date: DATE_FORMAT.DATE) || DEFAULTS.NOT_AVAILABLE}}</td>
              <td class="resp-action-icon">
                <i class="propcoicon propcoicon-actions-on action-btn"></i>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="landlordList?.length === 0">
            <tr>
              <td colspan="9" class="no-data-available" style="text-align: center;">
                <b>{{DEFAULT_MESSAGES.NO_DATA_FOUND}}</b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>