.select-landlord-text {
    h4 {
        color: var(--ion-color-primary);
        margin-bottom: 15px;
    }
    ion-text {
        color: var(--ion-color-three);
    }
}
ion-button {
    margin-bottom: 0;
}
.ion-color-warning{
    --ion-color-contrast: unset !important;
}