.success {
    color: var(--ion-color-success);
}

.danger {
    color: var(--ion-color-danger);
}

.property-certificates {
    color: var(--ion-text-color);
    display: flex;
    align-items: center;
    background: var(--ion-color-five);
    border-radius: 3px;
}