
<ng-container *ngIf="type === 'accordian';else complianceRecord">
  <mat-accordion class="form-view-accordian" multi>
    <mat-expansion-panel #propertyComplianceRecords hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Compliance</mat-panel-title>
        <mat-panel-description class="ion-justify-content-end no-margin">
          <div>
            <span *ngIf="!propertyComplianceRecords.expanded"  class="accordian-icon" title="Expand">
              <ion-icon style="pointer-events:none"  name="add-circle"></ion-icon>
            </span>
            <span *ngIf="propertyComplianceRecords.expanded" class="accordian-icon" title="Collapse">
              <ion-icon style="pointer-events:none" name="remove-circle"></ion-icon>
              </span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container [ngTemplateOutlet]="complianceRecord">
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
  
</ng-container>
<ng-template #complianceRecord>
  <ion-grid>
    <form [formGroup]="complianceForm" style="margin-bottom:50px">
    <ion-row>
      <ion-col class="property-certificates" size="100">
        <ion-icon
          [name]="propertyData?.propertyRentInfo?.emergencyResponseService?.isERSEnabled?'checkmark-circle': 'close-circle'"
          [ngClass]="propertyData?.propertyRentInfo?.emergencyResponseService?.isERSEnabled?'success': 'danger'">
        </ion-icon>
        &nbsp;&nbsp;
        <ion-text>
          Covered by Emergency Response
        </ion-text>
      </ion-col>
      <ion-col class="property-certificates" size="100">
        <ng-container *ngIf="propertyData?.propertyDetails?.hasGas && propertyInspection?.expiryDate > currentDate && propertyInspection?.status === 1">
          <ion-icon name="checkmark-circle" class="success">
          </ion-icon>&nbsp;&nbsp;
          <ion-text>
            Has valid safety certificate
          </ion-text>
        </ng-container>
  
        <ng-container *ngIf="propertyData?.propertyDetails?.hasGas && propertyInspection?.status === 3">
          <ion-icon name="checkmark-circle" class="success">
          </ion-icon>&nbsp;&nbsp;
          <ion-text>
            Gas Safety Certificate is not required
          </ion-text>
        </ng-container>
  
        <ng-container *ngIf="propertyData?.propertyDetails?.hasGas && 
        (propertyInspection?.expiryDate < currentDate || !propertyInspection?.isDocumentExist) && 
        (propertyInspection?.status != 1 && propertyInspection?.status !=3)">
          <ion-icon name="close-circle" class="danger">
          </ion-icon>&nbsp;&nbsp;
          <ion-text>
            No Valid Gas Safety Certificate
          </ion-text>
        </ng-container>
  
        <ng-container *ngIf="propertyData && !propertyData?.propertyDetails?.hasGas">
          <ion-icon name="checkmark-circle" class="success">
          </ion-icon>&nbsp;&nbsp;
          <ion-text>
            Gas Safety Certificate is not required
          </ion-text>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="33.3" class="ion-align-self-end">
        <ion-item lines="none">
          <ion-toggle color="primary" formControlName="hmoLicensed">
          </ion-toggle>
          <ion-text>Has HMO/Licence</ion-text>
        </ion-item>
      </ion-col>
      <ion-col size="33.3">
        <ion-item>
          <ion-label position="floating">HMO Risk</ion-label>
          <ion-input readonly formControlName="hmoRisk"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="33.3">
        <ion-item>
          <ion-label position="floating">Expiry Date</ion-label>
          <ion-input readonly formControlName="hmoLicenceExpiryDate"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
  </ion-grid>
</ng-template>