
<form [formGroup]="raiseQuoteForm">
  <ion-grid>
    <ion-row>
      <ion-col offset-xl="20" size-xl="60" offset="0" size="100">
        <ion-grid>
          <ion-row>
            <ion-col size="33.33">
              <ion-item>
                <ion-label position="floating">Quotation Number<ion-text class="mandatory">*</ion-text>
                </ion-label>
                <ion-input formControlName="worksOrderNumber"></ion-input>
              </ion-item>

            </ion-col>
            <ion-col size="33.33">
              <ion-item>
                <ion-label position="floating">Category <ion-text class="mandatory">*</ion-text>
                </ion-label>
                <ion-select interface="popover" formControlName="category">
                  <ion-select-option [value]="item.index" *ngFor="let item of faultCategories">{{ item.value }}
                  </ion-select-option>
                </ion-select>
                <!-- faultCategories -->
                <!-- <ion-input formControlName="category" [value]="categoryMap.get(faultDetails.category)"></ion-input> -->
              </ion-item>

            </ion-col>

            <ion-col size="100">
              <ion-item>
                <ion-label position="floating">Description<ion-text class="mandatory">*</ion-text>
                </ion-label>
                <ion-input formControlName="description"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="33.33">
              <ion-item>
                <ion-label position="floating">Ordered By<ion-text class="mandatory">*</ion-text>
                </ion-label>
                <ion-input formControlName="orderedBy"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="33.33">
              <ion-item>
                <ion-label position="floating">Required By<ion-text class="mandatory">*</ion-text>
                </ion-label>
                <ion-datetime formControlName="requiredStartDate" displayFormat="YYYY MMM DD" interface="popover"></ion-datetime>
              </ion-item>
            </ion-col>

            <ion-col size="33.33">
              <ion-item>
                <ion-label position="floating">Contact On-site<ion-text class="mandatory">*</ion-text>
                </ion-label>
                <ion-input formControlName="contactOnSite"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="100">
              <ion-item>
                <ion-label position="floating">Access details </ion-label>
                <ion-input formControlName="accessDetails"></ion-input>
              </ion-item>
            </ion-col>

            <!-- <ion-col size="33.33">
              <ion-item>
                <ion-label position="floating">Nominal Code <ion-text class="mandatory">*</ion-text>
                </ion-label>
                <ion-input formControlName="nominalCode"></ion-input>
              </ion-item>
            </ion-col> -->
          </ion-row>

          <div class="contractor-block">

            <div formArrayName="contractorList"
              *ngFor="let item of raiseQuoteForm.get('contractorList')['controls']; let i = index;">
              <ion-row id="row_1" class="row-banner" [formGroupName]="i">
                <ion-col size="35">
                  <ion-item>
                    <ion-label position="floating">Company </ion-label>
                    <ion-input formControlName='company'></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="22.5">
                  <ion-item>
                    <ion-label position="floating">Contact Tel.</ion-label>
                    <ion-input formControlName='contactTel'></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="22.5">
                  <ion-item>
                    <ion-label position="floating">Trade</ion-label>
                    <ion-input formControlName="trade"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="20">

                  <div class="button-container">
                    <ion-checkbox color="primary" style="height: 25px;
                    width: 25px;
                    bottom: -5px;" formControlName="select"></ion-checkbox>

                    <ion-fab-button class="remove-contractor list-button" style="margin-left: 25px;">
                      <ion-icon (click)="removeContractor(i)" name="close"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-button class="list-button mark-contractor">
                      <ion-icon name="checkmark"></ion-icon>
                    </ion-fab-button>
                  </div>
                </ion-col>
              </ion-row>
            </div>

            <ion-row id="row_1" class="row-banner" formGroupName="contractorForm">
              <ion-col size="42.5">
                <ion-item>
                  <ion-label position="floating">Skill Set
                  </ion-label>
                  <ion-select interface="popover" formControlName="skillSet" class="ion-select-options">
                    <ion-select-option [value]="item.index" *ngFor="let item of contractorSkill">
                      {{ item.value }}
                    </ion-select-option>
                  </ion-select>

                </ion-item>
              </ion-col>
              <ion-col size="42.5">
                <ion-item>
                  <ion-label position="floating">Start Typing to Search Contractors</ion-label>

                  <ion-input type="text" debounce="300" (ionInput)="onSearch($event)" formControlName='contractor'
                    placeholder="">
                  </ion-input>
                </ion-item>

                <ion-list class="contractor-list" *ngIf="resultsAvailable">
                  <ion-item *ngFor="let result of (contractors| async)?.data" (click)="selectContractor(result)" button
                    style="font-size: 13px !important; ">
                    <span>
                      <i class="propcoicon no-background propcoicon-contractor" style="background: transparent;"></i>
                    </span>&nbsp;
                    <label style="color: var(--ion-color-step-200); padding-right: 5px;">{{result.fullName}}&nbsp;
                      <span
                        style="color: var(--ion-color-step-1000);padding-right: 5px;">{{result.reference}}</span>&nbsp;
                      <span class="text-color-lightgreen"
                        style="color: var(--ion-color-primary);padding-right: 5px;">{{result.status}}</span>&nbsp;
                    </label>

                  </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size="1">
                <div class="button-container" style="margin-left: 40px;">
                  <ion-fab-button (click)="addContractor()"
                    [disabled]="!this.raiseQuoteForm?.get('contractorForm').valid" class="add-contractor list-button">
                    <ion-icon name="add-sharp"></ion-icon>
                  </ion-fab-button>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<div class="action-btn-group">
  <ion-button (click)="_btnHandler('cancel')" class="cancel-button">Cancel</ion-button>
  <ion-button (click)="_btnHandler('back')">Back</ion-button>
  <ion-button class="save-button" (click)="_btnHandler('save')">Save for later</ion-button>
  <ion-button class="submit-button" (click)="_btnHandler('proceed')">Proceed</ion-button>
</div>