<form [formGroup]="raiseQuoteForm">
  <ion-grid>
    <ion-row *ngIf="!iacNotification">
      <ion-col offset-xl="20" size-xl="60" offset="0" size="100">
        <ion-grid>
          <ion-row>
            <ion-col size="50">
              <ion-item>
                <ion-label position="floating">Quotation Number<ion-text class="mandatory">*</ion-text>
                </ion-label>
                <ion-input formControlName="worksOrderNumber"></ion-input>
              </ion-item>
              <app-validation-message [control]="raiseQuoteForm.controls.worksOrderNumber"></app-validation-message>
            </ion-col>
            <ion-col size="50">
              <ion-item>
                <ion-label position="floating">Category <ion-text class="mandatory">*</ion-text>
                </ion-label>
                <ion-select interface="popover" formControlName="category">
                  <ion-select-option [value]="item.value" *ngFor="let item of faultCategories">{{ item.value }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size="100">
              <ion-item>
                <ion-label position="floating">Description<ion-text class="mandatory">*</ion-text>
                </ion-label>
                <ion-input formControlName="description"></ion-input>
              </ion-item>
              <app-validation-message [control]="raiseQuoteForm.controls.description"></app-validation-message>
            </ion-col>

            <ion-col size="50">
              <ion-item>
                <ion-label position="floating">Ordered By<ion-text class="mandatory">*</ion-text>
                </ion-label>
                <ion-input formControlName="orderedBy"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="50">
              <ion-item>
                <ion-label position="floating">Required By<ion-text class="mandatory">*</ion-text>
                </ion-label>
                <ion-datetime formControlName="requiredStartDate" displayFormat="DD/MM/YYYY" interface="popover"
                  class="request-start-date">
                </ion-datetime>
              </ion-item>
              <app-validation-message [control]="raiseQuoteForm.controls.requiredStartDate"></app-validation-message>
            </ion-col>

            <ion-col size="50">
              <ion-item>
                <ion-label position="floating">Contact On-site </ion-label>
                <ion-input formControlName="contact"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="50">
              <ion-item>
                <ion-label position="floating">Access Information </ion-label>
                <!-- <ion-input formControlName="accessDetails"></ion-input> -->
                <ion-select interface="popover" formControlName="accessDetails">
                  <ion-select-option [value]="item.value" *ngFor="let item of accessInfoList">{{ item.title }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <!-- <ion-col size="33.33">
              <ion-item>
                <ion-label position="floating">Nominal Code <ion-text class="mandatory">*</ion-text>
                </ion-label>
                <ion-input formControlName="nominalCode"></ion-input>
              </ion-item>
            </ion-col> -->
          </ion-row>

          <div class="contractor-block">
            <div formArrayName="contractorList"
              *ngFor="let item of raiseQuoteForm.get('contractorList')['controls']; let i = index;">
              <ion-row id="row_1" class="row-banner" [formGroupName]="i">
                <ion-col size="30">
                  <ion-item>
                    <ion-label position="floating">Company </ion-label>
                    <ion-input formControlName='company'></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="30 ">
                  <ion-item>
                    <ion-label position="floating">Contact Tel.</ion-label>
                    <ion-input formControlName='mobile'></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="25">
                  <ion-item>
                    <ion-label position="floating">Trade</ion-label>
                    <ion-input formControlName="reference"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="15">

                  <div class="action-btn-container">
                    <ion-checkbox color="success" class="list-checkbox" formControlName="checked" (click)="updateSelection(item.value,i)" [name]="item"></ion-checkbox>
                    <!-- <ion-checkbox color="primary" style="height: 25px;
                    width: 25px;bottom: -5px;margin-left: 16px;" formControlName="isPreferred">
                    </ion-checkbox> -->
                      <ion-icon class="list-button" *ngIf="item.get('isPreferred').value" matTooltip="Preferred Contractor" matTooltipPosition="above" name="checkmark-circle-outline"></ion-icon>
                    <!-- {{item | json}} -->
                    <!-- <ion-icon class="remove-contractor list-button" name="checkmark-circle-outline"></ion-icon> -->
                    <!-- <ion-fab-button class="remove-contractor list-button" style="margin-left: 25px;"> -->
                      <ion-icon class="list-button" color="danger" (click)="removeContractor(i)" name="close-circle-outline"></ion-icon>
                    <!-- </ion-fab-button> -->


                    <!-- <ion-fab-button class="list-button mark-contractor">
                      <ion-icon name="checkmark"></ion-icon>
                    </ion-fab-button> -->
                  </div>
                </ion-col>
              </ion-row>
            </div>

            <ion-row id="row_1" class="row-banner" [formGroup]="addContractorForm">
              <ion-col size="45">
                <ion-item>
                  <ion-label position="floating">Skill Set
                  </ion-label>
                  <ion-select interface="popover" formControlName="skillSet" class="ion-select-options">
                    <ion-select-option [value]="item.index" *ngFor="let item of contractorSkill">
                      {{ item.value }}
                    </ion-select-option>
                  </ion-select>

                </ion-item>
              </ion-col>
              <ion-col size="45">
                <ion-item>
                  <ion-label position="floating">Start Typing to Search Contractors</ion-label>

                  <ion-input type="text" debounce="300" (ionInput)="onSearch($event)" formControlName='contractor'
                    placeholder="">
                  </ion-input>
                </ion-item>

                <ion-list class="contractor-list" *ngIf="resultsAvailable">
                  <ion-item *ngFor="let result of (contractors| async)?.data" (click)="selectContractor(result)" button
                    style="font-size: 13px !important;">
                    <span>
                      <i class="propcoicon no-background propcoicon-contractor" style="background: transparent;"></i>
                    </span>&nbsp;
                    <label style="color: var(--ion-color-step-200); padding-right: 5px;">{{result.fullName}}&nbsp;
                      <span
                        style="color: var(--ion-color-step-1000);padding-right: 5px;">{{result.reference}}</span>&nbsp;
                      <span class="text-color-lightgreen"
                        style="color: var(--ion-color-primary);padding-right: 5px;">{{result.status}}</span>&nbsp;
                    </label>

                  </ion-item>
                </ion-list>
                <ion-text *ngIf="isContratorSelected" class="error-message">This contractor is already selected
                </ion-text>
              </ion-col>

              <ion-col size="10">
                <!-- <div class="button-container"> -->
                  <ion-fab-button (click)="addContractor(this.addContractorForm?.value)"
                    [disabled]="!this.addContractorForm?.get('contractor').value || !this.addContractorForm?.get('skillSet').value || !isSelected"
                    class="add-contractor list-button">
                    <ion-icon name="add-sharp" style="color: white;"></ion-icon>
                  </ion-fab-button>
                <!-- </div> -->
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="iacNotification">
      <ion-col offset-xl="20" size-xl="60" offset="0" size="100">
        <div class="arranging-contractor">
          <div class="banner">
            <h2 class="banner-heading">
              {{iacNotification && iacNotification?.responseReceived ? 'Response Received':'Awaiting response'}}</h2>
            <h6 class="banner-title">Here’s the action you choose:</h6>
            <ion-button color="success" class="icon-button">
              {{getLookupValue(iacNotification?.faultStageAction, iacStageActions)}}
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
            <ng-container *ngIf="iacNotification && !iacNotification?.responseReceived">
              <h6 class="banner-title"> <strong>Awaiting response from the Contractor</strong> </h6>
              <h6 class="banner-title">Next chase due:
                {{iacNotification ? (iacNotification.nextChaseDueAt | date: 'dd MMM yyyy - HH:mm') : ''}}
              </h6>
            </ng-container>
          </div>
          <div class="question-answer" *ngIf="iacNotification">
            <h6>{{iacNotification.questions[0]?.qtext}}</h6>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ng-container *ngFor="let data of iacNotification?.questions[0]?.options">
                  <ion-button color="success" class="action-btn"
                    fill="{{data?.value ==  iacNotification?.responseReceived?.isAccepted ? 'solid' :'outline'}}"
                    (click)="questionAction(data)">{{data.text}}</ion-button>
                </ng-container>
              </ion-row>
            </ion-grid>
            <h6
              *ngIf="iacNotification?.faultStageAction === 'DOES_OWN_REPAIRS' && iacNotification?.responseReceived?.isAccepted === false">
              <ion-text color="danger">Please select an appropriate action.</ion-text>
            </h6>
            <div class="border-bottom"></div>
          </div>
          <div class="question-answer" *ngIf="iacNotification && iacNotification?.responseReceived == null">
            <h6>
              <ion-text color="danger">Please note: </ion-text>
              <span>The fault will be closed automatically if the contractor doesn't respond within
              {{(iacNotification?.allowedNumberOfChases - iacNotification?.numberOfChasesDone) * iacNotification?.chaseInterval}} hours.
              </span>
            </h6>
            <div class="border-bottom"></div>
          </div>
          <div class="question-answer">
            <h6 class="banner-title">Want to proceed in a different way? Choose one of the following instead:</h6>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ng-container *ngFor="let instruction of iacStageActions">
                  <div>
                    <ion-button color="success" expand="block" class="action-btn"
                      fill="{{userSelectedActionControl.value == instruction.index ? 'solid' :'outline'}}"
                      (click)="setUserAction(instruction.index)">
                      {{instruction.value}}
                      <ion-icon name="checkmark-circle-outline" class="check-icon"
                        *ngIf="(userSelectedActionControl.value == instruction.index)"></ion-icon>
                    </ion-button>
                  </div>
                </ng-container>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>
<div class="action-btn-group">
  <ion-button (click)="_btnHandler('cancel')" class="cancel-button">Cancel</ion-button>
  <ion-button (click)="_btnHandler('back')">Back</ion-button>
  <ion-button class="save-button" (click)="_btnHandler('save')">Save for later</ion-button>
  <ion-button class="submit-button" (click)="_btnHandler('proceed')">Proceed</ion-button>
</div>