  <ion-grid>
    <ion-row *ngIf="iacNotification && !showSkeleton">
      <ion-col offset-xl="20" size-xl="60" offset="0" size="100">
        <div class="arranging-contractor">
          <div class="banner">
            <div class="ion-text-left">
              <b>{{iacNotification?.chaseTemplateCode}} {{iacNotification?.firstEmailSentAt | date: 'dd/MM/yyyy HH:mm'
                }}</b>
            </div>
            <h2 class="banner-heading">
              {{iacNotification && iacNotification?.responseReceived ? 'Response Received': 
              (iacNotification?.responseReceived === null && iacNotification?.allowedNumberOfChases === iacNotification?.numberOfChasesDone && !iacNotification?.hoursLeft?'No response':'Awaiting response')}}
            </h2>
            <h6 class="banner-title">Here’s the action you chose:</h6>
            <ion-button color="success" class="icon-button">
              {{getLookupValue(iacNotification?.faultStageAction, iacStageActions)}}
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
            <ng-container *ngIf="iacNotification && iacNotification?.responseReceived">
              <h6 class="banner-title response-recived">
                <ion-icon name="ellipse" class="response-circle"></ion-icon> Response received from 
                <span *ngIf="iacNotification?.recipientType === 8">Landlord</span>
                <span *ngIf="iacNotification?.recipientType === 11">Contractor</span>
                <span *ngIf="iacNotification?.recipientType === 1">Tenant</span>
                {{iacNotification?.chaseTemplateCode}} {{iacNotification?.firstEmailSentAt | date: 'dd/MM/yyyy HH:mm' }}
              </h6>
            </ng-container>

            <ng-container *ngIf="iacNotification && !iacNotification?.responseReceived">
              <h6 class="banner-title"
              [ngClass]="iacNotification?.responseReceived === null && iacNotification?.allowedNumberOfChases === iacNotification?.numberOfChasesDone && !iacNotification?.hoursLeft?'no-response':'awaiting-response'"
              >
                <ion-icon name="ellipse" class="response-circle"></ion-icon> {{iacNotification?.responseReceived === null && iacNotification?.allowedNumberOfChases === iacNotification?.numberOfChasesDone && !iacNotification?.hoursLeft?'No response':'Awaiting response'}} from the 
                  <span *ngIf="iacNotification?.recipientType === 8">Landlord</span>
                  <span *ngIf="iacNotification?.recipientType === 11">Contractor</span>
                  <span *ngIf="iacNotification?.recipientType === 1">Tenant</span>
              </h6>
              <h6 class="banner-title" *ngIf="iacNotification?.nextChaseDueAt && iacNotification.allowedNumberOfChases === iacNotification.numberOfChasesDone && !faultDetails?.isEscalated">Escalation due:
                {{iacNotification ? (iacNotification?.nextChaseDueAt | date: 'dd MMM yyyy - HH:mm') : ''}}
              </h6>
              <h6 class="banner-title" *ngIf="iacNotification?.nextChaseDueAt && iacNotification.allowedNumberOfChases != iacNotification.numberOfChasesDone && iacNotification?.chaseTemplateCode !='LNP-L-E'">Next chase due:
                {{iacNotification ? (iacNotification?.nextChaseDueAt | date: 'dd MMM yyyy - HH:mm') : ''}}
              </h6>

            </ng-container>
          </div>
          <div class="question-answer" *ngFor="let question of iacNotification?.questions">
            <ng-container *ngIf="question?.entityType == fileIds.FIX_A_FAULT">
              <h6>{{question?.qtext}}</h6>
              <ion-grid>
                <ion-row class="ion-justify-content-center">
                  <ng-container *ngFor="let data of question?.options">
                    <ion-button color="success" class="action-btn option"
                    fill="{{data?.value ==  iacNotification?.responseReceived?.isAccepted ? 'solid' :'outline'}}"
                    (click)="questionAction(data)">{{data.text}}</ion-button>
                  </ng-container>
                </ion-row>
              </ion-grid>
              <ion-text color="danger" *ngIf="
              iacNotification?.responseReceived?.isAccepted === false &&
              rejectionReason && 
              (iacNotification?.templateCode === 'QC-L-E' || iacNotification?.templateCode === 'CQ-NA-C-E'  || iacNotification?.templateCode === 'CQ-A-C-E')">Reason:
                {{rejectionReason || 'N/A'}}
              </ion-text>
                <h6 *ngIf="iacNotification && iacNotification?.responseReceived?.isAccepted === false && this.iacNotification?.templateCode!='CWO-C-E'">
                  <ion-text color="danger">Please select an appropriate action.</ion-text>
                </h6>
                <div class="border-bottom"></div>
            </ng-container>
          </div>
          <ng-container *ngIf="iacNotification && iacNotification?.responseReceived?.isAccepted === true">
            <div class="question-answer" *ngIf="iacNotification?.templateCode === 'CDT-C-E' || iacNotification?.templateCode === 'CDT-T-E'">
              <h4 class="ion-text-center">Next Step:</h4> 
              <h6 *ngIf="quoteArray?.length === 0">
                <ion-text color="danger">Please note: </ion-text>
                <span>The appointment is due on {{faultDetails?.contractorQuotePropertyVisitAt | date: 'dd/MM/yyyy'}} at {{faultDetails?.contractorQuotePropertyVisitAt | date: 'HH:mm'}}
                </span>
              </h6>
              <h6 *ngIf="quoteArray?.length > 0">
                <span>Thank you for carrying out this quote. This is now with the Landlord for review. If we require you to
                  carry out the job, we will be back in touch.</span>
              </h6>
              <ion-button color="success" class="action-btn" fill="outline" (click)="quoteUploadModal('preUpload'); $event.stopPropagation();" *ngIf="quoteArray?.length === 0">Upload Quote & Photos</ion-button>
              <div class="border-bottom"></div>
            </div>

            <div class="question-answer" *ngIf="iacNotification?.templateCode === 'CDT-C-E (WO)'">
              <h4 class="ion-text-center">Next Step:</h4> 
              <h6>
                <ion-text color="danger">Please note: </ion-text>
                <span>The appointment is due on {{faultDetails?.contractorWoPropertyVisitAt | date: 'dd/MM/yyyy'}} at {{faultDetails?.contractorWoPropertyVisitAt | date: 'HH:mm'}}
                </span>
              </h6>
              <div class="border-bottom"></div>
            </div>
          </ng-container>
          <ng-container *ngIf="(iacNotification?.responseReceived == null || !iacNotification?.responseReceived?.isAccepted  
          || enableMarkCompletedBtn() && iacNotification?.notificationStatus !== 7)">
            <div class="question-answer" *ngIf="(iacNotification?.responseReceived == null && !faultDetails.isEscalated && faultDetails.status !== 10 && faultDetails.status !== 12)">
              <ng-container *ngIf="iacNotification?.templateCode === 'CDT-C-E' && (iacNotification?.allowedNumberOfChases === iacNotification?.numberOfChasesDone)">
                <h4 class="ion-text-center">Next Step:</h4> 
                <h6 *ngIf="iacNotification?.chaseTemplateCode!='LNP-L-E'">  
                  <ion-text color="danger">Please note: </ion-text>
                  <span>The fault will be <i>escalated</i> automatically if the {{iacNotification?.recipientType == 1?'Tenant':(iacNotification?.recipientType == 11?'Contractor':'Landlord')}} doesn't respond within
                    {{iacNotification?.hoursLeft}}.
                  </span>
                </h6>
                <h6 *ngIf="iacNotification?.chaseTemplateCode=='LNP-L-E'">  
                  <ion-text color="danger">Please note: </ion-text>
                  <span>Fault will be <i>escalated</i> to PM in {{iacNotification?.hoursLeft}}.
                  </span>
                </h6>
                <div class="border-bottom"></div>
              </ng-container>
              <ng-container *ngIf="iacNotification?.templateCode === 'CQ-C-E'">
                <h4 class="ion-text-center">Next Step:</h4> 
                <h6>  
                  <ion-text color="danger">Please note: </ion-text>
                  <span *ngIf="currentDate<=faultDetails?.contractorQuotePropertyVisitAt">The appointment for carrying out the Quote is due on {{faultDetails?.contractorQuotePropertyVisitAt | date: 'dd/MM/yyyy'}} at {{faultDetails?.contractorQuotePropertyVisitAt | date: 'HH:mm'}}.
                  </span>
                  <span *ngIf="currentDate>faultDetails?.contractorQuotePropertyVisitAt">The appointment for carrying out the Quote was on {{faultDetails?.contractorQuotePropertyVisitAt | date: 'dd/MM/yyyy'}} at {{faultDetails?.contractorQuotePropertyVisitAt | date: 'HH:mm'}}. </span>
                  <span>The next step is for the {{iacNotification?.recipientType == 1?'Tenant':(iacNotification?.recipientType == 11?'Contractor':'Landlord')}} to upload the Quote and photos.<br>Fault will be <i>escalated</i> automatically if the {{iacNotification?.recipientType == 1?'Tenant':(iacNotification?.recipientType == 11?'Contractor':'Landlord')}} doesn't respond within
                    {{iacNotification?.hoursLeft}}.
                  </span>
                </h6>
                <div class="border-bottom"></div>
              </ng-container>
              <ng-container *ngIf="iacNotification?.templateCode === 'CWO-C-E' && currentDate>faultDetails?.contractorWoPropertyVisitAt">                
                <h4 class="ion-text-center">Next Step:</h4>
                <h6>  
                  <ion-text color="danger">Please note: </ion-text>
                  <span>The appointment for carrying out the work was on {{faultDetails?.contractorWoPropertyVisitAt | date: 'dd/MM/yyyy'}} at {{faultDetails?.contractorWoPropertyVisitAt | date: 'HH:mm'}}. The next step is for the {{iacNotification?.recipientType == 1?'Tenant':(iacNotification?.recipientType == 11?'Contractor':'Landlord')}} to confirm the Completion of Job.<br>Fault will be <i>escalated</i> automatically if the {{iacNotification?.recipientType == 1?'Tenant':(iacNotification?.recipientType == 11?'Contractor':'Landlord')}} doesn't respond within
                    {{iacNotification?.hoursLeft}}.
                  </span>
                </h6>
                <div class="border-bottom"></div>
              </ng-container>
            </div>

            <div class="question-answer ion-text-center" 
              *ngIf="(iacNotification?.responseReceived?.isAccepted === false || faultDetails.isEscalated) && iacNotification?.notificationStatus !== 7">
              <h6>
                <ion-text color="danger">Please note: </ion-text>Fault Escalated - PM to decide the next steps
              </h6>
              <div class="border-bottom"></div>
            </div>

            <h6 *ngIf="enableMarkCompletedBtn()" class="ion-text-center">
              <ion-text>Contractor to visit property on {{faultDetails?.contractorWoPropertyVisitAt | date: 'dd/MM/yyyy HH:mm'}}</ion-text>
              <ion-grid>
                <ion-row class="ion-justify-content-center"><ion-button color="success" fill="outline" class="action-btn option" (click)="openWOJobCompletionModal()">Mark the Job Completed</ion-button></ion-row>
              </ion-grid>
            </h6>
          </ng-container>

          <div class="question-answer"
            *ngIf="iacNotification?.recipientType === 8 
            && faultDetails?.isOverrideCommunicationPreference === true
            && iacNotification?.notificationStatus === 7
            && iacNotification?.responseReceived === null">
            <h4 claas="ion-text-center">Next Step:</h4>
            <h6>
              <ion-text color="danger">Please note: </ion-text>
              <span>This Fault is escalated as Landlord Override communication option is activated. 
                Please respond yourself or forward to Landlord for them to take an action by clicking here</span>
            </h6>
            <ion-button color="success" class="action-btn" fill="solid" (click)="viewNotification(); $event.stopPropagation();">
              View Notification</ion-button>
            <div class="border-bottom"></div>
          </div>

          <div class="question-answer">
            <h6 class="banner-title">Want to proceed in a different way? Choose one of the following instead:</h6>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ng-container *ngIf="iacNotification && iacNotification?.templateCode !== 'CWO-C-E'">
                  <div *ngFor="let instruction of otherStageActions">
                    <ion-button color="success" expand="block" class="action-btn"
                      fill="{{userSelectedActionControl.value == instruction.index ? 'solid' :'outline'}}"
                      (click)="setUserAction(instruction.index)">
                      {{instruction.value}}
                      <ion-icon name="checkmark-circle-outline" class="check-icon"
                        *ngIf="(userSelectedActionControl.value == instruction.index)"></ion-icon>
                    </ion-button>
                  </div>
                </ng-container>
                <ng-container *ngIf="iacNotification && 
                (
                  (
                    (
                      iacNotification?.templateCode === 'CDT-C-E' || 
                      iacNotification?.templateCode === 'CDT-C-E (WO)'
                    ) && 
                      iacNotification?.responseReceived?.isAccepted === true
                  ) || 
                  (
                    (
                      iacNotification?.templateCode === 'CQ-C-E' ||  
                      iacNotification?.templateCode === 'CWO-C-E' 
                    ) && (
                      iacNotification?.responseReceived === null ||
                      faultDetails?.isEscalated  ||
                      iacNotification?.responseReceived?.isAccepted === false
                    )
                  )
                )">
                  <ion-button color="success" expand="block" class="action-btn"
                      fill="outline"
                      (click)="modifyDateTime(iacNotification?.templateCode); $event.stopPropagation();">
                      Modify Date/Time
                    </ion-button>
                </ng-container>
                <ion-button color="success" *ngIf="iacNotification && iacNotification?.templateCode === 'CWO-C-E'"  
                expand="block" class="action-btn" fill="{{faultDetails?.isClosed ? 'solid' : 'outline'}}" (click)="closeFault()">
                  Close Fault</ion-button>
              </ion-row>
            </ion-grid>
          </div>
          <!-- <ion-button (click)="questionActionQuoteUpload(true)">Upload</ion-button> -->
        </div>
      </ion-col>
    </ion-row>
    <ion-grid style="margin: 20px 0" *ngIf="(iacNotification?.templateCode === 'CQ-C-E' || iacNotification?.templateCode === 'QC-L-E') && quoteDocuments?.length && !showSkeleton">
      <ion-row>
        <ion-col offset-xl="20" size-xl="60" offset="0" size="100">
          <h2>Quote Documents</h2>
          <div class="border-bottom"></div>
          <ion-row>
            <ion-col size-xl="25" size="25" *ngFor="let file of quoteDocuments; let i=index;">
              <div class="delete-icon-wrapper">
                <ion-grid>
                  <ion-row>
                    <!-- <ion-col size="100" *ngIf="getFileType(file.name)">
                      <img src="/assets/images/default.jpg" (click)="downloadDocumentByURl(file.documentUrl)"
                        title="Click To Download PDF">
                    </ion-col>
                    <ion-col size="100" *ngIf="!getFileType(file.name)">
                      <img [src]="file.documentUrl ? file.documentUrl : '/assets/images/default.jpg'"
                        (click)="downloadDocumentByURl(file.documentUrl)" title="Click To Download">
                    </ion-col> -->
                    <ion-col size="100">
                      <img [src]="file?.isImage ? (file?.documentUrl ? file?.documentUrl : 'assets/images/default.jpg') : 'assets/images/default.jpg'" (click)="downloadDocumentByURl(file?.documentUrl, file?.name)" title="Click To Download">
                    </ion-col>    
                  </ion-row>
                  <ion-row class="ion-justify-content-between">
                    <ion-col size-xl="80" size-lg="70" size="80">
                      <div class="file-name">{{file.name}}</div>
                    </ion-col>
                    <ion-col size-xl="10" size-lg="15" size="10" class="ion-text-end ion-no-padding">
                      <ion-icon (click)="deleteDocument(file?.documentId, i)" title="Delete File" class="delete-icon"
                        name="close-circle">
                      </ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row *ngIf="isFormsReady && !showSkeleton">
      
        <ion-col offset-xl="20" size-xl="60" offset="0" size="100">
          <ng-container *ngIf="!isWorksOrder">
            <form [formGroup]="raiseQuoteForm">
              <ion-grid>
               <ng-container *ngTemplateOutlet="quoteDetails"></ng-container>
               <div class="contractor-block">
                 <div formArrayName="contractorList"
                   *ngFor="let item of raiseQuoteForm.get('contractorList')['controls']; let i = index;">
                   <ion-row id="row_1" class="row-banner" [formGroupName]="i"
                     [ngClass]="{'isRejected': item.get('isRejected').value }">
                     <ion-col size="30">
                       <ion-item>
                         <ion-label position="floating">Company </ion-label>
                         <ion-input formControlName='company'></ion-input>
                       </ion-item>
                     </ion-col>
     
                     <ion-col size="30 ">
                       <ion-item>
                         <ion-label position="floating">Contact Tel.</ion-label>
                         <ion-input formControlName='mobile'></ion-input>
                       </ion-item>
                     </ion-col>
                     <ion-col size="25">
                       <ion-item>
                         <ion-label position="floating">Trade</ion-label>
                         <ion-input formControlName="reference"></ion-input>
                       </ion-item>
                     </ion-col>
                     <ion-col size="15">
     
                       <div class="action-btn-container">
                         <ion-checkbox color="success" class="list-checkbox" formControlName="checked"
                           (click)="updateSelection(item.value,i)" [name]="item"
                           [disabled]="(restrictAction || item.get('isRejected').value) && item.get('rejectedByType').value === REJECTED_BY_TYPE.LANDLORD"></ion-checkbox>
                         <ion-icon class="list-button" *ngIf="item.get('isPreferred').value"
                           matTooltip="Preferred Contractor" matTooltipPosition="above" name="checkmark-circle-outline">
                         </ion-icon>
                         <ion-icon class="list-button" color="danger"
                           (click)="removeContractor(i,item.get('isRejected').value)" name="close-circle-outline"></ion-icon>
                       </div>
                     </ion-col>
                   </ion-row>
                 </div>
     
                 <ion-row id="row_1" class="row-banner" [formGroup]="addContractorForm" *ngIf="!restrictAction">
                   <ion-col size="45">
                     <ion-item>
                       <ion-label position="floating">Skill Set</ion-label>
                       <ion-select interface="popover" formControlName="skillSet" class="ion-select-options">
                         <ion-select-option value="">Please Select</ion-select-option>
                         <ion-select-option [value]="item.value" *ngFor="let item of contractorSkill">
                           {{ item.value }}
                         </ion-select-option>
                       </ion-select>
     
                     </ion-item>
                   </ion-col>
                   <ion-col size="45">
                     <ion-item>
                       <ion-label position="floating">Start Typing to Search Contractors</ion-label>
                       <ion-input type="text" debounce="300" (ionInput)="onSearch($event)" formControlName='contractor'
                         placeholder="" (ionFocus)="onSearch($event)"> 
                         <!-- (ionBlur)="onBlurContractorSearch($event)"> -->
                       </ion-input>
                     </ion-item>
     
                     <ion-list class="contractor-list" *ngIf="resultsAvailable">
                       <ion-item *ngFor="let result of (contractors| async)?.data" (click)="selectContractor(result)" button
                         style="font-size: 13px !important;">
                         <span>
                           <i class="propcoicon no-background propcoicon-contractor" style="background: transparent;"></i>
                         </span>&nbsp;
                         <label style="color: var(--ion-color-step-200); padding-right: 5px;">{{result.fullName}}&nbsp;
                           <span
                             style="color: var(--ion-color-step-1000);padding-right: 5px;">{{result.reference}}</span>&nbsp;
                           <span class="text-color-lightgreen"
                             style="color: var(--ion-color-primary);padding-right: 5px;">{{result.status}}</span>&nbsp;
                         </label>
     
                       </ion-item>
                     </ion-list>
                     <ion-text *ngIf="isContratorSelected" class="error-message">This contractor is already selected
                     </ion-text>
                     <div *ngIf="addContractorForm.get('contractor').hasError('invalidContractor') && addContractorForm.get('contractor').touched" class="contractor-error-message">{{addContractorForm.get('contractor').errors.message}}</div>

                   </ion-col>
     
                   <ion-col size="10">
                     <ion-fab-button class="button-container" (click)="addContractor(addContractorForm?.value)"
                       [disabled]="!addContractorForm?.get('contractor').value || !isSelected || addContractorForm.controls['contractor'].invalid">
                       <ion-icon name="add-sharp" class="add-contractor list-button"></ion-icon>
                     </ion-fab-button>
                   </ion-col>
                 </ion-row>
                 <ion-col size="100" *ngIf="!restrictAction">
                   <ion-text color="dark"> Note: Please click Add to add another contractor to the list.</ion-text>
                 </ion-col>
               </div>
             </ion-grid>
             </form>
          </ng-container>
          <ng-container *ngIf="isWorksOrder">
            <form [formGroup]="workOrderForm">
              <ion-grid>
               <ng-template *ngTemplateOutlet="worksOrderDetails"></ng-template>
             </ion-grid>
             </form>
          </ng-container>
        </ion-col>
      
    </ion-row>
    <ion-row *ngIf="showSkeleton">
      <ion-col offset-xl="20" size-xl="60" offset="0" size="100">
      <div><ng-container *ngTemplateOutlet="notificationSkeleton"></ng-container></div>
      <div *ngIf="isWorksOrder" ><ng-container *ngTemplateOutlet="worksOrderFormSkeleton"></ng-container></div>
      <div *ngIf="!isWorksOrder"><ng-container *ngTemplateOutlet="raiseQuoteFormSkeleton"></ng-container></div>
    </ion-col>
    </ion-row>
  </ion-grid>
<ng-template #quoteDetails>
  <form [formGroup]="raiseQuoteForm">
    <ion-row>
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Quotation Number<ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-input formControlName="worksOrderNumber"></ion-input>
        </ion-item>
        <app-validation-message [control]="raiseQuoteForm.controls.worksOrderNumber"></app-validation-message>
      </ion-col>
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Category <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-select interface="popover" formControlName="quoteCategory">
            <ion-select-option [value]="item.value" *ngFor="let item of faultCategories">{{ item.value }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="50">  
        <ion-item class="select-block">
          <ion-label position="floating">Nominal Code <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ionic-selectable item-content itemValueField="nominalCode" itemTextField="concat" [items]="codes"
            [canSearch]="true" [canClear]="true" clearButtonText="Clear" closeButtonSlot="end" confirmButtonText="Apply"
            searchPlaceholder="Search Nominal Code" #nominalCodeType formControlName="nominalCode"
            [shouldStoreItemValue]="false" class="selectable-height" (click)="startLoading()" (onOpen)="endLoading()"
            [shouldBackdropClose]="false">
  
            <ng-template ionicSelectableHeaderTemplate>
              <ion-toolbar>
                <ion-buttons end>
                </ion-buttons>
                <ion-title>
                  {{nominalCodeType.label}}
                </ion-title>
              </ion-toolbar>
            </ng-template>
  
            <ng-template ionicSelectableFooterTemplate>
              <ion-toolbar>
                <ion-button color="success" class="action-btn" fill="outline" class="selectable-btn"
                  (click)="nominalCodeType.confirm();nominalCodeType.close();"
                  [disabled]="!nominalCodeType.itemsToConfirm.length">
                  Apply
                </ion-button>
  
                <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                  (click)="nominalCodeType.clear();nominalCodeType.close();"
                  [disabled]="!nominalCodeType.itemsToConfirm.length">
                  Clear
                </ion-button>
                <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                  (click)="nominalCodeType.close()">
                  Cancel
                </ion-button>
              </ion-toolbar>
            </ng-template>
          </ionic-selectable>
        </ion-item>
        <app-validation-message [control]="raiseQuoteForm.controls.nominalCode"></app-validation-message>
      </ion-col>
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Quote Status</ion-label>
          <ion-select interface="popover" formControlName="quoteStatus">
            <ion-select-option [value]="item.index" *ngFor="let item of quoteStatuses">{{ item.value }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
  
      <ion-col size="100">
        <ion-item>
          <ion-label position="floating">Description<ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-input formControlName="description"></ion-input>
        </ion-item>
        <app-validation-message [control]="raiseQuoteForm.controls.description"></app-validation-message>
      </ion-col>
  
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Ordered By<ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-input formControlName="orderedBy"></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Required By<ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-datetime formControlName="requiredDate" displayFormat="DD/MM/YYYY" interface="popover"
            class="request-start-date">
          </ion-datetime>
        </ion-item>
        <app-validation-message [control]="raiseQuoteForm.controls.requiredDate"></app-validation-message>
      </ion-col>
  
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Contact On-site </ion-label>
          <ion-input formControlName="contact"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Does the branch hold Management Keys?</ion-label>
          <ion-input formControlName="doesBranchHoldKeys"></ion-input>
        </ion-item>
      </ion-col>
  
      <!-- <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Access Information </ion-label>
          <ion-input formControlName="accessDetails"></ion-input>
        </ion-item>
      </ion-col> -->
      <ion-col size="100">
        <ion-item>
          <ion-label position="floating">Full Job Description <ion-text class="mandatory">*</ion-text></ion-label>
          <ion-textarea rows="1" formControlName="fullDescription" auto-grow="true"></ion-textarea>
        </ion-item>
      </ion-col>

      <ion-col size="33.33">
        <ion-item>
          <ion-label position="floating">Job Type</ion-label>
          <ion-select interface="popover" formControlName="jobType">
            <ion-select-option [value]="item.index" *ngFor="let item of maintenanceJobTypes">{{ item.value }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="33.33">
        <ion-item>
          <ion-label position="floating">Repair Source</ion-label>
          <ion-select interface="popover" formControlName="repairSource">
            <ion-select-option [value]="item.index" *ngFor="let item of maintenanceRepairSources">{{ item.value }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="33.33" *ngIf="raiseQuoteForm.controls.repairSource.value === 5128">
        <ion-item>
          <ion-label position="floating">Third Party</ion-label>
            <ion-select interface="popover" formControlName="thirdPartySource">
              <ion-select-option [value]="item.index" *ngFor="let item of faultReportedByThirdParty">{{item.value}}
              </ion-select-option>
            </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
</ng-template>
<ng-template #worksOrderDetails>
  <form [formGroup]="workOrderForm">
    <ion-row class="row-banner">
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Contractor <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-input type="text" debounce="300" (ionInput)="onSearchContractor($event)" formControlName='contractorName'
            placeholder="">
          </ion-input>
        </ion-item>
        <app-validation-message [control]="workOrderForm.controls.contractorName"></app-validation-message>
        <ion-list class="contractor-list" *ngIf="woResultsAvailable">
          <ion-item *ngFor="let result of (woContractors| async)?.data" (click)="woSelectContractor(result)" button
            style="font-size: 13px !important;">
            <span>
              <i class="propcoicon no-background propcoicon-contractor" style="background: transparent;"></i>
            </span>&nbsp;
            <label style="color: var(--ion-color-step-200); padding-right: 5px;">{{result.fullName}}&nbsp;
              <span style="color: var(--ion-color-step-1000);padding-right: 5px;">{{result.reference}}</span>&nbsp;
              <span class="text-color-lightgreen"
                style="color: var(--ion-color-primary);padding-right: 5px;">{{result.status}}</span>&nbsp;
            </label>
          </ion-item>
        </ion-list>
        <div *ngIf="workOrderForm.get('contractorName').hasError('invalidContractor') && workOrderForm.get('contractorName').touched" class="contractor-error-message">{{workOrderForm.get('contractorName').errors.message}}</div>

      </ion-col>
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Comapny </ion-label>
          <ion-input formControlName="company"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Address </ion-label>
          <ion-input formControlName="address"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Telephone </ion-label>
          <ion-input formControlName="businessTelephone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row-banner">
        <ion-col size="50">
          <ion-item>
            <ion-label position="floating">Reference </ion-label>
            <ion-input formControlName="agentReference"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="50">
          <ion-radio-group formControlName="useCommissionRate" class="defaultCommission">
            <ion-item class="ion-item">
              <ion-radio [value]="false" checked style="margin-right: 5px;" [disabled]="iacNotification"></ion-radio>
              <ion-label position="fixed" class="ion-label" >Rate(%) </ion-label>
                <ion-input formControlName="defaultCommissionPercentage" class="ion-input" 
                [readonly]="workOrderForm?.value.useCommissionRate "
                [disabled]="iacNotification || workOrderForm?.value.useCommissionRate"
                ></ion-input>
            </ion-item>
            <ion-item class="ion-item defaultCommission" >
              <ion-radio [value]="true" checked style="margin-right: 5px;" [disabled]="iacNotification"></ion-radio>
              <ion-label position="fixed" class="ion-label">Amount(£) </ion-label>
                <ion-input formControlName="defaultCommissionAmount" class="ion-input" 
                [readonly]="!workOrderForm?.value.useCommissionRate "
                [disabled]="iacNotification || !workOrderForm?.value.useCommissionRate"
                ></ion-input>
            </ion-item>
          </ion-radio-group>
          <!-- <ion-radio-group formControlName="isUseAmount" class="defaultCommission">
            <ion-item class="ion-item">
              <ion-radio [value]="false" checked></ion-radio>
              <ion-label position="floating" >Rate </ion-label>
              <ion-input formControlName="defaultCommissionPercentage"></ion-input>
            </ion-item>
            <ion-item class="ion-item defaultCommission">
              <ion-radio [value]="true" checked></ion-radio>
              <ion-label position="floating">Amount </ion-label>
              <ion-input formControlName="defaultCommissionAmount"></ion-input>
            </ion-item>
          </ion-radio-group> -->
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="50">
        <ion-item>
          <ion-label position="stacked">Repair Cost <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <!-- <ion-input currencyMask formControlName="repairCost"></ion-input> -->
          <input currencyMask formControlName="repairCost" (blur)="onBlurCurrency(workOrderForm.controls.repairCost.value, workOrderForm)"/>

        </ion-item>
        <app-validation-message [control]="workOrderForm.controls.repairCost"></app-validation-message>
      </ion-col>
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Work Order Number </ion-label>
          <ion-input formControlName="worksOrderNumber"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Date </ion-label>
          <ion-datetime dateFormat="MM/DD/YYYY" displayFormat="DD MMM YYYY" class="datetime-padding"
            formControlName="postdate">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="50">
        <!-- <ion-item>
          <ion-label position="floating">Nominal code <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-input formControlName="nominalCode"></ion-input>
        </ion-item> -->

        <ion-item class="select-block">
          <ion-label position="floating">Nominal Code <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ionic-selectable item-content itemValueField="nominalCode" itemTextField="concat" [items]="codes"
            [canSearch]="true" [canClear]="true" clearButtonText="Clear" closeButtonSlot="end" confirmButtonText="Apply"
            searchPlaceholder="Search Nominal Code" #nominalCodeType formControlName="nominalCode"
            [shouldStoreItemValue]="false" class="selectable-height" (click)="startLoading()" (onOpen)="endLoading()"
            [shouldBackdropClose]="false">

            <ng-template ionicSelectableHeaderTemplate>
              <ion-toolbar>
                <ion-buttons end>
                </ion-buttons>
                <ion-title>
                  {{nominalCodeType.label}}
                </ion-title>
              </ion-toolbar>
            </ng-template>

            <ng-template ionicSelectableFooterTemplate>
              <ion-toolbar>
                <ion-button color="success" class="action-btn" fill="outline" class="selectable-btn"
                  (click)="nominalCodeType.confirm();nominalCodeType.close();"
                  [disabled]="!nominalCodeType.itemsToConfirm.length">
                  Apply
                </ion-button>

                <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                  (click)="nominalCodeType.clear();nominalCodeType.close();"
                  [disabled]="!nominalCodeType.itemsToConfirm.length">
                  Clear
                </ion-button>
                <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                  (click)="nominalCodeType.close()">
                  Cancel
                </ion-button>
              </ion-toolbar>
            </ng-template>
          </ionic-selectable>
        </ion-item>
        <app-validation-message [control]="workOrderForm.controls.nominalCode"></app-validation-message>
      </ion-col>
      <ion-col size="100">
        <ion-item>
          <ion-label position="floating">Description <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-input formControlName="description"></ion-input>
        </ion-item>
        <app-validation-message [control]="workOrderForm.controls.description"></app-validation-message>
      </ion-col>
      <!-- <ion-col size="33.33">
        <ion-item>
          <ion-label position="floating">Paid Via <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-input formControlName="paidBy"></ion-input>
        </ion-item>
        <app-validation-message [control]="workOrderForm.controls.paidBy"></app-validation-message>
      </ion-col> -->
      <!-- <ion-col size="33.33">
        <ion-item>
          <ion-label position="floating">Paid To </ion-label>
          <ion-input formControlName="paidTo"></ion-input>
        </ion-item>
      </ion-col> -->
      <!-- <ion-col size="33.33">
        <ion-item>
          <ion-label position="floating">Default Commission </ion-label>
          <ion-input formControlName="defaultCommision"></ion-input>
        </ion-item>
      </ion-col> -->
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Keys Location
          </ion-label>
          <ion-input formControlName="keysLocation"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Return Keys to </ion-label>
          <ion-input formControlName="returnKeysTo"></ion-input>
        </ion-item>
      </ion-col>
      <!-- <ion-col size="33.33">
        <ion-item>
          <ion-label position="floating">Access Details <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-input formControlName="accessDetails"></ion-input>
        </ion-item>
        <app-validation-message [control]="workOrderForm.controls.accessDetails"></app-validation-message>
      </ion-col> -->
      <ion-col size="33.33">
        <ion-item>
          <ion-label position="floating">Required Start Date</ion-label>
          <ion-datetime dateFormat="MM/DD/YYYY" displayFormat="DD MMM YYYY" class="datetime-padding"
            formControlName="requestStartDate" [min]="currentDate">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="33.33">
        <ion-item>
          <ion-label position="floating">Required Completion Date </ion-label>
          <ion-datetime dateFormat="MM/DD/YYYY" displayFormat="DD MMM YYYY" class="datetime-padding"
            formControlName="requiredDate" [min]="currentDate">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="33.33">
        <ion-item>
          <ion-label position="floating">Ordered By </ion-label>
          <ion-input formControlName="orderedBy"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="100">
        <ion-item>
          <ion-label position="floating">Full Job Description <ion-text class="mandatory">*</ion-text></ion-label>
          <ion-textarea rows="1" formControlName="fullDescription" auto-grow="true"></ion-textarea>
        </ion-item>
        <app-validation-message [control]="workOrderForm.controls.fullDescription"></app-validation-message>
      </ion-col>

      <ion-col size="33.33">
        <ion-item>
          <ion-label position="floating">Job Type</ion-label>
          <ion-select interface="popover" formControlName="jobType">
            <ion-select-option [value]="item.index" *ngFor="let item of maintenanceJobTypes">{{ item.value }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="33.33">
        <ion-item>
          <ion-label position="floating">Repair Source</ion-label>
          <ion-select interface="popover" formControlName="repairSource">
            <ion-select-option [value]="item.index" *ngFor="let item of maintenanceRepairSources">{{ item.value }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="33.33" *ngIf="workOrderForm.controls.repairSource.value === 5128">
        <ion-item>
          <ion-label position="floating">Third Party</ion-label>
            <ion-select interface="popover" formControlName="thirdPartySource">
              <ion-select-option [value]="item.index" *ngFor="let item of faultReportedByThirdParty">{{item.value}}
              </ion-select-option>
            </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
</ng-template>
<div class="action-btn-group">
  <ion-button (click)="_btnHandler('cancel')" class="cancel-button" [disabled]="saving || proceeding">Cancel</ion-button>
  <ion-button (click)="_btnHandler('back')" [disabled]="saving || proceeding">Back</ion-button>
  <ion-button (click)="_btnHandler('next')" *ngIf="faultDetails?.stage !== FAULT_STAGES.ARRANGING_CONTRACTOR" [disabled]="saving || proceeding">Next</ion-button>
  <ion-button class="save-button" (click)="_btnHandler('save')" [disabled]="proceeding">Save for later<ion-icon *ngIf="saving" name="refresh" class="rotating submit-loader"></ion-icon></ion-button>
  <ion-button class="submit-button" (click)="_btnHandler('proceed')" [disabled]="saving || faultDetails?.isClosed">Proceed<ion-icon *ngIf="proceeding" name="refresh" class="rotating submit-loader"></ion-icon></ion-button>
</div>

<ng-template #raiseQuoteFormSkeleton>
  <div class="custom-skeleton">
    <div class="skeleton-content">
      <div class="forms-container" >
        <ion-grid>
          <div class="forms-block">
            <ion-row>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="100">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="100">
                <p class="icons"  style="height: 70px;border-radius: 10px;">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #worksOrderFormSkeleton>
  <div class="custom-skeleton">
    <div class="skeleton-content">
      <div class="forms-container" >
        <ion-grid>
          <div class="forms-block">
            <ion-row>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="33.3">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="33.3">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="33.3">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="100">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="33.3">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="33.3">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="33.3">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="100">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #notificationSkeleton>
  <div class="arranging-contractor">
    <div class="banner">
      <div class="ion-text-left">
        <ion-skeleton-text class="header" animated style="width: 17%;height: 16px;"></ion-skeleton-text>
      </div>
      <h2 class="banner-heading">
        <ion-skeleton-text class="header" animated style="width: 25%;margin: auto;height: 20px;"></ion-skeleton-text></h2>
      <h6 class="banner-title"><ion-skeleton-text class="header" animated style="width: 20%;margin: auto;"></ion-skeleton-text></h6>
      <ion-skeleton-text class="header" animated style="width: 29%;margin: auto;height: 31px;border-radius: 5px;"></ion-skeleton-text>
      <ng-container>
        <h6 class="banner-title response-recived">
          <ion-skeleton-text class="header" animated style="width: 31%;height: 12px;margin: auto;"></ion-skeleton-text>
        </h6>
      </ng-container>

    </div>
    <div class="question-answer">
      <h6>  <ion-skeleton-text class="header" animated style="width: 48%;margin: auto;"></ion-skeleton-text></h6>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ng-container>
            <ion-skeleton-text class="header" animated style="width: 45%;margin: auto;"></ion-skeleton-text>
            <ion-skeleton-text class="header" animated style="width: 45%;margin: auto;"></ion-skeleton-text>
          </ng-container>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ng-template>