<ion-card-content id="property-details">

  <ion-grid class="property-skeleton">
    <ion-row class="main-row">
      <ion-col class="" size-xl="17" size="23">
        <ion-thumbnail>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
      </ion-col>
      <ion-col class="" size-xl="83" size="77">
        <ion-grid style="height:100%;" class="no-padding-top">
          <ion-row class="property-details-row">
            <ion-col class="no-padding-top col1" size="70">
              <h2 class="heading">
                <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
              </h2>
            </ion-col>
            <ion-col class="no-padding-top col2 ion-text-end" size="30">
              <h2>
                <ion-skeleton-text animated></ion-skeleton-text>
              </h2>
            </ion-col>
          </ion-row>
          <ion-row class="fault-data-row">
            <ion-col size-lg="25" size="33.3">
              <span class="text">
                <ion-skeleton-text animated></ion-skeleton-text>
              </span>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size-lg="25" size="33.3">
              <span class="text">
                <ion-skeleton-text animated></ion-skeleton-text>
              </span>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size-lg="25" size="33.3">
              <span class="text">
                <ion-skeleton-text animated></ion-skeleton-text>
              </span>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size-lg="25" size="33.3">
              <span class="text">
                <ion-skeleton-text animated></ion-skeleton-text>
              </span>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size-lg="25" size="33.3">
              <span class="text">
                <ion-skeleton-text animated></ion-skeleton-text>
              </span>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size-lg="25" size="33.3">
              <span class="text">
                <ion-skeleton-text animated></ion-skeleton-text>
              </span>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size-lg="25" size="33.3">
              <span class="text">
                <ion-skeleton-text animated></ion-skeleton-text>
              </span>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size-lg="25" size="33.3">
              <span class="text">
                <ion-skeleton-text animated></ion-skeleton-text>
              </span>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row class="fault-meter-row">
            <ion-col size="25" class="avatar-col">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size="25" class="avatar-col">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size="25" class="avatar-col">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
            <ion-col size="25" class="avatar-col">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card-content>