<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="category === CERTIFICATES_CATEGORY[0]">Guarantee / Warranty Details</ion-title>
    <ion-title *ngIf="category === CERTIFICATES_CATEGORY[1]">Service Contract/ Appliance Cover Details</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="category === CERTIFICATES_CATEGORY[0]">
    <ng-template *ngTemplateOutlet="warrantyDetailsTemplate"></ng-template>
  </ng-container>
  <ng-container *ngIf="category === CERTIFICATES_CATEGORY[1]">
    <ng-template *ngTemplateOutlet="contractDetailsTemplate"></ng-template>
  </ng-container>
</ion-content>
<ng-template #warrantyDetailsTemplate>
  <ion-grid>
    <ion-row *ngIf="isEditable">
      <ion-col class="ion-margin-bottom">
        <div>
          Choose an appliance to view more details
        </div>
      </ion-col>
    </ion-row>

    <div class="table-container" *ngIf="isEditable" [formGroup]="propertyCertificateListForm">
      <table>
        <tr>
          <th>Select</th>
          <th>ID</th>
          <th>Appliance</th>
          <th>Company</th>
          <th>Warranty No.</th>
          <th>Model</th>
          <th>Serial No.</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      <tbody formArrayName="propertyCertificateList">
        <tr *ngFor="let certificate of propertyCertificateListForm.get('propertyCertificateList')['controls'] let i=index;" class="table-row"  [formGroupName]="i">
          <td>
            <ion-checkbox (click)="selectCertificate(certificate.value, i)" color="primary"
            formControlName="checked"  [disabled]="!certificate.get('expired').value"></ion-checkbox>
          </td>
          <td>{{certificate.get('certificateNumber').value || DEFAULTS.NOT_AVAILABLE}}</td>
          <td>{{certificate.get('appliance').value || DEFAULTS.NOT_AVAILABLE}}</td>
          <td>{{certificate.get('contact').value || DEFAULTS.NOT_AVAILABLE}} </td>
          <td>{{certificate.get('certificateNumber').value || DEFAULTS.NOT_AVAILABLE}}</td>
          <td>{{certificate.get('model').value || DEFAULTS.NOT_AVAILABLE}} </td>
          <td>{{certificate.get('serialNumber').value || DEFAULTS.NOT_AVAILABLE}}</td>
          <td>{{(certificate.get('startDate').value | date: DATE_FORMAT.DATE) || DEFAULTS.NOT_AVAILABLE}}</td>
          <td>{{(certificate.get('expireDate').value | date: DATE_FORMAT.DATE) || DEFAULTS.NOT_AVAILABLE}}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </ion-grid>

  <ion-grid *ngIf="showDetails" class="details-section ">
    <ion-row class="fault-data-row">
      <ion-col size="25">
        <span class="text">Appliance</span>
        <br />
        <span class="content">{{warrantyDetails?.appliance || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
      <ion-col size="25">
        <span class="text">Company</span>
        <br />
        <span class="content">{{warrantyDetails?.contact || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
      <ion-col size="25">
        <span class="text">Warranty Type</span>
        <br />
        <span class="content">{{warrantyDetails?.typeName || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
      <ion-col size="25">
        <span class="text">Warranty Number</span>
        <br />
        <span class="content">{{warrantyDetails?.certificateNumber || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
    </ion-row>

    <ion-row class="fault-data-row">
      <ion-col size="25">
        <span class="text">Serial Number</span>
        <br />
        <span class="content">{{warrantyDetails?.serialNumber || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
      <ion-col size="25">
        <span class="text">Model</span>
        <br />
        <span class="content">{{warrantyDetails?.model || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
      <ion-col size="25">
        <span class="text">Start Date</span>
        <br />
        <span class="content">{{(warrantyDetails?.startDate | date: DATE_FORMAT.DATE) || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
    </ion-row>

    <ion-row class="fault-data-row">
      <ion-col size="25">
        <span class="text">Phone Number</span>
        <br />
        <span class="content">{{warrantyDetails?.contactNumber || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
      <ion-col size="25">
        <span class="text">Email</span>
        <br />
        <span class="content">{{warrantyDetails?.contact || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
      <ion-col size="25">
        <span class="text">End Date</span>
        <br />
        <span class="content">{{(warrantyDetails?.expireDate | date: DATE_FORMAT.DATE) || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
<ng-template #contractDetailsTemplate>
  <div class="table-container" style="margin-top: 20px;" *ngIf="isEditable" [formGroup]="propertyCertificateListForm">
    <table>
      <tr>
        <th>Select</th>
        <th>ID</th>
        <th>Policy Reference</th>
        <th>Company</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
     <tbody formArrayName="propertyCertificateList">
      <tr *ngFor="let certificate of propertyCertificateListForm.get('propertyCertificateList')['controls']; let i=index;" class="table-row" [formGroupName]="i">
        <td>
          <ion-checkbox (click)="selectCertificate(certificate.value, i)" color="primary"
          formControlName="checked" [disabled]="!certificate.get('expired').value"></ion-checkbox>
        </td>
        <td>{{certificate.get('certificateNumber').value || DEFAULTS.NOT_AVAILABLE}}</td>
        <td>{{certificate.get('membershipNumber').value || DEFAULTS.NOT_AVAILABLE}} </td>
        <td>{{certificate.get('contact').value || DEFAULTS.NOT_AVAILABLE}}</td>
        <td>{{certificate.get('startDate').value | date: DATE_FORMAT.DATE || DEFAULTS.NOT_AVAILABLE}}</td>
        <td>{{certificate.get('expireDate').value | date: DATE_FORMAT.DATE || DEFAULTS.NOT_AVAILABLE}}</td>
      </tr>
     </tbody>
    </table>
  </div>

  <ion-grid *ngIf="showDetails" class="details-section">
    <ion-row class="fault-data-row">
      <ion-col size="33.33">
        <span class="text">Service Agreement Type</span>
        <br />
        <span class="content">{{contractDetails?.typeName || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
      <ion-col size="33.33">
        <span class="text">Policy Reference</span>
        <br />
        <span class="content">{{contractDetails?.membershipNumber || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
      <ion-col size="33.33">
        <span class="text">Company</span>
        <br />
        <span class="content">{{contractDetails?.contact || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
    </ion-row>

    <ion-row class="fault-data-row">
      <ion-col size="33.33">
        <span class="text">Email</span>
        <br />
        <span class="content">{{contractDetails?.contact || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
      <ion-col size="33.33">
        <span class="text">Start Date</span>
        <br />
        <span class="content">{{(contractDetails?.startDate | date: DATE_FORMAT.DATE) || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
    </ion-row>

    <ion-row class="fault-data-row">
      <ion-col size="33.33">
        <span class="text">Phone Number</span>
        <br />
        <span class="content">{{contractDetails?.contactNumber || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
      <ion-col size="33.33">
        <span class="text">End Date</span>
        <br />
        <span class="content">{{(contractDetails?.expireDate | date: DATE_FORMAT.DATE) || DEFAULTS.NOT_AVAILABLE}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>

<ion-footer class="ion-text-right">
  <ion-col>
    <ion-button class="cancel-button" (click)="dismiss()" color="success">Close</ion-button>
  </ion-col>
</ion-footer>