<ion-header>
  <ion-toolbar>
    <ion-title>Guarantee / Warranty Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin-bottom">
        <div>
          Choose an appliance to view more details
        </div>
      </ion-col>
    </ion-row>

    <table datatable [dtOptions]="dtOptions" class="row-border hover" width="100%">
      <thead>
        <tr>
          <th width="%5">Select</th>
          <th width="10%">ID</th>
          <th width="10%">APPLIANCE</th>
          <th width="10%">COMAPNY</th>
          <th width="15%">Warranty NO.</th>
          <th width="10%">MODEL</th>
          <th width="10%">SERIAL NO.</th>
          <th width="15%">END DATE</th>
          <th width="15%">START DATE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let certificate of propertyCertificateList; let i=index;" class="table-row">
          <td>
            <ion-checkbox (ionChange)="selectCertificate(certificate, $event)" color="primary"
              [checked]="certificate?.isRowChecked"></ion-checkbox>
          </td>
          <td>{{certificate?.certificateId || '-'}}</td>
          <td>{{certificate?.appliance || '-'}}</td>
          <td> - </td>
          <td>{{certificate?.certificateNumber || '-'}}</td>
          <td>{{certificate?.model || '-'}} </td>
          <td>{{certificate?.serialNumber || '-'}}</td>
          <td>{{certificate?.startDate || '-'}}</td>
          <td>{{certificate?.expireDate || '-'}}</td>
        </tr>
      </tbody>
    </table>
  </ion-grid>

  <ion-grid>

    <ion-row class="fault-data-row">
      <ion-col size="25">
        <span class="text">Appliance</span>
        <br />
        {{certificate?.appliance || '-'}}
      </ion-col>
      <ion-col size="25">
        <span class="text">Company</span>
        <br />
        -
      </ion-col>
      <ion-col size="25">
        <span class="text">Warranty Type</span>
        <br />
        -
      </ion-col>
      <ion-col size="25">
        <span class="text">Warranty Number</span>
        <br />
        {{warrantyDetails?.certificateNumber || '-'}}
      </ion-col>
    </ion-row>

    <ion-row class="fault-data-row">
      <ion-col size="25">
        <span class="text">Serial Number</span>
        <br />
        {{warrantyDetails?.serialNumber || '-'}}
      </ion-col>
      <ion-col size="25">
        <span class="text">Model</span>
        <br />
        {{warrantyDetails?.model || '-'}}
      </ion-col>
      <ion-col size="25">
        <span class="text">Start Date</span>
        <br />
        {{warrantyDetails?.startDate || '-'}}
      </ion-col>
    </ion-row>

    <ion-row class="fault-data-row">
      <ion-col size="25">
        <span class="text">Phone Number</span>
        <br />
        {{warrantyDetails?.contactNumber|| '-'}}
      </ion-col>
      <ion-col size="25">
        <span class="text">Email</span>
        <br />
        -
      </ion-col>
      <ion-col size="25">
        <span class="text">End Date</span>
        <br />
        {{warrantyDetails?.expireDate || '-'}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="ion-text-end">
      <ion-button class="cancel-button" (click)="dismiss()" color="success">Close</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>