<ion-header>
  <ion-toolbar>
    <ion-title>Chronological History</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="email-body-checkbox">
          <label><input type="checkbox" class="email-body" [(ngModel)]="isEmailRequire" /> Include email body in
            export</label>
        </div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"
          style="border-spacing: 0 2px; ">
          <thead>
            <tr>
              <th>Date/Time</th>
              <th>Action</th>
              <th>Category</th>
              <th class="none">By</th>
              <th class="none">Notification Id</th>
              <th class="none">Question</th>
              <th class="none">Response Option</th>
              <th class="none">How</th>
              <th class="none">Recipient</th>
              <th class="none">Stage</th>
              <th class="none">To</th>
              <th class="none">Subject</th>
              <th class="none">Email</th>
          </thead>
          <tbody>
            <tr *ngFor="let elem of eventList">
              <td>{{ elem.eventAt | date : 'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ elem.eventType || '-' }}</td>
              <td>{{ elem.category || '-' }}</td>
              <td>{{ elem.data.by || '-' }}</td>
              <td>{{ elem.data.notificationTemplateCode || '-' }}</td>
              <td>{{ elem.data.question || '-' }}</td>
              <td>{{ elem.data.responseOption || '-' }}</td>
              <td>{{ elem.data.how || '-' }}</td>
              <td>{{ elem.data.recipient || '-' }}</td>
              <td>{{ elem.data.stage || '-' }}</td>
              <td>{{ elem.data.to || '-' }}</td>
              <td>{{ elem.data.subject || '-' }}</td>
              <td [innerHtml]="elem.data.body ? elem.data.body : '-' "></td>
            </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>