<ion-content id="la-application-list">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="100" size-sm="63" size="50" class="heading">
        <div>
          <ion-icon name="arrow-back-outline" style="vertical-align: bottom;cursor: pointer;" (click)="goBack()"></ion-icon>
           &nbsp;View Applications &nbsp;
          <i class="propcoicon propcoicon-refresh icon-primary" style="display: inline; background: transparent; cursor: pointer;" (click)="refresh()"></i></div>
      </ion-col>
      <ion-col size-xs="100" size-sm="37" size="50" class="la-logo">
        <img src="assets/images/referencing/la-logo.svg"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="applicationFilterForm">
      <ion-grid>
        <ion-row>
          <ion-col size-xl="21" size-lg="15" size-md="50" size-sm="50" size-xs="100">
            <ion-item>
              <ion-label position="floating">Office Filter</ion-label>
              <ionic-selectable item-content formControlName="officeCode" itemValueField="index" itemTextField="value" 
                [items]="referencingOffices" [canSearch]="true" [canClear]="true" [isMultiple]="true" [shouldBackdropClose]="false"
                clearButtonText="Clear" closeButtonSlot="end" confirmButtonText="Apply"
                searchPlaceholder="Search Office(es)" #OfficeType class="office-selectable">

                <ng-template ionicSelectableHeaderTemplate>
                  <ion-toolbar>
                    <ion-buttons end>
                    </ion-buttons>
                    <ion-title>
                      {{OfficeType.label}}
                    </ion-title>
                  </ion-toolbar>
                </ng-template>
  
                <ng-template ionicSelectableFooterTemplate>
                  <ion-toolbar>
                    <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                      (click)="OfficeType.close()">
                      Cancel
                    </ion-button>
                    <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                      (click)="OfficeType.clear();OfficeType.close();"
                      [disabled]="!OfficeType.itemsToConfirm.length">
                      Clear
                    </ion-button>
                    <ion-button color="success" class="action-btn" fill="outline" class="selectable-btn"
                    (click)="this.OfficeType.confirm();this.OfficeType.close();"
                    [disabled]="!OfficeType.itemsToConfirm.length">
                    Apply
                  	</ion-button>
                  </ion-toolbar>
                </ng-template>
		          </ionic-selectable>
            </ion-item>
          </ion-col>
          <ion-col size-xl="21" size-lg="20" size-md="50" size-sm="50" size-xs="100">
              <ion-item>
                <ion-label position="floating">Search Text</ion-label>
                <ion-input formControlName="searchTerm"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col size-xl="21" size-lg="23" size-md="38" size-sm="50" size-xs="100">
            <mat-form-field appearance="fill" class="margin-top-13">
              <mat-label>Date of Submission From</mat-label>
              <input matInput [matDatepicker]="picker" [max]="currentDate" formControlName="fromDate" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div *ngIf='applicationFilterForm?.errors?.startDateRequired' class="error-message" style="margin-top: -20px !important;">
              Please enter From
           </div>
          </ion-col>
          <ion-col size-xl="21" size-lg="23" size-md="38" size-sm="50" size-xs="100">
            <mat-form-field appearance="fill" class="margin-top-13">
              <mat-label>Date of Submission To</mat-label>
              <input matInput [matDatepicker]="picker1" [max]="currentDate" formControlName="toDate" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <div *ngIf='applicationFilterForm?.errors?.invalidEndDate' class="error-message" style="margin-top: -20px !important;">
              To cannot be before and equal to From
           </div>
          </ion-col>
          <ion-col class="ion-text-end ion-align-self-center" size-xl="16" size-lg="19" size-md="24" size-sm="100" size-xs="100">
            <ion-button class="submit-button" style="margin: 0px 5px;" (click)="getApplicationList()" [disabled]="!this.applicationFilterForm.valid">Submit</ion-button>
            <ion-button class="reset-button no-margin-right" (click)="resetFilter()" style="margin-left: 5px;">Reset</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <ion-grid>
      <ion-row>
        <ion-col size="100">
          <div class="overlay-container" style="position: relative">
            <table datatable [dtOptions]="dtOptions[0]" class="row-border hover table-width" style="position: relative" aria-describedby="application">
              <thead>
                <tr>
                  <th scope="col" style="width:7%; min-width: 80px;">Reference No.</th>
                  <th scope="col" style="width:7%">Enquiry ID</th>
                  <th scope="col">Property</th>
                  <th scope="col" style="width:12%">Applicant Name</th>
                  <th scope="col" style="width:10%">Branch</th>
                  <th scope="col" style="width:9%; min-width:80px;">Tenancy Start</th>
                  <th scope="col" style="width:8%; min-width: 80px;">Rent Share</th>
                  <th scope="col" style="width:9%; min-width: 80px;">Submission Date</th>
                  <th scope="col" style="width:9%">Product Type</th>
                  <th scope="col" style="width:11%">Application Status</th>
                  <th scope="col" style="width:36px"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let application of applicationList" class="table-row">
                  <td>{{application.referenceNumber || DEFAULTS.NOT_AVAILABLE}}</td>
                  <td>{{application.caseReferenceNumber || DEFAULTS.NOT_AVAILABLE}}</td>
                  <td>{{application.propertyDetail.reference || DEFAULTS.NOT_AVAILABLE}}<br/>
                    {{application.propertyDetail.address.addressLine1}} {{application.propertyDetail.address.addressLine5}} 
                    {{application.propertyDetail.address.postcode}}</td>
                  <td>{{application.applicantDetail.displayAs ? application.applicantDetail.displayAs : 
                    (application.applicantDetail.addressee ? application.applicantDetail.addressee : application.applicantDetail.forename
                    + ' ' + application.applicantDetail.surname) || DEFAULTS.NOT_AVAILABLE}}  {{application.applicantDetail.itemType == 'G' ? ' (Guarantor)' : (application.applicantDetail.itemType == 'S' ? ' (Co-Tenant)' : ' (Tenant)')}}</td>
                  <td>{{application.office || DEFAULTS.NOT_AVAILABLE}}</td>
                  <td>{{(application.tenancyStartDate | date : DATE_FORMAT.DATE) || DEFAULTS.NOT_AVAILABLE }}</td>
                  <td>{{application.rentShare || '0' | currency: '£'}}</td>
                  <td>{{(application.dateOfSubmission | date : DATE_FORMAT.DATE) || DEFAULTS.NOT_AVAILABLE }}</td>
                  <td>{{getProductType(application.product, 'application') || DEFAULTS.NOT_AVAILABLE}}</td>
                  <td>{{(application.applicationStatus | lookup: referencingApplicantStatusTypes) || DEFAULTS.NOT_AVAILABLE}}</td>
                  <td class="resp-action-icon">
                    <i (click)="showMenu($event, 'application-overlay', application, 'table-row')"
                      class="propcoicon propcoicon-actions-on"></i>
                  </td>
                </tr>
                <tr *ngIf="applicationList?.length == 0">
                  <td colspan="11" class="no-data-available" style="text-align: center;"><strong>{{DEFAULT_MESSAGES.NO_DATA_FOUND}}</strong></td>
              </tr>
              </tbody>
            </table>
            <div id="application-overlay" class="overlay-class">
              <ion-button (click)="openApplicationStatus()">Check Status</ion-button>
              <ion-button (click)="resendLink()" *ngIf="selectedData?.applicationStatus == 0">Resend Link</ion-button>
              <ion-button *ngIf="selectedData?.applicantDetail?.itemType === 'M' || selectedData?.applicantDetail?.itemType === 'S'" (click)='checkApplicationGuarantor()'>Guarantor</ion-button>
              <i (click)="hideMenu($event,'application-overlay')" class="propcoicon propcoicon-actions-on"></i>
            </div>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>