@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

#la-application-list {
  --padding-top: var(--ion-padding-top);
  --padding-end: var(--ion-padding-end);
  --padding-bottom: var(--ion-padding-bottom);
  --padding-start: var(--ion-padding-start);

  .la-logo {
    text-align: right;
    img {
      width: 210px;
      background: var(--ion-color-step-2000);
      padding: 10px;
      border-radius: 5px;
    }
  }

  .heading {
    @include set-text-style(30px, 35px);
    align-self: center;
  }

  .datetime-icon{
    margin: 24px 15px 0 0;
    color: var(--ion-color-tertiary);
  }

  div.error-message{
    color: var(--ion-color-danger);
  }

  .office-selectable {
    max-height: 30px !important;
  }
}
