@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

#application-list {
  --padding-top: var(--ion-padding-top);
  --padding-end: var(--ion-padding-end);
  --padding-bottom: var(--ion-padding-bottom);
  --padding-start: var(--ion-padding-start);

  .la-logo {
    text-align: right;
    img {
      width: 170px;
      background: var(--ion-color-step-2000);
      padding: 5px;
      border-radius: 5px;
    }
  }

  .heading {
    @include set-text-style(30px, 35px);
  }
}
