<ion-content id="self-assessment-form">
  <ion-grid>
    <ion-row>
      <ion-col size="50"  class="ion-text-left">
        <div>
          <h2>HMRC Self-Assessment Form</h2>
        </div>
      </ion-col>
      <ion-col class="ion-text-right" size="50">
        <ion-button fill="solid" *ngIf="stepper.selectedIndex > 0"
          (click)="onBack(stepper.selectedIndex)">back</ion-button>
        <ion-button color="success" fill="solid" (click)="onNext(stepper.selectedIndex)"
          [disabled]="isHmrcLandlordSelected === 'false' || (stepper.selectedIndex === 1 && !selfAssessmentForm.valid)" *ngIf="stepper.selectedIndex <= 1">{{stepper.selectedIndex <= 1 ? nextLabel : 'Send' }}
        </ion-button>
        <ion-button color="success" fill="solid" (click)="onNext(stepper.selectedIndex)"
        [disabled]="isHmrcLandlordSelectPreview === 'false'" *ngIf="stepper.selectedIndex === 2" (click)="proceed()">Send</ion-button>
      </ion-col>
      <ion-col>
        <mat-horizontal-stepper #stepper labelPosition="bottom" [selectedIndex]="currentStepperIndex" id="hmrc-stepper">
          <mat-step [completed]="stepper.selectedIndex > 0">
            <app-select-landlords 
            *ngIf="systemConfig"
            [group]="selfAssessmentForm" 
            [systemConfig]="systemConfig"
            (onHmrcLandlordSelect)="onHmrcLandlordSelect($event)">
            </app-select-landlords>
            <ng-template matStepLabel>Select Landlords</ng-template>
          </mat-step>
          <mat-step [completed]="stepper.selectedIndex > 1">
            <ng-template matStepLabel>Select Dates</ng-template>
            <app-select-dates [group]="selfAssessmentForm"></app-select-dates>
          </mat-step>
          <mat-step [completed]="stepper.selectedIndex > 2">
            <ng-template matStepLabel>Send</ng-template>
            <app-preview-and-send 
            *ngIf="stepper.selectedIndex==2" 
            [group]="selfAssessmentForm"
            (onHmrcLandlordSelectPreview)="onHmrcLandlordSelectPreview($event)">
          </app-preview-and-send>
          </mat-step>
        </mat-horizontal-stepper>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>