<ion-header>
  <ion-toolbar>
    <ion-title>Yes, Payment received</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="paymentReceivedForm">
    <ion-grid class="">
      <ion-row class="">
        <ion-col size="100">
          <h6>Please select how the payment was received.</h6>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Payment Method<ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-select interface="popover" formControlName="paymentMethod" class="ion-select-options">
              <ion-select-option [value]="item" *ngFor="let item of paymentMethodTypes">
                {{ item}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="paymentReceivedForm.controls.paymentMethod"></app-validation-message>
        </ion-col>
        <!-- <ion-col size="100" *ngIf="paymentReceivedForm.get('rejectionReason').value === 'Other'">
          <ion-item>
            <ion-textarea formControlName="other" placeholder="Comment..."></ion-textarea>
          </ion-item>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col class="ion-text-end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
      <ion-button (click)="submit()">OK</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>