
<ion-header>
  <ion-toolbar>
    <ion-title>{{heading}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="negotiate-modal">
    <ion-grid >
      <ion-row>
        <ion-col size="80" *ngFor="let comment of commentsArray" offset="{{ comment.negotiatedBy != 'APPLICANT' ? 20 : 0 }}">
          <ion-card>
            <ion-card-content style="background-color: rgba(var(--ion-color-medium-rgb), .1)">
              <p class="name"><ion-text>{{comment.negotiatedByName}}</ion-text></p>
              <p class="comment">{{ comment.comment }}</p>
              <p class="date ion-text-end">{{ comment.createdAt | date:'dd/MM/yyyy hh:mm a' }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> 
</ion-content>
<ion-footer class="ion-no-padding">
  <form [formGroup]="negotiateForm">
    <ion-grid>
      <ion-row>
        <ion-col size="100">
          <ion-item lines="full">
            <ion-label position="floating">Comments</ion-label>
            <ion-input formControlName="comment"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-button color="danger" (click)="dismiss()">Cancel</ion-button>&nbsp;&nbsp;
          <ion-button color="success" (click)="createNote()" [disabled]="!negotiateForm.controls['comment'].value" class="no-margin-right" >Send</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>