<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="bookMaForm">
    <ion-grid>
      <ion-row>
        <ion-col size="50">
          <ion-item>
            <ion-label position="floating">User <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-select interface="popover" [interfaceOptions]="popoverOptions" formControlName="assignToId"
              (ionChange)="getSlots()">
              <ion-select-option [value]="data?.userId" *ngFor="let data of users">
                {{ data?.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="50">
          <ion-item id="dueDate">
            <ion-label position="floating">From</ion-label>
            <ion-input value="{{ bookMaForm.controls.dueDate.value | date: DATE_FORMAT.DATE }}"></ion-input>
            <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
            <ion-popover class="ion-datepicker-popover" trigger="dueDate" show-backdrop="false">
              <ng-template>
                <ion-datetime showDefaultButtons="true" presentation="date" formControlName="dueDate" (ionChange)="getSlots()">
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Time Slot </ion-label>
            <ion-select interface="popover" [interfaceOptions]="popoverOptions" formControlName="timeSlot">
              <ion-select-option [value]="slots" *ngFor="let slots of timeSlots">
                {{ slots?.start +'-'+ slots?.end}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="50">
          <ion-item>
            <ion-label position="floating">Function </ion-label>
            <ion-select interface="popover" [interfaceOptions]="popoverOptions" formControlName="function">
              <!-- <ion-select-option [value]="data?.index" *ngFor="let data of propertyHeardSources">
                {{ data?.value }}
              </ion-select-option> -->
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="50">
          <ion-item>
            <ion-label position="floating">Category</ion-label>
            <ion-select interface="popover" [interfaceOptions]="popoverOptions" formControlName="category">
              <!-- <ion-select-option [value]="data?.index" *ngFor="let data of propertyHeardSources">
                {{ data?.value }}
              </ion-select-option> -->
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="50">
          <ion-item>
            <ion-label position="floating">Start Time</ion-label>
            <ion-input formControlName="startAt"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="50">
          <ion-item>
            <ion-label position="floating">End Time</ion-label>
            <ion-input formControlName="stopAt"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Task Narrative <ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-input formControlName="taskNarration"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-input formControlName="note"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="100">
          <ion-row>
            <h4>Send appointment confirmation? </h4>
          </ion-row>
        </ion-col>
        <ion-item lines="none">
          <ion-checkbox class="ma-checkbox" color="medium" slot="start" formControlName="emailConfirmation"
            name="repairCheckbox">
          </ion-checkbox>
          <ion-label>E-mail</ion-label>
        </ion-item>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">
        <ion-button color="success" color="danger" (click)="openFollowupModal()">Cancel</ion-button>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-button color="success" color="success">Book Appointment</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>