<ion-header>
  <ion-toolbar>
    <ion-title>Landlord's own Contractor's details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="contractorDetailForm">
    <ion-row>
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Company <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-input formControlName="company"></ion-input>
        </ion-item>
        <app-validation-message [control]="contractorDetailForm.controls.company"></app-validation-message>
      </ion-col>

      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Contact Name <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <app-validation-message [control]="contractorDetailForm.controls.name"></app-validation-message>
      </ion-col>

      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Telephone <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-input formControlName="telephone"></ion-input>
        </ion-item>
        <app-validation-message [control]="contractorDetailForm.controls.telephone"></app-validation-message>
      </ion-col>

      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Email Address
          </ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <app-validation-message [control]="contractorDetailForm.controls.email"></app-validation-message>
      </ion-col>

      <ion-col size="100">
        <ion-item>
          <ion-label position="floating">Select Date/Time Type
          </ion-label>
          <ion-select interface="popover" formControlName="dateTimeType" (ionChange)="onDateTimeTypeSelection()">
            <ion-select-option [value]="item.index" *ngFor="let item of dateTimeTypeList">{{ item.value }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="100" *ngIf="isDateWithTime">
        <ion-item>
          <ion-label position="floating">Visit Date/Time
          </ion-label>
          <ion-datetime formControlName="estimatedVisitAt" dateFormat="MM/DD/YYYY HH:mm" displayFormat="DD MMM YYYY HH:mm" interface="popover" (ionChange)="checkPastDate()"
            class="request-start-date" [min]="minDate">
          </ion-datetime>
        </ion-item>
        <ion-text class="error-message" color="danger" *ngIf="pastDateError">The date/time you have chosen is in past, indicating your Contractor has already visited the property.</ion-text>
      </ion-col>

      <ng-container *ngIf="isDateWithSession">
        <ion-col size="100" class="session-label">
          <ion-label position="floating">Select session</ion-label>
          <ion-radio-group formControlName="estimatedVisitSlot" class="session-block" (ionChange)="checkPastDateWithSession()">
            <div *ngFor="let item of sessionSlots" matTooltip="{{ item.value.split(',')[1] }}" matTooltipPosition="above">
            <ion-item class="ion-item" lines="none" >
                <ion-label>
                  {{ item.value.split(',')[0] }}
                </ion-label>
                <ion-radio [disabled]="estimatedVisitAt != null" slot="start" class="ion-radio" [value]="item"></ion-radio>
            </ion-item>
          </div>
          </ion-radio-group>
        </ion-col>

        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Select Date
            </ion-label>
            <ion-datetime formControlName="estimatedVisitAt" dateFormat="MM/DD/YYYY" displayFormat="DD MMM YYYY" interface="popover" (ionChange)="checkPastDateWithSession()"
              class="request-start-date" [min]="minDate">
            </ion-datetime>
          </ion-item>
          <ion-text class="error-message" color="danger" *ngIf="pastDateErrorWithSession">The date/time you have chosen is in past, indicating your Contractor has already visited the property.</ion-text>
        </ion-col>
      </ng-container>

      <ion-col size="100">
        <ion-item>
          <ion-label position="floating">Notes </ion-label>
          <ion-textarea rows="1" formControlName="notes"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="100">
        <ion-item lines="none">
          <ion-checkbox formControlName="hasContractorConsent"
            [disabled]="llContractorDetails.hasContractorConsent === true"></ion-checkbox>&nbsp;&nbsp;
          <ion-label class="consent-text">I accept that I have the Contractor's permission to share their details.
          </ion-label>
        </ion-item>
        <app-validation-message [control]="contractorDetailForm.controls.hasContractorConsent"></app-validation-message>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer>
  <ion-grid [class.unsaved-data-error]="unSavedData">
    <ion-row>
      <ng-container *ngIf="unSavedData">
        <ion-col size="70">
          <div class="ion-padding-top">Are you sure you want to cancel the process?</div>
        </ion-col>
        <ion-col size="30" class="ion-text-end">
          <ion-button color="danger" (click)="continue()">No</ion-button>&nbsp;
          <ion-button color="success" (click)="dismiss()">Yes</ion-button>
        </ion-col>
      </ng-container>
      <ng-container *ngIf="!unSavedData">
        <ion-col size="100" class="ion-text-end">
          <ion-button class="cancel-button" (click)="onCancel()">CANCEL</ion-button>
        <ion-button class="save-button" (click)="save()" [disabled]="estimatedVisitAt != null">SAVE
        </ion-button>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-footer>