#contractor-details-modal {
    .consent-text{
        white-space: pre-wrap;
    }
    
    .unsaved-data-error{
        background: #ea828247;
    }
    
    .ion-radio-buttons {
        div {
            margin-bottom: -16px;
        }
    }
}