
header {    
    color: var(--ion-color-primary);
    min-height: 45px;
    height: auto;


    .navbar {
        border-top: medium none;
        margin-bottom: 0px;
    }

    .input-group-btn {
        width: 0%;
    }

    .search {
        margin-top: 3px;
    }

    .navbar-default {
        min-height: 42px;
        height: auto;
        background-color: var(--ion-color-step-1850);
        border: 0px solid var(--ion-color-step-1850);
        display: flex;
        justify-content: space-between;
        .result-search-grid{
            display: flex;
            flex-direction: row;
            padding: 0;
            justify-content: flex-end;
            margin-right: 15px;
        }
    }

    .menu {
       position: relative;
    }

    .swap-icon-header {
        margin: 7px 15px;
        img {
            background-color: var(--ion-color-step-1700);
            border-radius: 5px;
            padding: 4px;
            cursor: pointer;
        }
    }
}