.card-div {
    display: flex;
    color: var(--ion-color-five);
    margin-top: 14px
}
.col-grid-bg {
    background-color: var(--ion-color-two);
    border-radius: 5px;
}
.upload-row-bg {
    background-color: var(--ion-color-two);
}
.hide-input {
    display: none;
}
.swiper-button-prev,
.swiper-button-next {
    background-color: transparent;
    background-image: none !important;

    ion-icon {
        color: white;
        position: absolute;
        height: 50%;
        transform: translate(-30%, -50%);
        width: 35px;
        height: 35px;
        display: block;
    }
}
.swiper-slide img {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    object-fit: fill !important;
}

.download-icon {
    height: 40px;
}

.small-img {
    height: 150px;
    object-fit: cover;
}

.side-media-form {
    background: var(--ion-color-four);
}
