
<form [formGroup]="group">
  <mat-accordion class="form-view-accordian" multi id="property-rent-sales-figures">
    <mat-expansion-panel #rentSales hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Default Rates
        </mat-panel-title>
        <mat-panel-description class="ion-justify-content-end no-margin">
          <div>
            <span *ngIf="!rentSales.expanded"  class="accordian-icon" title="Expand">
              <ion-icon style="pointer-events:none"  name="add-circle"></ion-icon>
            </span>
            <span *ngIf="rentSales.expanded" class="accordian-icon" title="Collapse">
              <ion-icon style="pointer-events:none"   name="remove-circle"></ion-icon>
              </span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngIf="isRentForm; else skeletonBlock">
        <ion-grid>
          <ion-row>
            <ion-col size="33" class="no-padding">
              <ion-row>
                <ion-col size="100">
                  <ion-item>
                    <ion-label position="stacked">Rent
                    </ion-label>
                    <input class="currency-input" currencyMask formControlName="rentAmount">
                  </ion-item>
                </ion-col>
                <ion-col size="50">
                  <ion-item>
                    <ion-label position="floating">Every
                    </ion-label>
                    <ion-select interface="popover" [interfaceOptions]="popoverOptions" formControlName="rentFrequency">
                      <ion-select-option [value]="index" *ngFor="let index of rentFrequencyDropdown">
                        {{ index }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col size="50">
                  <ion-item>
                    <ion-label position="floating">Frequency
                    </ion-label>
                    <ion-select interface="popover" [interfaceOptions]="popoverOptions" formControlName="frequencyType">
                      <ion-select-option [value]="data?.index" *ngFor="let data of frequencyTypes">
                        {{ data?.value }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="33" class="no-padding">
              <ion-row>
                <ion-col size="50">
                  <ion-item style="margin-top: 2px;">
                    <ion-label position="stacked">Deposit
                    </ion-label>
                    <input class="currency-input" currencyMask formControlName="depositAmount">
                  </ion-item>
                </ion-col>
                <ion-col size="50">
                  <ion-item >
                    <ion-label position="floating">Deposit Scheme No
                    </ion-label>
                    <ion-input formControlName="depositSchemeNo"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="100">
                  <ion-item>
                    <ion-label position="floating">Deposit Scheme
                    </ion-label>
                    <ion-select interface="popover" [interfaceOptions]="popoverOptions" formControlName="depositScheme">
                      <ion-select-option [value]="data?.index" *ngFor="let data of depositSchemes">
                        {{ data?.value }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="33" class="no-padding">
              <ion-row>
                <ion-col size="100">
                  <ion-item>
                    <ion-label position="floating">Sale Price Type
                    </ion-label>
                    <ion-select interface="popover" [interfaceOptions]="popoverOptions" formControlName="salePriceType">
                      <ion-select-option [value]="data?.index" *ngFor="let data of salePrices">
                        {{ data?.value }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col size="100">
                  <ion-item>
                    <ion-label position="stacked">Sale Price
                    </ion-label>
                    <input class="currency-input" currencyMask formControlName="salePrice">
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel #rentProtection hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rent Protection & Legal Expenses
        </mat-panel-title>
        <mat-panel-description class="ion-justify-content-end no-margin">
          <div>
            <span *ngIf="!rentProtection.expanded"  class="accordian-icon" title="Expand">
              <ion-icon style="pointer-events:none"  name="add-circle"></ion-icon>
            </span>
            <span *ngIf="rentProtection.expanded" class="accordian-icon" title="Collapse">
              <ion-icon style="pointer-events:none"   name="remove-circle"></ion-icon>
              </span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ion-grid>
        <ion-row>
              <ion-col size="33.3">
                <ion-item>
                  <ion-label position="floating">Aegis Insurance
                  </ion-label>
                    <ion-select interface="popover" [interfaceOptions]="popoverOptions" formControlName="frequencyType">
                    <ion-select-option [value]="data?.index" *ngFor="let data of aegisInsurances">
                      {{ data?.value }}
                    </ion-select-option>
                    </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="16.65" class="ion-align-self-center">
                <ion-item lines="none">
                  <ion-toggle color="primary" formControlName="isUseRentPercentage" class="toggle-btn"></ion-toggle>
                  <ion-text class="toggle-btn-text">Use Rent % @</ion-text>
                </ion-item>
              </ion-col>
              <ion-col size="16.65">
                <ion-item>
                  <ion-label position="floating"></ion-label>
                  <ion-input formControlName="premiumPercentage"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="33.3">
                <ion-item>
                  <ion-label position="floating">Excess Threshold (%)
                  </ion-label>
                  <ion-input formControlName="excessThreshold"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="33.3">
                <ion-item>
                  <ion-label position="floating">Product
                  </ion-label>
                    <ion-select interface="popover" #product [interfaceOptions]="popoverOptions" formControlName="rentIndemnityProductId" (ionChange)="onProductChange(product.value)">
                    <ion-select-option [value]="data?.rentIndemnityProductId" *ngFor="let data of rentIndemnityProducts">
                      {{ data?.indemnityProductName }}
                    </ion-select-option>
                    </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="33.3">
                <ion-item style="margin-top: 3px;">
                  <ion-label position="stacked">
                    Preminum
                  </ion-label>
                  <input class="currency-input" currencyMask formControlName="premiumAmount">
                </ion-item>
              </ion-col>
              <ion-col size="33.3">
                <ion-item style="margin-top: 2px;">
                  <ion-label position="stacked">Excess Minimum
                  </ion-label>
                  <input class="currency-input" currencyMask formControlName="excessMinimum">
                </ion-item>
              </ion-col>
              <ion-col size="33.3" class="ion-align-self-center">
                <ion-item lines="none">
                  <ion-toggle color="primary" formControlName="isRentIndeminityRequired" class="toggle-btn"></ion-toggle>
                  <ion-text class="toggle-btn-text">Required</ion-text>
                </ion-item>
              </ion-col>
              <ion-col size="16.6">
                <ion-item>
                  <ion-label position="floating">Claims</ion-label>
                  <ion-input formControlName="claimDefaultInDays"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="16.6">
                <ion-item>
                  <ion-label position="floating">Manual</ion-label>
                  <ion-input formControlName="manualClaim"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="33.3"></ion-col>
              <ion-col class="ion-align-self-center" size="33.3">
                <ion-item lines="none">
                  <ion-toggle color="primary" formControlName="isRentIndeminityEnabled" class="toggle-btn"></ion-toggle>
                  <ion-text class="toggle-btn-text">Rent Indemnity</ion-text>
                </ion-item>
              </ion-col>
              <ion-col size="16.6">
                <ion-item id="rentStartDate">
                  <ion-label position="floating">Valid From</ion-label>
                  <ion-input value="{{ group.controls.rentStartDate.value | date: DATE_FORMAT.DATE }}"></ion-input>
                  <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
                  <ion-popover class="ion-datepicker-popover" trigger="rentStartDate" show-backdrop="false">
                    <ng-template>
                      <ion-datetime [showDefaultButtons]="true" presentation="date" formControlName="rentStartDate">
                      </ion-datetime>
                    </ng-template>
                  </ion-popover>
                </ion-item>
              </ion-col>
              <ion-col size="16.6">
                <ion-item id="rentStopDate">
                  <ion-label position="floating">Expires</ion-label>
                  <ion-input value="{{ group.controls.rentStopDate.value | date: DATE_FORMAT.DATE }}"></ion-input>
                  <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
                  <ion-popover class="ion-datepicker-popover" trigger="rentStopDate" show-backdrop="false">
                    <ng-template>
                      <ion-datetime [showDefaultButtons]="true" presentation="date" formControlName="rentStopDate">
                      </ion-datetime>
                    </ng-template>
                  </ion-popover>
                </ion-item>
              </ion-col>
              <ion-col size="33.3"></ion-col>
              <ion-col size="33.3" class="ion-align-self-center">
                <ion-item lines="none">
                  <ion-toggle color="primary" formControlName="isClaimAuthorised" class="toggle-btn"></ion-toggle>
                  <ion-text class="toggle-btn-text">Claims Authorised</ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
      </ion-grid>
    </mat-expansion-panel>
    <mat-expansion-panel #rentOtherPropOption hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Emergency Response Fees
        </mat-panel-title>
        <mat-panel-description class="ion-justify-content-end no-margin">
          <div>
            <span *ngIf="!rentOtherPropOption.expanded"  class="accordian-icon" title="Expand">
              <ion-icon style="pointer-events:none"  name="add-circle"></ion-icon>
            </span>
            <span *ngIf="rentOtherPropOption.expanded" class="accordian-icon" title="Collapse">
              <ion-icon style="pointer-events:none"   name="remove-circle"></ion-icon>
              </span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ion-grid formGroupName="emergencyResponseService">
        <ion-row>
              <ion-col size="33.3" class="ion-align-self-center">
                <ion-item lines="none">
                  <ion-toggle color="primary" formControlName="isERSEnabled" class="toggle-btn"></ion-toggle>
                  <ion-text class="toggle-btn-text">Emergency Response</ion-text>
                </ion-item>
              </ion-col>
              <ion-col size="33.3">
                <ion-item>
                  <ion-label position="floating">ERI Product
                  </ion-label>
                  <ion-select interface="popover" [interfaceOptions]="popoverOptions" formControlName="eriProduct">
                    <ion-select-option [value]="item?.index" *ngFor="let item of eriProducts">
                      {{ item?.value }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="30">
                <ion-item id="inceptionDate">
                  <ion-label position="floating">Inception Date</ion-label>
                  <ion-input value="{{ group.get('emergencyResponseService')['controls'].inceptionDate.value | date: DATE_FORMAT.DATE }}"></ion-input>
                  <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
                  <ion-popover class="ion-datepicker-popover" trigger="inceptionDate" show-backdrop="false">
                    <ng-template>
                      <ion-datetime [showDefaultButtons]="true" presentation="date" formControlName="inceptionDate">
                      </ion-datetime>
                    </ng-template>
                  </ion-popover>
                </ion-item>
              </ion-col>
              <ion-col size="3.3" class="ion-align-self-center">
                <div title="Remove Date" class="remove-date" (click)="removeDate('inceptionDate')">
                  <ion-icon name="trash-outline"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="30">
                <ion-item id="renewalDate">
                  <ion-label position="floating">Renewal Date</ion-label>
                  <ion-input value="{{ group.get('emergencyResponseService')['controls'].renewalDate.value | date: DATE_FORMAT.DATE }}"></ion-input>
                  <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
                  <ion-popover class="ion-datepicker-popover" trigger="renewalDate" show-backdrop="false">
                    <ng-template>
                      <ion-datetime [showDefaultButtons]="true" presentation="date" formControlName="renewalDate">
                      </ion-datetime>
                    </ng-template>
                  </ion-popover>
                </ion-item>
              </ion-col>
              <ion-col size="3.3" class="ion-align-self-center">
                <div title="Remove Date" class="remove-date" (click)="removeDate('renewalDate')">
                  <ion-icon name="trash-outline"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="30">
                <ion-item id="cancelledDate">
                  <ion-label position="floating">Cancelled Date</ion-label>
                  <ion-input value="{{ group.get('emergencyResponseService')['controls'].cancelledDate.value | date: DATE_FORMAT.DATE }}"></ion-input>
                  <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
                  <ion-popover class="ion-datepicker-popover" trigger="cancelledDate" show-backdrop="false">
                    <ng-template>
                      <ion-datetime [showDefaultButtons]="true" presentation="date" formControlName="cancelledDate">
                      </ion-datetime>
                    </ng-template>
                  </ion-popover>
                </ion-item>
              </ion-col>
              <ion-col size="3.3" class="ion-align-self-center">
                <div title="Remove Date" class="remove-date" (click)="removeDate('cancelledDate')">
                  <ion-icon name="trash-outline"></ion-icon>
                </div>
              </ion-col> 
              <ion-col size="33.3">
                <ion-item id="dateChanged">
                  <ion-label position="floating">Date Changed</ion-label>
                  <ion-input value="{{ dateChanged.value | date: DATE_FORMAT.DATE }}"></ion-input>
                  <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
                  <ion-popover class="ion-datepicker-popover" trigger="dateChanged" show-backdrop="false">
                    <ng-template>
                      <ion-datetime [showDefaultButtons]="true" presentation="date" [formControl]="dateChanged">
                      </ion-datetime>
                    </ng-template>
                  </ion-popover>
                </ion-item>
              </ion-col>
              <ion-col size="35">
                <ion-button color="success" (click)="opneFeeChargeModal()">Add Premium</ion-button>
              </ion-col>
            </ion-row>
      </ion-grid>
    </mat-expansion-panel>
    <mat-expansion-panel #mgntFees hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Standard Management Fees
        </mat-panel-title>
        <mat-panel-description class="ion-justify-content-end no-margin">
          <div>
            <span *ngIf="!mgntFees.expanded"  class="accordian-icon" title="Expand">
              <ion-icon style="pointer-events:none"  name="add-circle"></ion-icon>
            </span>
            <span *ngIf="mgntFees.expanded" class="accordian-icon" title="Collapse">
              <ion-icon style="pointer-events:none"   name="remove-circle"></ion-icon>
              </span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
          <ion-grid>
            <ion-row>
              <ion-col size="33" class="no-padding">
                <ion-row class="ion-align-items-center">
                  <ion-col size="65">
                    <ion-item>
                      <ion-label position="floating">
                        Standard Commission (%)
                      </ion-label>
                      <ion-input formControlName="managementCommission" percentage-validator></ion-input>
                     
                    </ion-item>
                    <div *ngIf="group.get('managementCommission').hasError('invalidPattern')" class="error-message">
                      Invalid Standard Commission (%)
                    </div>
                  </ion-col>
                  <ion-col size="35">
                    <ion-button color="success" class="change-btn" (click)="opneChangeNettModal()">&nbsp;Change Nett&nbsp;&nbsp;</ion-button>
                  </ion-col>
                  <ion-col size="65">
                    <ion-item>
                      <ion-label position="floating">VAT Inclusive (%)
                      </ion-label>
                      <ion-input formControlName="vatInclusive"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="35">
                    <ion-button color="success" class="change-btn" (click)="opneChangeGrossModal()">Change Gross</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                  <ion-col size="65">
                    <div class="info-text">*Information Only</div>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="33" class="no-padding">
                <ion-row class="ion-align-items-center">
                  <ion-col size="100">
                    <ion-item>
                      <ion-label position="floating">
                       Second Level Commission (%) <ion-text class="mandatory">*</ion-text>
                      </ion-label>
                      <ion-input formControlName="secondLevelCommission"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="100">
                    <ion-item>
                      <ion-label position="floating">
                       Narrative For Fees
                      </ion-label>
                      <ion-input formControlName="narrativeForFees"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="33" class="no-padding">
                <ion-row class="ion-align-items-center">
                  <ion-col size="100">
                    <ion-item>
                      <ion-label position="floating">
                        Narrative For Fees (VAT)
                      </ion-label>
                      <ion-input formControlName="narrativeForFeesVat"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
    </mat-expansion-panel>
    <mat-expansion-panel #rentReview hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rent Review Information
        </mat-panel-title>
        <mat-panel-description class="ion-justify-content-end no-margin">
          <div>
            <span *ngIf="!rentReview.expanded"  class="accordian-icon" title="Expand">
              <ion-icon style="pointer-events:none"  name="add-circle"></ion-icon>
            </span>
            <span *ngIf="rentReview.expanded" class="accordian-icon" title="Collapse">
              <ion-icon style="pointer-events:none"   name="remove-circle"></ion-icon>
              </span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
          <ion-grid>
            <ion-row>
              <ion-col size="33" class="no-padding">
                <ion-row class="ion-align-items-center">
                  <ion-col size="50">
                    <ion-item id="lastRentReview">
                      <ion-label position="floating">Last Rent Review</ion-label>
                      <ion-input value="{{ group.controls.lastRentReview.value | date: DATE_FORMAT.DATE }}"></ion-input>
                      <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
                      <ion-popover class="ion-datepicker-popover" trigger="lastRentReview" show-backdrop="false">
                        <ng-template>
                          <ion-datetime [showDefaultButtons]="true" presentation="date" formControlName="lastRentReview">
                          </ion-datetime>
                        </ng-template>
                      </ion-popover>
                    </ion-item>
                  </ion-col>
                  <ion-col size="50">
                    <ion-item id="nextRentReview">
                      <ion-label position="floating">Next Rent Review</ion-label>
                      <ion-input value="{{ group.controls.nextRentReview.value | date: DATE_FORMAT.DATE }}"></ion-input>
                      <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"></ion-icon>
                      <ion-popover class="ion-datepicker-popover" trigger="nextRentReview" show-backdrop="false">
                        <ng-template>
                          <ion-datetime [showDefaultButtons]="true" presentation="date" formControlName="nextRentReview">
                          </ion-datetime>
                        </ng-template>
                      </ion-popover>
                    </ion-item>
                  </ion-col>
                  <ion-col size="100">
                    <ion-list-header class="fees-heading">
                      <ion-label>Landlord Outstanding Fees</ion-label>
                    </ion-list-header>
                    <ion-item lines="none">
                      <ion-toggle color="primary" formControlName="isLandlordArrearsExcluded" class="toggle-btn"></ion-toggle>
                      <ion-text class="toggle-btn-text">Exclude from landlord arrears</ion-text>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
    </mat-expansion-panel>
  </mat-accordion>
</form>

 <!-- Skeleton -->
 <ng-template #skeletonBlock>
  <ion-grid>
    <ion-row>
      <ion-col size="33" class="no-padding">
        <ion-row>
          <ion-col size="100">
            <ion-item lines="none">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-item>
          </ion-col>
          <ion-col size="50">
            <ion-item lines="none">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-item>
          </ion-col>
          <ion-col size="50">
            <ion-item lines="none">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="33" class="no-padding">
        <ion-row>
          <ion-col size="50">
            <ion-item lines="none">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-item>
          </ion-col>
          <ion-col size="50">
            <ion-item lines="none">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-item>
          </ion-col>
          <ion-col size="100">
            <ion-item lines="none">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="33" class="no-padding">
        <ion-row>
          <ion-col size="100">
            <ion-item lines="none">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-item>
          </ion-col>
          <ion-col size="100">
            <ion-item lines="none">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
<!-- Skeleton -->