#property-rent-sales-figures {
    .bottom-alignment {
        margin-bottom: 19px;
    }

    .toggle-btn-stop-spacing {
        margin-top: 9px;
    }

    .currency-input {
        border: 0;
        outline: 0;
        padding: 5px 0;
        background: transparent;
    }

    .info-text {
        color: var(--ion-text-color);
    }

    .fees-heading {
        padding: 0;
        font-weight: bold;
    }

    .change-btn {
        margin-top: 25px;
    }
}