@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/common/common";

@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

#tob-applicant-search{
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding-left: 0 !important;
  }
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding-bottom: 8px !important;
  }
}

body {
  font-size: 16px;
  //background-color: var(--ion-color-step-2000);
  .fs-12 {
    font-size: 12px !important;
    line-height: 14px;
  }

  .fs-14 {
    font-size: 14px !important;
    line-height: 16px;
  }

  .fs-16 {
    font-size: 16px !important;
    line-height: 18px;
  }

  .fs-18 {
    font-size: 18px !important;
    line-height: 21px;
  }

  .fs-20 {
    font-size: 20px !important;
    line-height: 24px;
  }

  .fs-22 {
    font-size: 22px !important;
    line-height: 26px;
  }

  .fs-24 {
    font-size: 24px !important;
    line-height: 28px;
  }

  .fw-300 {
    font-weight: 300 !important;
  }

  .fw-400 {
    font-weight: 400 !important;
  }

  .fw-500 {
    font-weight: 500 !important;
  }

  .fw-700 {
    font-weight: 700 !important;
  }

  .text-white {
    color: var(--ion-color-step-2000);
  }

  .no-padding {
    padding: 0 !important;
  }

  .no-padding-left {
    padding-left: 0 !important;
  }

  .no-padding-right {
    padding-right: 0 !important;
  }

  .no-padding-top {
    padding-top: 0 !important;
  }

  .no-padding-bottom {
    padding-bottom: 0 !important;
  }

  .no-padding-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .no-padding-top-bottom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .no-margin {
    margin: 0 !important;
  }

  .no-margin-left {
    margin-left: 0 !important;
  }

  .no-margin-right {
    margin-right: 0 !important;
  }

  .no-margin-top {
    margin-top: 0 !important;
  }

  .no-margin-bottom {
    margin-bottom: 0 !important;
  }

  .no-margin-left-right {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .no-margin-top-bottom {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .margin-top-16 {
    margin-top: 16px !important;
  }

  h4 {
    font-weight: 500;
  }

  a {
    cursor: pointer;
    color: var(--ion-color-tertiary);
  }

  a:hover {
    text-decoration: underline;
  }

  .view-btn {
    height: 30px;
  }

  .pointer {
    cursor: pointer;
  }

  .border {
    box-shadow: unset;
    border: 1px solid var(--ion-color-secondary);
  }

  .toast-title {
    @include set-text-style(16px, 20px);
    font-weight: 500;
    padding-bottom: 5px;
    padding-left: 70px;
    padding-top: 10px;
    color: var(--ion-color-step-550);
  }

  .toast-message {
    @include set-text-style(14px, 17px);
    word-wrap: break-word;
    padding-left: 70px;
    padding-right: 15px;
    padding-bottom: 10px;
    color: var(--ion-color-step-950);
    font-weight: 500;
  }

  .toast-container .ngx-toastr {
    @include border-radius(3px);
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 0;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 0;
    box-shadow: 0 0 12px var(--ion-color-medium);
    background-color: var(--ion-color-step-2000);
  }

  .toast-close-button {
    @include set-text-style(20px, 24px);
    position: relative;
    right: 10px;
    top: 5px;
    float: right;
    font-weight: bold;
    color: var(--ion-color-dark);
    text-shadow: 0 1px 0 var(--ion-color-step-2000);
    opacity: 0.8;
  }

   .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.32rem !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  }

  
.mat-form-field-ripple {
  background-color: var(--ion-color-success) !important
 }

  .toast-error::before {
    content: "\f2d7";
    font-family: "Ionicons";
    position: absolute;
    height: 100%;
    width: 55px;
    background: var(--ion-color-danger);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ion-color-step-2000);
    @include set-text-style(30px, 36px);
  }

  .toast-success::before {
    content: "\f383";
    font-family: "Ionicons";
    position: absolute;
    height: 100%;
    width: 55px;
    background: var(--ion-color-success);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ion-color-step-2000);
    @include set-text-style(30px, 36px);
  }

  .toast-warning::before {
    content: "\f100";
    font-family: "Ionicons";
    position: absolute;
    height: 100%;
    width: 55px;
    background: var(--ion-color-warning);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ion-color-step-2000);
    @include set-text-style(30px, 36px);
  }

  .toast-info::before {
    content: "\f35b";
    font-family: "Ionicons";
    position: absolute;
    height: 100%;
    width: 55px;
    background: var(--ion-color-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ion-color-step-2000);
    @include set-text-style(30px, 36px);
  }

  .postcode-search {
    position: absolute;
    right: 15px;
    top: 30px;
    @include set-text-style(25px, 29px);
    color: var(--ion-color-tertiary);
    cursor: pointer;
    z-index: 2;
  }

  #wp-cl-worldpay-iframe-container {
    background-color: var(--ion-color-step-2000);
  }

  .spinner-bg {
    background-color: rgba(var(--ion-color-step-2000-rgb), 0.49);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
  }

  .spinner-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    margin: -60px 0 0 -60px;
    z-index: 100002;
  }
}

#faultListTable, #la-application-list, #la-guarantor-application-list, #tenant-list-modal, #propertyNotesTable {
  tr.odd {
    td.dataTables_empty {
      display: none;
    }
  }
}

::ng-deep .mat-ink-bar {
  display: none !important;
}

button {
  margin: 0.2%;
}

mat-tab-group,
mat-form-field {
  width: 100%;
}

.save {
  justify-content: flex-end;
}

.filled {
  background-color: var(--ion-color-step-1900);
}

// .my-class {
//   ::ng-deep {
//     .mat-tab-label {
//       opacity: 1;
//       padding: 5px;
//       border: 1px solid var(--ion-color-danger) !important;
//       border-bottom: none;
//       color: var(--ion-color-step-400);
//     }
//   }
// }

.common-alert-box .alert-wrapper {
  min-width: 450px;
}

.mat-tooltip {
  font-size: 12px !important;
  line-height: 15px;
}

.fault-qualification-modal .modal-wrapper {
  min-height: 215px !important;
}

.close-fault-modal .modal-wrapper {
  min-height: 360px !important;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}

.ion-select-popover-content{
  --width: auto !important;
}

.notification-body > a, .notification-body p > a {
  color: gray !important;
  cursor: not-allowed !important;
  text-decoration: underline !important;
  pointer-events: none;
}

.select-options-content-wrap {
  .sc-ion-select-popover-h ion-label.sc-ion-select-popover{
    white-space: normal !important;
  }
}

.reject-invoice-modal{
  .reason > div > textarea{
    overflow: hidden !important;
  }
}

.contact-details-modal{
  .mat-tab-body-wrapper{
    width: 100%;
  }
  .mat-tab-group{
      margin-top: 10px;
      align-items: center;
  }
  .mat-tab-label{
      min-width: 248px !important;
  }

  .mat-tab-label-container{
    height: 40px;
    align-items: center;
  }
}

.repair-block {
  margin-right: 15px;
  margin-bottom: auto !important;
  --ion-color-contrast: var(--ion-color-success-contrast, #fff) !important;
}

.pdf-button{
  color: #ffffff;
  background: #737373;
  padding: 6px 15px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 5px;
  float: right;
}

#chronological-history {
  table {
    width: 100% !important;
    .res-child>td:first-child{
      word-break: initial;
      width: 125px;
      vertical-align: unset;
    }
  }
}

.mat-calendar-body-selected {
  background-color: var(--ion-color-primary);
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 0 !important;
  padding: 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: inherit;
}

.mat-datepicker-toggle .mat-icon-button {
  color: var(--ion-color-medium);
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: rgb(51 204 0 / 25%);
};

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: var(--ion-color-step-800);
}

.mat-focused .mat-form-field-label{
  color: var(--ion-color-step-800) !important;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.25em 0 0.25em 0;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: var(--ion-color-danger) !important; 
}

.send-email-modal .modal-wrapper {
  min-height: 440px !important;
  width: 680px !important;
}

// quill-editor css
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0px;
  min-height: 230px;
}

.ql-toolbar.ql-snow {
  display: flex;
  flex-direction: row;
}

.ql-toolbar.ql-snow .ql-formats {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  border-right: 1px solid #c1c1c1;
  margin: 0px;
}

.ql-toolbar.ql-snow .ql-formats:last-child {
  border-right: none;
}

.ql-editor {
  font-size: 16px;
}

.mat-paginator {
  padding: 0 8px;
  background: var(--ion-color-step-800);
  display: flex !important;
  color: var(--ion-color-step-2000);
  border-radius: 5px;
  font-size: 14px;
  height: 42px;
  align-items: center;
}

.tob-pagination {  
  display: flex;
  flex-direction: row;
  margin: 0px 10px 0 auto;
  justify-content: flex-end;

  .mat-paginator-page-size-select {
    margin: 0px 5px 15px 15px;
    width: 54px;
  }

  .mat-select-value, .mat-select-arrow {
    color: var(--ion-color-step-2000);
  }
  
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: var(--ion-color-step-800);
  }

  .mat-paginator-outer-container {
    height: auto;
    width: 100%;
  }

  .mat-paginator-container {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
  }
}

[hidden] {
  display: none !important;
}

#offer-stepper,
#application-stepper {
  .action-btn-section {
    .mat-button {
      background-color: var(--ion-color-step-950);
      margin: 4px;
      color: var(--ion-color-step-2000);
    }
    .mat-button-disabled {
      background-color: var(--ion-color-step-1150);
      cursor: not-allowed;
    }
  }
}

.modal-width .modal-wrapper {
  width: 650px !important;
}

.applicantSearchbarCustom {
  padding: 0;
  .searchbar-input {
    line-height: 27px;
    padding: 5px 15px;
  }
  .searchbar-search-icon {
    display:none; 
    width:0; 
    height:0;
  }
  
  .searchbar-input-container{
    border: 1px solid -var(--ion-color-step-1600);
    box-shadow: none;
    border-left: 0;
    .searchbar-input {
      box-shadow: none;
      padding-top: 4px;
      padding-left: 10px;
    }
  }
}

.searchbarCustom {
  --background: transparent;
    padding: 0;
    .searchbar-input {
      line-height: 27px;
    }
    .searchbar-search-icon {
      display:none; 
      width:0; 
      height:0;
    }
    .searchbar-search-icon {
      background-image: url("assets/images/solr/propcoLogo.svg")!important;
      color: transparent;
      background-size: cover;
    }
    .searchbar-input-container{
      border: 1px solid #ccc;
      box-shadow: none;
      border-left: 0;
      .searchbar-input {
        box-shadow: none;
        padding-top: 4px;
        padding-left: 10px;
      }
    }
}
.solrMutiSelect {
	.mat-form-field {
		.mat-form-field-underline {
			display: none;
		}
		// .mat-form-field-infix {
		// 	width: 0px;
		// }
		.mat-form-field-wrapper {
			border: 1px solid;
      padding-bottom: 0;
      color: #ccc;
      border-radius: 3px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-left: 6px;
      font-size: 15px;
      background-color: var(--ion-color-primary);
		}
    .mat-select-value{
      color: var(--ion-color-primary-contrast);
    }
		// .mat-select-arrow {
		// 	color: rgb(197 51 44);
		// 	border-left: 8px solid transparent;
		// 	border-right: 8px solid transparent;
		// 	border-top: 7px solid;
		// }
		// .mat-select-min-line {
		// 	opacity: 0;
		// }
    .mat-select-arrow-wrapper {
      padding-top: 18px;
      padding-right: 5px;
      .mat-select-arrow{
        color: var(--ion-color-primary-contrast);
      }
    }
    .mat-form-field-infix {
      padding: 0.25em 0 0.25em 0;
      height: 33px;
      border: none;
      padding-top: 6px;
      margin-top: 4px;
      font-size: 14px;
    }
	}
}

.result-headers-align {
  background-color: var(--ion-color-step-1750);
  .mat-expansion-panel-body{
    padding: 0;
  }
  // overwrite the checkbox background
  .mat-checkbox-checked .mat-checkbox-background, 
  .mat-checkbox-indeterminate .mat-checkbox-background {
   background-color: var(--ion-color-success) !important;
 }
 
  // overwrite the ripple overlay on hover and click
  .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    background-color: var(--ion-color-success) !important;
  }
}

.search-header {
  background-color: var(--ion-background-color);
}

.solr-pagginater-container{
  .mat-select-value {
    color: var(--ion-color-step-2000);
  }
  .mat-form-field-infix{
    border-bottom: 1px solid var(--ion-color-step-2000) !important;
  }
  .mat-select-arrow{
    color: var(--ion-color-step-2000);
  }
  .mat-paginator-range-label {
    // display: none;
  }
  /* .mat-paginator-outer-container{
    height: auto;
    width: 100%;
  }
  .mat-paginator-container {
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding-bottom: 3px;
    width: 100%;
  } */
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
  }
}

#solr-search-result {
  .ngx-slider .ngx-slider-bubble.ngx-slider-limit {
    display: none;
  }
  .ngx-slider .ngx-slider-pointer{
    width: 23px;
    height: 23px;
    top: -10px;
    background-color: var(--ion-color-step-1700);
  }
  .ngx-slider .ngx-slider-pointer:after{
    display: none;
  }
  .ngx-slider .ngx-slider-bar{
    height: 2px;
  }
  .ngx-slider .ngx-slider-selection{
    background: var(--ion-color-solr);
  }
}

.list-view-accordian {
  .mat-expansion-panel-header {
    .mat-content {
      height: 100%
    }
  }
  .mat-expansion-panel-body{
    padding: 0;
  }
}

.modal-height .modal-wrapper{
  min-height: 235px;
}

#agent-header {
  .mat-button-focus-overlay {
    background-color: transparent;
  }
}
.mat-menu-panel {
  overflow: hidden!important;
  box-shadow: none!important;
}

.offer-notes-modal-height .modal-wrapper{
  min-height: 350px;
}
.mat-expansion-panel-header-description, .mat-expansion-indicator::after{
  color: var(--ion-color-matexpanstionpanel-arrow-color);
}

.ngx-slider .ngx-slider-bubble{
  color: var(--ion-color-ngxslider-bubble-color)!important;
}

.mat-select-panel{
  background-color: var(--ion-color-matselectpanal-bg)!important;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled),.mat-option-text{
  color: var(--ion-color-matoption-color)!important;
}
.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate{
  background-color: var(--ion-color-primary)!important;
}

.transparent-modal {
  --background:  var(--ion-color-body);
  ion-content{
    --background:  var(--ion-color-body) !important;
  }
  ion-footer{
    ion-button{
      --ion-color-base: var(--ion-color-text-color) !important;
    }

  }
}
.accordian-icon {
  font-size: 37px;
  color: var(--ion-color-accordian-icon);
  display: flex;
}

.user-info-modal  {
  --background:  var(--ion-color-body);

  .modal-wrapper{
    height: 260px;
    width: 470px;
  }
  ion-toolbar{
    --background: var(--ion-color-property-status-bg);
    color: var(--ion-color-property-status-text);
  }
  ion-content{
    color: var(--ion-color-property-status-text) !important;
    --background:  var(--ion-color-body);
  }
  ion-footer{    
    ion-button{
      --background: var(--ion-color-property-status-bg);
    }
  }
}

.notes-alert{
  --background:  var(--ion-color-body);
  .alert-wrapper{
    div:nth-child(1) {
      padding-top: 10px;
      padding-bottom: 10px;
      background: var(--ion-color-property-status-bg);
      .alert-title{
        color: var(--ion-color-property-status-text);
      }
    }
    div:nth-child(2) {
      padding-top: 10px !important;
      color: var(--ion-color-text-color) ;
    }
    div:nth-child(3) {
      button
      {
        background-color: var(--ion-color-property-status-bg);
        color: var(--ion-color-property-status-text);
      }
    }    
  }
}

#agent-portal {
  .postcode-find-btn {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}