<ion-grid style="margin-bottom:10px">
  <ion-row class="ion-justify-content-start fault-title">
    <ion-col size="93" style="display: inline-flex; padding-left: 0px; ">
      <ion-row>
        <ion-col size="auto">
          <h2>
            <ion-text *ngIf="faultDetails?.faultId">{{faultDetails?.reference || ''}} </ion-text>
            {{title}} <ion-text
            color="success">&gt;</ion-text>
          </h2>
        </ion-col>
        <ion-col size="auto">
          <ion-item class="edit-title" *ngIf="isEditable">
            <ion-input #title [value]="describeFaultForm.controls['title'].value"
              style="font-size:24px;padding-bottom:0" (ionBlur)="changeTitle(title.value)"></ion-input>
          </ion-item>
          <h2 *ngIf="!isEditable">{{describeFaultForm.controls['title'].value}} </h2>
        </ion-col>
        <ion-col size="auto" class="ion-align-self-center edit-title-icon" offset="2"
          *ngIf="faultDetails?.faultId && faultDetails?.stageIndex <= 1">
          <ion-icon class="edit-title" name="create-outline" (click)="editTitle()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="3" class="note-block" title="Cronological History" (click)="cronologicalHistoryModal()" *ngIf="faultDetails?.faultId && !faultDetails?.isDraft">
      <ion-icon name="timer" class="ion-align-self-center edit-title-icon edit-title"></ion-icon>
    </ion-col>
    <ion-col size="4" class="note-block" (click)="notesModal()" title="Add Note" *ngIf="faultDetails?.faultId">
      <img src="assets/images/fault-categories/add_notes.png" matTooltip="Add Note" matTooltipPosition="above" />&nbsp;
    </ion-col>

  </ion-row>
</ion-grid>