@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.fault-title {
  .material-icons {
    font-size: 21px;
    margin-top: 10px;
  }
  .edit-title {
    font-size: 25px;
    margin-top: 10px;
  }
  padding: 0px 20px 0px 20px;
}

.edit-title-icon {
  margin-left: 0px !important;
  span:hover {
    cursor: pointer;
  }
}

.edit-title {
  ion-input {
    --padding-bottom: 0px;
  }
}
.note-block {
  display: inline-flex;
  justify-content: flex-end;
  cursor: pointer;
  img{
    height: 36px;
    margin-top: 19px;
  }
  .send_mail_icon {
    height: 24px;
    margin: 28px 3px 0px 0px;
  }
}
