<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="appointment-modal">
  <form [formGroup]="appointmentForm">
    <ion-grid class="">
      <ion-row class="">
        <ion-col size="100">
          <h6>{{headingOne}}</h6>
          <h6>{{headingTwo}}</h6>
        </ion-col>

        <ion-col size="100">
          <ion-item>
            <ion-label position="floating">Select Date/Time Type<ion-text class="mandatory">*</ion-text>
            </ion-label>
            <ion-select interface="popover" formControlName="dateTimeType" (ionChange)="onDateTimeTypeSelection()">
              <ion-select-option [value]="item.index" *ngFor="let item of dateTimeTypeList">{{ item.value }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-validation-message [control]="appointmentForm.controls.dateTimeType"></app-validation-message>
        </ion-col>

        <ion-col size="100" *ngIf="isDateWithTime">
          <ion-item id="dateTime">
            <ion-label position="floating">Visit Date/Time <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-input value="{{ appointmentForm.controls.dateTime.value | date: DATE_FORMAT.DATE_TIME }}"></ion-input>
            <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"
            ></ion-icon>
            <ion-popover class="ion-datepicker-popover-date-time" trigger="dateTime" show-backdrop="false" side="top">
              <ng-template>
                <ion-datetime
                  showDefaultButtons="true"
                  presentation="date-time"
                  formControlName="dateTime"
                  [min]="minDate"
                  (ionChange)="checkPastDate()"
                >
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
          <app-validation-message [control]="appointmentForm.controls.dateTime"></app-validation-message>
          <ion-text class="error-message" color="danger" *ngIf="pastDateError">The date/time you have chosen is in past, indicating the Contractor has already visited the property.</ion-text>
        </ion-col>

      <ng-container *ngIf="isDateWithSession">
        <ion-col size="100" class="session-label">
          <ion-label position="floating">Select session<ion-text class="mandatory">*</ion-text></ion-label>
          <ion-radio-group formControlName="appointmentSlot" class="session-block-radio-btn" (ionChange)="checkPastDateWithSession()">
            <div *ngFor="let item of sessionSlots" matTooltip="{{ item.value.split(',')[1] }}" matTooltipPosition="above">
            <ion-item class="ion-item" lines="none" >
                <ion-label>
                  {{ item.value.split(',')[0] }}
                </ion-label>
                <ion-radio slot="start" class="ion-radio" [value]="item"></ion-radio>
            </ion-item>
          </div>
          </ion-radio-group>
          <app-validation-message [control]="appointmentForm.controls.appointmentSlot"></app-validation-message>
        </ion-col>

        <ion-col size="100">
          <ion-item id="dateTime">
            <ion-label position="floating">Select Date <ion-text class="mandatory">*</ion-text></ion-label>
            <ion-input value="{{ appointmentForm.controls.dateTime.value | date: DATE_FORMAT.DATE }}"></ion-input>
            <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"
            ></ion-icon>
            <ion-popover class="ion-datepicker-popover" trigger="dateTime" show-backdrop="false">
              <ng-template>
                <ion-datetime
                interface="popover"
                  showDefaultButtons="true"
                  presentation="date"
                  formControlName="dateTime"
                  [min]="minDate"
                  (ionChange)="checkPastDateWithSession()"
                >
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
          <app-validation-message [control]="appointmentForm.controls.dateTime"></app-validation-message>
          <ion-text class="error-message" color="danger" *ngIf="pastDateErrorWithSession">The date/time you have chosen is in past, indicating the Contractor has already visited the property.</ion-text>
        </ion-col>
      </ng-container>

      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer id="appointment-modal">
  <ion-grid [class.unsaved-data-error]="unSavedData">
    <ion-row>
      <ng-container *ngIf="unSavedData">
        <ion-col size="70">
          <div class="ion-padding-top">Are you sure you want to cancel the process?</div>
        </ion-col>
        <ion-col size="30" class="ion-text-end">
          <ion-button color="danger" (click)="continue()">No</ion-button>&nbsp;
          <ion-button color="success" (click)="dismiss()">Yes</ion-button>
        </ion-col>
      </ng-container>
      <ng-container *ngIf="!unSavedData">
        <ion-col size="100" class="ion-text-end">
          <ion-button (click)="onCancel()" color="danger">NO</ion-button>
      <ion-button color="success" (click)="save()" [disabled]="showLoader">YES
        <ion-icon *ngIf="showLoader" name="refresh" class="rotating submit-loader"></ion-icon>
      </ion-button>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-footer>