ion-content {
  input {
    font-size: 16px;
    line-height: 18px;
    font-family: var(--ion-font-family);
  }
}

.search-option {
  border-bottom: 1px solid gray;
  line-height: 16px;
  font-size: 14px;

  div {
    width: 92%;
    white-space: initial;
    word-wrap: break-word;
    text-align: justify;
    .address,
    .rent {
      color: var(--ion-color-one);
    }

    .ref {
      color: var(--ion-color-three);
    }

    .status {
      color: var(--ion-color-success);
    }
  }
}