<ion-header>
  <ion-toolbar>
    <ion-title>Search Property</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()" *ngIf="pageName!=='application'"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]='propertySearchForm' style="padding: 0 8px;">
    <br>
    <mat-form-field>
      <input matInput placeholder="Start typing to search" [matAutocomplete]="auto" formControlName='text'>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
      <mat-option *ngFor="let result of (filteredProperty | async)?.data" [value]="result" class="search-option">
        <span>
          <i class="propcoicon no-background propcoicon-property"
            style="background: transparent;vertical-align:middle"></i>
        </span>
        <div>
          <span class="address">{{result.address}}&nbsp;</span> <br>
          <span class="ref">{{result.reference}}</span>&nbsp;
          <span ng-if="result.entityType === 'PROPERTY'" class="rent">{{result.propertyAdvertisedRent | currency : "£"}}</span>&nbsp;
          <span class="text-color-lightgreen" class="status">{{result.status}}</span>&nbsp;
        </div>
      </mat-option>
      <mat-option *ngIf='(propertySearchForm.controls.text.value).length > 2 && isNotFound'>No record found.
      </mat-option>
    </mat-autocomplete>
  </form>
</ion-content>
<ion-footer *ngIf="pageName!=='application'">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-end">
        <ion-button (click)="dismiss()">close</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>