#office-filter-modal {
    .header-section {
        border-bottom: 1px solid var(--ion-color-four);
        padding: 10px 0px;
    }

    mat-checkbox,
    mat-label {
        color: var(--ion-color-mat-checkbox-label);
    }

    .right-left-panel-overflow {
        height: 355px;
        overflow: auto;
        border-right: 1px solid var(--ion-color-four);
        border-bottom: 1px solid var(--ion-color-four);
    }

    .margin-20-search-box {
        margin-top: -17px;
      }

    table{
        width: 100%
    }

    .filter-list{
        padding: 5px 12px;        
        border-bottom: 1px solid var(--ion-color-four);
        font-size: 14px;
    }

    ion-grid{
        padding:0px;
    }

    mat-tree{
        width: 100%
    }
}