@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  @include set-text-style(20px, 26px);
}

#container p {
  @include set-text-style(16px, 20px);
  color: var(--ion-color-step-1100);
  margin: 0;
}

#container a {
  text-decoration: none;
}