<ion-header>
  <ion-toolbar>
    <ion-title>Awaiting response</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    <strong>
      <ion-text>Subject line of email: </ion-text>
      <ion-text [innerHTML]="notificationSubject"></ion-text>
    </strong>
  </p>
  <p class="notification-body" [innerHTML]="notificationBody" disabled></p>
  <div class="action-btn-group">
    <ion-button class="cancel-button" (click)="dismiss()">Cancel</ion-button>
    <ion-button class="save-button" (click)="save()">Forward to Landlord
    </ion-button>
  </div>
</ion-content>