<ion-content id="safety-device">
  <mat-accordion class="form-table-view-accordian">
    <mat-expansion-panel #safetyDevice hideToggle expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Safety Devices/Alarms
        </mat-panel-title>
        <mat-panel-description class="ion-justify-content-end no-margin">
          <div>
            <span *ngIf="!safetyDevice.expanded" class="accordian-icon" title="Expand">
              <ion-icon style="pointer-events:none" name="add-circle"></ion-icon>
            </span>
            <span *ngIf="safetyDevice.expanded" class="accordian-icon" title="Collapse">
              <ion-icon style="pointer-events:none" name="remove-circle"></ion-icon>
            </span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="action-btn-block">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-align-self-center">
              <ion-button color="success">Add</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="overlay-container" style="position: relative">
        <table datatable [dtOptions]="dtOptions" class="row-border hover table-width" id="safety-device-table"
          style="position: relative" aria-describedby="safetyDevice">
          <thead>
            <tr>
              <th scope="col" style="width:100px">Item</th>
              <th scope="col">Type</th>
              <th scope="col">Location</th>
              <th scope="col">Serial Number</th>
              <th scope="col">Last Tested On</th>
              <th scope="col">Expiry Date</th>
              <th scope="col">External Link</th>
              <th scope="col">Notes</th>
              <th scope="col" style="width:36px"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of safetyDeviceList" class="table-row"
              [ngClass]="{'row-selected' : data.rowSelected}" (click)="onClickRow(data);">
              <td>{{data?.safetyDeviceType | lookup: safetyDeviceTypes || notAvailable}}</td>
              <td>{{data?.smokeDetectorType | lookup: smokeDetectors || notAvailable}}</td>
              <td>{{data?.location || notAvailable}}</td>
              <td>{{data?.serialNumber || notAvailable}}</td>
              <td>{{data.lastTestedDate | date: DATE_FORMAT.DATE || notAvailable}}</td>
              <td>{{data.expiryDate | date: DATE_FORMAT.DATE || notAvailable}}</td>
              <td>{{data?.externalLink || notAvailable}}</td>
              <td>{{data?.notes || notAvailable}}</td>
              <td class="resp-action-icon">
                <i (click)="showMenu($event,'safety-overlay', data, 'table-row')"
                  class="propcoicon propcoicon-actions-on action-btn"></i>
              </td>
            </tr>
            <tr *ngIf="safetyDeviceList?.length === 0">
              <td colspan="9" class="no-data-available ion-text-center"><b>{{DEFAULT_MESSAGES.NO_RECORD_FOUND}}</b>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="safety-overlay" class="overlay-class">
          <ion-button (click)="addNotes()">Add Note</ion-button>
          <ion-button>Edit</ion-button>
          <ion-button>Remove</ion-button>
          <i (click)="hideMenu($event,'safety-overlay')" class="propcoicon propcoicon-actions-on"></i>
        </div>
      </div>

      <div class="overlay-container" style="position: relative">
        <h5>Safety Device Notes :</h5>
        <table datatable [dtOptions]="notesDtOption" [dtTrigger]="notesDtTrigger" class="row-border hover table-width"
          style="position: relative" #faultNotesTable aria-describedby="safetyDeviceNotes">
          <thead>
            <tr>
              <th scope="col" style="width:15%">Date</th>
              <th scope="col" style="width:15%">Time</th>
              <th scope="col" style="width:15%">Type</th>
              <th scope="col" style="width:15%">Complaint</th>
              <th scope="col" style="width:15%">Category</th>
              <th scope="col">User</th>
              <th scope="col" style="width:40px">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let notes of safetyDeviceNotes?.data" class="table-row">
              <td>{{(notes.postedAt | date: DATE_FORMAT.DATE) || notAvailable}}</td>
              <td>{{(notes.postedAt | date: DATE_FORMAT.TIME) || notAvailable}}</td>
              <td>{{(notes.type | lookup:notesTypes) || notAvailable}}</td>
              <td>{{(notes.complaint | lookup:notesComplaints) || notAvailable}}</td>
              <td>{{(notes.category | lookup:notesCategories) || notAvailable}}</td>
              <td>{{notes.userName || notAvailable}}</td>
              <td><i class="propcoicon propcoicon-property-description"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</ion-content>