#safety-device {
    h5 {
        color: var(--ion-color-primary);
    }
    .row-selected {
        opacity: 0.7;
    }

    .action-btn-block {
        ion-button {
            margin-left: 0;
        }
    }
}
