
  <ion-grid>
    <ion-row *ngIf="faultDetails?.isClosed">
      <ion-col offset-xl="15" size-xl="70" offset="0" size="100">
        <app-close-fault  [notificationData]="iacNotification" [faultDetails]="faultDetails" [action]="getLookupValue(iacNotification?.faultStageAction, iacStageActions) || getLookupValue(faultDetails?.userSelectedAction, iacStageActions) || getLookupValue(iacNotification?.faultStageAction, faultQualificationsAction)?getLookupValue(iacNotification?.faultStageAction, iacStageActions) || getLookupValue(faultDetails?.userSelectedAction, iacStageActions) || getLookupValue(iacNotification?.faultStageAction, faultQualificationsAction): 'Job Completion'"></app-close-fault>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="iacNotification && !showSkeleton && !faultDetails?.isClosed">
      <ion-col offset-xl="15" size-xl="70" offset="0" size="100" class="secondary-background border-top-radious">
        <div class="arranging-contractor">
          <div class="banner">
            <div class="ion-text-left">
              <b>{{iacNotification?.chaseTemplateCode}} {{iacNotification?.firstEmailSentAt | date: 'dd/MM/yyyy HH:mm'
                }}</b>
            </div>
            <h2 class="banner-heading">
              {{iacNotification && iacNotification?.responseReceived ? notificationState.RESPONSE_RECEIVED: 
              (iacNotification?.responseReceived === null && iacNotification?.allowedNumberOfChases === iacNotification?.numberOfChasesDone && !iacNotification?.hoursLeft?notificationState.NO_RESPONSE:notificationState.AWAITING_RESPONSE)}}
            </h2>
            <h6 class="banner-title">Here’s the action you chose:</h6>
            <ion-button color="success" class="icon-button">
              {{getLookupValue(iacNotification?.faultStageAction, iacStageActions) || getLookupValue(faultDetails?.userSelectedAction, iacStageActions) || getLookupValue(iacNotification?.faultStageAction, faultQualificationsAction)}}
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
            <ng-container *ngIf="iacNotification && iacNotification?.responseReceived">
              <h6 class="banner-title response-recived">
                <ion-icon name="ellipse" class="response-circle"></ion-icon> Response received from 
                <span *ngIf="iacNotification?.recipientType === 8">{{recipientTypes.LANDLORD}}</span>
                <span *ngIf="iacNotification?.recipientType === 11">{{recipientTypes.CONTRACTOR}}</span>
                <span *ngIf="iacNotification?.recipientType === 1">{{recipientTypes.TENANT}}</span>
                {{iacNotification?.chaseTemplateCode}} {{iacNotification?.firstEmailSentAt | date: 'dd/MM/yyyy HH:mm' }}
              </h6>
            </ng-container>
            <ng-container *ngIf="iacNotification && !iacNotification?.responseReceived">
              <h6 class="banner-title"
              [ngClass]="iacNotification?.responseReceived === null && iacNotification?.allowedNumberOfChases === iacNotification?.numberOfChasesDone && !iacNotification?.hoursLeft?'no-response':'awaiting-response'"
              >
                <ion-icon name="ellipse" class="response-circle"></ion-icon> {{iacNotification?.responseReceived === null && iacNotification?.allowedNumberOfChases === iacNotification?.numberOfChasesDone && !iacNotification?.hoursLeft?notificationState.NO_RESPONSE:notificationState.AWAITING_RESPONSE}} from the  
                  <span *ngIf="iacNotification?.recipientType === 8">{{recipientTypes.LANDLORD}}</span>
                  <span *ngIf="iacNotification?.recipientType == 11">{{recipientTypes.CONTRACTOR}}</span>
                  <span *ngIf="iacNotification?.recipientType == 1">{{recipientTypes.TENANT}}</span>
              </h6>
              <h6 class="banner-title" *ngIf="iacNotification?.nextChaseDueAt" >{{iacNotification.allowedNumberOfChases === iacNotification.numberOfChasesDone?'Escalation due': iacNotification.chase === iacNotification.allowedNumberOfChases ? 'Last chase due('+iacNotification.chase+')' : 'Next chase due('+iacNotification.chase+')'}}:
                {{iacNotification ? (iacNotification?.nextChaseDueAt | date: 'dd MMM yyyy - HH:mm') : ''}}
              </h6>
            </ng-container>
          </div>
          <div class="question-answer" *ngFor="let question of iacNotification?.questions">
            <ng-container *ngIf="question?.entityType == fileIds.FIX_A_FAULT">
              <h6>{{question?.qtext}}</h6>
              <ion-grid>
                <ion-row class="ion-justify-content-center">
                  <ng-container *ngFor="let data of question?.options">
                    <ion-button color="success" class="action-btn option"
                    fill="{{data?.value ==  iacNotification?.responseReceived?.isAccepted ? 'solid' :'outline'}}"
                    (click)="questionAction(data)">{{data.text}}</ion-button>
                  </ng-container>
                </ion-row>
              </ion-grid>
              <ion-text color="danger" *ngIf="rejectionReason && iacNotification?.templateCode === 'QC-L-E'">Reason:
                {{rejectionReason}}</ion-text>
                <h6 *ngIf="iacNotification && iacNotification?.responseReceived?.isAccepted === false">
                  <ion-text color="danger">Please select an appropriate action.</ion-text>
                </h6>
                <h6 *ngIf="iacNotification?.templateCode === 'CF-T-E'
                && (quoteDocuments?.length > 0 || faultDetails?.isAnyFurtherWork)" >
                <ion-text color="danger">Note: </ion-text>
                <span *ngIf="quoteDocuments?.length > 0" >Contractor has submitted Invoice and Completion photos. You can see them in Invoice/Documents section.</span>
                <span *ngIf="faultDetails?.isAnyFurtherWork"><br/>Please note Contractor would like to quote for another job (See details below)</span>
              </h6>
              <div class="border-bottom"></div>
            </ng-container>
          </div>          
          <ng-container 
          *ngIf=" (faultDetails?.status === 8 || iacNotification?.responseReceived == null  || !iacNotification?.responseReceived?.isAccepted 
            || iacNotification?.templateCode === 'CF-T-E') && iacNotification?.notificationStatus !== 7">
            <div class="question-answer ion-text-center" *ngIf="(iacNotification?.responseReceived == null && !faultDetails.isEscalated && faultDetails.status !== 10 && faultDetails.status !== 12 && (iacNotification?.allowedNumberOfChases === iacNotification?.numberOfChasesDone))">
              <h4>Next Step:</h4> 
              <h6>  
                <ion-text color="danger">Please note: </ion-text>
                <span>The repair will be <i>escalated</i> automatically if the {{iacNotification?.recipientType == 1?'Tenant':(iacNotification?.recipientType == 11?'Contractor':'Landlord')}} doesn't respond within
                  {{iacNotification?.hoursLeft}}.
                </span>
              </h6>
              <div class="border-bottom"></div>
            </div>

            <div class="question-answer ion-text-center" *ngIf="(iacNotification?.responseReceived?.isAccepted === false || faultDetails.isEscalated)">
              <h6>
                <ion-text color="danger">Please note: </ion-text>Repair Escalated - PM to decide the next steps
              </h6>
              <div class="border-bottom"></div>
            </div>

            <div class="question-answer ion-text-center" *ngIf="(iacNotification?.templateCode === 'CF-T-E' && iacNotification?.responseReceived?.isAccepted && faultDetails?.status !== 8 && faultDetails?.status !== 7)">
              <h4>Next Step:</h4> 
              <h6>
                <ion-text>Contractor to visit property to carry out work on {{faultDetails?.contractorWoPropertyVisitAt | date: 'dd/MM/yyyy HH:mm'}}</ion-text>
              </h6>
              <div class="border-bottom"></div>
            </div>

            <div class="question-answer" *ngIf="iacNotification && iacNotification?.responseReceived?.isAccepted && faultDetails?.status === 8">
              <h4 class="ion-text-center">Next Step:</h4> 
                <ng-container *ngIf="faultDetails?.invoiceAmount" >
                  <h6><b>Invoice Amount: £{{faultDetails?.invoiceAmount}}</b></h6>
                </ng-container>
                <ng-container *ngIf="faultDetails?.invoiceAmount > INVOICE_VERIFICATION_THRESHOLD">
                  <ion-text color="danger">Note: </ion-text>
                  <span><b>Please review the Invoice.As the Invoice amount is over the {{INVOICE_VERIFICATION_THRESHOLD || 0 | currency : "£"}}, it needs additional verification before Approval.</b></span>
                </ng-container>
                <h6>Do you want to approve this invoice ?</h6>
              <ion-grid>
                <ion-row class="ion-justify-content-center">
                  <ion-button color="success" class="action-btn option"
                      fill="outline"
                      (click)="approveInvoice()">Yes, Approve this Invoice
                  </ion-button>
                  <ion-button color="success" class="action-btn option"
                      fill="outline"
                      (click)="rejectInvoice()">No, Reject this Invoice
                  </ion-button>
                </ion-row>
              </ion-grid>
              <div class="border-bottom"></div>
            </div>

            <div class="question-answer" *ngIf="iacNotification?.responseReceived?.isAccepted && faultDetails?.status === 7">
              <h4 class="ion-text-center">Next Step:</h4> 
              <h6 class="banner-title">Please upload the Invoice / Photos</h6>
                  <ion-grid>
                    <ion-row class="ion-justify-content-center">
                        <ion-button color="success" class="action-btn" fill="outline"
                          (click)="openWOJobCompletionModal(true)" style="--border-radius: 4px !important;">Upload Invoice/Photo</ion-button>
                    </ion-row>
                  </ion-grid>
              <div class="border-bottom"></div>
            </div>

          </ng-container>

          <div class="question-answer"
            *ngIf="iacNotification 
            && iacNotification?.isResponseExpected === true 
            && iacNotification?.recipientType === 8 
            && faultDetails?.isOverrideCommunicationPreference === true
            && iacNotification?.notificationStatus === 7">
            <h4 claas="ion-text-center">Next Step:</h4>
            <h6>
              <ion-text color="danger">Please note: </ion-text>
              <span>This Repair is escalated as Landlord Override communication option is activated. 
                Please respond yourself or forward to Landlord for them to take an action by clicking here</span>
            </h6>
            <ion-button color="success" class="action-btn" fill="solid" (click)="viewNotification(); $event.stopPropagation();">
              View Notification</ion-button>
            <div class="border-bottom"></div>
          </div>

          <div class="question-answer">
            <h6 class="banner-title">Want to proceed in a different way? Choose one of the following instead:</h6>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-button color="success" expand="block" class="action-btn" fill="{{faultDetails?.isClosed ? 'solid' : 'outline'}}" (click)="closeFault()">
                    Close Repair</ion-button>
                <ion-button color="success" expand="block" class="action-btn" fill="outline" (click)="resendNotification()" 
                *ngIf="iacNotification 
                && (iacNotification?.templateCode === 'GNR-T-E' || 
                iacNotification?.templateCode === 'BMF-T-E' || 
                iacNotification?.templateCode === 'SMF-T-E' ||
                iacNotification?.templateCode === 'CF-T-E' ||
                iacNotification?.templateCode === 'LF-T-E')
                && iacNotification?.responseReceived?.isAccepted === false
                && !faultDetails?.isClosed" >
                      Resend Notification</ion-button>
                <ion-button *ngIf="faultDetails?.isEscalated"  color="success" expand="block" class="action-btn" fill="outline" (click)="snoozeFault()">
                   Snooze Repair</ion-button>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-grid style="margin: 20px 0" *ngIf="quoteDocuments?.length && !showSkeleton">
      <ion-row>
        <ion-col offset-xl="15" size-xl="70" offset="0" size="100" class="secondary-background">
          <h2>Invoice / Documents</h2>
          <ion-row>
            <ion-col size-xl="25" size="25" *ngFor="let file of quoteDocuments; let i=index;">
              <div class="delete-icon-wrapper">
                <ion-grid>
                  <ion-row>
                    <ion-col size="100">
                      <img [src]="file?.isImage ? (file?.documentUrl ? file?.documentUrl : 'assets/images/default.jpg') : 'assets/images/default.jpg'" (click)="downloadDocumentByURl(file?.documentUrl, file?.name)" title="Click To Download">
                    </ion-col>    
                  </ion-row>
                  <ion-row class="ion-justify-content-between">
                    <ion-col size-xl="80" size-lg="70" size="80">
                      <div class="file-name">{{file.name}}</div>
                    </ion-col>
                    <ion-col size-xl="10" size-lg="15" size="10" class="ion-text-end ion-no-padding">
                      <ion-icon (click)="deleteDocument(file?.documentId, i)" title="Delete File" class="delete-icon"
                        name="close-circle">
                      </ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-col>
          </ion-row>
          <div class="border-bottom"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row *ngIf="isFormsReady && !showSkeleton">
      
        <ion-col offset-xl="15" size-xl="70" offset="0" size="100" class="secondary-background">
          <ng-container *ngIf="isWorksOrder">
            <form [formGroup]="workOrderForm">
              <ion-grid>
               <ng-template *ngTemplateOutlet="worksOrderDetails"></ng-template>
             </ion-grid>
             </form>
          </ng-container>
        </ion-col>
      
    </ion-row>
    <ion-row *ngIf="showSkeleton">
      <ion-col offset-xl="15" size-xl="70" offset="0" size="100" class="secondary-background">
      <div><ng-container *ngTemplateOutlet="notificationSkeleton"></ng-container></div>
      <div *ngIf="isWorksOrder" ><ng-container *ngTemplateOutlet="worksOrderFormSkeleton"></ng-container></div>
    </ion-col>
    </ion-row>
    <ion-grid style="margin: 20px 0"
    *ngIf="isFormsReady && faultDetails?.isAnyFurtherWork && !showSkeleton">
    <ion-row>
      <ion-col offset-xl="15" size-xl="70" offset="0" size="100" class="secondary-background">
        <h2>Further Job(s) Required</h2>
        <div class="border-bottom"></div>
        <div>Is there any further work to Quote for ? : <b>Yes</b></div>
        <div>Estimate : <b>{{faultDetails?.additionalEstimate || 0 | currency : "£"}}</b></div>
        <div>Additional Details : <b>{{faultDetails?.additionalWorkDetail || DEFAULTS.NOT_AVAILABLE}}</b></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col offset-xl="15" size-xl="70" offset="0" size="100">
        <ng-container *ngIf="isFormsReady && faultDetails && !showSkeleton">
          <ng-template *ngTemplateOutlet="iqfCards"></ng-template>
          </ng-container>
      </ion-col>
  </ion-row>

  </ion-grid>
<ng-template #worksOrderDetails>
  <form [formGroup]="workOrderForm">
    <ion-row class="row-banner" class="secondary-background">
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Contractor <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-input type="text" debounce="300" (ionInput)="onSearchContractor($event)" formControlName='contractorName'
            placeholder="">
          </ion-input>
        </ion-item>
        <app-validation-message [control]="workOrderForm.controls.contractorName"></app-validation-message>
        <ion-list class="contractor-list" *ngIf="woResultsAvailable">
          <ion-item *ngFor="let result of (woContractors| async)?.data" (click)="woSelectContractor(result.entityId)" button
            style="font-size: 13px !important;">
            <span>
              <i class="propcoicon no-background propcoicon-contractor" style="background: transparent;"></i>
            </span>&nbsp;
            <label>{{result.fullName}}&nbsp;
              <span class="ref">{{result.reference}}</span>&nbsp;
              <span class="text-color-lightgreen status">{{result.status}}</span>&nbsp;
            </label>
          </ion-item>

        </ion-list>
      </ion-col>
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Comapny </ion-label>
          <ion-input formControlName="company"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Address </ion-label>
          <ion-input formControlName="address"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="25">
        <ion-item>
          <ion-label position="floating">Daytime </ion-label>
          <ion-input formControlName="daytime"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="25">
        <ion-item>
          <ion-label position="floating">Mobile </ion-label>
          <ion-input formControlName="mobile"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row-banner" class="secondary-background border-bottom-radious">
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Reference </ion-label>
          <ion-input formControlName="agentReference"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="50">
        <ion-radio-group formControlName="useCommissionRate" class="defaultCommission">
          <ion-item class="ion-item">
            <ion-radio [value]="true" checked style="margin-right: 5px;" [disabled]="iacNotification"></ion-radio>
            <ion-label position="fixed" class="ion-label" >Rate(%) </ion-label>
              <ion-input formControlName="defaultCommissionPercentage" class="ion-input"></ion-input>
          </ion-item>
          <ion-item class="ion-item defaultCommission" >
            <ion-radio [value]="false" checked style="margin-right: 5px;" [disabled]="iacNotification"></ion-radio>
            <ion-label position="fixed" class="ion-label">Amount(£) </ion-label>
              <ion-input formControlName="defaultCommissionAmount" class="ion-input"></ion-input>
          </ion-item>
        </ion-radio-group>
      </ion-col>
  </ion-row>

    <ion-row>
      <ion-col size="50">
        <ion-item>
          <ion-label position="stacked">Repair Cost <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <input currencyMask formControlName="repairCost" class="currency-mask" (blur)="onBlurCurrency(workOrderForm.controls.repairCost.value, workOrderForm)"/>
        </ion-item>
        <app-validation-message [control]="workOrderForm.controls.repairCost"></app-validation-message>
      </ion-col>
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Work Order Number </ion-label>
          <ion-input formControlName="worksOrderNumber"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="50">
        <ion-item id="postdate">
          <ion-label position="floating">Date</ion-label>
          <ion-input value="{{ workOrderForm.controls.postdate.value | date: DATE_FORMAT.DATE }}" [disabled]="iacNotification ? true : false"></ion-input>
          <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"
          ></ion-icon>
          <ion-popover trigger="postdate" show-backdrop="false">
            <ng-template>
              <ion-datetime
                showDefaultButtons="true"
                presentation="date"
                formControlName="postdate"
              >
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>
      <ion-col size="50">
        <ion-item class="select-block">
          <ion-label position="floating">Nominal Code <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ionic-selectable item-content itemValueField="nominalCode" itemTextField="concat" [items]="codes"
            [canSearch]="true" [canClear]="true" clearButtonText="Clear" closeButtonSlot="end" confirmButtonText="Apply"
            searchPlaceholder="Search Nominal Code" #nominalCodeType formControlName="nominalCode"
            [shouldStoreItemValue]="false" class="selectable-height" (click)="startLoading()" (onOpen)="endLoading()"
            [shouldBackdropClose]="false">

            <ng-template ionicSelectableHeaderTemplate>
              <ion-toolbar>
                <ion-buttons end>
                </ion-buttons>
                <ion-title>
                  {{nominalCodeType.label}}
                </ion-title>
              </ion-toolbar>
            </ng-template>

            <ng-template ionicSelectableFooterTemplate>
              <ion-toolbar>
                <ion-button color="success" class="action-btn" fill="outline" class="selectable-btn"
                  (click)="nominalCodeType.confirm();nominalCodeType.close();"
                  [disabled]="!nominalCodeType.itemsToConfirm.length">
                  Apply
                </ion-button>

                <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                  (click)="nominalCodeType.clear();nominalCodeType.close();"
                  [disabled]="!nominalCodeType.itemsToConfirm.length">
                  Clear
                </ion-button>
                <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                  (click)="nominalCodeType.close()">
                  Cancel
                </ion-button>
              </ion-toolbar>
            </ng-template>
          </ionic-selectable>
        </ion-item>
        <app-validation-message [control]="workOrderForm.controls.nominalCode"></app-validation-message>
      </ion-col>
      <ion-col size="100">
        <ion-item>
          <ion-label position="floating">Description <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-input formControlName="description"></ion-input>
        </ion-item>
        <app-validation-message [control]="workOrderForm.controls.description"></app-validation-message>
      </ion-col>
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Keys Location
          </ion-label>
          <ion-input formControlName="keysLocation"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="50">
        <ion-item>
          <ion-label position="floating">Return Keys to </ion-label>
          <ion-input formControlName="returnKeysTo"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="33.33">
        <ion-item>
          <ion-label position="floating">Access Details <ion-text class="mandatory">*</ion-text>
          </ion-label>
          <ion-input formControlName="accessDetails"></ion-input>
        </ion-item>
        <app-validation-message [control]="workOrderForm.controls.accessDetails"></app-validation-message>
      </ion-col>
      <ion-col size="33.33">
        <ion-item id="requiredDate">
          <ion-label position="floating">Required Completion Date</ion-label>
          <ion-input value="{{ workOrderForm.controls.requiredDate.value | date: DATE_FORMAT.DATE }}" [disabled]="iacNotification ? true : false"></ion-input>
          <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"
          ></ion-icon>
          <ion-popover trigger="requiredDate" show-backdrop="false">
            <ng-template>
              <ion-datetime
                showDefaultButtons="true"
                presentation="date"
                formControlName="requiredDate"
                [min]="currentDate"
              >
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>
      <ion-col size="33.33">
        <ion-item>
          <ion-label position="floating">Ordered By </ion-label>
          <ion-input formControlName="orderedBy"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="100">
        <ion-item>
          <ion-label position="floating">Full Job Description <ion-text class="mandatory">*</ion-text></ion-label>
          <ion-textarea rows="1" formControlName="fullDescription" auto-grow="true"></ion-textarea>
        </ion-item>
        <app-validation-message [control]="workOrderForm.controls.fullDescription"></app-validation-message>
      </ion-col>
    </ion-row>
  </form>
</ng-template>
<ng-template #iqfCards>
  <ion-grid>
    <form [formGroup]="faultQualificationForm">
      <ion-row class="ion-justify-content-center">
        <ion-col size="40" class="card" *ngIf="iacNotification?.templateCode === 'BMF-T-E'">
          <h3>Block Management</h3>
          <h5>The repair is Block Management Company's responsibility. </h5>
          <ion-row>
            <ion-col size="100">
              <ion-button color="success" class="action-btn popup-view-btn" fill="solid"
                (click)="viewBlockManagement();  $event.stopPropagation();">View</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="40" class="card" *ngIf="iacNotification?.templateCode === 'GNR-T-E'">
          <h3>Guarantee / Warranty</h3>
          <h5>The repair is covered by a Guarantee / Warranty. </h5>
          <ion-row>
            <ion-col size="100">
              <ion-button color="success" class="action-btn popup-view-btn" fill="solid"
                (click)="viewPropertyCertificate(CERTIFICATES_CATEGORY[0]); $event.stopPropagation();">View</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="40" class="card" *ngIf="iacNotification?.templateCode === 'SMF-T-E'">
          <h3>Service Contract/ Appliance Cover</h3>
          <h5>The repair is covered by a Service Contract/ Appliance Cover.</h5>
          <ion-row>
            <ion-col size="100">
              <ion-button color="success" class="action-btn popup-view-btn" fill="solid"
                (click)="viewPropertyCertificate(CERTIFICATES_CATEGORY[1]); $event.stopPropagation();">View</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </form>
 </ion-grid>
</ng-template>
<div class="action-btn-group">
  <ion-button (click)="_btnHandler('cancel')" class="cancel-button" [disabled]="saving">Cancel</ion-button>
  <ion-button (click)="_btnHandler('back')" [disabled]="saving">Back</ion-button>
  <ion-button (click)="_btnHandler('next')" *ngIf="faultDetails?.stage !== FAULT_STAGES.JOB_COMPLETION" [disabled]="saving">Next</ion-button>
  <ion-button class="save-button" (click)="_btnHandler('save')" [disabled]="faultDetails?.isClosed">Save for later<ion-icon *ngIf="saving" name="refresh" class="rotating submit-loader"></ion-icon></ion-button>
  <ion-button class="submit-button" [disabled]="true" (click)="_btnHandler('proceed')">Proceed</ion-button>
</div>



<ng-template #worksOrderFormSkeleton>
  <div class="custom-skeleton">
    <div class="skeleton-content">
      <div class="forms-container" >
        <ion-grid>
          <div class="forms-block">
            <ion-row>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="33.3">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="33.3">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="33.3">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="100">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="50">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="33.3">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="33.3">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="33.3">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
              <ion-col size="100">
                <p class="icons">
                  <ion-skeleton-text class="header" animated style="width: 100%"></ion-skeleton-text>
                </p>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #notificationSkeleton>
  <div class="arranging-contractor">
    <div class="banner">
      <div class="ion-text-left">
        <ion-skeleton-text class="header" animated style="width: 17%;height: 16px;"></ion-skeleton-text>
      </div>
      <h2 class="banner-heading">
        <ion-skeleton-text class="header" animated style="width: 25%;margin: auto;height: 20px;"></ion-skeleton-text></h2>
      <h6 class="banner-title"><ion-skeleton-text class="header" animated style="width: 20%;margin: auto;"></ion-skeleton-text></h6>
      <ion-skeleton-text class="header" animated style="width: 29%;margin: auto;height: 31px;border-radius: 5px;"></ion-skeleton-text>
      <ng-container>
        <h6 class="banner-title response-recived">
          <ion-skeleton-text class="header" animated style="width: 31%;height: 12px;margin: auto;"></ion-skeleton-text>
        </h6>
      </ng-container>

    </div>
    <div class="question-answer">
      <h6>  <ion-skeleton-text class="header" animated style="width: 48%;margin: auto;"></ion-skeleton-text></h6>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ng-container>
            <ion-skeleton-text class="header" animated style="width: 45%;margin: auto;"></ion-skeleton-text>
            <ion-skeleton-text class="header" animated style="width: 45%;margin: auto;"></ion-skeleton-text>
          </ng-container>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ng-template>