ion-content {
  .table-container {
    margin: 20px 10px;
  }

  ion-checkbox {
    --checkmark-color: var(--ion-color-step-2000);
    height: 25px;
    width: 25px;
  }

  .search-box-grid {
    background-color: var(--ion-color-four);
    margin: 10px -10px -5px -10px;
  }

  .search-row {
    background-color: var(--ion-color-four);
    margin: 0px 5px;
    margin-top: -5px;
    padding: 10px 10px 10px 0px;
  }

  .search-button {
    margin-left: -6px;
    margin-top: 5px;
  }

  .propcoicon-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--ion-color-step-950);
    color: var(--ion-color-step-2000);
    font-size: 22px;
    line-height: 25px;
  }
  .applicant-list {
    ion-item {
      font-size: 13px;
    }
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute !important;
    z-index: 5 !important;
    cursor: pointer;
    border: 1px solid var(--ion-color-four);
    i.propcoicon {
      background-color: var(--ion-color-six);
    }
  }
}