<ion-header>
  <ion-toolbar>
  <ion-title>{{heading}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="jobCompletionForm">
    <ion-grid class="">
      <ion-row class="">
        <ion-col size="100">
          <h6>{{title}}</h6>
        </ion-col>
        <ion-col size="100">
          <ion-item id="dateTime">
            <ion-label position="floating">Please add the Job Completion Date<ion-text class="mandatory">*</ion-text></ion-label>
            <ion-input value="{{ jobCompletionForm.controls.dateTime.value | date: DATE_FORMAT.DATE_TIME }}"></ion-input>
            <ion-icon name="calendar-outline" slot="end" class="ion-date-item-icon"
            ></ion-icon>
            <ion-popover trigger="dateTime" show-backdrop="false">
              <ng-template>
                <ion-datetime
                  showDefaultButtons="true"
                  presentation="date-time"
                  formControlName="dateTime"
                  [min]="minDate"
                >
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
          <app-validation-message [control]="jobCompletionForm.controls.dateTime"></app-validation-message>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-grid [class.unsaved-data-error]="unSavedData">
    <ion-row>
      <ng-container *ngIf="unSavedData">
        <ion-col size="70">
          <div class="ion-padding-top">Are you sure you want to cancel the process?</div>
        </ion-col>
        <ion-col size="30" class="ion-text-end">
          <ion-button color="danger" (click)="continue()">No</ion-button>&nbsp;
          <ion-button color="success" (click)="dismiss()">Yes</ion-button>
        </ion-col>
      </ng-container>
      <ng-container *ngIf="!unSavedData">
        <ion-col size="100" class="ion-text-end">
          <ion-button (click)="onCancel()" color="danger">NO</ion-button>
          <ion-button (click)="save()" [disabled]="showLoader" color="success">YES 
            <ion-icon *ngIf="showLoader" name="refresh" class="rotating submit-loader"></ion-icon>
          </ion-button>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-footer>
