<ion-header>
  <ion-toolbar>
    <ion-title>{{ heading }}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-margin">
  <ion-col size="100">
    <ion-item>
      <ion-label position="floating">E-mail <ion-text class="mandatory">*</ion-text>
      </ion-label>
      <ion-input type="email" [formControl]="email"></ion-input>
    </ion-item>
    <app-validation-message [control]="email"></app-validation-message>
  </ion-col>  
</ion-content>

<ion-footer>
  <div class="ion-text-end ion-padding">
    <ion-button color="success" (click)="submit()" [disabled]="email.invalid"> Submit </ion-button>
  </div>
</ion-footer>