#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

table.dataTable {
  thead {
    background-color: var(--ion-color-step-750);
    color: var(--ion-color-step-2000);

    th {
      text-align: left;
      padding: 15px 10px;
      font-weight: 500;
    }
  }

  tbody{
    td {
      padding: 6px 10px;
    }
  }

  
}
    .dataTables_length, .dataTables_filter{
      display: none;
    }

    .resp-action-icon {
      min-width: 36px;
    width: 36px;
    max-width: 36px;
    }

#divOverlay,
#divOverlayChild,
#divOverlay2,
#matchingOverlay,
.card-divoverlay {
  display: none;
  background-color: var(--ion-color-step-950);
  text-align: right;
  position: absolute;
  z-index: 10;
  padding-right: 10px;
  color: var(--ion-color-step-2000);

  ion-button{
    //background-color: $bg-color-twentyfive;
    //color: $overlay-button-color;
    margin: 0 10px 7px;
  }

  .md-button:hover{
      //background-color: $bg-color-twentynine;
  }

  .propcoicon {
    display: inline-block;
    padding: 5px;
  }

  .propcoicon-actions-on {
    background-color: var(--ion-color-primary);
    // border: 1px solid $border-color-primary;
    margin: 6px 0 6px 6px;
    color: var(--ion-color-secondary);
  }
}
