@mixin set-text-style($size, $lheight) {
  font-size: $size;
  line-height: $lheight;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

#fault-list {
  --padding-top: var(--ion-padding-top);
  --padding-end: var(--ion-padding-end);
  --padding-bottom: var(--ion-padding-bottom);
  --padding-start: var(--ion-padding-start);

  table.dataTable {
    tbody tr.escalated {
      background-color: rgba(var(--ion-color-danger-rgb), 0.5) !important;
      color: var(--ion-color-step-2000);
    }
  }

  .row-selected {
    opacity: 0.7;
  }

  .data-selected {
    background-color: var(--ion-color-four);  
  }

  .propcoicon.action-btn{
    background-color: var(--ion-color-five);
  }

  .filter-grid {
    padding-top: 10px;
    height: auto;
    background: var(--ion-color-five);
    margin-right: 1px;
    text-align: center;

    .filter-grid-count {
      font-size: 20px;
      margin-bottom: 3px;
    }
    .filter-grid-text {
      margin-bottom: 6px;
      font-size: 15px;
    }
  }

  .filter-grid-active {
    padding-top: 10px;
    height: auto;
    background: var(--ion-color-four);
    margin-right: 1px;
    text-align: center;
    .filter-grid-count {
      font-size: 20px;
      margin-bottom: 3px;
    }
    .filter-grid-text {
      margin-bottom: 6px;
      font-size: 15px;
    }

    
  }

  ion-item .datetime-icon {
    margin-right: 10px;
    margin-top: 28px;
    margin-bottom: 0px;
    color: #00b5ff;
  }

  .action-btn {
    color: var(--ion-color-warning, #ffc409);
  }

  .close-btn {
    font-size: 30px;
    margin-top: 25px;
    color: var(--ion-color-step-1100);
    margin-left: -7px;
  }

  .select-block {
    float: left;
    width: 85%;
  }

  .more-filters {
    padding-bottom: 2px;
  }

  ion-checkbox {
    margin-bottom: 3px;
    height: 18px;
    width: 18px;
  }
}
.filter-checkbox {
  border-color: var(--background-checked);
}

.heading-block {
  margin-bottom: 10px;
}

.title {
  margin-top: 0px;
}

.checkbox-border {
  --border-color: var(--background-checked) !important;
}

.reset-filter {
  --border-radius: 4px !important;
  margin-top: 20px !important;
}

.datetime-padding {
  padding-bottom: 0px !important;
}

.selectable-height {
  max-height: 30px !important;
}

.selectable-btn {
  --border-radius: 4px !important;
  float: right;
  margin-right: 15px;
}

ion-badge {
  padding: 4px 4px 1px 4px;
  font-weight: 500;
}
