<ion-content id="fault-list">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-right">
        <ion-button class="no-margin" (click)="addFault()">Add Fault</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="100">
        <div class="overlay-container" style="position: relative">
          <table datatable [dtOptions]="dtOptions[0]" class="row-border hover"
            style="width: 100%; position: relative" id="faultListTable">
            <thead>
              <tr>
                <th style="width:7%">Issue Id</th>
                <th style="width:10%">Reported On</th>
                <th style="width:13%">Fault Category</th>
                <th style="width:8%">Property Ref</th>
                <th style="width:15%">Address</th>
                <th style="width:8%">Office</th>
                <th style="width:15%">Job Title</th>
                <th style="width:8%">Reported By</th>
                <th style="width:6%">Fault Status</th>
                <th style="width:10%">Urgency Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fault of faultList" class="table-row" (click)="onClickRow(fault)" >
                <td>{{fault.reference || '-'}}</td>
                <td>{{fault.createdAt | date: 'dd/MM/yyyy HH:mm:ss' || '-'}}</td>
                <td>{{(fault.sourceType === 'FIXFLO') ? (fault.fixfloCategory || '-') : (getLookupValue(fault.category, faultCategories, 'category') || '-')}}</td>
                <td>{{fault.propertyReference || '-'}}</td>
                <td>{{fault.propertyAddress.addressLine1}}</td>
                <td>{{getLookupValue(fault.propertyOfficeCode, officeCodes) || '-'}}</td>
                <td>{{fault.title || '-'}}</td>
                <td>{{getLookupValue(fault.reportedBy, reportedByTypes) || '-'}}</td>
                <td>{{getLookupValue(fault.status, faultStatuses) || '-'}}</td>
                <td>{{getLookupValue(fault.urgencyStatus, faultUrgencyStatuses) || '-'}}</td>
                <td class="resp-action-icon">
                  <i (click)="showMenu($event,'divOverlay', fault, 'table-row')"
                    class="propcoicon propcoicon-actions-on"></i>
                </td>
              </tr>
              <tr *ngIf="faultList?.length == 0">
                <td colspan="11" class="no-data-available">No data!</td>
            </tr>
            </tbody>
          </table>
          <div id="divOverlay">
            <ion-button class="" (click)="notesModal()">
              Add note
            </ion-button>
            <ion-button class="" (click)="escalateModal()">
              Escalate
            </ion-button>
            <i (click)="hideMenu($event,'divOverlay')" class="propcoicon propcoicon-actions-on"></i>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="100">
        <h4>Fault Notes:</h4>
        <div class="overlay-container" style="position: relative">
          <table datatable [dtOptions]="dtOptions[1]" [dtTrigger]="notesDtTrigger" class="row-border hover"
            style="width: 100%; position: relative" #faultNotesTable>
            <thead>
              <tr>
                <th style="width:10%">Date</th>
                <th style="width:10%">Time</th>
                <th style="width:10%">Type</th>
                <th style="width:10%">Complaint</th>
                <th style="width:10%">Category</th>
                <th style="width:10%">User</th>
                <th style="width:40%">Notes</th>                
                <!-- <th style="width:5%"></th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let notes of faultNotes" class="table-row">
                <td>{{notes.postedAt | date: 'dd/MM/yyyy' || '-'}}</td>
                <td>{{notes.postedAt | date: 'HH:mm:ss' || '-'}}</td>
                <td>{{getLookupValue(notes.type, notesTypes) || '-'}}</td>
                <td>{{getLookupValue(notes.complaint, notesComplaints) || '-'}}</td>
                <td>{{getLookupValue(notes.category, notesCategories) || '-'}}</td>
                <td>{{getLookupValue(notes.user, userLookupDetails) || '-'}}</td>
                <td>{{notes.notes|| '-'}}</td>
                <!-- <td class="resp-action-icon">
                  <i (click)="showMenu($event,'divOverlay', notes, 'table-row')"
                    class="propcoicon propcoicon-actions-on"></i>
                </td> -->
              </tr>
              <!-- <tr *ngIf="!faultNotes" class="table-row odd">
                <td colspan="8" class="no-data-available">Please select the fault to view notes!</td>
              </tr> -->
            </tbody>
          </table>
          <div id="divOverlay">
            <!-- <ion-button ng-click="viewApplicant()">view</ion-button> -->
            <i (click)="hideMenu($event,'divOverlay')" class="propcoicon propcoicon-actions-on"></i>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>