<!-- <div class="dashboard-container"> -->
  <ion-content id="fault-list">
    <ion-grid>
      <ion-row class="heading-block">
        <ion-col class="ion-text-left">
          <h1 class="title">Fault Dashboard</h1>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-button class="no-margin" (click)="addFault()" fill="solid" color="success">Add Fault</ion-button>
        </ion-col>
      </ion-row>
  
      <form [formGroup]="filterForm">
        <ion-row> 
          <ion-col size="12" size-md [ngClass]="filterForm.get('repairCheckbox').value?'filter-grid-active':'filter-grid'"
          (click)="clickCheckbox('repairCheckbox');$event.stopPropagation();" class="pointer">
            <div>
              <ion-checkbox class="filter-checkbox" color="medium" mode="ios" formControlName="repairCheckbox"
                (click)="checkboxClick('repairCheckbox');$event.stopPropagation();" name="repairCheckbox">
              </ion-checkbox>
            </div>
            <!-- <div class="filter-grid-count">269</div> -->
            <div class="filter-grid-text">Active Repairs</div>
          </ion-col>
          <!-- <ion-col size="12" size-md [ngClass]="filterForm.get('newRepairs').value?'filter-grid-active':'filter-grid'"
            (click)="clickCheckbox('newRepairs');" class="pointer">
            <div>
              <ion-checkbox class="filter-checkbox" color="medium" mode="ios" formControlName="newRepairs"
                (ionChange)="checkboxClick('newRepairs')" (click)="$event.stopPropagation();">
              </ion-checkbox>
            </div> -->
          <!-- <div class="filter-grid-count">269</div> -->
          <!-- <div class="filter-grid-text">New Repairs</div>
          </ion-col> -->
          <ion-col size="12" size-md [ngClass]="filterForm.get('emergency').value?'filter-grid-active':'filter-grid'"
          (click)="clickCheckbox('emergency');$event.stopPropagation();" class="pointer">
            <div>
              <ion-checkbox class="filter-checkbox checkbox-border" color="danger" mode="ios" formControlName="emergency"
                (click)="checkboxClick('emergency');$event.stopPropagation();" name="emergency">
              </ion-checkbox>
            </div>
            <!-- <div class="filter-grid-count">269</div> -->
            <div class="filter-grid-text">Emergency</div>
          </ion-col>
          <ion-col size="12" size-md [ngClass]="filterForm.get('urgent').value?'filter-grid-active':'filter-grid'"
          (click)="clickCheckbox('urgent');$event.stopPropagation();" class="pointer">
            <div>
              <ion-checkbox class="filter-checkbox checkbox-border" color="warning" mode="ios" formControlName="urgent"
                (click)="checkboxClick('urgent');$event.stopPropagation();" name="urgent">
              </ion-checkbox>
            </div>
            <!-- <div class="filter-grid-count">269</div> -->
            <div class="filter-grid-text">Urgent</div>
          </ion-col>
          <ion-col size="12" size-md [ngClass]="filterForm.get('nonUrgent').value?'filter-grid-active':'filter-grid'"
          (click)="clickCheckbox('nonUrgent');$event.stopPropagation();" class="pointer">
            <div>
              <ion-checkbox class="filter-checkbox checkbox-border" color="success" mode="ios" formControlName="nonUrgent"
                (click)="checkboxClick('nonUrgent');$event.stopPropagation();" name="nonUrgent">
              </ion-checkbox>
            </div>
            <!-- <div class="filter-grid-count">269</div> -->
            <div class="filter-grid-text">Non urgent</div>
          </ion-col>
          <ion-col size="12" size-md [ngClass]="filterForm.get('assessment').value?'filter-grid-active':'filter-grid'"
          (click)="clickCheckbox('assessment');$event.stopPropagation();" class="pointer">
            <div>
              <ion-checkbox class="filter-checkbox" color="medium" mode="ios" formControlName="assessment"
                (click)="checkboxClick('assessment');$event.stopPropagation();" name="assessment">
              </ion-checkbox>
            </div>
            <!-- <div class="filter-grid-count">269</div> -->
            <div class="filter-grid-text">In Assessment</div>
          </ion-col>
          <ion-col size="12" size-md [ngClass]="filterForm.get('automation').value?'filter-grid-active':'filter-grid'"
          (click)="clickCheckbox('automation');$event.stopPropagation();" class="pointer">
            <div>
              <ion-checkbox class="filter-checkbox" color="medium" mode="ios" formControlName="automation"
                (click)="checkboxClick('automation');$event.stopPropagation();" name="automation">
              </ion-checkbox>
            </div>
            <!-- <div class="filter-grid-count">269</div> -->
            <div class="filter-grid-text">In Automation</div>
          </ion-col>
          <ion-col size="12" size-md [ngClass]="filterForm.get('invoice').value?'filter-grid-active':'filter-grid'"
          (click)="clickCheckbox('invoice');$event.stopPropagation();" class="pointer">
            <div>
              <ion-checkbox class="filter-checkbox" color="medium" mode="ios" formControlName="invoice"
                (click)="checkboxClick('invoice');$event.stopPropagation();" name="invoice">
              </ion-checkbox>
            </div>
            <!-- <div class="filter-grid-count">269</div> -->
            <div class="filter-grid-text">Invoice</div>
          </ion-col>
          <ion-col size="12" size-md [ngClass]="filterForm.get('escalation').value?'filter-grid-active':'filter-grid'"
          (click)="clickCheckbox('escalation');$event.stopPropagation();" class="pointer">
            <div>
              <ion-checkbox class="filter-checkbox" color="medium" mode="ios" formControlName="escalation"
                (click)="checkboxClick('escalation');$event.stopPropagation();" name="escalation">
              </ion-checkbox>
            </div>
            <!-- <div class="filter-grid-count">269</div> -->
            <div class="filter-grid-text">Escalation</div>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col size=15>
            <ion-item>
              <ion-label position="floating">From</ion-label>
              <ion-datetime dateFormat="MM/DD/YYYY" displayFormat="DD MMM YYYY" formControlName="fromDate"
                (ionChange)="onDateChange()" class="datetime-padding" #fromDatePicker>
              </ion-datetime>
              <ion-icon ion-datetime-picker name="calendar" slot="start" class="datetime-icon" (click)="fromDatePicker.open()"></ion-icon>
            </ion-item>
          </ion-col>
  
          <ion-col size=15>
            <ion-item>
              <ion-label position="floating">To</ion-label>
              <ion-datetime dateFormat="MM/DD/YYYY" displayFormat="DD MMM YYYY" class="datetime-padding"
                formControlName="toDate" (ionChange)="onDateChange()" #toDatePicker>
              </ion-datetime>
              <ion-icon name="calendar" slot="start" class="datetime-icon" (click)="toDatePicker.open()"></ion-icon>
            </ion-item>
          </ion-col>
  
          <ion-col size=15>
            <ion-item>
              <ion-label position="floating">More Filters</ion-label>
              <ion-select interface="popover" (ionChange)="onFiletrChange($event)" formControlName="filterType"
                class="more-filters">
                <ion-select-option value="4">Assigned To </ion-select-option>
                <ion-select-option value="1">Branch(es) </ion-select-option>
                <ion-select-option value="2">Management Service Type</ion-select-option>
                <ion-select-option value="3">Status</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
  
          <ion-col size=25>
            <ion-item>
              <ion-label position="floating">Search by Issue ID/Property Address</ion-label>
              <ion-input type="text" [formControl]="searchKey">
              </ion-input>
            </ion-item>
          </ion-col>
  
          <ion-col class="ion-text-right">
            <ion-button color="success reset-filter" class="action-btn" fill="outline" (click)="filterList()" [disabled]="searchKey.value?.length < 3">Apply
              Filters</ion-button>
              <ion-button color="danger reset-filter" class="action-btn" fill="outline" (click)="resetFilter()">Reset
                Filters</ion-button>
          </ion-col>
  
        </ion-row>
  
        <ion-row>
          <ion-col size=20 *ngIf="isBranchFilter">
            <ion-item class="select-block">
              <ion-label position="floating">Branch(es)</ion-label>
              <ionic-selectable item-content itemValueField="officeCode" itemTextField="officeName"
                [items]="accessibleOffices" [canSearch]="true" [isMultiple]="true" [canClear]="true"
                clearButtonText="Clear" closeButtonSlot="end" confirmButtonText="Apply"
                searchPlaceholder="Search Branch(es)" #BranchType formControlName="branchfilter"
                [shouldStoreItemValue]="false" class="selectable-height" (click)="startLoading()" (onOpen)="endLoading()"
                [shouldBackdropClose]="false">
  
                <ng-template ionicSelectableHeaderTemplate>
                  <ion-toolbar>
                    <ion-buttons end>
                    </ion-buttons>
                    <ion-title>
                      {{BranchType.label}}
                    </ion-title>
                  </ion-toolbar>
                </ng-template>
  
                <ng-template ionicSelectableValueTemplate let-accessibleOffices="value">
                  <div class="ionic-selectable-value-item" *ngFor="let type of accessibleOffices">
                    {{type.officeName}})
                  </div>
                </ng-template>
                <ng-template ionicSelectableFooterTemplate>
                  <ion-toolbar>
                    <ion-button color="success" class="action-btn" fill="outline" class="selectable-btn"
                      (click)="this.BranchType.confirm();this.BranchType.close();onBranchChange();"
                      [disabled]="!BranchType.itemsToConfirm.length">
                      Apply
                    </ion-button>
  
                    <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                      (click)="BranchType.clear();BranchType.close();onBranchChange();"
                      [disabled]="!BranchType.itemsToConfirm.length">
                      Clear
                    </ion-button>
                    <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                      (click)="BranchType.close()">
                      Cancel
                    </ion-button>
                  </ion-toolbar>
                </ng-template>
              </ionic-selectable>
            </ion-item>
            <ion-icon name="close-circle" class="close-btn" (click)="closeFilter(1)"> </ion-icon>
          </ion-col>
  
          <ion-col size=25 *ngIf="isManagementFilter">
            <ion-item class="select-block">
              <ion-label position="floating">Management Service Type</ion-label>
              <ionic-selectable item-content itemValueField="index" itemTextField="description"
                [items]="managementTypeList" [canSearch]="true" [isMultiple]="true" class="selectable-height"
                [canClear]="true" clearButtonText="Clear" closeButtonSlot="end" confirmButtonText="Apply"
                searchPlaceholder="Search Management Type Service" #managementType formControlName="managementFilter"
                [shouldStoreItemValue]="false" (click)="startLoading()" (onOpen)="endLoading()"
                [shouldBackdropClose]="false">
  
                <ng-template ionicSelectableHeaderTemplate>
                  <ion-toolbar>
                    <ion-buttons end>
                    </ion-buttons>
                    <ion-title>
                      {{managementType.label}}
                    </ion-title>
                  </ion-toolbar>
                </ng-template>
  
                <ng-template ionicSelectableValueTemplate let-managementTypeList="value">
                  <div class="ionic-selectable-value-item" *ngFor="let type of managementTypeList">
                    {{type.description}}
                  </div>
                </ng-template>
                <ng-template ionicSelectableFooterTemplate>
                  <ion-toolbar>
                    <ion-button color="success" class="action-btn" fill="outline" class="selectable-btn"
                      (click)="this.managementType.confirm();this.managementType.close();onMgmtTypeChange();"
                      [disabled]="!managementType.itemsToConfirm.length">
                      Apply
                    </ion-button>
  
                    <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                      (click)="managementType.clear();managementType.close();onMgmtTypeChange();"
                      [disabled]="!managementType.itemsToConfirm.length">
                      Clear
                    </ion-button>
                    <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                      (click)="managementType.close()">
                      Cancel
                    </ion-button>
  
  
                  </ion-toolbar>
                </ng-template>
              </ionic-selectable>
            </ion-item>
            <ion-icon name="close-circle" class="close-btn" (click)="closeFilter(2)"> </ion-icon>
          </ion-col>
  
          <ion-col size=20 *ngIf="isStatusFilter">
            <ion-item class="select-block">
              <ion-label position="floating">Status</ion-label>
              <!-- <ion-select formControlName="statusFilter" multiple="true" okText="Apply" cancelText="Cancel"
                (ionChange)="onStatusChange()">
                <ion-select-option [value]="status.index" *ngFor="let status of faultStatuses">
                  {{ status.value }}
                </ion-select-option>
              </ion-select> -->
  
              <ionic-selectable item-content itemValueField="index" itemTextField="value" [items]="faultStatuses"
                [canSearch]="true" [isMultiple]="true" class="selectable-height" [canClear]="true" clearButtonText="Clear"
                closeButtonSlot="end" confirmButtonText="Apply" searchPlaceholder="Search Status" #statusType
                formControlName="statusFilter" [shouldStoreItemValue]="false" (click)="startLoading()"
                (onOpen)="endLoading()" [shouldBackdropClose]="false">
  
                <ng-template ionicSelectableHeaderTemplate>
                  <ion-toolbar>
                    <ion-buttons end>
                    </ion-buttons>
                    <ion-title>
                      {{statusType.label}}
                    </ion-title>
                  </ion-toolbar>
                </ng-template>
  
                <ng-template ionicSelectableValueTemplate let-faultStatuses="value">
                  <div class="ionic-selectable-value-item" *ngFor="let status of faultStatuses">
                    {{status.value}}
                  </div>
                </ng-template>
                <ng-template ionicSelectableFooterTemplate>
                  <ion-toolbar>
                    <ion-button color="success" class="action-btn" fill="outline" class="selectable-btn"
                      (click)="this.statusType.confirm();this.statusType.close();onStatusChange();"
                      [disabled]="!statusType.itemsToConfirm.length">
                      Apply
                    </ion-button>
  
                    <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                      (click)="statusType.clear();statusType.close();onStatusChange();"
                      [disabled]="!statusType.itemsToConfirm.length">
                      Clear
                    </ion-button>
                    <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                      (click)="statusType.close()">
                      Cancel
                    </ion-button>
  
  
                  </ion-toolbar>
                </ng-template>
              </ionic-selectable>
  
            </ion-item>
            <ion-icon name="close-circle" class="close-btn" (click)="closeFilter(3)"> </ion-icon>
          </ion-col>
  
          <ion-col size=20 *ngIf="isAssignToFilter">
            <ion-item class="select-block">
              <ion-label position="floating">Assigned To</ion-label>
              <ionic-selectable item-content itemValueField="userId" itemTextField="name" [items]="assignedUsers"
                [canSearch]="true" [isMultiple]="true" class="selectable-height" [canClear]="true" clearButtonText="Clear"
                closeButtonSlot="end" confirmButtonText="Apply" searchPlaceholder="Search Assigned To" #userType
                formControlName="assignToFilter" [shouldStoreItemValue]="false" [hasInfiniteScroll]="true"
                (onInfiniteScroll)="getMoreUsers($event)" (onSearch)="searchUsers($event)" (click)="startLoading()"
                (onOpen)="endLoading()" [shouldBackdropClose]="false">
  
                <ng-template ionicSelectableHeaderTemplate>
                  <ion-toolbar>
                    <ion-buttons end>
                    </ion-buttons>
                    <ion-title>
                      {{userType.label}}
                    </ion-title>
                  </ion-toolbar>
                </ng-template>
  
                <ng-template ionicSelectableValueTemplate let-assignedUsers="value">
                  <div class="ionic-selectable-value-item" *ngFor="let type of assignedUsers">
                    {{type.name}})
                  </div>
                </ng-template>
                <ng-template ionicSelectableFooterTemplate>
                  <ion-toolbar>
                    <ion-button color="success" class="action-btn" fill="outline" class="selectable-btn"
                      (click)="this.userType.confirm();this.userType.close();onUserChange();"
                      [disabled]="!userType.itemsToConfirm.length">
                      Apply
                    </ion-button>
  
                    <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                      (click)="userType.clear();userType.close();onUserChange();"
                      [disabled]="!userType.itemsToConfirm.length">
                      Clear
                    </ion-button>
                    <ion-button color="danger" class="action-btn" fill="outline" class="selectable-btn"
                      (click)="userType.close()">
                      Cancel
                    </ion-button>
  
  
                  </ion-toolbar>
                </ng-template>
              </ionic-selectable>
  
  
            </ion-item>
            <ion-icon name="close-circle" class="close-btn" (click)="closeFilter(4)"> </ion-icon>
          </ion-col>
  
        </ion-row>
        
        <ion-row>
          <!-- <ion-col size="25" size-md class="pointer ">
            <ion-item lines="none">
              <ion-label>Show my repairs</ion-label>
              <ion-checkbox color="primary" checked slot="start" class="repair-block"></ion-checkbox>
            </ion-item>
          </ion-col> -->

          <ion-col size="25" size-md>
            <ion-item lines="none">
              <ion-label>Show my repairs</ion-label>
              <ion-toggle slot="start" formControlName="showMyRepairs" (ionChange)="filterList();" class="pointer "></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
  
  
      <ion-row>
        <ion-col size="100">
          <div class="overlay-container" style="position: relative">
            <table datatable [dtOptions]="faultsDtOption" class="row-border hover" style="width: 100%; position: relative"
              id="faultListTable">
              <thead>
                <tr>
                  <!-- <th style="width:1%"></th> -->
                  <th style="width:9%">Issue ID</th>
                  <th style="width:10%">Reported On</th>
                  <th style="width:11%">Category</th>
                  <th style="">Property</th>
                  <th style="width:9%">Office</th>
                  <th style="width: 7%;">Manager</th>
                  <th style="width:13%">Job Title</th>
                  <th style="width:10%">Reported By</th>
                  <th style="width:40px">Merge</th>
                  <th style="width:10%">Fault Status</th>
                  <th style="width:36px"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fault of faultList;" class="table-row" (click)="onClickRow(fault); $event.stopPropagation();"
                  [ngClass]="{'row-selected' : fault.isSelected, 'escalated': fault.isEscalated }" [class.data-selected]="fault.isSelected" >
                  <!-- <td>
                    <ion-icon name="ellipse" [class]="fault.urgencyStatus==1 ? 'emergency' : (fault.urgencyStatus==2? 'urgent' : 'non-urgent')"></ion-icon>
                  </td> -->
                  <td>
                    <ion-badge [color]="fault.urgencyStatus==1 ? 'danger' : (fault.urgencyStatus==2? 'warning' : 'success')">
                      {{fault.reference || '-'}}
                    </ion-badge>
                  </td>
                  <td>{{fault.createdAt | date: 'dd/MM/yyyy HH:mm' || '-'}}</td>
                  <td>
                    {{(fault.sourceType === 'FIXFLO') ? (fault.fixfloCategory || '-') : (getLookupValue(fault.category,
                    faultCategories, 'category') || '-')}}
                  </td>
                  <!-- <td></td> -->
                  <td>{{fault.propertyReference || '-'}} <br>{{fault.propertyAddress.addressLine1}}</td>
                  <td>{{getLookupValue(fault.propertyOfficeCode, officeCodes) || '-'}}</td>
                  <td style="">{{fault.propertyManagerName}}</td>
                  <td>{{fault.title || '-'}}</td>
                  <td>{{getLookupValue(fault.reportedBy, reportedByTypes) || '-'}}</td>
                  <td>
                      <ion-checkbox color="success" style="margin-bottom: 0;" 
                      (ionChange)="selectFault(fault, $event);" (click)="$event.stopPropagation();" [checked]="fault?.isChecked">
                    </ion-checkbox> 
                  </td>
                  <!-- <td>{{fault?.isEscalated ? 'Escalation' : getLookupValue(fault.status, faultStatuses) || '-'}}</td> -->
                  <td>{{fault?.isClosed || (fault?.isClosed && fault?.isEscalated) ? 'Closed' : 
                    (fault?.isEscalated ? 'Escalation' : getLookupValue(fault?.status, faultStatuses)) || '-' }}</td>
                  <!-- <td>{{getLookupValue(fault.urgencyStatus, faultUrgencyStatuses) || '-'}}</td> -->
                  <td class="resp-action-icon">
                    <i (click)="showMenu($event,'divOverlay', fault, 'table-row')"
                      class="propcoicon propcoicon-actions-on action-btn"></i>
                  </td>
                </tr>
                <tr *ngIf="faultList?.length == 0">
                  <td colspan="11" class="no-data-available" style="text-align: center;"><b>No data found!</b></td>
                </tr>
              </tbody>
            </table>
            <div id="divOverlay">
              <ion-button *ngIf="selectedData?.isChecked" (click)="mergeFault(selectedData)">Merge</ion-button>
              <ion-button *ngIf="selectedData?.status != 12 && selectedData?.status != 10 && !selectedData?.isClosed" (click)="closeFault()">Close</ion-button>
              <ion-button (click)="notesModal()">Add Note</ion-button>
              <ion-button *ngIf="!selectedData?.isEscalated" (click)="escalateFault()">Escalate</ion-button>
              <ion-button *ngIf="selectedData?.isEscalated" (click)="deEscalateFault()">De-Escalate</ion-button>
              <ion-button class="" (click)="goToFaultDetails()">View</ion-button>
              <ion-button *ngIf="selectedData?.status == 1 && !selectedData?.isDraft && !selectedData?.isClosed" (click)="startProgress()">Start Progress</ion-button>
              <i (click)="hideMenu($event,'divOverlay')" class="propcoicon propcoicon-actions-on"></i>
            </div>
          </div>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="100">
          <h4>Fault Notes:</h4>
          <div class="overlay-container" style="position: relative">
            <table datatable [dtOptions]="notesDtOption" [dtTrigger]="notesDtTrigger" class="row-border hover"
              style="width: 100%; position: relative" #faultNotesTable>
              <thead>
                <tr>
                  <th style="width:15%">Date</th>
                  <th style="width:15%">Time</th>
                  <th style="width:15%">Type</th>
                  <th style="width:15%">Complaint</th>
                  <th style="width:15%">Category</th>
                  <th>User</th>
                  <th style="width:40px">Notes</th>
                  <!-- <th style="width:5%"></th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let notes of faultNotes" class="table-row">
                  <td>{{notes.postedAt | date: 'dd/MM/yyyy' || '-'}}</td>
                  <td>{{notes.postedAt | date: 'HH:mm' || '-'}}</td>
                  <td>{{getLookupValue(notes.type, notesTypes) || '-'}}</td>
                  <td>{{getLookupValue(notes.complaint, notesComplaints) || '-'}}</td>
                  <td>{{getLookupValue(notes.category, notesCategories) || '-'}}</td>
                  <td>{{notes.userName || '-'}}</td>
                  <td><i (click)="showNoteDescription(notes.notes);"
                      class="propcoicon propcoicon-property-description"></i></td>
                  <!-- <td class="resp-action-icon">
                      <i (click)="showMenu($event,'divOverlay', notes, 'table-row')"
                        class="propcoicon propcoicon-actions-on"></i>
                    </td> -->
                </tr>
                <!-- <tr *ngIf="!faultNotes" class="table-row odd">
                    <td colspan="8" class="no-data-available">Please select the fault to view notes!</td>
                  </tr> -->
              </tbody>
            </table>
            <div id="divOverlay">
              <!-- <ion-button ng-click="viewApplicant()">view</ion-button> -->
              <i (click)="hideMenu($event,'divOverlay')" class="propcoicon propcoicon-actions-on"></i>
            </div>
          </div>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </ion-content>
  <!-- </div> -->
